{% for temp in datatemp %}
<tr class="tr_data" id="tr_data_{{ temp.id }}">
    <td>{{ temp.item_counter }}</td>
    {% if temp.accountnumber %}
{#        <td>{{ temp.accountnumber|default:'' }} - {{ temp.bankaccountcode|default:'' }}</td>#}
        <td>{{ temp.accountnumber|default:'' }} ({{ temp.bankaccountcode|default:'' }})</td>
    {% endif %}
    {% if temp.departmentname %}
        <td>{{ temp.departmentname|default:'' }}</td>
    {% endif %}
    {% if temp.employeecode %}
{#        <td>{{ temp.employeecode|default:'' }} - {{ temp.employeename|default:'' }}</td>#}
        <td>{{ temp.employeename|default:'' }}</td>
    {% endif %}
    {% if temp.suppliercode %}
{#        <td>{{ temp.suppliercode|default:'' }} - {{ temp.suppliername|default:'' }}</td>#}
        <td>{{ temp.suppliername|default:'' }}</td>
    {% endif %}
    {% if temp.customercode %}
{#        <td>{{ temp.customercode|default:'' }} - {{ temp.customername|default:'' }}</td>#}
        <td>{{ temp.customername|default:'' }}</td>
    {% endif %}
    {% if temp.unitcode %}
        <td>{{ temp.unitname|default:'' }}</td>
    {% endif %}
    {% if temp.branchcode %}
        <td>{{ temp.branchname|default:'' }}</td>
    {% endif %}
    {% if temp.productcode %}
        <td>{{ temp.productname|default:'' }}</td>
    {% endif %}
    {% if temp.inputvatcode %}
        <td>{{ temp.inputvatname|default:'' }}</td>
    {% endif %}
    {% if temp.outputvatcode %}
        <td>{{ temp.outputvatname|default:'' }}</td>
    {% endif %}
    {% if temp.vatcode %}
        <td>{{ temp.vatname|default:'' }}</td>
    {% endif %}
    {% if temp.wtaxcode %}
        <td>{{ temp.wtaxname|default:'' }}</td>
    {% endif %}
    {% if temp.ataxcode %}
        <td>{{ temp.ataxname|default:'' }}</td>
    {% endif %}
    <td style="border-right: 1px solid #e0e0e0">{{ temp.particular }}</td>
    <td class="text-align-right warning" style="border-right: 1px solid #e0e0e0">{{ temp.debitamount }}</td>
    <td class="text-align-right warning" style="border-right: 1px solid #e0e0e0">{{ temp.creditamount }}</td>
    <td class="actionrow">
        <a href="#" class="breakdownedit" data-id="{{ temp.id }}"><i class="icon fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href="#" class="breakdowndelete" data-id="{{ temp.id }}"><i class="icon fa-remove" aria-hidden="true"></i></a>
    </td>
</tr>
{% endfor %}

<script>
    $(function () {
        $('#totalbreakdown_debitamount').text("{{ datatemptotal.0.totaldebitamount|default_if_none:'0.00' }}");
        $('#totalbreakdown_creditamount').text("{{ datatemptotal.0.totalcreditamount|default_if_none:'0.00' }}");

        $('.breakdownedit').click(function(){
            var id = $(this).data('id');
            $('.tr_data').css("background-color","");
            $("#tr_data_"+id).css('background-color', '#f2dede');

            $("#updatedetailbsubmit").val(id);

            $('.btnadd').hide();
            $('.btnupdate').show();

            $.ajax({
                url: "{% url 'acctentry:updatebreakentry' %}",
                type: "post",
                data: {'csrfmiddlewaretoken': "{{csrf_token}}",
                       'secretkey': $("#secretkey").val(),
                       'table': '{{ tabledetailtemp }}',
                       'id': id
                },
                success: function(response) {
                    var info = $.parseJSON(response.info);
                    $("#detailb_particular").val(info[0].particular);
                    $("#detailb_chartofaccount").val(info[0].chartofaccount);
                    $("#detailb_bankaccount").val(info[0].bankaccount);
                    $("#detailb_department").val(info[0].department);
                    $("#detailb_unit").val(info[0].unit);
                    $("#detailb_branch").val(info[0].branch);
                    $("#detailb_product").val(info[0].product);
                    $("#detailb_inputvat").val(info[0].inputvat);
                    $("#detailb_outputvat").val(info[0].outputvat);
                    $("#detailb_vat").val(info[0].vat);
                    $("#detailb_wtax").val(info[0].wtax);
                    $("#detailb_ataxcode").val(info[0].ataxcode);
                    $("#detailb_creditamount").val(info[0].creditamountformatted);
                    $("#detailb_debitamount").val(info[0].debitamountformatted);
                    $("#detailb_chartofaccount").focus();

{#                    $("#detailb_employee").val(info[0].employee);#}
                    $("#detailb_employee").html("<option value='"+info[0].employee+"'>"+info[0].employee_code+" - "+info[0].employee_lastname+", "+info[0].employee_firstname+" "+info[0].employee_middlename+"</option>");
{#                    $("#detailb_supplier").val(info[0].supplier);#}
                    $("#detailb_supplier").html("<option value='"+info[0].supplier+"'>"+info[0].supplier_name+"</option>");
{#                    $("#detailb_customer").val(info[0].customer);#}
                    $("#detailb_customer").html("<option value='"+info[0].customer+"'>"+info[0].customer_name+"</option>");
                },
                error: function(response) {
                    console.log(response);
                }
            });
        });

        $('#btn_bcancel').click(function(){
            $('.tr_data').css("background-color","");
            $('.btnadd').show();
            $('.btnupdate').hide();
            $("#btn_updatedetailbsubmit").attr('data-id', 0);

            $("#detailb_employee").html("");
            $("#detailb_supplier").html("");
            $("#detailb_customer").html("");
            $("#detailb_particular").val("");
            $("#detailb_bankaccount").val("");
            $("#detailb_department").val("");
            $("#detailb_unit").val("");
            $("#detailb_branch").val("");
            $("#detailb_productt").val("");
            $("#detailb_inputvat").val("");
            $("#detailb_outputvat").val("");
            $("#detailb_vat").val("");
            $("#detailb_wtax").val("");
            $("#detailb_ataxcode").val("");
            $("#detailb_creditamount").val("0.00");
            $("#detailb_debitamount").val("0.00");
        });

        $('.breakdowndelete').click(function(){
            var id = $(this).data('id');
            var ans = confirm('Are you sure you want to delete this data?');

            if(ans){
                $.ajax({
                    url: "{% url 'acctentry:deletedetailbreakdown' %}",
                    type: "post",
                    data: {'csrfmiddlewaretoken': "{{csrf_token}}",
                        'id': id,
                        'secretkey': $("#secretkey").val(),
                        'table': '{{ tabledetailtemp }}',
                        'detailid': {{ detailid }},
                        'datatype': "{{ datatype }}",
                    },
                    success: function(response){
                        $("#datatablebreakdown").html(response['datatablebreakdown']);
                        $('#btn_bcancel').trigger('click');
                    },
                    error: function(response){
                        console.log(response);
                    }

                });
            }
        });
    });

</script>

