{% for temp in datatemp %}
<tr>
    <td>{{ temp.item_counter }}</td>
    <td>{{ temp.accountcode }}</td>
    <td>{{ temp.chartofaccountdesc }}</td>
    <td class="text-align-right">{{ temp.creditamount }}</td>
    <td class="text-align-right">{{ temp.debitamount }}</td>
</tr>
<tr>

    <td colspan="5">
        <table class="table">
            <tr>
                <td width="5%"></td>
                {% if temp.accountnumber %}
                <td>{{ temp.accountnumber|default:'' }} - {{ temp.bankaccountcode|default:'' }}</td>
                {% endif %}
                {% if temp.departmentname %}
                <td>{{ temp.departmentname|default:'' }}</td>
                {% endif %}
                {% if temp.employeecode %}
                <td><a href="#">{{ temp.employeecode|default:'' }} - {{ temp.employeename|default:'' }}</a></td>
                {% endif %}
                {% if temp.suppliercode %}
                <td><a href="#">{{ temp.suppliername|default:'' }}</a></td>
                {% endif %}
                {% if temp.customercode %}
                <td><a href="#">{{ temp.customername|default:'' }}</a></td>
                {% endif %}
                {% if temp.unitcode %}
                <td>{{ temp.unitname|default:'' }}</td>
                {% endif %}
                {% if temp.branchcode %}
                <td>{{ temp.branchname|default:'' }}</td>
                {% endif %}
                {% if temp.productcode %}
                <td>{{ temp.productname|default:'' }}</td>
                {% endif %}
                {% if temp.inputvatcode %}
                <td>{{ temp.inputvatname|default:'' }}</td>
                {% endif %}
                {% if temp.outputvatcode %}
                <td>{{ temp.outputvatname|default:'' }}</td>
                {% endif %}
                {% if temp.vatcode %}
                <td>{{ temp.vatname|default:'' }}</td>
                {% endif %}
                {% if temp.wtaxcode %}
                <td>{{ temp.wtaxname|default:'' }}</td>
                {% endif %}
                {% if temp.ataxcode %}
                <td>{{ temp.ataxname|default:'' }}</td>
                {% endif %}
            </tr>
        </table>
    </td>
</tr>
{% endfor %}


<script>
    $(function () {
        $('#total_debitamount').html("<strong>"+{{ datatemptotal.0.totaldebitamount }}+"</strong>")
        $('#total_creditamount').html("<strong>"+{{ datatemptotal.0.totalcreditamount }}+"</strong>")
    });
</script>

