<form class="form-horizontal" id="detailform" method="get" action="">
{% csrf_token %}
    <div class="row">
        <div class="col-lg-12 form-group">
            <label class="col-sm-3 control-label" for="detail_chartofaccount">Chart of Account</label>
            <div class="col-sm-9">
                <select class="form-control input-sm select2modal" required style="width: 100%" id="detail_chartofaccount" name="detail_chartofaccount">
                <option value="">-- Select Chart of Account --</option>
                {% for chartofaccount in chartofaccount %}
                    <option value="{{ chartofaccount.id }}">{{ chartofaccount.accountcode }} | {{ chartofaccount.description }}</option>
                {% endfor %}
                </select>
            </div>
            <span class="help-block form-error"></span>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_bankaccount">
            <label class="col-sm-3 control-label" for="id_detail_bankaccount">Bank Account</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_bankaccount" name="detail_bankaccount">
                <option value="">-- Select Bank Account --</option>
                {% for bankaccount in bankaccount %}
                    <option value="{{ bankaccount.id }}">{{ bankaccount.accountnumber }} - {{ bankaccount.code }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_department">
            <label class="col-sm-3 control-label" for="id_detail_department">Department</label>
            <div class="col-sm-9">
                <select class="form-control input-sm select2modal" style="width: 100%" id="detail_department" name="detail_department">
                <option value="">-- Select Department --</option>
                {% for department in department %}
                    <option value="{{ department.id }}">{{ department.departmentname }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_employee">
            <label class="col-sm-3 control-label" for="id_detail_employee">Employee</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_employee" name="detail_employee">
                <option value="">-- Select Employee --</option>
                {% for employee in employee %}
                    <option value="{{ employee.id }}">{{ employee.code }} | {{ employee.firstname }} {{ employee.lastname }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_supplier">
            <label class="col-sm-3 control-label" for="id_detail_supplier">Supplier</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_supplier" name="detail_supplier">
                <option value="">-- Select Supplier --</option>
                {% for supplier in supplier %}
                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_customer">
            <label class="col-sm-3 control-label" for="id_detail_customer">Customer</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_customer" name="detail_customer">
                <option value="">-- Select Customer --</option>
                {% for customer in customer %}
                    <option value="{{ customer.id }}">{{ customer.name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_unit">
            <label class="col-sm-3 control-label" for="id_detail_unit">Unit</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_unit" name="detail_unit">
                <option value="">-- Select Unit --</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_branch">
            <label class="col-sm-3 control-label" for="id_detail_branch">Branch</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_branch" name="detail_branch">
                <option value="">-- Select Branch --</option>
                {% for branch in branch %}
                    <option value="{{ branch.id }}">{{ branch.description }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_product">
            <label class="col-sm-3 control-label" for="id_detail_product">Product</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_product" name="detail_product">
                <option value="">-- Select Product --</option>
                {% for product in product %}
                    <option value="{{ product.id }}">{{ product.description }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_inputvat">
            <label class="col-sm-3 control-label" for="id_detail_inputvat">Input VAT</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_inputvat" name="detail_inputvat">
                <option value="">-- Select Input VAT --</option>
                {% for inputvat in inputvat %}
                    <option value="{{ inputvat.id }}">{{ inputvat.description }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_outputvat">
            <label class="col-sm-3 control-label" for="id_detail_outputvat">Output VAT</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_outputvat" name="detail_outputvat">
                <option value="">-- Select Output VAT --</option>
                {% for outputvat in outputvat %}
                    <option value="{{ outputvat.id }}">{{ outputvat.description }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_vat">
            <label class="col-sm-3 control-label" for="id_detail_vat">VAT</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_vat" name="detail_vat">
                <option value="">-- Select VAT --</option>
                {% for vat in vat %}
                    <option value="{{ vat.id }}">{{ vat.description }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_wtax">
            <label class="col-sm-3 control-label" for="id_detail_wtax">WTAX</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_wtax" name="detail_wtax">
                <option value="">-- Select WTAX --</option>
                {% for wtax in wtax %}
                    <option value="{{ wtax.id }}">{{ wtax.description }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group hide" id="v_detail_ataxcode">
            <label class="col-sm-3 control-label" for="id_detail_ataxcode">ATAX Code</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="detail_ataxcode" name="detail_ataxcode">
                <option value="">-- Select ATAX Code --</option>
                {% for ataxcode in ataxcode %}
                    <option value="{{ ataxcode.id }}">{{ ataxcode.description }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12 form-group">
            <div class="col-lg-6">
                <label class="col-sm-6 control-label" for="detail_creditamount">Credit Amount</label>
                <div class="col-sm-6">
                <input type="text" class="form-control input-sm text-right amount" name="detail_creditamount" id="detail_creditamount" placeholder="0.00" value="0.00">
                </div>
            </div>
            <div class="col-lg-6">
                <label class="col-sm-6 control-label" for="detail_debitamount">Debit Amount</label>
                <div class="col-sm-6">
                <input type="text" class="form-control input-sm text-right amount" name="detail_debitamount" id="detail_debitamount" placeholder="0.00" value="0.00">
                </div>
            </div>
        </div>
        <div class="col-sm-12 pull-left margin-bottom-10">
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailsubmit">Add Accounting Entry</button>
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailclose">Close</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('.select2modal').select2({});
        $("#manualbutton").click(function(){
            $("#entryview").show();
        });
        $("#btn_detailclose").click(function(){
            $("#entryview").hide();
        });
        $("#detailform").validate({
            errorPlacement: function(error, element) {
            $( element )
				.closest( "form" )
					.find( "span[for='" + element.attr( "id" ) + "']" )
						.append( error );
            },
            errorElement: "span",
        });

        $("#btn_detailsubmit").click(function() {
            var m_debitamount = $('#detail_debitamount').val();
	        var m_creditamount = $('#detail_creditamount').val();
            if ($("#detailform").valid()) {

                if ((m_debitamount == 0 || m_debitamount == "" ) && (m_creditamount == 0 || m_creditamount == "")) {
                    alert('Debit and Credit amount must not be zero');
                    return false;
                }

                if ((m_debitamount != "" && m_creditamount == 0) || (m_debitamount == 0  && m_creditamount != "")) {
                    alert('Accounting Entry Submitted');
                } else if ((m_debitamount != "" && m_creditamount != "")) {
                    alert('Choose only one Debit and Credit amount');
                    return false;
                }

                $.ajax({
                    url: "{% url 'acctentry:savemaccountingentry' %}",
                    type: "post",
                    data: {'csrfmiddlewaretoken': "{{csrf_token}}",
                           'secretkey': $("#secretkey").val(),
                           'chartofaccount': $("#detail_chartofaccount").val(),
                           'bankaccount': $("#detail_bankaccount").val(),
                           'department': $("#detail_department").val(),
                           'employee': $("#detail_employee").val(),
                           'supplier': $("#detail_supplier").val(),
                           'customer': $("#detail_customer").val(),
                           'unit': $("#detail_unit").val(),
                           'branch': $("#detail_branch").val(),
                           'product': $("#detail_product").val(),
                           'inputvat': $("#detail_inputvat").val(),
                           'outputvat': $("#detail_outputvat").val(),
                           'vat': $("#detail_vat").val(),
                           'wtax': $("#detail_wtax").val(),
                           'ataxcode': $("#detail_ataxcode").val(),
                           'creditamount': $("#detail_creditamount").val(),
                           'debitamount': $("#detail_debitamount").val(),
                    },
                    success: function(response) {
                        $("#datatable").html(response['datatable']);
                    },
                    error: function(response) {
                        console.log(response);
                    }
                })

            } else {
                alert('Please fill in the fields.')
            }
        });
        $("#detail_chartofaccount").change(function() {
            $("#v_detail_bankaccount").addClass('hide');
            $("#detail_bankaccount").removeAttr('required');
            $("#detail_bankaccount").prop("selectedIndex", 0);
            $("#v_detail_department").addClass('hide');
            $("#detail_department").removeAttr('required');
            $("#detail_department").select2("val",0);
            $("#v_detail_employee").addClass('hide');
            $("#detail_employee").removeAttr('required');
            $("#detail_employee").prop("selectedIndex", 0);
            $("#v_detail_supplier").addClass('hide');
            $("#detail_supplier").removeAttr('required');
            $("#detail_supplier").prop("selectedIndex", 0);
            $("#v_detail_customer").addClass('hide');
            $("#detail_customer").removeAttr('required');
            $("#detail_customer").prop("selectedIndex", 0);
            $("#v_detail_unit").addClass('hide');
            $("#detail_unit").removeAttr('required');
            $("#detail_unit").prop("selectedIndex", 0);
            $("#v_detail_branch").addClass('hide');
            $("#detail_branch").removeAttr('required');
            $("#detail_branch").prop("selectedIndex", 0);
            $("#v_detail_product").addClass('hide');
            $("#detail_product").removeAttr('required');
            $("#detail_product").prop("selectedIndex", 0);
            $("#v_detail_inputvat").addClass('hide');
            $("#detail_inputvat").removeAttr('required');
            $("#detail_inputvat").prop("selectedIndex", 0);
            $("#v_detail_outputvat").addClass('hide');
            $("#detail_outputvat").removeAttr('required');
            $("#detail_outputvat").prop("selectedIndex", 0);
            $("#v_detail_vat").addClass('hide');
            $("#detail_vat").removeAttr('required');
            $("#detail_vat").prop("selectedIndex", 0);
            $("#v_detail_wtax").addClass('hide');
            $("#detail_wtax").removeAttr('required');
            $("#detail_wtax").prop("selectedIndex", 0);
            $("#v_detail_ataxcode").addClass('hide');
            $("#detail_ataxcode").removeAttr('required');
            $("#detail_ataxcode").prop("selectedIndex", 0);
            $("#detail_creditamount").val("0.00");
            $("#detail_debitamount").val("0.00");

            if ($("#detail_chartofaccount").val() != "") {
                $.ajax({
                    url: "{% url 'acctentry:checkchartvalidation' %}",
                    type: "post",
                    dataType: "json",
                    data: {
                        'csrfmiddlewaretoken': "{{csrf_token}}",
                        'chartid':  $('#detail_chartofaccount').val(),
                    },
                    success: function(response){
                        chart = response.chart;
                        chartdata = $.parseJSON(chart);
                        //console.log(chartdata[0].fields['bankaccount_enable']);
                        if (chartdata[0].fields['bankaccount_enable'] == 'Y') {
                            $("#v_detail_bankaccount").removeClass('hide');
                            $("#detail_bankaccount").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['department_enable']);
                        if (chartdata[0].fields['department_enable'] == 'Y') {
                            $("#v_detail_department").removeClass('hide');
                            $("#detail_department").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['employee_enable']);
                        if (chartdata[0].fields['employee_enable'] == 'Y') {
                            $("#v_detail_employee").removeClass('hide');
                            $("#detail_employee").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['supplier_enable']);
                        if (chartdata[0].fields['supplier_enable'] == 'Y') {
                            $("#v_detail_supplier").removeClass('hide');
                            $("#detail_supplier").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['customer_enable']);
                        if (chartdata[0].fields['customer_enable'] == 'Y') {
                            $("#v_detail_customer").removeClass('hide');
                            $("#detail_customer").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['unit_enable']);
                        if (chartdata[0].fields['unit_enable'] == 'Y') {
                            $("#v_detail_unit").removeClass('hide');
                            $("#detail_unit").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['branch_enable']);
                        if (chartdata[0].fields['branch_enable'] == 'Y') {
                            $("#v_detail_branch").removeClass('hide');
                            $("#detail_branch").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['product_enable']);
                        if (chartdata[0].fields['product_enable'] == 'Y') {
                            $("#v_detail_product").removeClass('hide');
                            $("#detail_product").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['inputvat_enable']);
                        if (chartdata[0].fields['inputvat_enable'] == 'Y') {
                            $("#v_detail_inputvat").removeClass('hide');
                            $("#detail_inputvat").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['outputvat_enable']);
                        if (chartdata[0].fields['outputvat_enable'] == 'Y') {
                            $("#v_detail_outputvat").removeClass('hide');
                            $("#detail_outputvat").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['vat_enable']);
                        if (chartdata[0].fields['vat_enable'] == 'Y') {
                            $("#v_detail_vat").removeClass('hide');
                            $("#detail_vat").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['wtax_enable']);
                        if (chartdata[0].fields['wtax_enable'] == 'Y') {
                            $("#v_detail_wtax").removeClass('hide');
                            $("#detail_wtax").attr('required', 'required');
                        }
                        //console.log(chartdata[0].fields['ataxcode_enable']);
                        if (chartdata[0].fields['ataxcode_enable'] == 'Y') {
                            $("#v_detail_ataxcode").removeClass('hide');
                            $("#detail_ataxcode").attr('required', 'required');
                        }

                        unit = response.unit;
                        unitlist = $.parseJSON(unit);

                        //console.log(unitlist);
                        var unitoptions = '<option value="">-- Select Unit --</option>';
                        $.each(unitlist, function (k, v) {
                            //console.log(v);
                            unitoptions += '<option value="' + v.pk + '">' + v.fields.description + '</option>';
                        });
                        $("#detail_unit").html(unitoptions);
                        $("#detail_unit option:first").attr('selected', 'selected');
                        $("#detail_unit").attr('disabled', false);


                    }, error: function(response) {
                        console.debug(reponse);
                    }
                });
            }
        });
    });
</script>

{% block extra_js %}
    {% load static %}
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/custom-maskMoney.js' %}" type="text/javascript"></script>
{% endblock extra_js %}