{% load humanize %}
{% for item in data %}
<tr>
  <td>{{ forloop.counter }}</td>
  <td><input type="checkbox" class="check" value={{ item.apmain.id }}></td>
  <td>{{ item.apmain.apnum }}</td>
  <td style="width:100px">{{ item.apmain.apdate|date:'Y-m-d' }}</td>
  <td>{{ item.apmain.payeename }}</td>
  <td>{{ item.apmain.enterby }}</td>
  <td style="text-align:right">{{ item.creditamount|default:""|floatformat:2|intcomma }}</td>
</tr>
{% endfor %}

<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><b>Total</b></td>
  <td style="text-align:right"><b>{{ total.creditamount__sum|default:""|floatformat:2|intcomma }}</b></td>
</tr>
