{% extends 'base-form.html' %}
{% load staticfiles %}
{% block page-title %} Accounts Payable {% endblock page-title %}
{% block extra_css %}
    {% include "accountspayable/createcss.html" %}
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="panel margin-bottom-20">
                <div class="panel-heading">
                    <h3 class="panel-title">UPDATE
                        <div class="btn-group pull-right">
                            <div class="shade"><div class="loader loader-sm two-color"></div></div>
                            <button class="btn btn-info" data-toggle='modal' data-target='#lookupModal'>
                                <i class="icon fa-search" aria-hidden="true"></i> Lookup
                            </button>
                            <button id="nav_stepleft" class="btn btn-default nav_btn">
                                <i class="icon fa-step-backward" aria-hidden="true"></i>
                            </button>
                            <button id="nav_left" class="btn btn-default nav_btn">
                                <i class="icon fa-backward" aria-hidden="true"></i>
                            </button>
                            <button id="nav_right" class="btn btn-default nav_btn">
                                <i class="icon fa-forward" aria-hidden="true"></i>
                            </button>
                            <button id="nav_stepright" class="btn btn-default nav_btn">
                                <i class="icon icon fa-step-forward" aria-hidden="true"></i>
                            </button>
						</div>
                    </h3>
                </div>
                <div class="panel-body">
                    <form autocomplete="off" id="form-b" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="secretkey" id="id_secretkey" value="{{ secretkey }}"/>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label class="control-label" for="id_apnum">Number</label>
                                <input type="text" class="form-control input-sm disabled-white" value="{{ apnum }}" disabled="disabled">
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label" for="id_apdate">Date</label>
                                <input type="text" class="form-control input-sm date-yyyymmdd datepicker week disabled-white" id="id_apdate" name="apdate" placeholder="YYYY-MM-DD" data-validation="required" value="{{ form.apdate.value|date:'Y-m-d'|default:'' }}" readonly="readonly">
                                <span class="help-block form-error">{{ form.apdate.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3 {{ form.aptype.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_aptype">AP Type</label>
                                <select class="form-control input-sm" data-validation="required" id="id_aptype" name="aptype">
                                    {% for id,name in form.fields.aptype.choices %}
                                    <option value="{{ id }}"{% if form.aptype.value == id %} selected {% endif %}>{% ifequal id ""%}-- Select --{% else %}{{ name }}{% endifequal %}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.aptype.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label" for="id_apstatus">AP Status</label>
                                <input type="text" class="form-control input-sm disabled-white" value="VERIFIED" disabled="disabled">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label" for="id_payee">Payee Code</label>
                                <select class="form-control input-sm ajaxselect2" data-validation="required" id="id_payee" name="payee">
                                    <option value="{{ payee.id }}">{{ payee.code }} - {{ payee.name }}</option>
                                </select>
                                <span class="help-block form-error">{{ form.payee.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3 {{ form.branch.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_branch">Branch</label>
                                <select class="form-control input-sm" data-validation="required" id="id_branch" name="branch">
                                    <option value="">-- Select --</option>
                                    {% for data in branch %}
                                        <option value="{{ data.id }}" {% if form.branch.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.description }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.branch.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3 {{ form.bankbranchdisburse.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_bankbranchdisburse">Disbursing Branch</label>
                                <select class="form-control input-sm" data-validation="required" id="id_bankbranchdisburse" name="bankbranchdisburse">
                                    <option value="">-- Select --</option>
                                    {% for data in bankbranchdisburse %}
                                        <option value="{{ data.id }}" {% if form.bankbranchdisburse.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.branch }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.bankbranchdisburse.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3 {{ form.vat.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_vat">VAT</label>
                                <select class="form-control input-sm" data-validation="required" id="id_vat" name="vat">
                                    <option value="">-- Select --</option>
                                    {% for data in vat %}
                                        <option value="{{ data.id }}" {% if form.vat.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.code }}({{ data.rate }}) - {{ data.description }}</option>
                                    {% endfor %}
                                </select>
                                </select>
                                <span class="help-block form-error">{{ form.vat.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3 {{ form.atax.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_atax">ATC</label>
                                <select class="form-control input-sm" data-validation="required" id="id_atax" name="atax">
                                    <option value="">-- Select --</option>
                                    {% for data in atax %}
                                        <option value="{{ data.id }}" {% if form.atax.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.code }}({{ data.rate }}) - {{ data.description }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.atax.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3 {{ form.inputvattype.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_inputvattype">Input VAT Type</label>
                                <select class="form-control input-sm" data-validation="required" id="id_inputvattype" name="inputvattype">
                                    <option value="">-- Select --</option>
                                    {% for data in inputvattype %}
                                        <option value="{{ data.id }}" {% if form.inputvattype.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.code }} - {{ data.description }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.inputvattype.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label" for="id_creditterm">Terms</label>
                                <select class="form-control input-sm" data-validation="required" id="id_creditterm" name="creditterm">
                                    <option value="">-- Select --</option>
                                    {% for data in creditterm %}
                                        <option value="{{ data.id }}" {% if form.creditterm.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.daysdue }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.creditterm.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label class="control-label" for="id_duedate">Due Date</label>
                                <input type="text" class="form-control input-sm date-yyyymmdd datepicker week disabled-white" id="id_duedate" name="duedate" placeholder="YYYY-MM-DD" data-validation="required" value="{{ form.duedate.value|date:'Y-m-d'|default:'' }}" readonly="readonly">
                                <span class="help-block form-error">{{ form.duedate.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label" for="id_terms">Reference No.</label>
                                <input type="text" class="form-control input-sm" name="refno" value="{{ form.refno.value|default:'' }}">
                                <span class="help-block form-error">{{ form.refno.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3 {{ form.deferred.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_deferred">Deferred (Y/N)</label>
                                <select class="form-control input-sm" data-validation="required" id="id_deferred" name="deferred">
                                    <option value="N">No</option>
                                    <option value="Y">Yes</option>
                                </select>
                                <span class="help-block form-error">{{ form.deferred.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label" for="id_currency">Currency</label>
                                <select class="form-control input-sm" data-validation="required" id="id_currency" name="currency">
                                    {% for data in currency %}
                                        <option value="{{ data.id }}" {% if form.currency.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.symbol }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.currency.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-1">
                                <label class="control-label" for="id_apnum">FX Rate</label>
                                <input type="text" class="form-control input-sm disabled-white" value="1" disabled="disabled">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="id_particulars">Particulars</label>
                                <textarea data-fv-field="standard_content" class="form-control" id="id_particulars" name="particulars" rows="1" data-validation="required">{{ form.particulars.value|default:'' }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <button type="submit" class="btn btn-round btn-success" id="validateButton">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div id="lookupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="shade"><div class="loader two-color"></div></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> <span id="modal-header-title">Lookup</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label small">AP No. (From)</label>
                        <input type="number" class="form-control input-sm" id="cache_apnum_from" value="2017000001">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label small">AP No. (To)</label>
                        <input type="number" class="form-control input-sm" id="cache_apnum_to" value="2017000001">
                    </div>
                </div>
                <br><br>
                <table class="table" id="cache_table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>AP No.</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="cache_submit">Search</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="payee-danger" class="custom-alert danger">No results found.</div>
{% endblock page-content %}
{% block extra_js %}
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>
    <script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/custom-maskMoney.js' %}" type="text/javascript"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-wysihtml5-0.0.2/libs/js/wysihtml5-0.3.0_rc2.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js' %}"></script>
    <script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.select2').select2({});
        ajaxselect2("supplier");

        $(function() {
            // caching
            var cachedItems = [];
            var cachedFilters = [];
            var retrieveItems = localStorage.getItem('cachedItems');
            var retrieveFilters = localStorage.getItem('cachedFilters');
            var dummyurl;
            var nav_stepleft, nav_stepright, nav_left, nav_right, nav_exist, nav_href;

            $('#cache_submit').on('click', function () {
                cachedsearch('apmain');
            });

            $('.nav_btn').on('click', function(){
                $('.shade').fadeIn();
                nav_href = "{% url 'accountspayable:update' 0 %}";
                switch ($(this).attr('id')) {
                    case 'nav_stepleft':
                        nav_href = nav_href.replace(0, nav_stepleft);
                        break;
                    case 'nav_left':
                        nav_href = nav_href.replace(0, nav_left);
                        break;
                    case 'nav_right':
                        nav_href = nav_href.replace(0, nav_right);
                        break;
                    case 'nav_stepright':
                        nav_href = nav_href.replace(0, nav_stepright);
                        break;
                }
                window.location.replace(nav_href);
            });

            // cache on load
            $(document).ready(function(){
                if (JSON.parse(retrieveItems) != null){
                    $('#cache_table tbody').html('');
                    for (var i = 0; i < JSON.parse(retrieveItems).length; i++) {
                        cachedfilltable(JSON.parse(retrieveItems)[i]['id'], JSON.parse(retrieveItems)[i]['text']);
                    }
                    cachedfillform(JSON.parse(retrieveFilters)[0]['fil_from'], JSON.parse(retrieveFilters)[0]['fil_to']);
                    cachednavlink();
                    $('#lookupModal').modal('show');
                }
            });

            function cachedclear(){
                localStorage.removeItem('cachedItems');
                localStorage.removeItem('cachedFilters');
                cachedItems = [];
                cachedFilters = [];
            }

            function cachedsearch(table) {
                $('.shade').fadeIn();
                url = "/utils/ajaxsearch/";
                $.ajax({
                    url: url,
                    type: "post",
                    data: {
                        'cache_apnum_from': $("#cache_apnum_from").val(),
                        'cache_apnum_to': $("#cache_apnum_to").val(),
                        'table': table
                    },
                    success: function (response) {
                        cachedclear();
                        $('#cache_table tbody').html('');
                        if (response.items.length > 0) {
                            for (var i = 0; i < response.items.length; i++) {
                                cachedfilltable(response.items[i].id, response.items[i].text);
                                cachedItems.push({
                                    id: response.items[i].id,
                                    text: response.items[i].text
                                });
                            }
                            cachedFilters.push({
                                    fil_from: $('#cache_apnum_from').val(),
                                    fil_to: $('#cache_apnum_to').val()
                                });
                            localStorage.setItem('cachedItems', JSON.stringify(cachedItems));
                            localStorage.setItem('cachedFilters', JSON.stringify(cachedFilters));
                            retrieveItems = localStorage.getItem('cachedItems');
                            retrieveFilters = localStorage.getItem('retrieveFilters');
                            cachednavlink();
                        }
                        else{
                            customAlert($('#payee-danger'));
                        }
                        $('.shade').fadeOut();
                    }
                    , error: function (response) {
                        console.debug(response);
                        $('.shade').fadeOut();
                    }
                });
            }

            function cachedfilltable(cachedID, cachedText){
                $('#cache_table tbody').append("<tr>" +
                        "<td>" +
                            "<a href='{% url 'accountspayable:update' 0 %}' class='openAP'><button class='btn btn-xs'>" +
                                "<i class='icon fa-pencil' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;" +
                                cachedID +
                            "</button></a>" +
                        "</td>" +
                        "<td>" + cachedText + "</td>" +
                    "</tr>");
                if(cachedID == {{ object.pk }}){
                    dummyurl = "#";
                    $('#cache_table tbody tr:last td:first a').remove();
                    $('#cache_table tbody tr:last td:first').html("#" + cachedID).parent().addClass('info');
                }
                else{
                    dummyurl = $('#cache_table tbody tr:last td:first a').attr("href").replace('0', cachedID);
                    $('#cache_table tbody tr:last td:first a').attr("href", dummyurl);
                }
            }

            function cachedfillform(fil_from, fil_to){
                $('#cache_apnum_from').val(fil_from);
                $('#cache_apnum_to').val(fil_to);
            }

            function cachednavlink(){
                nav_exist = 0;
                if (JSON.parse(retrieveItems) != null){
                    // value assignment
                    for (var i = 0; i < JSON.parse(retrieveItems).length; i++) {
                        if(JSON.parse(retrieveItems)[i]['id'] == {{ object.pk }}){
                            nav_left = i != 0 ? JSON.parse(retrieveItems)[i-1]['id'] : JSON.parse(retrieveItems)[i]['id'];
                            nav_right = i < (JSON.parse(retrieveItems).length-1) ? JSON.parse(retrieveItems)[i+1]['id'] : JSON.parse(retrieveItems)[i]['id'];
                            nav_exist = 1;
                        }
                    }
                    nav_stepleft = JSON.parse(retrieveItems)[0]['id'];
                    nav_stepright = JSON.parse(retrieveItems)[JSON.parse(retrieveItems).length-1]['id'];

                    // disable/hide overlapping buttons
                    if(nav_stepleft == {{ object.pk }}) $('#nav_stepleft').prop("disabled",true);
                    else $('#nav_stepleft').prop("disabled",false);

                    if(nav_left == {{ object.pk }}) $('#nav_left').prop("disabled",true);
                    else $('#nav_left').prop("disabled",false);

                    if(nav_right == {{ object.pk }}) $('#nav_right').prop("disabled",true);
                    else $('#nav_right').prop("disabled",false);

                    if(nav_stepright == {{ object.pk }}) $('#nav_stepright').prop("disabled",true);
                    else $('#nav_stepright').prop("disabled",false);

                    if(nav_exist == 1) $('.nav_btn').show();
                    else $('.nav_btn').hide();
                }
            }
            // caching end
        });
    </script>
{% endblock extra_js %}