{% load endless %}
{% load humanize %}
{% paginate data_list %}
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>No.</span></th>
                <th><span>Date</span></th>
                <th><span>Type</span></th>
                <th><span>Payee</span></th>
                <th><span>Particulars</span></th>
                <th><span>Amount</span></th>
                <th><span>Approver</span></th>
                <th><span>Created by</span></th>
                <th><span>Status</span></th>
                <th class="text-center"><span>Approval</span></th>
                <th class="text-center"><span>Action</span></th>
            </tr>
        </thead>
        <tbody>

            {% for data in data_list %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.apnum }}</td>
                <td>{{ data.apdate|date:'Y-m-d' }}</td>
                <td>{{ data.aptype.description }}</td>
                <td>{{ data.payeename }}</td>
                <td style="width:300px;">{{ data.particulars }}</td>
                <td style="text-align: right;">{{ data.amount|floatformat:2|intcomma }}</td>
                <td>{% if data.actualapprover %}{{ data.actualapprover.first_name }}&nbsp;{{ data.actualapprover.last_name }}{% elif data.designatedapprover %}{{ data.designatedapprover.first_name }}&nbsp;{{ data.designatedapprover.last_name }}{% else %}-- no approver assigned yet --{% endif %}</td>
                <td>{{ data.enterby }}</td>
                <td class="tdApStatus
                        {% if data.apstatus == 'A' %} text-success
                        {% elif data.apstatus == 'D' %} text-danger
                        {% elif data.apstatus == 'F' %} text-info
                        {% elif data.apstatus == 'R' %} text-success
                        {% endif %}"
                        id="status{{ data.id }}">
                    <b> {% if data.status != 'C' %}
                        {{ data.get_apstatus_display }}
                        {% else %}
                        <span class="text-danger">CANCELLED</span>
                        {% endif %}
                    </b>
                </td>
                <td>
                    <div class="text-center">
                    {% if data.actualapprover_id == user.id or data.designatedapprover.id == user.id or user.is_superuser %}
                        {% if data.status == 'O' %}
                            <button class="btn btns-icon btn-info btn-round waves-effect waves-light">
                            <i class="icon fa-lock" aria-hidden="true"></i>
                            </button>
                        {% else %}
                            {% if data.apstatus != 'R' %}
                                {% if data.apstatus != 'A' and data.status != 'C' %}
                                <button class="btn btns-icon btn-success btn-round waves-effect waves-light btn-approve" id="btnA{{ data.id }}" data-id={{ data.id }}>
                                <i class="icon fa-check" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                                {% if data.apstatus != 'D' and data.status != 'C' %}
                                <button class="btn btns-icon btn-danger btn-round waves-effect waves-light btn-disapprove" id="btnD{{ data.id }}" data-num="{{ data.apnum }}" data-id="{{ data.id }}" data-toggle='modal' data-target='#disapprovedModal'>
                                <i class="icon fa-remove" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                            {% else %}
                                {% if perms.accountspayable.can_postap %}
                                <button class="btn btns-icon btn-warning btn-round waves-effect waves-light btn-removereadytopost" id="btnRP{{ data.id }}" data-num="{{ data.num }}" data-id="{{ data.id }}">
                                <i class="icon fa-unlock-alt" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </div>
                </td>
                <td style="width: 150px; padding-left: 30px;{% if data.status == 'C' %} background-color:red {% endif %}">
                    <div class="iconlist-wrap auto-0">
                        <div class="iconlist" style="text-align: left">
                            <a href="{% url 'accountspayable:detail' data.pk %}" class="btnDetail" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to View" title="" aria-describedby="tooltip850155">
                                <i class="icon md-view-list" aria-hidden="true">&nbsp;&nbsp;</i>
                            </a>
                            {% if data.enterby_id == user.id or data.designatedapprover.id == user.id or user.is_superuser %}

                                {% if perms.accountspayable.change_apmain and data.isdeleted == 0 %}
                                <a href="{% url 'accountspayable:update' data.pk %}" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
                                {% endif %}
                                {% if perms.accountspayable.delete_apmain and data.isdeleted == 0 and data.status == 'A' and data.apstatus != 'A' and data.apstatus != 'I' and data.apstatus != 'R' %}
                                <a href="{% url 'accountspayable:delete' data.pk %}" class="btnDelete" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Cancel" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-delete" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
                                {% endif %}

                            {% endif %}

                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination pull-right">{% show_pages %}</div>
    <div id="disapprovedModal" class="modal fade" role="dialog">
        <form>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Disapproved Accounts Payable Voucher</h4>
                </div>
                <div class="modal-body" style="overflow:hidden;">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">Remarks: AP# <span id="apnumbertext"></span></label>
                            <input type="hidden" id="apid" name="apid" required>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="3" name="reason" id="reason" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="disapprovedSubmit">Submit</button>
                    <button type="button" class="btn btn-default" id="disapprovedclose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- required -->
<a href="/{{ request.resolver_match.app_name }}/?page=1" rel="page" class="endless_page_link" id="dummy" style="display: none;">1</a>
<script>
    $(function () {
        $('.shade').remove();
        $('.panel').prepend('<div class="shade"><div class="loader two-color"></div></div>');
        $('#searchFilter').val(getCookie('keysearch_{{ request.resolver_match.app_name }}'));
        $('.endless_page_link').on('click', function () {
            $('.shade').fadeIn();
        });

        $('.btn-approve').on('click', function(){
            if (confirm('Are you sure you want to approved this AP?')) {
                var id = $(this).data('id');
                 $.ajax({
                    url: "{% url 'accountspayable:approve' %}",
                    type: "post",
                    data: {'id': $(this).data('id')},
                    success: function(response) {
                        $('#btnA'+id).hide();
                        $('#btnD'+id).hide();
                        $('#status'+id).text('Approved').addClass('success');
                    },
                    error: function(response) {
                        console.debug(response);
                    }
                });
            }
        });

        $('.btn-removereadytopost').on('click', function(){
            if (confirm('Are you sure you want to reopen this transaction?')) {
                var id = $(this).data('id');
                console.log(id);
                 $.ajax({
                    url: "{% url 'accountspayable:gounpost' %}",
                    type: "post",
                    data: {'id': $(this).data('id')},
                    success: function(response) {
                        location.reload();
                    },
                    error: function(response) {
                        console.debug(response);
                    }
                });
            }
        });

        $('.btn-disapprove').on('click', function(){
            $('#reason').val('');
            $('#apid').val('');
            $('#apid').val($(this).data('id'));
            $('#apnumbertext').text($(this).data('num'));
            $('#disapprovedModal').show();
        });

        $('#disapprovedSubmit').on('click', function(){
            var id =  $('#apid').val();
            var reason =  $('#reason').val();

            if (reason.trim() == '') {
                alert('Fill in remarks textbox');
            } else if (id == '') {
                alert('Ops! Something is wrong');
             } else {
                $.ajax({
                url: "{% url 'accountspayable:disapprove' %}",
                type: "post",
                data: {'id': id, 'reason': reason},
                success: function(response) {
                    $('#btnA'+id).hide();
                        $('#btnD'+id).hide();
                        $('#status'+id).text('Disapproved').addClass('success');
                        $('#close').trigger('click');
                },
                error: function(response) {
                    console.debug(response);
                }
            });
            }

        });
    });
</script>
