{% extends 'base-form.html' %}
{% block page-title %} Accounts Payable Voucher {% endblock page-title %}
{% block extra_css %}
    {% include "accountspayable/createcss.html" %}
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-right">

                    <!-- pagination and search start -->
                    <div id="search-container" class="row col-md-3 col-sm-4 col-xs-3">
                        <div class="input-group">
                            <input type="text" id="searchFilter" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-info">
                                    <span class="icon_search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- pagination and search end -->
                    <button class="btn btn-info btn-sm" data-toggle='modal' id="digibanker" data-target='#digibankerModal'>
                        <i class="icon fa-globe" aria-hidden="true"></i> Digibanker
                    </button>
                    {% if perms.accountspayable.can_postcv %}
                        <button class="btn btn-info btn-sm" data-toggle='modal' id="posting" data-target='#postingModal'>
                            <i class="icon fa-lock" aria-hidden="true"></i> Ready For Posting
                        </button>
                    {% endif %}
                    {% if perms.accountspayable.change_apmain %}
                        <button class="btn btn-info btn-sm" data-toggle='modal' data-target='#searchModal'>
                            <i class="icon fa-search" aria-hidden="true"></i> Lookup
                        </button>
                    {% endif %}
                    {% if perms.accountspayable.add_apmain %}
                        <a href="{% url 'accountspayable:create' %}"><button type="button" class="btn btn-info btn-sm waves-effect waves-light">New Accounts Payable Voucher</button></a>
                    {% endif %}
                </div>
            </div>
            <!-- pagination and search start -->
            <div class="col-md-12">
                <div class="page-wrap">
                    <br>
                    {% block content %}
                        <div class="endless_page_template">
                        {% include page_template %}</div>
                    {% endblock %}
                </div>
            </div>
            <!-- pagination and search end -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% include "accountspayable/search.html" %}
{% include "accountspayable/posting.html" %}
{% include "accountspayable/digibanker.html" %}
{% endblock page-content %}
{% load staticfiles %}
{% block extra_js %}
<script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
<script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
<script>
$(function () {
    $('#posting').on('click', function() {
        $('#postingresult').html('');
        $('#checkAll').prop("checked", false);
        $('#postdate').val('');
    });
    // ajax search and pagination
    $('#searchBtn').on('click', function(){
        $('.shade').fadeIn();
        setCookie('keysearch_{{ request.resolver_match.app_name }}', $('#searchFilter').val());
        $('#dummy').trigger('click');
    });
    $('body').on('keyup', function(e){
        var search_code = e.keyCode || e.which;
        if(search_code == 13 && $(':focus').attr('id') == "searchFilter"){
            $('#searchBtn').trigger('click');
        }
    });
});
</script>
{% endblock extra_js %}