{% extends 'reports/base_ap.html' %}
{% load humanize %}
{% load mathfilters %}
{% block extra_css %}
    <style>
        td{
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block main_content %}
    {% if report == 's' %}
        <table id="table_summary">
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td style="width: 10%">{{ data.apnum }}</td>
                    <td style="width: 10%">{{ data.apdate|date:'Y-m-d' }}</td>
                    <td style="width: 10%">{{ data.aptype.description }}</td>
                    <td style="width: 20%">{{ data.apsubtype.description }}</td>
                    <td style="width: 30%">{{ data.payee.name }}</td>
                    <td style="width: 10%">{{ data.get_apstatus_display }}</td>
                    <td style="width: 10%" class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="7"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="6"><b>Total</b></td>
                <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>
    {% elif report == 'd' %}
        <table id="table_detailed">
        {% if rfv == 'hide' %}
            <tbody class="small">
                {% for data in data_list %}
                    <tr>
                        <td style="width: 6%">{{ data.apnum }}</td>
                        <td style="width: 6%">{{ data.apdate|date:'Y-m-d' }}</td>
                        <td style="width: 5%">{{ data.aptype.description }}</td>
                        <td style="width: 5%">{{ data.apsubtype.code }}</td>
                        <td style="width: 20%">{{ data.payee.name }}</td>
                        <td style="width: 5%">{{ data.vat.code }}</td>
                        <td style="width: 5%">{{ data.atax.code }}</td>
                        <td style="width: 5%; text-align: center">{{ data.inputvattype.code }}</td>
                        <td style="width: 5%; text-align: center">{{ data.apstatus }}</td>
                        <td style="width: 17%">{{ data.particulars }}</td>
                        <td style="width: 12%"></td>
                        <td style="width: 9%" class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                    </tr>
                {% endfor %}
                <tr><td colspan="12"></td></tr>
                <tr style="border-top: 1px solid grey; padding-top: 5px;">
                    <td colspan="11"><b>Total</b></td>
                    <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
                </tr>
            </tbody>
        {% elif rfv == 'show' %}
            <tbody class="small">
                {% for data in data_list %}
                    {% ifchanged data.apmain.apnum %}
                        <tr style="border-top: 1px solid grey; padding-top: 5px;">
                            <td style="width: 6%">{{ data.apmain.apnum }}</td>
                            <td style="width: 6%">{{ data.apmain.apdate|date:'Y-m-d' }}</td>
                            <td style="width: 5%">{{ data.apmain.aptype.description }}</td>
                            <td style="width: 5%">{{ data.apmain.apsubtype.code }}</td>
                            <td style="width: 20%">{{ data.apmain.payee.name }}</td>
                            <td style="width: 5%">{{ data.apmain.vat.code }}</td>
                            <td style="width: 5%">{{ data.apmain.atax.code }}</td>
                            <td style="width: 5%; text-align: center">{{ data.apmain.inputvattype.code }}</td>
                            <td style="width: 5%; text-align: center">{{ data.apmain.apstatus }}</td>
                            <td style="width: 17%">{{ data.particulars }}</td>
                            <td style="width: 12%"></td>
                            <td style="width: 9%" class="right">{{ data.apmain.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td colspan="5" style="padding: 7px; padding-bottom: 2px; background-color: #efefef"></td>
                        <td colspan="2" style="padding: 7px; padding-bottom: 2px; background-color: #efefef">RFV-{{ data.reprfvnum }}</td>
                        <td colspan="2" style="padding: 7px; padding-bottom: 2px; background-color: #efefef">{{ data.reprfvdate|date:'Y-m-d' }}</td>
                        <td colspan="2" style="padding: 7px; padding-bottom: 2px; background-color: #efefef; text-align: right;">{{ data.amount|floatformat:2|intcomma }}</td>
                        <td style="padding: 7px; padding-bottom: 2px; background-color: #efefef"></td>
                    </tr>
                {% endfor %}
                <tr><td colspan="12"></td></tr>
                <tr style="border-top: 1px solid grey; padding-top: 5px;">
                    <td colspan="11"><b>Total</b></td>
                    <td class="right"><b>{{ report_total.apmain__amount__sum|floatformat:2|intcomma }}</b></td>
                </tr>
            </tbody>
        {% endif %}
        </table>
    {% elif report == 'ub' or report == 'ae' %}
        <table id="table_unbalanced">
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>{{ data.apmain__apnum }}</td>
                    <td>{{ data.apmain__apdate|date:'Y-m-d' }}</td>
                    <td>{{ data.apmain__aptype__code }}</td>
                    <td>{{ data.apmain__apsubtype__code }}</td>
                    <td>{{ data.apmain__payeename }}</td>
                    <td>{{ data.apmain__bankbranchdisburse__branch }}</td>
                    <td>{{ data.apmain__apstatus }}</td>
                    <td class="right">{{ data.debitsum|floatformat:2|intcomma }}</td>
                    <td class="right">{{ data.creditsum|floatformat:2|intcomma }}</td>
                    <td class="right">{{ data.margin|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="10"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="7"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitsum__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditsum__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.margin__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>
    {% elif report == 'a_s' %}
        <table id="table_ae_summary">
            <tbody>
            {% for data in data_list %}
{#                <tr {% ifchanged data.chartofaccount__accountcode %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>#}
                <tr>
                    <td style="width: 10%">{{ data.chartofaccount__accountcode }}</td>
                    <td style="width: 35%">{{ data.chartofaccount__description }}</td>
                    <td style="width: 10%">
                        <table>
                            <tr>
                                {% if data.bankaccount__code %}
                                    <td> {{ data.bankaccount__code }} </td>
                                {% endif %}
                                {% if data.department__code %}
                                    <td> {{ data.department__code }} </td>
                                {% endif %}
                                {% if data.branch__code %}
                                    <td> {{ data.branch__code }} </td>
                                {% endif %}
{#                                {% if data.employee__firstname %}#}
{#                                    <td>{{ data.employee__firstname }} {{ data.employee__lastname }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.supplier__name %}#}
{#                                    <td>{{ data.supplier__name }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.customer__name %}#}
{#                                    <td>{{ data.customer__name }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.unit__description %}#}
{#                                    <td>{{ data.unit__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.product__description %}#}
{#                                    <td>{{ data.product__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.inputvat__description %}#}
{#                                    <td>{{ data.inputvat__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.outputvat__description %}#}
{#                                    <td>{{ data.outputvat__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.vat__description or data.inputvat.description %}#}
{#                                    <td>{{ data.vat__description|default:'---' }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.wtax__description %}#}
{#                                    <td>{{ data.wtax__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.ataxcode__code %}#}
{#                                    <td>{{ data.ataxcode__code }}</td>#}
{#                                {% endif %}#}
                            </tr>
                        </table>
                    </td>
                    <td style="width: 30%">
                        <table>
                            <tr>
                                {% if data.bankaccount__accountnumber %}
                                    <td> {{ data.bankaccount__accountnumber }} </td>
                                {% endif %}
                                {% if data.department__departmentname %}
                                    <td> {{ data.department__departmentname }} </td>
                                {% endif %}
{#                                {% if data.employee__firstname %}#}
{#                                    <td>{{ data.employee__firstname }} {{ data.employee__lastname }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.supplier__name %}#}
{#                                    <td>{{ data.supplier__name }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.customer__name %}#}
{#                                    <td>{{ data.customer__name }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.unit__description %}#}
{#                                    <td>{{ data.unit__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.product__description %}#}
{#                                    <td>{{ data.product__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.inputvat__description %}#}
{#                                    <td>{{ data.inputvat__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.outputvat__description %}#}
{#                                    <td>{{ data.outputvat__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.vat__description or data.inputvat.description %}#}
{#                                    <td>{{ data.vat__description|default:'---' }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.wtax__description %}#}
{#                                    <td>{{ data.wtax__description }}</td>#}
{#                                {% endif %}#}
{#                                {% if data.ataxcode__code %}#}
{#                                    <td>{{ data.ataxcode__code }}</td>#}
{#                                {% endif %}#}
                            </tr>
                        </table>
                    </td>
                    <td class="right" style="width: 10%;">
                        {% if data.balancecode == 'D' %}
                            {{ data.debitamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                    <td class="right" style="width: 10%;">
                        {% if data.balancecode == 'C' %}
                            {{ data.creditamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="6"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="4"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>
    {% elif report == 'a_d' %}
        <table>
        {% for data in data_list %}
            <tr>
                {% ifchanged data.ap_num %}
                    <tr>
                        <td style="width: 6%"></td>
                        <td style="width: 22%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 6%"></td>
                        <td style="width: 19%"></td>
                        <td style="width: 3%"></td>
                        <td style="width: 12%"></td>
                        <td style="width: 7%"></td>
                        <td style="width: 7%"></td>
                    </tr>
                {% endifchanged %}
                {% ifchanged data.ap_num %}
                    <td style="vertical-align: top">
                        {{ data.apmain__apdate|date:'m/d/Y' }}
                    </td>
                    <td style="vertical-align: top">
                        {% ifchanged data.ap_num %}
                            {{ data.ap_num }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.apmain__payeename|slice:":30" }}
                        {% endifchanged %}
                    </td>
                    <td style="vertical-align: top">
                        {% ifchanged data.ap_num %}
                            {{ data.apmain__particulars|slice:":30" }}
                        {% endifchanged %}
                    </td>
                {% else %}
                    {% if data.item_counter == 2 %}
                        <td style="vertical-align: top"></td>
                        <td style="vertical-align: top">TIN: {{ data.apmain__payee__tin|default:'-' }}</td>
                        <td style="vertical-align: top">{{ data.apmain__particulars|slice:"30:60" }}</td>
                    {% elif data.item_counter == 3 %}
                        <td style="vertical-align: top"></td>
                        <td style="vertical-align: top">{{ data.apmain__payee__address1 }}</td>
                        <td style="vertical-align: top">{{ data.apmain__particulars|slice:"60:90" }}</td>
                    {% elif data.item_counter == 4 %}
                        <td style="vertical-align: top"></td>
                        <td style="vertical-align: top">{{ data.apmain__payee__address2 }}</td>
                        <td style="vertical-align: top">{{ data.apmain__particulars|slice:"90:120" }}</td>
                    {% elif data.item_counter > 4 %}
                        <td style="vertical-align: top"></td>
                        <td style="vertical-align: top"></td>
                        <td style="vertical-align: top">{{ data.apmain__particulars|slice:"120:150" }}</td>
                    {% endif %}
                {% endifchanged %}
                <td style="vertical-align: top">{{ data.chartofaccount__accountcode }}</td>
                <td style="vertical-align: top">{{ data.chartofaccount__title }}</td>
                <td style="vertical-align: top">{{ data.department__code|default:'' }}</td>
                <td style="vertical-align: top">{{ data.department__departmentname|slice:":20"|default:'' }}</td>
                <td style="vertical-align: top" align="right">{{ data.debitamount__sum|default:''|intcomma }}</td>
                <td style="vertical-align: top" align="right">{{ data.creditamount__sum|default:''|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="9"></td></tr>
        <tr style="border-top: 1px solid grey; padding-top: 5px;">
            <td colspan="6"></td>
            <td><b>GRAND TOTAL</b></td>
            <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
            <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
        </tr>
        </table><br><br>
        Checked by: ____________________________<br>
        Date Checked: __________________________
    {% endif %}
{% endblock main_content %}