{% extends 'base-form.html' %}
{% block page-title %} JV Uploading {% endblock page-title %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
    <style>
        #jv_step_upload, #jv_step_final{
            display: none;
        }
        .table_result{
            height: 300px;
            overflow: scroll;
            padding: 0px;
        }
        .table_detail{
            border-top: none !important;
        }
        .select2-results__options{
            font-size: 12px;
        }
        .price-list{
            background-color: white;            
        }
        .price-list .price-price{
            font-size: 14px !important;
            text-align: left;
            color: #76838f !important;
        }
        .price-title.bg-teal-a400:before {
            background: #00bfa5;
        }
        .price-list .price-title{
            padding-top: 5px;
            letter-spacing: 1px;
        }
        .price-title:before {
            position: relative;
            display: block;
            width: 14px;
            height: 14px;
            content: '';
            top: 42px;
            transform: rotate(45deg);
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
        .price-footer{
            margin-top: 40px;
        }
        .fa-spin {
          -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
        }
        @-webkit-keyframes fa-spin {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
          }
        }
        @keyframes fa-spin {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
          }
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div id="jv_step_verify">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-wrap">
                    <form method="post" id="data" enctype="multipart/form-data" style="height:10px">
                        <div class="col-md-12">
                            <div class="price-list margin-sm-0">
                                <div class="price-header">
                                    <div class="price-title bg-teal-a400">STEP 1: FILE UPLOAD</div>
                                    <div class="price-price teal-a400" id="formupload">
                                        <div class="form-group col-sm-4">
                                            <label class="control-label small" for="upload_type">Data Type</label>
                                            <select name="upload_type" id="upload_type" class="form-control input-sm select2">
                                                <option value="">-- Select --</option>
                                                <optgroup label="Advertising">
                                                    <option value="ADV-ADJ">ADV - Adjustment</option>
                                                    <option value="ADV-EXD">ADV - Exdeal</option>
                                                    <option value="ADV-CAI">ADV - Cancelled AI</option>
                                                    <option value="ADV-PPD">ADV - Prompt Payment Discount</option>
                                                    <option value="ADV-RAR">ADV - Rebates and Refund</option>
                                                    <option value="ADV-TAX">ADV - Tax</option>
                                                    <option value="ADV-VOD">ADV - Volume Discount</option>
                                                    <option value="ADV-USI">ADV - Upload SI</option>
                                                </optgroup>
                                                <optgroup label="Subscription">
                                                    <option value="SUB-REG">SUB - Regular</option>
                                                    <option value="SUB-COM">SUB - Complimentary</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label class="control-label small">JV Master</label>
                                            <input type="file" id="jv_file" class="form-control input-sm upload" name="jv_file">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label class="control-label small">JV Detail</label>
                                            <input type="file" id="jv_d_file" class="form-control input-sm upload" name="jv_d_file">
                                        </div>
                                    </div>
                                </div>
                                <div class="price-footer">
                                    <button type="button" class="btn btn-info waves-effect waves-light" id="jv_upload">
                                        <i class="icon fa-cloud-upload font-16 margin-right-10" aria-hidden="true" style="vertical-align: middle"></i>
                                        Upload and Verify
                                    </button>
                                    <button type="button" disabled="disabled" class="btn btn-info" style="display: none;" id="jv_upload_loading">
                                        <i class="icon fa-spinner fa-spin font-16 margin-right-10" aria-hidden="true" style="vertical-align: middle"></i>
                                        VERIFYING ...
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br><br>
<div id="jv_step_upload">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-wrap">
                    <div class="form-group col-sm-12">
                        <div class="price-list margin-sm-0">
                            <div class="price-header">
                                <div class="price-title bg-teal-a400">STEP 2: DATA VALIDATION</div>
                                <div class="price-price teal-a400">
                                    <div class="col-md-12 table_result">
                                        <br>
                                        <table class="table table-condensed table-bordered small" id="jvdata_table">
                                            <thead>
                                                <tr>
                                                    <th>JV #</th>
                                                    <th>Date/Account Code</th>
                                                    <th colspan="2">Particulars/Department</th>
                                                    <th>Branch</th>
                                                    <th>Bank Account</th>
                                                    <th style="text-align: right;">Debit</th>
                                                    <th style="text-align: right; padding-right: 10px;">Credit</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody></table>
                                    </div>
                                    <div class="col-md-12">
                                        <br>
                                        <i class="small">** Total of <b id="upload_total"></b> items passed (<b id="upload_rate"></b>). **</i>
                                    </div>   
                                    <input type="hidden" id="jv_batchkey">
                                    <input type="hidden" id="jv_export_type">
                                </div>
                            </div>
                            <div class="price-footer">&nbsp;
                                <button type="button" class="btn btn-info waves-effect waves-light" id="jv_export">
                                    <i class="icon fa-database font-16 margin-right-10" aria-hidden="true" style="vertical-align: middle"></i>
                                    Import to Database
                                </button>
                                <button type="button" disabled="disabled" class="btn btn-sm btn-info" style="display: none" id="jv_export_loading">
                                    <i class="icon fa-spinner fa-spin font-16 margin-right-10" aria-hidden="true" style="vertical-align: middle"></i>
                                    IMPORTING ...
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br><br>
<div id="jv_step_final">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-wrap">
                    <div class="form-group col-sm-12">
                        <div class="price-list margin-sm-0">
                            <div class="price-header">
                                <div class="price-title bg-teal-a400">STEP 3: IMPORT SUMMARY</div>
                                <div class="price-price teal-a400">
                                    <div class="col-md-12 table_result">
                                        <table class="table table-condensed table-bordered small" id="jvdata_table2">
                                            <thead>
                                                <tr>
                                                    <th style="width:7%">JV #</th>
                                                    <th style="width:10%">Date<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>Account Code</small></th>
                                                    <th style="width:20%">Imported JV #<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>Account Title</small></th>
                                                    <th style="width:23%">Particulars<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>Department</small></th>
                                                    <th style="width:5%">Branch</th>
                                                    <th style="width:15%">Bank Account</th>
                                                    <th style="width:10%; text-align: right">Debit</th>
                                                    <th style="width:10%; text-align: right">Credit</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12">
                                        <br>
                                        <i class="small">** Total of <b id="upload_total2"></b> items passed (<b id="upload_rate2"></b>). **</i>
                                    </div>
                                </div>
                            </div>
                            <div class="price-footer">
                                <button type="button" class="btn btn-info waves-effect waves-light" onClick="window.location.reload();return false;">
                                    <i class="icon fa-refresh font-16 margin-right-10" aria-hidden="true" style="vertical-align: middle"></i>
                                    Reload page and upload more
                                </button>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br><br>
<div id="upload-success" class="custom-alert success">Upload successful!</div>
<div id="upload-success-2" class="custom-alert success">Importing successful!</div>
<div id="upload-error" class="custom-alert danger">File upload failed!</div>
<div id="upload-file-error" class="custom-alert danger">File/Invalid error!</div>
<div id="upload-file-large" class="custom-alert danger">File too large! (>3mb)</div>
<div id="upload-error-artype" class="custom-alert danger">Invalid AR Type</div>
{% endblock page-content %}
{% block extra_js %}
<script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
<script>
    $(function(){
        $('.select2').select2({});
        $(document).on('click', '#jv_upload', function(e){
            $('#jv_upload').fadeOut(300);
            $('#jv_export').fadeOut(300);
            $('#jv_step_upload').fadeOut(300);
            $('#jv_step_final').fadeOut(300);
            $('#jv_upload_loading').delay(300).fadeIn(300, function() {
                $("form#data").submit();
            });
        });

        $("form#data").submit(function(){
            if ($('#jv_file').get(0).files.length === 0
                    || $('#jv_d_file').get(0).files.length === 0
                    || $('#upload_type').val() == '') {
                customAlert($('#upload-file-error'));
                showUploadForm();
            }
            else{
                var formData = new FormData(this);

                $.ajax({
                    url: "{% url 'processing_jv:fileupload' %}",
                    type: 'POST',
                    data: formData,
                    async: false,
                    success: function (data) {
                        proceedinit = true;
                        switch(data['result']){
                            case 1:
                                customAlert($('#upload-success'));
                                $('#jv_step_upload').fadeIn();
                                $('#jv_export_loading').fadeOut(300);
                                $('#upload_total').text(data['successcount'] + " out of " + data['jvcount']);
                                $('#upload_rate').text(parseFloat(data['rate']).toFixed(2).toString() + "%");

                                $('#jvdata_table tbody').html('');
                                for(var i = 0; i < data['jvdata_list'].length; i++) {
                                    dataremarks = '';
                                    datahighlight = '';
                                    if(data['jvdata_list'][i][3] == 'F'){
                                        datahighlight = 'danger';
                                        dataremarks = "<tr class='"+datahighlight+"'><td colspan='7' align='center'><small><b>"+data['jvdata_list'][i][4]+"</b></small></td></tr>";
                                        proceedinit = false;
                                    }

                                    $('#jvdata_table tbody')
                                            .append(dataremarks +
                                                    "<tr class='"+datahighlight+"' data-main='"+data['jvdata_list'][i][0]+"'>" +
                                                        "<td><small>"+data['jvdata_list'][i][0]+"</td></small>" +
                                                        "<td><small>"+data['jvdata_list'][i][1]+"</td></small>" +
                                                        "<td colspan='2'><small>"+data['jvdata_list'][i][2]+"</td></small>" +
                                                        "<td colspan='4'></td>" +
                                                    "</tr>");
                                }
                                for(var i = 0; i < data['jvdata_d_total_list'].length; i++) {
                                    datahighlight = '';
                                    if($("[data-main='"+data['jvdata_d_total_list'][i][0]+"']").hasClass('danger')){
                                        datahighlight = 'danger';
                                    }
                                    $("[data-main='"+data['jvdata_d_total_list'][i][0]+"']")
                                        .after("<tr style='background-color: #ececec' class='"+datahighlight+"'>" +
                                                "<td class='table_detail' colspan='5'>&nbsp;</td>" +
                                                "<td class='table_detail' align='center'><small><b><i>TOTAL</td></i></b></small>" +
                                                "<td class='table_detail' align='right'><small><b><i>"+parseFloat(data['jvdata_d_total_list'][i][1]).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"</i></b></small></td>" +
                                                "<td class='table_detail' align='right' style='padding-right: 10px;'><small><b><i>"+parseFloat(data['jvdata_d_total_list'][i][2]).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"</i></b></small></td>" +
                                               "</tr>");
                                }

                                for(var i = 0; i < data['jvdata_d_list'].length; i++) {
                                    var datahighlight = '';
                                    var colspan = '';
                                    var remarkscolumn = '';
                                    if(data['jvdata_d_list'][i][5] == 'F' || $("[data-main='"+data['jvdata_d_list'][i][0]+"']").hasClass('danger')){
                                        datahighlight = 'danger';
                                    }
                                    if(!data['jvdata_d_list'][i][3]){
                                        var debitamount = '';
                                    }
                                    else{
                                        var debitamount = parseFloat(data['jvdata_d_list'][i][3]).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                    }
                                    if(!data['jvdata_d_list'][i][4]){
                                        var creditamount = '';
                                    }
                                    else{
                                        var creditamount = parseFloat(data['jvdata_d_list'][i][4]).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                    }
                                    if(data['jvdata_d_list'][i][8] == 'Passed'){
                                        colspan = "colspan='2'";
                                    }
                                    else {
                                        remarkscolumn = "<td class='table_detail' style='padding-left: 5px;'><small>"+data['jvdata_d_list'][i][8]+"</small></td>"
                                    }
                                    $("[data-main='"+data['jvdata_d_list'][i][0]+"']")
                                            .after("<tr style='background-color: #ececec' class='"+datahighlight+"'>" +
                                                    "<td class='table_detail'></td>" +
                                                    "<td class='table_detail' style='padding-left: 20px;'><small><b>"+data['jvdata_d_list'][i][1]+"</b></small></td>" +
                                                    "<td class='table_detail' style='padding-left: 20px;' "+ colspan +"><small>"+data['jvdata_d_list'][i][2]+"</small></td>" + remarkscolumn +
{#                                                    "<td class='table_detail' style='padding-left: 5px;'><small>"+importremarks+"</small></td>" +#}
                                                    "<td class='table_detail'><small>"+data['jvdata_d_list'][i][7]+"</small></td>" +
                                                    "<td class='table_detail'><small>"+data['jvdata_d_list'][i][6]+"</small></td>" +
                                                    "<td class='table_detail' align='right'><small>"+debitamount+"</small></td>" +
                                                    "<td class='table_detail' align='right' style='padding-right: 10px;'><small>"+creditamount+"</small></td>" +
                                                   "</tr>");
                                }

                                if(proceedinit){
                                    $('#jv_export').delay(300).fadeIn(300);
                                }

                                $('#jv_batchkey').val(data['batchkey']);
                                $('#jv_export_type').val(data['upload_type']);
                                $('#jv_step_verify').find('.price-title').removeClass('bg-teal-a400').addClass('bg-grey-600');
                                $('#jv_step_upload').find('.price-title').removeClass('bg-grey-600').addClass('bg-teal-a400');
                                $('html, body').delay(300).animate({scrollTop: $('#jv_step_upload').offset().top -80 }, 'slow');
                                break;
                            case 2:
                                customAlert($('#upload-error'));
                                break;
                            case 3:
                                customAlert($('#upload-file-error'));
                                break;
                            case 4:
                                customAlert($('#upload-file-large'));
                                break;
                            case 5:
                                customAlert($('#upload-file-error'));
                                break;
                            case 6:
                                customAlert($('#upload-error-artype'));
                                break;
                            default:
                        }
                        showUploadForm();
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }

            return false;
        });

        $('#jv_export').on('click', function(){
            // $('#jv_step_final').fadeOut(300);
            $('#jv_export').fadeOut(300);
            $('#jv_export_loading').delay(300).fadeIn(300);
            $.ajax({
                url: "{% url 'processing_jv:exportsave' %}",
                type: "post",
                data: {'batchkey': $('#jv_batchkey').val(),
                       'upload_type': $('#jv_export_type').val()},
                success: function(data){
                    switch(data['result']) {
                        case 1:
                            customAlert($('#upload-success-2'));
                            $('#jv_step_final').fadeIn(300);
                            $('#jv_export_loading').fadeOut(300);
                            $('#upload_total2').text(data['successcount'] + " out of " + data['totalcount']);
                            $('#upload_rate2').text(parseFloat(data['rate']).toFixed(2).toString() + "%");

                            $('#jvdata_table2 tbody').html('');
                            for (var i = 0; i < data['jvdata_list'].length; i++) {
                                datahighlight = '';
                                if (data['jvdata_list'][i][4] == 'F') {
                                    datahighlight = 'danger';
                                }

{#                                temp_product = '';#}
{#                                if(data['ordata_list'][i][4] !== null){#}
{#                                    temp_product = data['ordata_list'][i][4]#}
{#                                }#}

                                $('#jvdata_table2 tbody')
                                        .append("<tr class='" + datahighlight + "' data-mainlive='" + data['jvdata_list'][i][0] + "'>" +
                                        "<td><small><b>" + data['jvdata_list'][i][0] + "</b></small></td>" +
                                        "<td><small>" + data['jvdata_list'][i][1] + "</small></td>" +
                                        "<td><small>" + data['jvdata_list'][i][2] + "</small></td>" +
                                        "<td><small>" + data['jvdata_list'][i][3] + "</small></td>" +
                                        "<td colspan='4'></td>" +
                                        "</tr>");
                            }

                            for(var i = 0; i < data['jvdata_d_total_list'].length; i++) {
                                $("[data-mainlive='"+data['jvdata_d_total_list'][i][0]+"']")
                                    .after("<tr style='background-color: #ececec'>" +
                                            "<td class='table_detail' colspan='5'>&nbsp;</td>" +
                                            "<td class='table_detail' align='center'><small><b><i>TOTAL</td></i></b></small>" +
                                            "<td class='table_detail' align='right'><small><b><i>"+parseFloat(data['jvdata_d_total_list'][i][1]).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"</i></b></small></td>" +
                                            "<td class='table_detail' align='right'><small><b><i>"+parseFloat(data['jvdata_d_total_list'][i][2]).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"</i></b></small></td>" +
                                           "</tr>");
                            }

                            for (var i = 0; i < data['jvdata_d_list'].length; i++) {
                                extra_department = '';
                                extra_branch = '';
                                extra_bankaccount = '';
                                extra_debit = '';
                                extra_credit = '';
                                if(data['jvdata_d_list'][i][3] != ''){
                                    extra_department = '[' + data['jvdata_d_list'][i][3] + '] ' + data['jvdata_d_list'][i][4];
                                }
                                if(data['jvdata_d_list'][i][12] != ''){
                                    extra_branch = data['jvdata_d_list'][i][12];
                                }
                                if(data['jvdata_d_list'][i][8] != ''){
                                    extra_bankaccount = '[' + data['jvdata_d_list'][i][8] + '] ' + data['jvdata_d_list'][i][9] + ', ' + data['jvdata_d_list'][i][10] + ', ' + data['jvdata_d_list'][i][11];
                                }
                                if(data['jvdata_d_list'][i][5] != 0.00){
                                    extra_debit = data['jvdata_d_list'][i][5].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                }
                                if(data['jvdata_d_list'][i][6] != 0.00){
                                    extra_credit = data['jvdata_d_list'][i][6].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                }

                                if (data['jvdata_d_list'][i][7] == 'F') {
                                    datahighlight = 'danger';
                                }
                                $("[data-mainlive='" + data['jvdata_d_list'][i][0] + "']")
                                        .after("<tr style='background-color: #ececec;'>" +
                                        "<td class='table_detail'></td>" +
                                        "<td class='table_detail' style='padding-left: 20px;'><b><small>" + data['jvdata_d_list'][i][1] + "</small></b></td>" +
                                        "<td class='table_detail' style='padding-left: 20px;'><small>" + data['jvdata_d_list'][i][2] + "</small></td>" +
                                        "<td class='table_detail' style='padding-left: 20px;'><small>" + extra_department + "</small></td>" +
                                        "<td class='table_detail'><small>" + extra_branch + "</small></td>" +
                                        "<td class='table_detail'><small>" + extra_bankaccount + "</small></td>" +
                                        "<td class='table_detail' align='right'><small>" + extra_debit + "</small></td>" +
                                        "<td class='table_detail' align='right'><small>" + extra_credit + "</small></td>" +
                                        "</tr>")
                            }
                            $('#jv_step_upload').find('.price-title').removeClass('bg-teal-a400').addClass('bg-grey-600');
                            $('html, body').delay(300).animate({scrollTop: $('#jv_step_final').offset().top -80 }, 'slow');
                            break;
                        case 2:
                            customAlert($('#upload-error'));
                            break;
                        default:
                    }

                }, error: function(response) {
                    console.debug(response);
                }
            });
        });

        function showUploadForm(){
            $('#jv_upload_loading').fadeOut(300);
            $('#jv_upload').delay(300).fadeIn(300);
        }
    });
</script>
{% endblock extra_js %}