{% extends 'base-form.html' %}
{% load staticfiles %}
{% load humanize %}
{% block page-title %} Operational Fund {% endblock page-title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/css/dashboard/dashboard.css' %}" />
    <style>
        .text-name-profile.text-info {
            width: 30%;
        }
        .detail-profile {
            width: 50%;
        }
        .heading-top-index-2 {
            padding-right: 20px;
            padding-left: 20px;
        }
        .vattable td {
            text-align: right;

        }
        .vattable td:first-child {
            width: 170px;
            padding-right: 20px;
        }
        .vattable td input {
            width: 100px;
            text-align: right;
        }
        .widgett {
            margin-bottom: 10px;
        }
        .badge{
            margin-top: 3px;
            color: transparent;
            text-shadow: none;
            padding: 3px 5px 3px;
        }
        .rotate-icon{
            display: inline-block;
        }
        li.active
        {
            font-size: 12px;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="page-content container-fluid page">
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-9">
                <!-- Start Profile Tab Section -->
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <div class="pull-right">
    {#                    <a href="{% url 'canvasssheet:pdf' object.id %}" target="_blank"><button type="button" id="get_pdf" class="btn btn-info btn-sm waves-effect waves-light get_report">#}
    {#                        <i class="icon fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Print#}
    {#                    </button></a>#}
                    </div>
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Main Details</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body small">
                                    <!-- <h4 class="list-title">Personal Information</h4> -->
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-80"><b>Number</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span><b>{{ object.ofnum }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1 margin-right-60"><b>Date</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>{{ object.ofdate|date:'Y-m-d' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-80"><b>Requested&nbsp;Amount</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>{{ object.amount|floatformat:2|intcomma }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1 margin-right-60"><b>Type</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>{{ object.oftype.description|default:'N/A' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-80"><b>Approved&nbsp;Amount</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>{{ object.approvedamount|floatformat:2|intcomma }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1 margin-right-60"><b>Ref.&nbsp;No.</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>{{ object.refnum|default:'N/A' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="first-name-profile">
                                                <br>
                                                <span class="text-info row col-md-1" style="margin-right: 78px;"><b>Employee</b></span>
                                                <span class="text-info row col-md-1" style="margin-right: 15px;"><b>: </b></span>
                                                <span><b>{{ object.requestor_name }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1" style="margin-right: 78px;"><b>Department</b></span>
                                                <span class="text-info row col-md-1" style="margin-right: 15px;"><b>: </b></span>
                                                <span><b>{{ object.department_name }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1" style="margin-right: 78px;"><b>Particulars</b></span>
                                                <span class="text-info row col-md-1" style="margin-right: 15px;"><b>: </b></span>
                                                <span><b>{{ object.particulars }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1" style="margin-right: 78px;"><b>Branch</b></span>
                                                <span class="text-info row col-md-1" style="margin-right: 15px;"><b>: </b></span>
                                                <span><b>{{ object.branch.description }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1" style="margin-right: 78px;"><b>Credit&nbsp;Terms</b></span>
                                                <span class="text-info row col-md-1" style="margin-right: 15px;"><b>: </b></span>
                                                <span><b>{{ object.creditterm.description|default:'N/A' }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <br>
                                                <span class="text-info row col-md-2 margin-right-80"><b>OF&nbsp;Status</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span class="{% if object.ofstatus == 'F' %} text-primary
                                                             {% elif object.ofstatus == 'A' or object.ofstatus == 'R' %} text-success
                                                             {% elif object.ofstatus == 'D' %} text-danger
                                                             {% endif %}"><b>{{ object.get_ofstatus_display }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <br>
                                                <span class="text-info row col-md-1 margin-right-60"><b>Approver</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>
                                                    {% if object.actualapprover %}
                                                        {{ object.actualapprover.first_name }}&nbsp;{{ object.actualapprover.last_name }}
                                                    {% else %}
                                                        {{ object.designatedapprover.first_name }}&nbsp;{{ object.designatedapprover.last_name }}
                                                    {% endif %}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-80"><b>{% if object.approverresponse == 'D' %}Disapproval{% else %}Approval{% endif %}&nbsp;Date</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>{{ object.responsedate|date:'Y-m-d'|default:'N/A' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1 margin-right-60"><b>Remarks</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>{{ object.remarks|default:'N/A' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-80"><b>Release&nbsp;Date</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>{{ object.releasedate|date:'Y-m-d'|default:'N/A' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-1 margin-right-60"><b>Recipient</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span>
                                                    {% if object.paymentreceivedby %}
                                                        {{ object.paymentreceivedby.firstname }}&nbsp;{{ object.paymentreceivedby.lastname }}
                                                    {% else %}N/A
                                                    {% endif %}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-80"><b>Status</b></span>
                                                <span class="text-info row col-md-3"><b>: </b></span>
                                                <span class="{% if object.status == 'A' %} text-success
                                                             {% else %} text-danger
                                                             {% endif %}"><b>{{ object.get_status_display }}</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-3">
                <div class="col-md-12">
                    <div class="nav-tabs nav-tabs-animate border-profile">
                        <ul class="nav nav-tabs nav-profile">
                            <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Replenishment</a></li>
                        </ul>
                        <div class="tab-content padding-top-0">
                            <div class="tab-pane active" id="profiles" role="tabpanel">
                                <div class="panel top-profile skill-profile margin-bottom-25">
                                            <div class="panel-body small">
                                        {% if object.oftype.code == 'PCV' %}
                                            <div class="master-degree">
                                                <span class="degree-name text-info">PCV&nbsp;Replenishment:</span>
                                                {% if object.reppcvmain %}
                                                    <div class="univer-profile">{{ object.reppcvmain.reppcvnum }}, {{ object.reppcvmain.reppcvdate|date:'Y-m-d' }}</div>
                                                {% else %}<div class="univer-profile">N/A</div>
                                                {% endif %}
                                            </div>
                                            <div class="master-degree">
                                                <span class="degree-name text-info">Check&nbsp;Voucher:</span>
                                                {% if object.cvmain %}
                                                <div class="univer-profile">{{ object.cvmain.cvnum }}, {{ object.cvmain.cvdate|date:'Y-m-d' }}</div>
                                                {% else %}<div class="univer-profile">N/A</div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {% if object.oftype.code == 'RFV' %}
                                            <div class="master-degree">
                                                <span class="degree-name text-info">RFV&nbsp;Replenishment:</span>
                                                {% if object.reprfvmain %}
                                                <div class="univer-profile">{{ object.reprfvmain.reprfvnum }}, {{ object.reprfvmain.reprfvdate|date:'Y-m-d' }}</div>
                                                {% else %}<div class="univer-profile">N/A</div>
                                                {% endif %}
                                            </div>
                                            <div class="master-degree">
                                                <span class="degree-name text-info">AP&nbsp;Voucher:</span>
                                                {% if object.apmain %}
                                                <div class="univer-profile">{{ object.apmain.apnum }}, {{ object.apmain.apdate|date:'Y-m-d' }}</div>
                                                {% else %}<div class="univer-profile">N/A</div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {% if object.oftype.code == 'CSV' %}
                                            <div class="master-degree">
                                                <span class="degree-name text-info">Journal&nbsp;Voucher:</span>
                                                {% if object.jvmain %}
                                                <div class="univer-profile">{{ object.jvmain.jvnum }}, {{ object.jvmain.jvdate|date:'Y-m-d' }}</div>
                                                {% else %}<div class="univer-profile">N/A</div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Item Details</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel">
                                <div class="panel-body">
                                    <h4>
                                        Request Details
                                        <div class="pull-right" style="margin-right: 23px;">

                                            <small>For Approval&nbsp;&nbsp;</small> <span class="badge badge-radius badge-default">1</span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <small>Approved&nbsp;&nbsp;</small> <span class="badge badge-radius badge-success">1</span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <small>Disapproved&nbsp;&nbsp;</small> <span class="badge badge-radius badge-danger">1</span>
                                        </div>
                                    </h4>

                                    <br>
                                    <table class="table item_table">
                                        <thead>
                                        <tr>
                                            <th>
                                                <div class="form-group col-sm-1 margin-bottom-0"></div>
                                                <div class="form-group col-sm-3 margin-bottom-0">OF Subtype</div>
                                                <div class="form-group col-sm-4 margin-bottom-0">Payee</div>
                                                <div class="form-group col-sm-2 margin-bottom-0" style="text-align: right">Amount</div>
                                                <div class="form-group col-sm-1 margin-bottom-0" style="text-align:right"></div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="small">
                                            {% for itemtemp in itemtemp %}
                                                <tr>
                                                    <td>
                                                        <div class="form-group col-sm-1 margin-bottom-0 item_counter">{{ itemtemp.item_counter }}</div>
                                                        <div class="form-group col-sm-3 margin-bottom-0">{{ itemtemp.ofsubtype.description }}</div>
                                                        <div class="form-group col-sm-4 margin-bottom-0">{% if itemtemp.supplier_name %}{{ itemtemp.supplier_name|upper }}{% else %}{{ itemtemp.payee_name|upper }}{% endif %}</div>
                                                        <div class="form-group col-sm-2 margin-bottom-0" style="text-align: right">{{ itemtemp.amount|floatformat:2|intcomma }}</div>
                                                        <div class="form-group col-sm-2 margin-bottom-0">
                                                            <div class="rotate-icon rotate-up">
                                                                <a href="#_" style="font-size: 25px;vertical-align: top;" class="expand-fields"><i class="icon fa-sort-down" aria-hidden="true"></i></a>
                                                            </div>
                                                            <span class="pull-right badge badge-radius badge-{% if itemtemp.ofitemstatus == 'F' %}default{% elif itemtemp.ofitemstatus == 'A' %}success{% else %}danger{% endif %}">1</span>
                                                        </div>
                                                        <div class="extra-fields row col-sm-12">
                                                            <div class="form-group col-sm-1"></div>
                                                            <div class="form-group col-sm-10" style="height: 1px;"><hr></div>
                                                            <div class="form-group col-sm-1"></div>
                                                            <div class="form-group col-sm-12"></div>
                                                            <div class="form-group col-sm-1"></div>
                                                            <div class="form-group col-sm-10 padding-left-0">
                                                                <div class="form-group col-sm-4">
                                                                    <label class="control-label"><small>VAT</small></label><br>
                                                                    [{{ itemtemp.vat.code|default:' N/A ' }}] {{ itemtemp.vat.description }}
                                                                </div>
                                                                <div class="form-group col-sm-4">
                                                                    <label class="control-label"><small>ATAX Code</small></label><br>
                                                                    {{ itemtemp.atc.code|default:' N/A ' }}
                                                                </div>
                                                                <div class="form-group col-sm-4">
                                                                    <label class="control-label"><small>Input VAT Type</small></label><br>
                                                                    {{ itemtemp.inputvattype.description|default:' N/A ' }}
                                                                </div>
                                                                <div class="form-group col-sm-4">
                                                                    <label class="control-label"><small>Deferred VAT</small></label><br>
                                                                    {{ itemtemp.get_deferredvat_display|default:' N/A ' }}
                                                                </div>
                                                                <div class="form-group col-sm-4" style="display: none">
                                                                    <label class="control-label"><small>Currency</small></label><br>
                                                                    [{{ itemtemp.currency.symbol }}]&nbsp;&nbsp;&nbsp;{{ itemtemp.currency.description }}
                                                                </div>
                                                                <div class="form-group col-sm-4" style="display: none">
                                                                    <label class="control-label"><small>FX Rate</small></label><br>
                                                                    {{ itemtemp.fxrate }}
                                                                </div>
                                                                {% if itemtemp.oftype.code == 'CSV' %}
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label"><small>Period From</small></label><br>
                                                                        {{ itemtemp.periodfrom|date:'Y-m-d'|default:' N/A ' }}
                                                                    </div>
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label"><small>Period To</small></label><br>
                                                                        {{ itemtemp.periodto|date:'Y-m-d'|default:' N/A ' }}
                                                                    </div>
                                                                {% endif %}
                                                                <div class="form-group col-sm-4">
                                                                    <label class="control-label"><small>Particulars</small></label><br>
                                                                    <code>{{ itemtemp.particulars }}</code>
                                                                </div>
                                                                <div class="form-group col-sm-4">
                                                                    <label class="control-label"><small>Cashier Remarks</small></label><br>
                                                                    <code>{{ itemtemp.remarks|default:' N/A ' }}</code>
                                                                </div>
                                                                {% if itemtemp.vatrate > 0 %}
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label"><small>Payee TIN</small></label><br>
                                                                        {{ itemtemp.tin|default:' N/A ' }}
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "acctentry/datatabledetail.html" %}
        <div class="row col-md-3">
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Activity Log</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body small">
                                    <div class="master-degree">
                                        <span class="degree-name text-info">Created&nbsp;By:</span>
                                        <div class="univer-profile">{{ object.enterby }}</div>
                                        <div class="univer-profile">{{ object.enterdate }}</div>
                                    </div>
                                    <div class="master-degree">
                                        <span class="degree-name text-info">Modified&nbsp;By:</span>
                                        <div class="univer-profile">{{ object.modifyby }}</div>
                                        <div class="univer-profile">{{ object.modifydate }}</div>
                                    </div>
                                    <div class="master-degree">
                                        <div class="iconlist">
                                            {% if perms.operationalfund.change_ofmain and object.isdeleted == 0 and object.ofstatus != 'F' and object.ofstatus != 'D' and perms.operationalfund.is_cashier %}
                                                <a href="{% url 'operationalfund:cashierupdate' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                                    <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                                                        <i class="icon_pencil" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                            {% elif perms.operationalfund.change_ofmain and object.isdeleted == 0 and object.ofstatus != 'A' and object.ofstatus != 'I' and object.ofstatus != 'R' %}
                                                <a href="{% url 'operationalfund:userupdate' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                                    <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                                                        <i class="icon_pencil" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                            {% if perms.operationalfund.delete_ofmain and object.ofstatus == 'F' and object.isdeleted == 0 and object.status == 'A' %}
                                                <a href="{% url 'operationalfund:delete' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Cancel" title="" aria-describedby="tooltip850155">
                                                    <button type="button" class="btn btn-floating btn-danger btn-sm waves-effect waves-float waves-light">
                                                        <i class="icon_trash" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/custom-maskMoney.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            collapseFields();
            initMaskMoney('amount');

            var i = 0;

            /** Show other fields **/
            $(document).on('click', '.expand-fields', function(){
                $(this).parent().parent().parent().find('.extra-fields').slideToggle(500);
                if($(this).parent().hasClass('rotate-down')){
                    $(this).parent().removeClass('rotate-down').addClass('rotate-up')
                }
                else{
                    $(this).parent().removeClass('rotate-up').addClass('rotate-down')
                }
            });

            function itemRecount(){
                var item_count = 1;
                $('.item_counter').each(function(){
                    $(this).html(item_count);
                    item_count++;
                })
            }

            function collapseFields(){
                $('.rotate-icon').removeClass('rotate-up').addClass('rotate-down');

                var transTime = 400;
                $('.extra-fields').each(function(){
                    $(this).slideUp(transTime);
                    /* transTime = transTime + 200; */
                });


            }

            function computeTotalAmount(){
                var totalAmount = 0;
                $('.item_save').each(function(){
                    if($(this).parent().parent().find('.input-amount').val() && !$(this).closest('tr').hasClass('warning')){
                        totalAmount += parseFloat($(this).parent().parent().find('.input-amount').val().replace( /,/g, ""));
                    }
                });
                $('#totalamount').text(totalAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });
    </script>
{% endblock extra_js %}