{% load endless %}
{% load humanize %}
{% paginate data_list %}
<div class="table-responsive">
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th><span>ID</span></th>
            <th><span>Number</span></th>
            <th><span>Date</span></th>
            <th class="text-right"><span>Amount</span></th>
            <th><span>OF Status</span></th>
            {% if perms.operationalfund.approve_assignedof or perms.operationalfund.approve_allof %}
                {% if forapproval > 0 or perms.operationalfund.approve_allof %}
                    {% if canbeapproved > 0 %}
                        <th class="text-center"><span>Approval</span></th>
                    {% endif %}
                {% endif %}
            {% endif %}
            <th class="text-center"><span>Action</span></th>
        </tr>
    </thead>
    <tbody>
        {% for data in data_list %}
        <tr>
            <td>{{ data.id }}</td>
            <td>OF-{{ data.oftype.code }}-{{ data.ofnum }}</td>
            <td>{{ data.ofdate|date:"Y-m-d" }}</td>
            <td style="text-align: right;">{{ data.amount|floatformat:2|intcomma }}</td>
            <td class="tdOfStatus
                    {% if data.ofstatus == 'A' %} text-success
                    {% elif data.ofstatus == 'D' %} text-danger
                    {% elif data.ofstatus == 'F' %} text-info
                    {% elif data.ofstatus == 'R' %} text-success
                    {% endif %}">
                <b>{{ data.get_ofstatus_display }}</b>
            </td>
            {% if perms.operationalfund.approve_assignedof or perms.operationalfund.approve_allof %}
                {% if forapproval > 0 or perms.operationalfund.approve_allof %}
                    {% if canbeapproved > 0 %}
                        <td style="width: 100px;">
                            <div class="text-center">
                                {% if perms.operationalfund.approve_allof or data.designatedapprover.username == user.get_username %}
                                    <button class="btn btns-icon btn-success btn-round waves-effect waves-light btn-approve"
                                        data-ofid={{ data.id }} data-response="A" data-toggle="tooltip" data-placement="left"
                                        data-trigger="hover" data-original-title="Click to Approve" aria-describedby="tooltip850155">
                                        <i class="icon fa-check" aria-hidden="true"></i></button>
                                    <button class="btn btns-icon btn-danger btn-round waves-effect waves-light btn-disapprove"
                                        data-ofid={{ data.id }} data-response="D" data-toggle="tooltip" data-placement="right"
                                        data-trigger="hover" data-original-title="Click to Disapprove" aria-describedby="tooltip850155">
                                        <i class="icon fa-remove" aria-hidden="true"></i></button>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                {% endif %}
{#              <td style="width: 100px;">#}
{#                  <div class="text-center">#}
{#                      {% if perms.operationalfund.approve_allof or data.designatedapprover.username == user.get_username %}#}
{#                          <button class="btn btns-icon btn-success btn-round waves-effect waves-light btn-approve"#}
{#                              data-ofid={{ data.id }} data-response="A" data-toggle="tooltip" data-placement="left"#}
{#                              data-trigger="hover" data-original-title="Click to Approve" aria-describedby="tooltip850155">#}
{#                              <i class="icon fa-check" aria-hidden="true"></i></button>#}
{#                          <button class="btn btns-icon btn-danger btn-round waves-effect waves-light btn-disapprove"#}
{#                              data-ofid={{ data.id }} data-response="D" data-toggle="tooltip" data-placement="right"#}
{#                              data-trigger="hover" data-original-title="Click to Disapprove" aria-describedby="tooltip850155">#}
{#                              <i class="icon fa-remove" aria-hidden="true"></i></button>#}
{#                      {% endif %}#}
{#                  </div>#}
{#              </td>#}
                {% endif %}
                <td style="width: 115px; padding-left: 13px" class="action-btns-container">
                    <div class="iconlist-wrap auto-0">
                        <div class="iconlist" style="text-align: left">
                        <a href="{% url 'operationalfund:detail' data.pk %}" class="btnDetail" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to View" title="" aria-describedby="tooltip850155">
                            <i class="icon md-view-list" aria-hidden="true">&nbsp;&nbsp;</i>
                        </a>
                        {% if perms.operationalfund.change_ofmain and data.isdeleted == 0 and perms.operationalfund.is_cashier %}
{#                            {% if data.ofstatus == 'F' or data.ofstatus == 'D' %}#}
                                <a href="{% url 'operationalfund:userupdate' data.pk %}" style="display: none;" class="btnUpdate userUpdate" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
{#                            {% else %}#}
                                <a href="{% url 'operationalfund:cashierupdate' data.pk %}" style="display: none;" class="btnUpdate cashierUpdate" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
{#                            {% endif %}#}
                        {% elif perms.operationalfund.change_ofmain and data.isdeleted == 0 and not perms.operationalfund.is_cashier %}
                        <a href="{% url 'operationalfund:userupdate' data.pk %}" class="btnUpdate userUpdate_user" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                            <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                        </a>
                        {% endif %}
                        {% if perms.operationalfund.delete_ofmain and data.isdeleted == 0 and data.status == 'A' and data.ofstatus == 'F' %}
                        <a href="{% url 'operationalfund:delete' data.pk %}" class="btnDelete" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Cancel" title="" aria-describedby="tooltip850155">
                            <i class="icon md-delete" aria-hidden="true">&nbsp;&nbsp;</i>
                        </a>
                        {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination pull-right">{% show_pages %}</div>
</div>
<!-- required -->
<a href="/{{ request.resolver_match.app_name }}/?page=1" rel="page" class="endless_page_link" id="dummy" style="display: none;">1</a>
<script>
    $(function () {
        $('.shade').remove();
        $('.panel').prepend('<div class="shade"><div class="loader two-color"></div></div>');
        $('#searchFilter').val(getCookie('keysearch_{{ request.resolver_match.app_name }}'));
        $('.endless_page_link').on('click', function () {
            $('.shade').fadeIn();
        });

        $('.btn-approve').each(function() {
            if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Approved"){
                $(this).hide();
                $(this).parent().siblings('.btn-disapprove').show();
                $(this).parent().parent().siblings('.action-btns-container').find('.userUpdate').hide();
                $(this).parent().parent().siblings('.action-btns-container').find('.cashierUpdate').show();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Disapproved"){
                $(this).show();
                $(this).parent().siblings('.btn-approve').hide();
                $(this).parent().parent().siblings('.action-btns-container').find('.userUpdate').show();
                $(this).parent().parent().siblings('.action-btns-container').find('.cashierUpdate').hide();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "For Approval"){
                $(this).parent().parent().siblings('.action-btns-container').find('.userUpdate').show();
                $(this).parent().parent().siblings('.action-btns-container').find('.cashierUpdate').hide();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "In Process" ||
                    $(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "RELEASED"){
                $(this).hide();
                $(this).parent().siblings('.btn-disapprove').hide();
                $(this).parent().parent().siblings('.action-btns-container').find('.userUpdate').hide();
                $(this).parent().parent().siblings('.action-btns-container').find('.cashierUpdate').show();
            }
        });
        $('.btn-disapprove').each(function() {
            if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Approved"){
                $(this).show();
                $(this).parent().siblings('.btn-disapprove').hide();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Disapproved"){
                $(this).hide();
                $(this).parent().siblings('.btn-approve').show();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "In Process" ||
                    $(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "RELEASED"){
                $(this).hide();
                $(this).parent().siblings('.btn-approve').hide();
            }
        });
        $('.btn-approve, .btn-disapprove').on('click', function(){
            if (confirm('Are you sure?')) {
                var btnResponse = $(this);
                $.ajax({
                    url: "{% url 'operationalfund:approve' %}",
                    type: "post",
                    data: {'ofid': $(this).data('ofid'),
                        'response': $(this).data('response')},
                    success: function(response) {
                        alert("OF #" + response.ofnum + " is now " + response.newofstatus.toUpperCase() + ".");
                        switch(response.newofstatus){
                            case 'Approved':
                                statusClass = "text-success";
                                break;
                            case 'Disapproved':
                                statusClass = "text-danger";
                                break;
                            default:
                                statusClass = "text-info";
                        }
                        btnResponse.parent().parent()
                                .siblings('.tdOfStatus')
                                .html("<b>" + response.newofstatus + "</b>")
                                .attr('class','')
                                .addClass('tdOfStatus')
                                .addClass(statusClass);
                        btnResponse.hide();
                        if(response.newofstatus == "Approved"){
                            btnResponse.siblings('.btn-disapprove').show();
                            if($('#user_role').val() == 'C'){
                                btnResponse.parent().parent().siblings('.action-btns-container').find('.userUpdate').hide();
                                btnResponse.parent().parent().siblings('.action-btns-container').find('.cashierUpdate').show();
                            }
                        }
                        else if(response.newofstatus == "Disapproved"){
                            btnResponse.siblings('.btn-approve').show();
                            if($('#user_role').val() == 'C'){
                                btnResponse.parent().parent().siblings('.action-btns-container').find('.userUpdate').show();
                                btnResponse.parent().parent().siblings('.action-btns-container').find('.cashierUpdate').hide();
                            }
                        }
                        btnResponse.parent().parent().siblings('.action-btns-container').find('.btnDelete').hide();
                    },
                    error: function(response) {
                        console.debug(response);
                    }
                });
            }
        });
    });
</script>
