{% load endless %}
{% load humanize %}
{% paginate data_list %}
<div class="table-responsive">
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th><span>ID</span></th>
            <th><span>Number</span></th>
            <th><span>Date</span></th>
            <th><span>OF Type</span></th>
            <th class="text-right"><span>Amount</span></th>
            <th><span>Approver</span></th>
            <th><span>Created by</span></th>
            <th><span>OF Status</span></th>
            {% if user_employee != None %}
                {% if perms.operationalfund.approve_assignedof or perms.operationalfund.approve_allof %}
                    {% if forapproval > 0 or perms.operationalfund.approve_allof %}
    {#                    {% if canbeapproved > 0 %}#}
                            <th class="text-center"><span>Approval</span></th>
    {#                    {% endif %}#}
                    {% endif %}
                {% endif %}
            {% endif %}
            <th class="text-center"><span>Action</span></th>
        </tr>
    </thead>
    <tbody>

        {% for data in data_list %}
        <tr>
            <td>{{ data.id }}</td>
            <td>OF-{{ data.oftype.code }}-{{ data.ofnum }}</td>
            <td>{{ data.ofdate|date:"Y-m-d" }}</td>
            <td>{{ data.oftype.description }}</td>
            <td style="text-align: right;">{{ data.amount|floatformat:2|intcomma }}</td>
            <td>{% if data.actualapprover %}{{ data.actualapprover.firstname }}&nbsp;{{ data.actualapprover.lastname }}{% else %}{{ data.designatedapprover.firstname }}&nbsp;{{ data.designatedapprover.lastname }}{% endif %}</td>
            <td>{{ data.enterby }}</td>
            <td class="tdOfStatus
                    {% if data.ofstatus == 'A' %} text-success
                    {% elif data.ofstatus == 'D' %} text-danger
                    {% elif data.ofstatus == 'C' %} text-danger
                    {% elif data.ofstatus == 'F' or data.hrstatus == 'F' %} text-info
                    {% elif data.ofstatus == 'H' %} text-info
                    {% elif data.ofstatus == 'R' %} text-success
                    {% endif %}">
                {% if data.oftype_id == 8 %}
                    {% if data.hrstatus == 'F' %}
                        {% if data.ofstatus == 'F' %}
                            {{ data.get_ofstatus_display }}
                        {% else %}
                        <span class="text-info">HR Review</span>
                        {% endif %}
                    {% elif data.hrstatus == 'A' %}
                    <span class="text-success">HR Approved</span>
                    {% elif data.hrstatus == 'D' %}
                    <span class="text-danger">HR Disapproved</span>
                    {% endif %}

                {% elif data.oftype_id == 9 or data.oftype_id == 10 %}
                    {% if data.nurse_approved == 'F' and data.hrstatus == 'F' %}
                        For Nurse Review
                    {% else %}
                        {% if data.hrstatus == 'F' %}
                            {% if data.ofstatus == 'F' %}
                                {{ data.get_ofstatus_display }}
                            {% else %}
                            <span class="text-info">HR Review</span>
                            {% endif %}
                        {% elif data.hrstatus == 'A' %}
                        <span class="text-success">HR Approved</span>
                        {% elif data.hrstatus == 'D' %}
                        <span class="text-danger">HR Disapproved</span>
                        {% endif %}
                    {% endif %}
                 {% else %}
                <b>{{ data.get_ofstatus_display }}</b>
                <br> {{ data.designatedapprover.firstname|first }}{{ data.designatedapprover.lastname }}
                {% endif %}
            </td>

            {% if user_employee != None %}
                {% if perms.operationalfund.approve_assignedof or perms.operationalfund.approve_allof %}
                    {% if forapproval > 0 or perms.operationalfund.approve_allof %}
    {#                    {% if canbeapproved > 0 %}#}
                            <td style="width: 100px;">
                                {% if data.status  == 'C' %}
                                <b class="text-danger">{{ data.get_status_display }}</b>
                                {% else %}
                                <div class="text-center">
                                    {% if perms.operationalfund.approve_allof or data.designatedapprover == user_employee or user_employee.of_approver == 3 %}

                                        {% if data.ofstatus == 'A' and user_employee.of_approver == 1 and data.actualapprover != user_employee  %}

                                        {% elif data.hrstatus == 'A' or data.hrstatus == 'D' %}

                                        {% else %}

                                            {% if data.oftype_id == 8 or data.oftype_id == 9 or data.oftype_id == 10 %}

                                            {% else %}

                                        <button class="btn btns-icon btn-success btn-round waves-effect waves-light btn-approve"
                                            data-ofid={{ data.id }} data-response="A" data-toggle="tooltip" data-placement="left"
                                            data-trigger="hover" data-original-title="Click to Approve" aria-describedby="tooltip850155">
                                            <i class="icon fa-check" aria-hidden="true"></i></button>
                                        <button class="btn btns-icon btn-danger btn-round waves-effect waves-light btn-disapprove"
                                            data-ofid={{ data.id }} data-response="D" data-toggle="tooltip" data-placement="right"
                                            data-trigger="hover" data-original-title="Click to Disapprove" aria-describedby="tooltip850155">
                                            <i class="icon fa-remove" aria-hidden="true"></i></button>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {% endif %}
                            </td>
    {#                    {% endif %}#}
                    {% endif %}
                {% endif %}
{#              <td style="width: 100px;">#}
{#                  <div class="text-center">#}
{#                      {% if perms.operationalfund.approve_allof or data.designatedapprover.username == user.get_username %}#}
{#                          <button class="btn btns-icon btn-success btn-round waves-effect waves-light btn-approve"#}
{#                              data-ofid={{ data.id }} data-response="A" data-toggle="tooltip" data-placement="left"#}
{#                              data-trigger="hover" data-original-title="Click to Approve" aria-describedby="tooltip850155">#}
{#                              <i class="icon fa-check" aria-hidden="true"></i></button>#}
{#                          <button class="btn btns-icon btn-danger btn-round waves-effect waves-light btn-disapprove"#}
{#                              data-ofid={{ data.id }} data-response="D" data-toggle="tooltip" data-placement="right"#}
{#                              data-trigger="hover" data-original-title="Click to Disapprove" aria-describedby="tooltip850155">#}
{#                              <i class="icon fa-remove" aria-hidden="true"></i></button>#}
{#                      {% endif %}#}
{#                  </div>#}
{#              </td>#}
            {% endif %}
                <td style="width: 115px; padding-left: 13px" class="action-btns-container">

                    <div class="iconlist-wrap auto-0">
                        <div class="iconlist" style="text-align: left">
                        <a href="{% url 'operationalfund:detail' data.pk %}" class="btnDetail" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to View" title="" aria-describedby="tooltip850155">
                            <i class="icon md-view-list" aria-hidden="true">&nbsp;&nbsp;</i>
                        </a>
                        {% if perms.operationalfund.change_ofmain and data.isdeleted == 0 and perms.operationalfund.is_cashier %}
                            {% if data.enterby.username == user %}
                                <a href="{% url 'operationalfund:userupdate' data.pk %}" style="display: none;" class="btnUpdate userUpdate" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
                            {% endif %}
{#                            {% else %}#}
                                <a href="{% url 'operationalfund:cashierupdate' data.pk %}" style="display: none;" class="btnUpdate cashierUpdate" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
{#                            {% endif %}#}
                        {% elif perms.operationalfund.change_ofmain and data.isdeleted == 0 and not perms.operationalfund.is_cashier %}
                            {% if data.enterby.username == user %}
                                <a href="{% url 'operationalfund:userupdate' data.pk %}" class="btnUpdate userUpdate_user" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if perms.operationalfund.delete_ofmain and data.isdeleted == 0 and data.status == 'A' and data.ofstatus == 'F' %}
                            {% if data.enterby.username == user %}
                                <a href="{% url 'operationalfund:delete' data.pk %}" class="btnDelete" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Cancel" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-delete" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination pull-right">{% show_pages %}</div>
</div>
<!-- required -->
<a href="/{{ request.resolver_match.app_name }}/?page=1" rel="page" class="endless_page_link" id="dummy" style="display: none;">1</a>
<script>
    $(function () {
        $('.shade').remove();
        $('.panel').prepend('<div class="shade"><div class="loader two-color"></div></div>');
        $('#searchFilter').val(getCookie('keysearch_{{ request.resolver_match.app_name }}'));
        $('.endless_page_link').on('click', function () {
            $('.shade').fadeIn();
        });

        $('.btnDetail').each(function() {
            if($(this).parent().parent().parent().siblings('.tdOfStatus').find('b').text() == "Approved"){
                $(this).siblings('.userUpdate').hide();
                $(this).siblings('.cashierUpdate').show();
            }
            else if($(this).parent().parent().parent().siblings('.tdOfStatus').find('b').text() == "Disapproved"){
                $(this).siblings('.userUpdate').show();
                $(this).siblings('.cashierUpdate').hide();
            }
            else if($(this).parent().parent().parent().siblings('.tdOfStatus').find('b').text() == "For Approval"){
                $(this).siblings('.userUpdate').show();
                $(this).siblings('.cashierUpdate').hide();
            }
            else if($(this).parent().parent().parent().siblings('.tdOfStatus').find('b').text() == "In Process" ||
                    $(this).parent().parent().parent().siblings('.tdOfStatus').find('b').text() == "Released" ||
                    $(this).parent().parent().parent().siblings('.tdOfStatus').find('b').text() == "On Hand" ||
                    $(this).parent().parent().parent().siblings('.tdOfStatus').find('b').text() == "Process JV"){
                $(this).siblings('.userUpdate').hide();
                $(this).siblings('.cashierUpdate').show();
            }
        });

        $('.btn-approve').each(function() {
            if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Approved"){
                $(this).hide();
                $(this).parent().siblings('.btn-disapprove').show();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Disapproved"){
                $(this).show();
                $(this).parent().siblings('.btn-approve').hide();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "In Process" ||
                    $(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Released" ||
                    $(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "On Hand" ||
                    $(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Process JV"){
                $(this).hide();
                $(this).parent().siblings('.btn-disapprove').hide();
                $(this).parent().html(' - ')
            }
        });
        $('.btn-disapprove').each(function() {
            if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Approved"){
                $(this).show();
                $(this).parent().siblings('.btn-approve').hide();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Disapproved"){
                $(this).hide();
                $(this).parent().siblings('.btn-approve').show();
            }
            else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "In Process" ||
                    $(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Released" ||
                    $(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "On Hand" ||
                    $(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Process JV"){
                $(this).hide();
                $(this).parent().siblings('.btn-approve').hide();
                $(this).parent().html(' - ')
            }
        });
        $('.btn-approve, .btn-disapprove').on('click', function(){
            if (confirm('Are you sure?')) {
                var btnResponse = $(this);
                $.ajax({
                    url: "{% url 'operationalfund:approve' %}",
                    type: "post",
                    data: {'ofid': $(this).data('ofid'),
                        'response': $(this).data('response')},
                    success: function(response) {
                        alert("OF #" + response.ofnum + " is now " + response.newofstatus.toUpperCase() + ".");
                        switch(response.newofstatus){
                            case 'Approved':
                                statusClass = "text-success";
                                break;
                            case 'Disapproved':
                                statusClass = "text-danger";
                                break;
                            default:
                                statusClass = "text-info";
                        }
                        btnResponse.parent().parent()
                                .siblings('.tdOfStatus')
                                .html("<b>" + response.newofstatus + "</b>")
                                .attr('class','')
                                .addClass('tdOfStatus')
                                .addClass(statusClass);
                        btnResponse.hide();
                        if(response.newofstatus == "Approved"){
                            btnResponse.siblings('.btn-disapprove').show();
                            if($('#user_role').val() == 'C'){
                                btnResponse.parent().parent().siblings('.action-btns-container').find('.userUpdate').hide();
                                btnResponse.parent().parent().siblings('.action-btns-container').find('.cashierUpdate').show();
                            }
                        }
                        else if(response.newofstatus == "Disapproved"){
                            btnResponse.siblings('.btn-approve').show();
                            if($('#user_role').val() == 'C'){
                                btnResponse.parent().parent().siblings('.action-btns-container').find('.userUpdate').show();
                                btnResponse.parent().parent().siblings('.action-btns-container').find('.cashierUpdate').hide();
                            }
                        }
                        btnResponse.parent().parent().siblings('.action-btns-container').find('.btnDelete').hide();
                    },
                    error: function(response) {
                        console.debug(response);
                    }
                });
            }
        });
    });
</script>
