{% extends 'base-form.html' %}
{% block page-title %} Operational Fund {% endblock page-title %}
{% block extra_css %}
    {% load static %}
    <style>
{#        .iconlist {#}
{#            text-align: left;#}
{#            margin-left: 40px;#}
{#            margin-right: 40px;#}
{#        }#}
        .btns-icon{
            padding: 2px;
            margin: auto;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if perms.operationalfund.add_ofmain %}
                <div class="text-right"><a href="{% url 'operationalfund:usercreate' %}"><button type="button" class="btn btn-info btn-sm waves-effect waves-light">New Operational Fund Request</button></a></div>
                {% endif  %}
            </div>
            <div class="col-md-12">
                <div class="page-wrap paginate-table" data-list="{{ listcount }}" data-rows="ofnum,ofdate,particulars,amount,ofstatus">
                    <!-- Start Basic Table Section -->
                    <h4><p>Data List</p></h4>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th><span>ID</span></th>
                                    <th><span>Number</span></th>
                                    <th><span>Date</span></th>
                                    <th><span>Payee</span></th>
                                    <th><span>Particulars</span></th>
                                    <th><span>Amount</span></th>
                                    <th><span>OF Status</span></th>
                                    {% if perms.operationalfund.approve_assignedof or perms.operationalfund.approve_allof %}
                                        {% if forapproval > 0 or perms.operationalfund.approve_allof %}
                                            <th class="text-center"><span>Approval</span></th>
                                        {% endif %}
                                    {% endif %}
                                    <th class="text-center"><span>Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in data_list %}
                                <tr>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.ofnum }}</td>
                                    <td>{{ data.ofdate|date:"Y-m-d" }}</td>
                                    <td>{{ data.payee_name }}</td>
                                    <td>{{ data.particulars }}</td>
                                    <td style="text-align: right;">{{ data.amount }}</td>
                                    <td class="tdOfStatus
                                            {% if data.ofstatus == 'A' %} text-success
                                            {% elif data.ofstatus == 'D' %} text-danger
                                            {% elif data.ofstatus == 'F' %} text-info
                                            {% endif %}">
                                        <b>{{ data.get_ofstatus_display }}</b>
                                    </td>
                                    {% if perms.operationalfund.approve_assignedof or perms.operationalfund.approve_allof %}
                                            <td style="width: 100px;">
                                                <div class="text-center">
                                                    {% if perms.operationalfund.approve_allof or data.designatedapprover.username == user.get_username %}
                                                        <button class="btn btns-icon btn-success btn-round waves-effect waves-light btn-approve"
                                                            data-ofid={{ data.id }} data-response="A" data-toggle="tooltip" data-placement="left"
                                                            data-trigger="hover" data-original-title="Click to Approve" aria-describedby="tooltip850155">
                                                            <i class="icon fa-check" aria-hidden="true"></i></button>
                                                        <button class="btn btns-icon btn-danger btn-round waves-effect waves-light btn-disapprove"
                                                            data-ofid={{ data.id }} data-response="D" data-toggle="tooltip" data-placement="right"
                                                            data-trigger="hover" data-original-title="Click to Disapprove" aria-describedby="tooltip850155">
                                                            <i class="icon fa-remove" aria-hidden="true"></i></button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                    {% endif %}
                                    <td style="width: 115px; padding-left: 13px" class="action-btns-container">
                                        <div class="iconlist-wrap auto-0">
                                            <div class="iconlist" style="text-align: left">
                                            <a href="{% url 'requisitionform:detail' data.pk %}" class="btnDetail" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to View" title="" aria-describedby="tooltip850155">
                                                <i class="icon md-view-list" aria-hidden="true">&nbsp;&nbsp;</i>
                                            </a>
                                            {% if perms.operationalfund.change_ofmain and data.isdeleted == 0 %}
                                            <a href="{% url 'operationalfund:userupdate' data.pk %}" class="btnUpdate" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                                <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                            </a>
                                            {% endif %}
                                            {% if perms.operationalfund.delete_ofmain and data.isdeleted == 0 and data.status == 'A' %}
                                            <a href="{% url 'requisitionform:delete' data.pk %}" class="btnDelete" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Cancel" title="" aria-describedby="tooltip850155">
                                                <i class="icon md-delete" aria-hidden="true">&nbsp;&nbsp;</i>
                                            </a>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- End Basic Table Section -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
    <script src="{% static 'js/paginationSearchPlugin.js' %}" type="text/javascript"></script>
    <script>
    $('.btn-approve').each(function() {
        if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Approved"){
            $(this).hide();
            $(this).parent().siblings('.btn-disapprove').show();
        }
        else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Disapproved"){
            $(this).show();
            $(this).parent().siblings('.btn-approve').hide();
        }
        else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "In Process"){
            $(this).hide();
            $(this).parent().siblings('.btn-disapprove').hide();
        }
    });
    $('.btn-disapprove').each(function() {
        if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Approved"){
            $(this).show();
            $(this).parent().siblings('.btn-disapprove').hide();
        }
        else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "Disapproved"){
            $(this).hide();
            $(this).parent().siblings('.btn-approve').show();
        }
        else if($(this).parent().parent().siblings('.tdOfStatus').find('b').text() == "In Process"){
            $(this).hide();
            $(this).parent().siblings('.btn-approve').hide();
        }
    });
    $('.btnDelete').each(function() {
        if($(this).parent().parent().parent().siblings('.tdOfStatus').find('b').text() != "For Approval"){
            $(this).hide();
        }
    });
    $('.btn-approve, .btn-disapprove').on('click', function(){
        if (confirm('Are you sure?')) {
            var btnResponse = $(this);
            $.ajax({
                url: "{% url 'operationalfund:approve' %}",
                type: "post",
                data: {'ofid': $(this).data('ofid'),
                    'response': $(this).data('response')},
                success: function(response) {
                    alert("OF #" + response.ofnum + " is now " + response.newofstatus.toUpperCase() + ".");
                    switch(response.newofstatus){
                        case 'Approved':
                            statusClass = "text-success";
                            break;
                        case 'Disapproved':
                            statusClass = "text-danger";
                            break;
                        default:
                            statusClass = "text-info";
                    }
                    btnResponse.parent().parent()
                            .siblings('.tdOfStatus')
                            .html("<b>" + response.newofstatus + "</b>")
                            .attr('class','')
                            .addClass('tdOfStatus')
                            .addClass(statusClass);
                    btnResponse.hide();
                    if(response.newofstatus == "Approved")  btnResponse.siblings('.btn-disapprove').show();
                    else if(response.newofstatus == "Disapproved")  btnResponse.siblings('.btn-approve').show();
                    btnResponse.parent().parent().siblings('.action-btns-container').find('.btnDelete').hide();
                },
                error: function(response) {
                    console.debug(response);
                }
            });
        }
    });
    </script>
{% endblock extra_js %}
