<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load humanize %}
    {% load pdf_filters %}
    <meta charset="UTF-8">
    <title>Operational Fund - Report</title>
    <style>
        @page {
            size: {{ pagesize }} {{ orientation }};
            @frame header_frame {
                -pdf-frame-content: header_content;
                left: {{ margin_left }}cm;
                width: {{ page_width }}cm;
                top: {{ header_top }}cm;
                height: {{ header_height }}cm;
            }
            @frame content_frame {
                left: {{ margin_left }}cm;
                width: {{ page_width }}cm;
                top: {{ content_top }}cm;
                height: {{ content_height }}cm;
                right: {{ margin_right }}cm;
            }
            @frame footer_frame {
                -pdf-frame-content: footer_content;
                left: {{ margin_left }}cm;
                width: {{ page_width }}cm;
                top: {{ footer_top }}cm;
                height: {{ footer_height }}cm;
            }
        }
        body{
            font-size: 11px;
            font-family: 'Arial';
        }
        .title{
            font-size: 16px;
            font-weight: bold;
        }
        .center{
            text-align: center;
        }
        .right{
            text-align: right;
        }
        .arial{
            font-family: 'arial';
        }
        td{
            vertical-align: top;
        }
        td:last-child, th:last-child{
            padding-right: 10px;
        }
        #table_ae_summary td{
            min-width: 1px;
        }
    </style>
</head>
<body>

<div id="header_content">
    <table>
        <tr>
            <td><img id="logo" src="{{ logo | get64 }}"/><br></td>
            <td width="500px">
                <p class="title center">OPERATIONAL FUND</p>
            </td>
            <td></td>
        </tr>
    </table>
</div>

<div id="footer_content">
    <table class="arial" style="font-size: 8.4px;">
        <tr>
            <td>
                {{ parameter.report_footer1 }} {{ request.user }}<br>
                {{ parameter.report_footer2 }} {% now 'Y-m-d' %}<br>
                {{ parameter.report_footer3 }}<br>
                {{ parameter.report_footer4 }}<br>
                <b>{{ parameter.report_footer5 }}</b><br>
                <b>{{ parameter.report_footer6 }}</b>
            </td>
            <td style="margin-left: 30px;width: 600px;">
                {{ parameter.report_footer7 }}<br>
                {{ parameter.report_footer8 }}<br>
                {{ parameter.report_footer9 }}<br>
                {{ parameter.report_footer10 }}<br>
                {{ parameter.report_footer11 }}<br>
                {{ parameter.report_footer12 }}
            </td>
        </tr>
    </table>
    <div style="text-align: right">
        {%block page_foot%}
            Page <pdf:pagenumber /> of <pdf:pagecount />
        {%endblock%}
    </div>
</div>

<table>
    <tr><td colspan="3"></td></tr>
    <tr>
        <td colspan="3" style="line-height: 15px;">
            <span class="title">{{ parameter.description|upper }}</span><br>
            {{ parameter.address1 }}<br>
            {{ parameter.address2 }}<br>
            Tel: ({{ parameter.telno1 }}, {{ parameter.telno2 }}<br>
            VAT REG TIN: {{ parameter.tinnum }}
        </td>
    </tr>
</table>
<br>
<h2>{{ report_type }}</h2>

{% if report == 's' %}
    <table id="table_summary">
    <thead>
        <tr>
            <th style="width: 20%; text-align: left"><span>OF Number</span></th>
            <th style="width: 20%; text-align: left"><span>Date</span></th>
            <th style="width: 30%; text-align: left"><span>Requestor</span></th>
            <th style="width: 10%; text-align: left"><span>Status</span></th>
            <th style="width: 20%; text-align: right"><span>Amount</span></th>
        </tr>
    </thead>
    <tbody class="small">
        {% for data in data_list %}
            <tr>
                <td>OF-{{ data.oftype.code }}-{{ data.ofnum }}</td>
                <td>{{ data.ofdate|date:'d/m/Y' }}</td>
                <td>{{ data.requestor.first_name }}&nbsp;{{ data.requestor.last_name }}</td>
                <td>{{ data.get_ofstatus_display }}</td>
                <td style="text-align: right">{{ data.amount|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="5"></td></tr>
        <tr>
            <td colspan="4"><b>Total</b></td>
            <td style="text-align: right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
        </tr>
    </tbody>
    </table>





{% elif report == 'd' %}
    <div style="text-align: right">
        <b>In/VAT:</b> &nbsp;&nbsp;(F) Fixed Assets, &nbsp;&nbsp;(S) Supplies Inventory, &nbsp;&nbsp;(V) Services<br>
        <b>Status</b> &nbsp;&nbsp;(F) For Approval, &nbsp;&nbsp;(A) Approved, &nbsp;&nbsp;(D) Disapproved
    </div>
    <br>
    <table id="table_detailed">
    <thead>
        <tr>
            <th style="width: 11%; text-align: left"><span>OF Number</span></th>
            <th style="width: 7%; text-align: left"><span>Date</span></th>
            <th style="width: 13%; text-align: left"><span>Requestor</span></th>

            <th style="width: 7%; text-align: left"><span>Subtype</span></th>
            <th style="width: 29%; text-align: left"><span>Payee</span></th>
            <th style="width: 7%; text-align: left"><span>VAT</span></th>
            <th style="width: 7%; text-align: left"><span>ATC</span></th>
            <th style="width: 7%; text-align: center"><span>In/VAT</span></th>
            <th style="width: 5%; text-align: center"><span>Status</span></th>

            <th style="width: 7%; text-align: right"><span>Amount</span></th>
        </tr>
    </thead>
    <tbody class="small">
        {% for data in data_list %}
            <tr {% ifchanged data.ofmain.ofnum %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                    OF-{{ data.ofmain.oftype.code }}-{{ data.ofmain.ofnum }}
                </td>
                <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                    {{ data.ofmain.ofdate|date:'d/m/Y' }}
                </td>
                <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                    {{ data.ofmain.requestor.first_name }}&nbsp;{{ data.ofmain.requestor.last_name }}
                </td>
                <td>{{ data.ofsubtype.code }}</td>
                <td>
                    {% if data.supplier_name != None %}
                        {{ data.supplier_name|upper }}
                    {% else %}
                        {{ data.payee_name|upper }}
                    {% endif %}
                </td>
                <td style="text-align: left">{{ data.vat.code|default:'-' }}</td>
                <td style="text-align: left">{{ data.atc.code|default:'-' }}</td>
                <td style="text-align: center">{{ data.inputvattype.code|default:'-' }}</td>
                <td style="text-align: center">{{ data.ofitemstatus }}</td>
                <td style="text-align: right">{{ data.amount|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="10"></td></tr>
        <tr>
            <td colspan="9"><b>Total</b></td>
            <td style="text-align: right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
        </tr>
    </tbody>
    </table>






{% elif report == 'a_s' %}
    <table id="table_ae_summary">
        <thead>
            <tr>
                <th style="text-align:left">Title</th>
                <th style="text-align:left">Details</th>
                <th style="text-align:right">Debit</th>
                <th style="text-align:right">Credit</th>
            </tr>
        </thead>
        <tbody>
        {% for data in data_list %}
            <tr {% ifchanged data.chartofaccount__title %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                <td {% ifchanged data.chartofaccount__title %}{% else %}style="color:white"{% endifchanged %} style="width: 30%">{{ data.chartofaccount__title|default:'' }}</td>
                <td style="width: 50%">
                    <table>
                        <tr>
                            {% if data.bankaccount__accountnumber %}
                                <td {% ifchanged data.bankaccount__accountnumber %}{% else %}style="color:white"{% endifchanged %}>Bank Acct. No. {{ data.bankaccount__accountnumber }}</td>
                            {% endif %}
                            {% if data.department__departmentname %}
                                <td {% ifchanged data.department__departmentname %}{% else %}style="color:white"{% endifchanged %}>{{ data.department__departmentname }}</td>
                            {% endif %}
                            {% if data.employee__firstname %}
                                <td {% ifchanged data.employee__firstname %}{% else %}style="color:white"{% endifchanged %}>{{ data.employee__firstname }}</td>
                            {% endif %}
                            {% if data.supplier__name %}
                                <td {% ifchanged data.supplier__name %}{% else %}style="color:white"{% endifchanged %}>{{ data.supplier__name }}</td>
                            {% endif %}
                            {% if data.customer__name %}
                                <td {% ifchanged data.customer__name %}{% else %}style="color:white"{% endifchanged %}>{{ data.customer__name }}</td>
                            {% endif %}
                            {% if data.branch__description %}
                                <td {% ifchanged data.branch__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.branch__description }}</td>
                            {% endif %}
                            {% if data.product__description %}
                                <td {% ifchanged data.product__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.product__description }}</td>
                            {% endif %}
                            {% if data.inputvat__description %}
                                <td {% ifchanged data.inputvat__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.inputvat__description }}</td>
                            {% endif %}
                            {% if data.outputvat__description %}
                                <td {% ifchanged data.outputvat__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.outputvat__description }}</td>
                            {% endif %}
                            {% if data.vat__description or data.inputvat__description %}
                                <td {% ifchanged data.vat__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.vat__description|default:'---' }}</td>
                            {% endif %}
                            {% if data.wtax__description %}
                                <td {% ifchanged data.wtax__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.wtax__description }}</td>
                            {% endif %}
                            {% if data.ataxcode__code %}
                                <td {% ifchanged data.ataxcode__code %}{% else %}style="color:white"{% endifchanged %}>{{ data.ataxcode__code }}</td>
                            {% endif %}
                        </tr>
                    </table>
                </td>
                <td style="width: 10%; text-align: right">{{ data.debitamount__sum|floatformat:2|intcomma }}</td>
                <td style="width: 10%; text-align: right">{{ data.creditamount__sum|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="4"></td></tr>
        <tr>
            <td colspan="2"><b>Total</b></td>
            <td style="text-align: right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
            <td style="text-align: right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
        </tr>
        </tbody>
    </table>
{% endif %}
</body>
</html>