{% extends 'reports/base.html' %}
{% load humanize %}
{% block extra_css %}
    <style>
        td{
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block main_content %}
    <br>
    <h2>{{ rc_title }}</h2>

    {% if report == 's' %}
        <table id="table_summary">
        <thead>
            <tr>
                <th class="left" style="width: 20%;"><span>OF Number</span></th>
                <th class="left" style="width: 20%;"><span>Date</span></th>
                <th class="left" style="width: 30%;"><span>Requestor</span></th>
                <th class="left" style="width: 10%;"><span>Status</span></th>
                <th class="right" style="width: 20%;"><span>Amount</span></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>OF-{{ data.oftype.code }}-{{ data.ofnum }}</td>
                    <td>{{ data.ofdate|date:'d/m/Y' }}</td>
                    <td>{{ data.requestor.first_name }}&nbsp;{{ data.requestor.last_name }}</td>
                    <td>{{ data.get_ofstatus_display }}</td>
                    <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="5"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="4"><b>Total</b></td>
                <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>


    {% elif report == 'd' %}
        <div class="right">
            <b>In/VAT:</b> &nbsp;&nbsp;(F) Fixed Assets, &nbsp;&nbsp;(S) Supplies Inventory, &nbsp;&nbsp;(V) Services<br>
            <b>Status</b> &nbsp;&nbsp;(F) For Approval, &nbsp;&nbsp;(A) Approved, &nbsp;&nbsp;(D) Disapproved
        </div>
        <br>
        <table id="table_detailed">
        <thead>
            <tr>
                <th class="left" style="width: 11%;"><span>OF Number</span></th>
                <th class="left" style="width: 7%;"><span>Date</span></th>
                <th class="left" style="width: 13%;"><span>Requestor</span></th>

                <th class="left" style="width: 7%;"><span>Subtype</span></th>
                <th class="left" style="width: 33%;"><span>Payee</span></th>
                <th class="left" style="width: 5%;"><span>VAT</span></th>
                <th class="left" style="width: 5%;"><span>ATC</span></th>
                <th class="center" style="width: 5%;"><span>In/VAT</span></th>
                <th class="center" style="width: 5%;"><span>Status</span></th>

                <th class="right" style="width: 9%;"><span>Amount</span></th>
            </tr>
        </thead>
        <tbody class="small">
            {% for data in data_list %}
                <tr {% ifchanged data.ofmain.ofnum %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                        OF-{{ data.ofmain.oftype.code }}-{{ data.ofmain.ofnum }}
                    </td>
                    <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                        {{ data.ofmain.ofdate|date:'d/m/Y' }}
                    </td>
                    <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                        {{ data.ofmain.requestor.first_name }}&nbsp;{{ data.ofmain.requestor.last_name }}
                    </td>
                    <td>{{ data.ofsubtype.code }}</td>
                    <td>
                        {% if data.supplier_name != None %}
                            {{ data.supplier_name|upper }}
                        {% else %}
                            {{ data.payee_name|upper }}
                        {% endif %}
                    </td>
                    <td class="left">{{ data.vat.code|default:'-' }}</td>
                    <td class="left">{{ data.atc.code|default:'-' }}</td>
                    <td class="center">{{ data.inputvattype.code|default:'-' }}</td>
                    <td class="center">{{ data.ofitemstatus }}</td>
                    <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="10"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="9"><b>Total</b></td>
                <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>


    {% elif report == 'a_s' %}
        <table id="table_ae_summary">
            <thead>
                <tr>
                    <th class="left">Chart of Account</th>
                    <th class="left">Details</th>
                    <th class="right">Debit</th>
                    <th class="right">Credit</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr {% ifchanged data.chartofaccount__title %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td {% ifchanged data.chartofaccount__title %}{% else %}style="color:white"{% endifchanged %} style="width: 35%">{{ data.chartofaccount__accountcode }}&nbsp;&nbsp;&nbsp;{{ data.chartofaccount__description }}</td>
                    <td style="width: 45%">
                        <table>
                            <tr>
                                {% if data.bankaccount__accountnumber %}
                                    <td {% ifchanged data.bankaccount__accountnumber %}{% else %}style="color:white"{% endifchanged %}>Bank Acct. No. {{ data.bankaccount__accountnumber }}</td>
                                {% endif %}
                                {% if data.department__departmentname %}
                                    <td {% ifchanged data.department__departmentname %}{% else %}style="color:white"{% endifchanged %}>{{ data.department__departmentname }}</td>
                                {% endif %}
                                {% if data.employee__firstname %}
                                    <td {% ifchanged data.employee__firstname %}{% else %}style="color:white"{% endifchanged %}>{{ data.employee__firstname }}</td>
                                {% endif %}
                                {% if data.supplier__name %}
                                    <td {% ifchanged data.supplier__name %}{% else %}style="color:white"{% endifchanged %}>{{ data.supplier__name }}</td>
                                {% endif %}
                                {% if data.customer__name %}
                                    <td {% ifchanged data.customer__name %}{% else %}style="color:white"{% endifchanged %}>{{ data.customer__name }}</td>
                                {% endif %}
                                {% if data.branch__description %}
                                    <td {% ifchanged data.branch__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.branch__description }}</td>
                                {% endif %}
                                {% if data.product__description %}
                                    <td {% ifchanged data.product__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.product__description }}</td>
                                {% endif %}
                                {% if data.inputvat__description %}
                                    <td {% ifchanged data.inputvat__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.inputvat__description }}</td>
                                {% endif %}
                                {% if data.outputvat__description %}
                                    <td {% ifchanged data.outputvat__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.outputvat__description }}</td>
                                {% endif %}
                                {% if data.vat__description or data.inputvat.description %}
                                    <td {% ifchanged data.vat__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.vat__description|default:'---' }}</td>
                                {% endif %}
                                {% if data.wtax__description %}
                                    <td {% ifchanged data.wtax__description %}{% else %}style="color:white"{% endifchanged %}>{{ data.wtax__description }}</td>
                                {% endif %}
                                {% if data.ataxcode__code %}
                                    <td {% ifchanged data.ataxcode__code %}{% else %}style="color:white"{% endifchanged %}>{{ data.ataxcode__code }}</td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td class="right" style="width: 10%;">{{ data.debitamount__sum|floatformat:2|intcomma }}</td>
                    <td class="right" style="width: 10%;">{{ data.creditamount__sum|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="4"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="2"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>


    {% elif report == 'a_d' %}
        <table id="table_ae_detailed">
            <thead>
                <tr>
                    <th class="left">Chart of Account</th>
                    <th class="left">Details</th>
                    <th class="left">Payee</th>
                    <th class="left">Date</th>
                    <th class="right">Debit</th>
                    <th class="right">Credit</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr {% ifchanged data.chartofaccount.description %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td {% ifchanged data.chartofaccount.description %}{% else %}style="color:white"{% endifchanged %} style="width: 20%">{{ data.chartofaccount.accountcode }}&nbsp;&nbsp;&nbsp;{{ data.chartofaccount.description }}</td>
                    <td style="width: 34%">
                        <table>
                            <tr>
                                {% if data.bankaccount.accountnumber %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.bankaccount.accountnumber %}{% else %}{% endifchanged %}>Bank Acct. No. {{ data.bankaccount.accountnumber }}</td>
                                {% endif %}
                                {% if data.department.departmentname %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.department.departmentname %}{% else %}{% endifchanged %}>{{ data.department.departmentname }}</td>
                                {% endif %}
                                {% if data.employee.firstname %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.employee.firstname %}{% else %}{% endifchanged %}>{{ data.employee.firstname }}</td>
                                {% endif %}
                                {% if data.supplier.name %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.supplier.name %}{% else %}{% endifchanged %}>{{ data.supplier.name }}</td>
                                {% endif %}
                                {% if data.customer.name %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.customer.name %}{% else %}{% endifchanged %}>{{ data.customer.name }}</td>
                                {% endif %}
                                {% if data.branch.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.branch.description %}{% else %}{% endifchanged %}>{{ data.branch.description }}</td>
                                {% endif %}
                                {% if data.product.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.product.description %}{% else %}{% endifchanged %}>{{ data.product.description }}</td>
                                {% endif %}
                                {% if data.inputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.inputvat.description %}{% else %}{% endifchanged %}>{{ data.inputvat.description }}</td>
                                {% endif %}
                                {% if data.outputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.outputvat.description %}{% else %}{% endifchanged %}>{{ data.outputvat.description }}</td>
                                {% endif %}
                                {% if data.vat.description or data.inputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.vat.description %}{% else %}{% endifchanged %}>{{ data.vat.description|default:'---' }}</td>
                                {% endif %}
                                {% if data.wtax.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.wtax.description %}{% else %}{% endifchanged %}>{{ data.wtax.description }}</td>
                                {% endif %}
                                {% if data.ataxcode.code %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.ataxcode.code %}{% else %}{% endifchanged %}>{{ data.ataxcode.code }}</td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td style="width: 26%">
                        {% if data.ofitem.supplier %}
                            {{ data.ofitem.supplier_name }}
                        {% elif data.ofitem.payee %}
                            {{ data.ofitem.payee_name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td style="width: 6%;">{{ data.of_date|date:'d/m/Y' }}</td>
                    <td class="right" style="width: 7%;">{{ data.debitamount__sum|floatformat:2|intcomma }}</td>
                    <td class="right" style="width: 7%;">{{ data.creditamount__sum|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="4"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="4"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock main_content %}