<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load humanize %}
    {% load pdf_filters %}
    <meta charset="UTF-8">
    <title>Operational Fund - Report</title>
    <style>
        @page {
            size: 'Letter' {{ orientation }};
            margin: 1cm;
        }
        body{
            font-family: 'Times New Roman';
            font-size: 10px;
        }
        table{
            width: 725px;
        }
        td{
{#            padding-right: 5px;#}
            padding-top: 2px;
            padding-bottom: 2px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    {% if report == 's' %}
        <table id="table_summary">
        <thead>
            <tr>
                <th style="width: 20%; text-align: left"><span>OF Number</span></th>
                <th style="width: 20%; text-align: left"><span>Date</span></th>
                <th style="width: 30%; text-align: left"><span>Requestor</span></th>
                <th style="width: 10%; text-align: left"><span>Status</span></th>
                <th style="width: 20%; text-align: right"><span>Amount</span></th>
            </tr>
        </thead>
        <tbody class="small">
            {% for data in data_list %}
                <tr>
                    <td>OF-{{ data.oftype.code }}-{{ data.ofnum }}</td>
                    <td>{{ data.ofdate|date:'d/m/Y' }}</td>
                    <td>{{ data.requestor.first_name }}&nbsp;{{ data.requestor.last_name }}</td>
                    <td>{{ data.get_ofstatus_display }}</td>
                    <td style="text-align: right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% elif report == 'd' %}
        <div style="text-align: right">
            <b>In/VAT:</b> &nbsp;&nbsp;(F) Fixed Assets, &nbsp;&nbsp;(S) Supplies Inventory, &nbsp;&nbsp;(V) Services<br>
            <b>Status</b> &nbsp;&nbsp;(F) For Approval, &nbsp;&nbsp;(A) Approved, &nbsp;&nbsp;(D) Disapproved
        </div>
        <br>
        <table id="table_detailed">
        <thead>
            <tr>
                <th style="width: 11%; text-align: left"><span>OF Number</span></th>
                <th style="width: 7%; text-align: left"><span>Date</span></th>
                <th style="width: 13%; text-align: left"><span>Requestor</span></th>

                <th style="width: 7%; text-align: left"><span>Subtype</span></th>
                <th style="width: 29%; text-align: left"><span>Payee</span></th>
                <th style="width: 7%; text-align: center"><span>VAT</span></th>
                <th style="width: 7%; text-align: center"><span>ATC</span></th>
                <th style="width: 7%; text-align: center"><span>In/VAT</span></th>
                <th style="width: 5%; text-align: center"><span>Status</span></th>

                <th style="width: 7%; text-align: right"><span>Amount</span></th>
            </tr>
        </thead>
        <tbody class="small">
            {% for data in data_list %}
                <tr {% ifchanged data.ofmain.ofnum %}style="border-top: 1px solid grey;"{% endifchanged %}>
                    <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                        OF-{{ data.ofmain.oftype.code }}-{{ data.ofmain.ofnum }}
                    </td>
                    <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                        {{ data.ofmain.ofdate|date:'d/m/Y' }}
                    </td>
                    <td {% ifchanged data.ofmain.ofnum %}{% else %}style="color:white"{% endifchanged %}>
                        {{ data.ofmain.requestor.first_name }}&nbsp;{{ data.ofmain.requestor.last_name }}
                    </td>
                    <td>{{ data.ofsubtype.code }}</td>
                    <td>{{ data.payee.code }} - {{ data.payee.name }}</td>
                    <td style="text-align: center">{{ data.vat.code|default:'-' }}</td>
                    <td style="text-align: center">{{ data.atc.code|default:'-' }}</td>
                    <td style="text-align: center">{{ data.inputvattype.code|default:'-' }}</td>
                    <td style="text-align: center">{{ data.ofitemstatus }}</td>
                    <td style="text-align: right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
</body>
</html>