{% extends 'base-form.html' %}
{% load endless %}
{% load humanize %}
{% load staticfiles %}
{% block page-title %} Report {% endblock page-title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout//assets/css/global/panel-transition.min.css' %}" />
    <style>
        .btns-icon{
            padding: 2px;
            margin: auto;
        }
        .panel-title{
            padding: 12px;
        }
        .panel-actions{
            margin-right: -29px;
        }
        .panel-actions a{
            margin-right: -1px;
        }
        .btn-panel{
            font-size: 15px;
            padding: 15px;
        }
        #rep_f_keyword{
            border: none;
            font-size: 15px;
            font-weight: normal;
            color: #616161;
            padding-left: 65px;
            padding-right: 180px;
            padding-top: 2px;
            margin-left: 110px;
            height: 21px;
        }
        #ico_home, #rep_b_print{
            position: absolute;
            padding: 15px;
            margin: -12px;
            color: white;
            font-size: 15px;
            padding-left: 44px;
            padding-right: 44px;
        }
        #iframe{
            width: 100%;
            height: 900px;
{#            zoom: 0.15;#}
{#            -moz-transform:scale(0.75);#}
{#            -moz-transform-origin: 0 0;#}
{#            -o-transform: scale(0.75);#}
{#            -o-transform-origin: 0 0;#}
{#            -webkit-transform: scale(0.75);#}
{#            -webkit-transform-origin: 0 0;#}
        }
        #iframe_preview{
            width: 815px;
            padding: 40px;
            margin: auto;
        }
        .shade{
            margin-left: -40px;
            margin-top: -40px;
        }
        #fil_detailed{
            display: none;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-bordered is-collapse">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="#_" class="btn btn-panel btn-danger waves-effect waves-dark" id="rep_b_print">
                                <i class="icon fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Print
                            </a>
                            <div id="rep_f_keyword">
                                <b>Filter results...</b>
                            </div>
                        </h3>
                        <div class="panel-actions">
                            <a class="btn btn-panel btn-info waves-effect waves-dark" id="rep_b_search" style="padding-left: 23px;padding-right: 23px;margin-right: -3px;">
                                <i class="icon fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search
                            </a>
                            <a class="btn btn-panel btn-success icon_minus-06 waves-effect waves-dark" data-toggle="panel-collapse" aria-hidden="true" style="padding: 16.5px"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                                <div class="form-group col-sm-7">
                                    <label class="control-label small">Order By</label>
                                    <select class="form-control select2 input-sm" multiple="multiple" style="width: 100%" id="rep_f_order">
                                        <option value="amount">Amount</option>
                                        <option value="ofdate">Date</option>
                                        <option value="ofnum">OF Number</option>
                                        <option value="oftype">Status</option>
                                        <option value="type">Type</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">&nbsp;</label>
                                    <select class="form-control input-sm" id="rep_f_asc">
                                        <option value=""> -- </option>
                                        <option value="a">Asc</option>
                                        <option value="d">Desc</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2 col-sm-offset-1">
                                    <label class="control-label small">Report Type</label>
                                    <select class="form-control input-sm" id="rep_f_report">
                                        <option value="s">Summary</option>
                                        <option value="d">Detailed</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-12" style="padding-top:10px; padding-left: 0px; padding-right: 0px; border-top: 1px solid #e0e0e0">
                                <div class="form-group col-sm-4">
                                    <label class="control-label small">OF Num</label>
                                    <div class="input-daterange">
                                        <div class="input-group">
                                            <span class="input-group-addon input-sm">from</span>
                                            <input type="number" class="form-control input-sm" id="rep_f_numfrom" min="2017000000" max="2020000000">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon input-sm">to</span>
                                            <input type="number" class="form-control input-sm" id="rep_f_numto" min="2017000000" max="2020000000">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">Employee</label>
                                    <select class="form-control input-sm" id="rep_f_employee">
                                        <option value="">-- Select --</option>
                                        {% for data in user %}
                                            <option value="{{ data.id }}">{{ data.first_name }} {{ data.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label class="control-label small">Department</label>
                                    <select class="form-control input-sm" id="rep_f_department">
                                        <option value="">-- Select --</option>
                                        {% for data in department %}
                                            <option value="{{ data.id }}">[{{ data.code }}] {{ data.departmentname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label class="control-label small">OF Date</label><br>
                                    <div class="input-daterange datarange">
                                        <div class="input-group">
                                            <span class="input-group-addon input-sm"><i class="icon md-calendar" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control input-sm datepickerfrom" id="rep_f_datefrom">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon input-sm">to</span>
                                            <input type="text" class="form-control input-sm datepickerto" id="rep_f_dateto">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label class="control-label small">Amount</label><br>
                                    <div class="input-daterange">
                                        <div class="input-group">
                                            <span class="input-group-addon input-sm">min</span>
                                            <input type="text" class="form-control input-sm amount text-right" id="rep_f_amountfrom">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon input-sm">max</span>
                                            <input type="text" class="form-control input-sm amount text-right" id="rep_f_amountto">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">Approver</label>
                                    <select class="form-control input-sm" id="rep_f_approver">
                                        <option value="">-- Select --</option>
                                        {% for data in user %}
                                            <option value="{{ data.id }}">{{ data.first_name }} {{ data.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">OF Type</label>
                                    <select class="form-control input-sm" id="rep_f_oftype">
                                        <option value="">-- Select --</option>
                                        {% for data in oftype %}
                                            <option value="{{ data.id }}">{{ data.description }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">OF Status</label>
                                    <select class="form-control input-sm" id="rep_f_ofstatus">
                                        <option value="">-- Select --</option>
                                        <option value="F">For Approval</option>
                                        <option value="A">Approved</option>
                                        <option value="D">Disapproved</option>
                                        <option value="I">In Process</option>
                                        <option value="R">Released</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">Branch</label>
                                    <select class="form-control input-sm" id="rep_f_branch">
                                        <option value="">-- Select --</option>
                                        {% for data in branch %}
                                            <option value="{{ data.id }}">{{ data.description }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group col-sm-12" style="padding-top:10px; padding-left: 0px; padding-right: 0px; border-top: 1px solid #e0e0e0" id="fil_detailed">
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">Item Subtype</label>
                                    <select class="form-control input-sm" id="rep_f_ofsubtype">
                                        <option value="">-- Select --</option>
                                        {% for data in ofsubtype %}
                                            <option value="{{ data.id }}">{{ data.description }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">Item Payee</label>
                                    <input type="text" class="form-control input-sm" id="rep_f_payee">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">Item Status</label>
                                    <select class="form-control input-sm" id="rep_f_ofitemstatus">
                                        <option value="">-- Select --</option>
                                        <option value="f">For Approval</option>
                                        <option value="a">Approved</option>
                                        <option value="d">Dispproved</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">Item VAT</label>
                                    <select class="form-control input-sm" id="rep_f_vat">
                                        <option value="">-- Select --</option>
                                        {% for data in vat %}
                                            <option value="{{ data.id }}">[{{ data.code }}] {{ data.description }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">Item Input VAT Type</label>
                                    <select class="form-control input-sm" id="rep_f_inputvat">
                                        <option value="">-- Select --</option>
                                        {% for data in inputvattype %}
                                            <option value="{{ data.id }}">{{ data.description }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label class="control-label small">Item ATC</label>
                                    <select class="form-control input-sm" id="rep_f_atc" style="width: 100%">
                                        <option value="">--</option>
                                        {% for data in atc %}
                                            <option value="{{ data.id }}">{{ data.code }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label class="control-label small">Deferred</label>
                                    <select class="form-control input-sm" id="rep_f_deferred">
                                        <option value="">--</option>
                                        <option value="y">Yes</option>
                                        <option value="n">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <input type="hidden" value="{{ userrole }}" id="user_role">
                </div>
            </div>
            <div class="col-md-12" style="text-align: center">
                <div id="iframe_preview" class="panel">
                    <div class="shade"><div class="loader two-color"></div></div>
                    <iframe id="iframe" src="{% url 'operationalfund:reportresult' %}" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
    {% load staticfiles %}
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/custom-maskMoney.js' %}" type="text/javascript"></script>
    <script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/js/panel/panel.min.js' %}"></script>
    <script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
    <script>
    $(function () {
        $('.select2').select2({});

        $('#iframe').on('load', function(){
            resizeIframe(document.getElementById("iframe"));
        });

	    $('#rep_b_search').on('click', function(){
	        $('.shade').fadeIn();
	        setCookie('rep_f_numfrom_{{ request.resolver_match.app_name }}', $('#rep_f_numfrom').val());
	        setCookie('rep_f_numto_{{ request.resolver_match.app_name }}', $('#rep_f_numto').val());
	        setCookie('rep_f_datefrom_{{ request.resolver_match.app_name }}', $('#rep_f_datefrom').val());
	        setCookie('rep_f_dateto_{{ request.resolver_match.app_name }}', $('#rep_f_dateto').val());
	        setCookie('rep_f_amountfrom_{{ request.resolver_match.app_name }}', $('#rep_f_amountfrom').val());
	        setCookie('rep_f_amountto_{{ request.resolver_match.app_name }}', $('#rep_f_amountto').val());
	        setCookie('rep_f_oftype_{{ request.resolver_match.app_name }}', $('#rep_f_oftype').val());
	        setCookie('rep_f_branch_{{ request.resolver_match.app_name }}', $('#rep_f_branch').val());
	        setCookie('rep_f_ofstatus_{{ request.resolver_match.app_name }}', $('#rep_f_ofstatus').val());
	        setCookie('rep_f_employee_{{ request.resolver_match.app_name }}', $('#rep_f_employee').val());
	        setCookie('rep_f_department_{{ request.resolver_match.app_name }}', $('#rep_f_department').val());
	        setCookie('rep_f_approver_{{ request.resolver_match.app_name }}', $('#rep_f_approver').val());
	        setCookie('rep_f_order_{{ request.resolver_match.app_name }}', $('#rep_f_order').val());
	        setCookie('rep_f_asc_{{ request.resolver_match.app_name }}', $('#rep_f_asc').val());
	        setCookie('rep_f_report_{{ request.resolver_match.app_name }}', $('#rep_f_report').val());

            $('#iframe').attr('src', function(i, val) {return val;});
            if($('#iframe')){
                resizeIframe(document.getElementById("iframe"));
                $('.shade').fadeOut();
            }
	    });

        $('#rep_b_print').on('click', function(){
           document.getElementById("iframe").contentWindow.print();
        });

        $('#rep_f_report').on('change', function(){
            if($('#rep_f_report').val() == 'd'){
                $('#fil_detailed').show();
            }
            else{
                $('#fil_detailed').hide();
            }
        });

        // assign values
        $('#rep_f_numfrom').val(getCookie('rep_f_numfrom_{{ request.resolver_match.app_name }}'));
        $('#rep_f_numto').val(getCookie('rep_f_numto_{{ request.resolver_match.app_name }}'));
        $('#rep_f_datefrom').val(getCookie('rep_f_datefrom_{{ request.resolver_match.app_name }}'));
        $('#rep_f_dateto').val(getCookie('rep_f_dateto_{{ request.resolver_match.app_name }}'));
        $('#rep_f_amountfrom').val(getCookie('rep_f_amountfrom_{{ request.resolver_match.app_name }}'));
        $('#rep_f_amountto').val(getCookie('rep_f_amountto_{{ request.resolver_match.app_name }}'));
        $('#rep_f_oftype').val(getCookie('rep_f_oftype_{{ request.resolver_match.app_name }}'));
        $('#rep_f_branch').val(getCookie('rep_f_branch_{{ request.resolver_match.app_name }}'));
        $('#rep_f_ofstatus').val(getCookie('rep_f_ofstatus_{{ request.resolver_match.app_name }}'));
        $('#rep_f_employee').val(getCookie('rep_f_employee_{{ request.resolver_match.app_name }}'));
        $('#rep_f_department').val(getCookie('rep_f_department_{{ request.resolver_match.app_name }}'));
        $('#rep_f_approver').val(getCookie('rep_f_approver_{{ request.resolver_match.app_name }}'));
        $('#rep_f_order').val(getCookie('rep_f_order_{{ request.resolver_match.app_name }}'));
        $('#rep_f_asc').val(getCookie('rep_f_asc_{{ request.resolver_match.app_name }}'));
        $('#rep_f_report').val(getCookie('rep_f_report_{{ request.resolver_match.app_name }}'));

        $(document).ready(function(){
            if($('#rep_f_report').val() == 'd'){
                $('#fil_detailed').show();
                //reset values
            }
            else{
                $('#fil_detailed').hide();
            }
        });


        function resizeIframe(obj) {
            // $('#iframe').css({'height':'auto'});
            // obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
	});
    </script>
{% endblock extra_js %}
