{% extends 'base-form.html' %}
{% load staticfiles %}
{% block page-title %} Operational Fund Request {% endblock page-title %}
{% block page-content %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'financial-layout/assets/plugin/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css' %}" />
    <style>
        .select2-results__option {
            font-size: 12px;
        }
        .form-control.input-sm.date-yyyymmdd.datepicker.week {
            background-color: transparent;
        }
        .input-search {
            z-index: 99;
        }
        /*.extra-fields{
             display: none;
        }*/
        .rotate-up {
            -webkit-transform: rotate(180deg);
            -webkit-transition: -webkit-transform .5s;
        }
        .rotate-down {
            -webkit-transform: rotate(0deg);
            -webkit-transition: -webkit-transform .5s;
        }
        .rotate-icon{
            display: inline-block;
        }
        .item_hidden{
            display: none;
        }
        .select2-container--default .select2-results__option[aria-disabled=true] {
            display: none;
        }
        .disabled-white{
            background-color: white !important;
        }
    </style>
{% endblock extra_css %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="margin-bottom-20">
                <div class="panel-heading">
                    <h3 class="panel-title">CREATE</h3>
                </div>
                <form method="post" id="form-b">
                    {% csrf_token %}
                    <input type="hidden" name="secretkey" id="secretkey" value="{{ secretkey }}"/>
                    <div class="row col-md-12 row-lg margin-left-10">
                        <div class="row col-md-8 row-lg margin-left-10">
                            <div class="form-group col-sm-3 margin-bottom-0">
                                <label class="control-label" for="id_ofnum">Number</label>
                                <input type="text" class="form-control input-sm" id="id_ofnum" name="ofnum" placeholder="OFxxxxxxx" value="{{ form.ofnum.value|default:'' }}" readonly="readonly">
                                <span class="help-block form-error">{{ form.ofnum.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-3 margin-bottom-0">
                                <label class="control-label" for="id_ofdate">OF Date</label>
                                <input type="text" class="form-control input-sm date-yyyymmdd disabled-white" style="padding: 5px 10px" id="id_ofdate" name="ofdate" placeholder="YYYY-MM-DD" data-validation="required" value="{% if form.ofdate.value %}{{ form.ofdate.value }}{% else %}{% now "Y-m-d" %}{% endif %}">
                                <span class="help-block form-error">{{ form.ofdate.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-6 {{ form.oftype.errors|yesno:'has-error,' }} margin-bottom-0">
                                <label class="control-label" for="id_oftype">OF Type</label>
                                <select class="form-control input-sm select2" data-validation="required" id="id_oftype" name="oftype">
                                    {% for data in oftype %}
                                        {% if data.id == 2 %}
                                            {% if user_employee.revolving == 1 %}
                                            <option value="{{ data.id }}" {% if form.oftype.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.code }} - {{ data.description }}</option>
                                            {% endif %}
                                        {% else %}
                                        <option value="{{ data.id }}" {% if form.oftype.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.code }} - {{ data.description }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                </select>
                                <span class="help-block form-error">{{ form.oftype.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-12"></div>
                            <div class="form-group col-sm-6 {{ form.requestor.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_requestor">Requestor</label>
                                <select class="form-control input-sm select2" data-validation="required" id="id_requestor" name="requestor">
                                    <option value="">-- Select --</option>
                                    {% for data in requestor %}
                                        <option value="{{ data.id }}" data-amount={{ data.cellphone_subsidize_amount }} data-user={{ data.user_id }}
                                                {% if form.requestor.value != None %}
                                                    {% if form.requestor.value|add:0 == data.id %}selected="selected"{% endif %}
                                                {% else %}
                                                    {% if user_employee.id|add:0 == data.id %}selected="selected"{% endif %}
                                                {% endif %}>
                                            {{ data.firstname }} {{ data.lastname }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.requestor.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-6 {{ form.designatedapprover.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_designatedapprover">Designated Approver</label>
                                <select class="form-control input-sm select2" data-validation="required" id="id_designatedapprover" name="designatedapprover">
                                    <option value="">-- Select --</option>
                                    {% for designatedapprover in designatedapprover %}
                                        <option value="{{ designatedapprover.id }}" {% if form.designatedapprover.value|add:0 == designatedapprover.id %} selected="selected" {% endif %}>{{ designatedapprover.firstname }} {{ designatedapprover.lastname }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.designatedapprover.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-6 {{ form.department.errors|yesno:'has-error,' }}">
                                <label class="control-label" for="id_department">Department</label>
                                <select class="form-control input-sm select2" data-validation="required" id="id_department" name="department">
                                    <option value="">-- Select --</option>
                                    {% for department in department %}
                                        <option value="{{ department.id }}" {% if form.department.value|add:0 == department.id %} selected="selected" {% endif %}>{{ department.code }} | {{ department.departmentname }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.employee.errors.as_text }}</span>
                            </div>
                            <div id="refnum" class="form-group col-sm-3 margin-bottom-0" style="display:none">
                                <label class="control-label" for="id_ofnum">Ref No.</label>
                                <input type="text" class="form-control input-sm" id="id_refnum" name="refnum" value="{{ form.refnum.value|default:'' }}">
                                <span class="help-block form-error">{{ form.refnum.errors.as_text }}</span>
                            </div>
                            <div id="cashadv_amount" class="form-group col-sm-3 margin-bottom-0"  style="display:none">
                                <label class="control-label" for="id_ofnum">Cash Adv Amount</label>
                                <input type="text" class="form-control input-sm amount" style="text-align: right;" id="id_cashadv_amount" name="cashadv_amount" value="{{ form.cashadv_amount.value|default:'' }}">
                                <span class="help-block form-error">{{ form.cashadv_amount.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 margin-bottom-0">
                            <div class="panel" style="height: 125px;">
                                <table class="pull-right" style="margin: 30px; margin-right: 10px;">
                                    <tr>
                                        <td><label class="control-label pull-right" style="margin-right: 40px">Amount Limit:</label></td>
                                        <td><label class="control-label pull-right" style="margin-right: 20px">Total Amount:</label></td>
                                    </tr>
                                    <tr>
                                        <td><div class="pull-right" id="amountlimit" style="margin-right: 40px">0.00</div></td>
                                        <td><div class="pull-right" id="totalamount" style="margin-right: 20px">0.00</div></td>
                                    </tr>
                                </table>
                                <br>
                            </div>
                            <button type="button" class="btn btn-round btn-success floatright" id="validateButton">Submit</button>
                        </div>
                    </div>
                    <div class="row row-lg margin-left-10">
                    </div>
                    <div class="row row-lg margin-left-10">
                    </div>
                    </form>
                </div>
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <h4>Request Details</h4><br>
                            <table class="table item_table">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="form-group col-sm-1 margin-bottom-0"></div>
                                        <div class="form-group col-sm-3 margin-bottom-0">OF Subtype</div>
                                        <div class="form-group col-sm-4 margin-bottom-0">Supplier</div>
                                        <div class="form-group col-sm-3 margin-bottom-0">Amount</div>
                                        <div class="form-group col-sm-1 margin-bottom-0" style="text-align:right">
                                            <a href="#_" id="item_add" style="font-size: 17px" class="pull-right">
                                                <i class="icon fa-plus-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="warning">
                                        <td>
                                            <div class="form-group col-sm-1 margin-bottom-0 item_counter">1</div>
                                            <div class="form-group col-sm-3 margin-bottom-0">
                                                <select class="form-control input-sm item_input_ofsubtype" style="width: 100%;"></select>
                                            </div>
                                            <div class="form-group col-sm-4 margin-bottom-0">
                                                <div class="input-search">
                                                    <input type="text" data-validation="required" class="form-control input-sm input-payee" name="payee" style="text-transform:uppercase; background: white;"
                                                        data-currency="1" data-fxrate="1.00">
                                                    <button type="button" class="input-search-button" data-toggle='modal' data-target='#lookupModal'>
                                                        <i class="icon fa-ellipsis-h" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <input type="hidden" class="form-control input-sm input-hiddenpayee" name="hiddenpayee">
                                                <input type="hidden" class="form-control input-sm input-hiddenpayeeid" name="hiddenpayeeid">
                                            </div>
                                            <div class="form-group col-sm-2 margin-bottom-0">
                                                <input type="text" class="form-control input-sm amount text-right input-amount" placeholder="0.00">
                                            </div>
                                            <div class="form-group col-sm-2 margin-bottom-0">
                                                <div class="rotate-icon rotate-up">
                                                    <a href="#_" style="font-size: 25px;vertical-align: top;" class="expand-fields"><i class="icon fa-sort-down" aria-hidden="true"></i></a>
                                                </div>
                                                <a href="#_" style="font-size: 17px" class="pull-right item_delete"><i class="icon fa-trash" aria-hidden="true"></i></a>
                                                <div class="pull-right">&nbsp;&nbsp;&nbsp;</div>
                                                <a href="#_" style="font-size: 17px" class="pull-right item_save" data-itemid=""><i class="icon fa-save" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="extra-fields row col-sm-12">
                                                <div class="form-group col-sm-1"></div>
                                                <div class="form-group col-sm-1"></div>
                                                <div class="form-group col-sm-12"></div>
                                                <div class="form-group col-sm-10 col-sm-offset-1">
                                                    <label class="control-label"><small>Particulars</small></label>
                                                    <textarea rows="2" class="form-control text-particulars input-sm"></textarea>
                                                </div>
                                                <div class="form-group col-sm-10 col-sm-offset-1 padding-left-0">
                                                    <div class="form-group col-sm-4" style="display: none;">
                                                        <label class="control-label"><small>Currency</small></label>
                                                        <select class="form-control input-sm select-currency" name="currency">
                                                            {% for data in currency %}
                                                                <option value="{{ data.id }}" data-rate="{{ data.fxrate|floatformat:2 }}">[{{ data.symbol }}]&nbsp;&nbsp;&nbsp;{{ data.description }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-2" style="display: none;">
                                                        <label class="control-label"><small>FX Rate</small></label>
                                                        <input type="text" class="form-control input-sm input-fxrate" value="1.00">
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <label class="control-label"><small>Period From</small></label>
                                                        <input type="text" class="form-control input-sm datepickerfrom_month datepicker-periodfrom disabled-white" readonly="readonly">
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <label class="control-label"><small>Period To</small></label>
                                                        <input type="text" class="form-control input-sm datepickerto_month datepicker-periodto disabled-white" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-10 col-sm-offset-1 padding-left-0">
                                                    <div class="form-group col-sm-3">
                                                        <label class="control-label"><small>No. of Pax</small></label>
                                                        <input type="number" class="form-control input-sm no_of_pax">
                                                    </div>
                                                    <div class="form-group col-sm-9 margin-top-30">
                                                        <code class="budget_warning" style="display: none">*The amount exceeds the {{ mealbudget }}-peso limit per pax. This shall be subject for review.</code>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <div class="clearfix"></div>
            <div id="lookupModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Payee Lookup</h4>
                        </div>
                        <div class="modal-body" style="overflow:hidden;">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <select class="form-control input-sm ajaxselect2 col-sm-12" style="width: 565px;"
                                            id="id_payeelookup" name="payeelookup">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" id="payeeconfirm" disabled="disabled">Confirm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="item-add-error" class="custom-alert danger">Complete current item first.</div>
<div id="item-save-error" class="custom-alert danger">Complete item details first.</div>
<div id="item-save-success" class="custom-alert success">Item successfully saved.</div>
<div id="item-delete-success" class="custom-alert success">Item successfully deleted.</div>
<div id="of-save-error" class="custom-alert danger">Operational fund should at least have one item.</div>
<div id="of-save-amount-error" class="custom-alert danger">Petty Cash Amount should not exceed 1000.00.</div>
<div id="of-save-amount-error3" class="custom-alert danger">Eyeglass Amount should not exceed 4000.00.</div>
<div id="of-save-amount-error2" class="custom-alert danger">Cellphone subsidy amount limit exceeded.</div>
<div id="oftype-change-error" class="custom-alert danger">Clear all items first.</div>
{% endblock page-content %}
{% block extra_js %}
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-wysihtml5-0.0.2/libs/js/wysihtml5-0.3.0_rc2.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/custom-maskMoney.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.select2').select2({});
        ajaxselect2("supplier_payee");

        var lastof = '';
        var payeeIndex = 0;

        //ofsubtype list
        ofsubtype_list = "<option value=''>-- Select --</option>";
        {% for data in ofsubtype %}
            ofsubtype_list += "<option value='{{ data.id }}' data-oftype='{{ data.oftype.id }}'>{{ data.code }} - {{ data.description }}</option>";
        {% endfor %}

        $(document).ready(function() {
            if($("#id_oftype option:selected").text().indexOf("Cellphone Subsidy") >= 0){
                $("#id_requestor option[data-amount='0.00']").attr('disabled','disabled');
                $("#id_requestor").select2();
            }

            changeAmountLimit();

            /** Prepare hidden field **/
            $('.item_table tbody tr.warning').last().clone().prependTo('.item_table tbody');
            $('.item_table tbody tr.warning').last().addClass('item_hidden');
            initMaskMoney('amount');

            /** Init first ofsubtype **/
            $('.item_table tbody tr').find('.item_input_ofsubtype').html(ofsubtype_list);
            $('.item_input_ofsubtype:eq(0)').select2();
            $('.item_input_ofsubtype:eq(0)').find('option').prop( "disabled", true );
            $('.item_input_ofsubtype:eq(0)').find('option[data-oftype=' + $('#id_oftype').val() + ']').prop( "disabled", false );
            $('.item_input_ofsubtype:eq(0)').select2("destroy").select2().val('').trigger('change.select2');
            initializeDateRange();

            if ($('#id_oftype option:selected').text().toLowerCase().indexOf("cellphone subsidy") >= 0){
                $('.datepicker-periodfrom').parent().show();
                $('.datepicker-periodto').parent().show();
            }
            else {
                $('.datepicker-periodfrom').parent().hide();
                $('.datepicker-periodto').parent().hide();
            }

            $('.item_input_ofsubtype').each(function () {
                if($(this).val() == {{ mealexpense }}){
                    $(this).parent().parent().find('.no_of_pax').parent().parent().show();
                }
                else {
                    $(this).parent().parent().find('.no_of_pax').parent().parent().hide();
                }
            });

            /** Onchange oftype **/
            $(document).on('click', '.select2', function(e) {
                lastof = $('#id_oftype option:selected').val();
            });
            $(document).on('change', '#id_oftype', function(e){

                var ofid = $(this).val();

                if (ofid == '6') {
                    $("#id_designatedapprover option").attr('disabled',false);
                    $('#id_designatedapprover').select2();
                    $('#refnum').show();
                    $('#id_refnum').attr("required", true);
                    $('#cashadv_amount').show()
                    $('#id_cashadv_amount').attr("required", true);
                    $('#id_cashadv_amount').val(1);
                } else if (ofid == '9' || ofid == '8') {
                    $("#id_designatedapprover option").attr('disabled','disabled');
                    $('#id_designatedapprover option[value="483"]').prop('disabled',false);
                    $('#id_designatedapprover').select2();
                    $('#id_designatedapprover').val(483).change();

                 } else {
                    $("#id_designatedapprover option").attr('disabled',false);
                    $('#id_designatedapprover').select2();
                    $('#refnum').hide();
                    $('#id_refnum').val('').attr("required", false);
                    $('#cashadv_amount').hide();
                     $('#id_cashadv_amount').val('0').attr("required", false);
                }

                if($('.item_table tbody tr').length == $('.item_table tbody tr.warning').length) {
                    assignSubtypeOption(1);
                    $("#id_requestor").val('').trigger('change');
                    if($("#id_oftype option:selected").text().indexOf("Cellphone Subsidy") >= 0){
                        $("#id_requestor option[data-amount='0.00']").attr('disabled','disabled');
                        var user_id = {{ user_employee.id }}
                        console.log(user_id);

                        $("#id_requestor option:selected").siblings().attr('disabled','disabled');
                        $('#id_requestor').val(user_id).trigger("change");
                        $("#id_requestor option[value='" + user_id + "']").attr("disabled", false);

                        <!--$("#id_requestor option:selected").attr('disabled','disabled');-->
                    }
                    else {
                        $("#id_requestor option[data-amount='0.00']").removeAttr('disabled');
                    }
                    $("#id_requestor").select2();

                    changeAmountLimit();
                }
                else{
                    customAlert($('#oftype-change-error'));
                    $('#id_oftype').val(lastof).trigger('change.select2');
                }

            var test = $("#id_requestor option:selected").val();
            });
            $(document).on('change', '.item_input_ofsubtype', function () {
                if($(this).val() == {{ mealexpense }}){
                    $(this).parent().parent().find('.no_of_pax').parent().parent().show();
                }
                else {
                    $(this).parent().parent().find('.no_of_pax').parent().parent().hide();
                }
            });

            /** Onclick input-search-button **/
            $(document).on('click', '.input-search-button', function(){
                payeeIndex = $(this).index('.input-search-button');
            });

            /** Onkeypress no_of_pax **/
            $(document).on('change', '.no_of_pax', function() {
                if($(this).val() != '' && $(this).val() != '0' && $(this).is(":visible") &&
                    $(this).parent().parent().parent().parent().find('.input-amount').val() != '0.00' &&
                    $(this).parent().parent().parent().parent().find('.input-amount').val() != ''){
                    var no_of_pax = parseFloat($(this).val());
                    var budget_spent = parseFloat($(this).parent().parent().parent().parent().find('.input-amount').val().replace(',',''));
                    var budget_limit = parseFloat({{ mealbudget }});
                    if(showBudgetWarning(no_of_pax, budget_spent, budget_limit)){
                        $(this).parent().parent().find('.budget_warning').show();
                    }
                    else {
                        $(this).parent().parent().find('.budget_warning').hide();
                    }
                }
            });

            /** Onkeypress input-amount **/
            $(document).on('change', '.input-amount', function() {
                if($(this).val() != '' && $(this).val() != '0.00' &&
                    $(this).parent().parent().find('.no_of_pax').val() != '0' &&
                    $(this).parent().parent().find('.no_of_pax').val() != '' && $(this).parent().parent().find('.no_of_pax').is(":visible")){
                    var no_of_pax = parseFloat($(this).parent().parent().find('.no_of_pax').val());
                    var budget_spent = parseFloat($(this).val().replace(',',''));
                    var budget_limit = parseFloat({{ mealbudget }});
                    if(showBudgetWarning(no_of_pax, budget_spent, budget_limit)){
                        $(this).parent().parent().find('.budget_warning').show();
                    }
                    else {
                        $(this).parent().parent().find('.budget_warning').hide();
                    }
                }
            });


            /** Onchange Payee Lookup **/
            $('#id_payeelookup').on("change", function(e) {
                $('#payeeconfirm').prop('disabled', false);
            });

            /** Onclick Payee Confirm **/
            $('#payeeconfirm').click(function(){
                if($('#id_payeelookup').val() == null){
                    console.log("test");
                    alert("Please select a payee first.");
                }
                else {
                    var content = $('#id_payeelookup option:selected').text().replace(/(<([^>]+)>)/ig,"").toUpperCase();
                    $('.input-payee:eq(' + payeeIndex + ')').val(content);
                    $('.input-hiddenpayee:eq(' + payeeIndex + ')').val(content);
                    $('.input-hiddenpayeeid:eq(' + payeeIndex + ')').val($('#id_payeelookup').val());

                    $.ajax({
                        url: "{% url 'supplier:getsupplierdata' %}",
                        type: "post",
                        data: {'supplierid': $('#id_payeelookup').val()
                        },
                        success: function(response) {
                            $('.select-currency:eq(' + payeeIndex + ')').val(response.currency);
                            if(parseFloat(response.fxrate).toFixed(2) != '0.00' && parseFloat(response.fxrate).toFixed(2) != '')
                                $('.input-fxrate:eq(' + payeeIndex + ')').val((parseFloat(response.fxrate).toFixed(2)));
                            $('.input-payee:eq(' + payeeIndex + ')').data('currency', response.currency).data('fxrate', parseFloat(response.fxrate).toFixed(2));
                            $("#lookupModal .close").click();
                        },
                        error: function(response) {
                            console.debug(response);
                        }
                    });
                }
            });

            /** Show other fields **/
            $(document).on('click', '.expand-fields', function(){
                $(this).parent().parent().parent().find('.extra-fields').slideToggle(500);
                if($(this).parent().hasClass('rotate-down')){
                    $(this).parent().removeClass('rotate-down').addClass('rotate-up')
                }
                else{
                    $(this).parent().removeClass('rotate-up').addClass('rotate-down')
                }
            });

            /** Onchange currency show fx rate **/
            $(document).on('change', '.select-currency', function(){
                $(this).parent().siblings().find('.input-fxrate').val($(this).find(':selected').attr('data-rate'));
            });

            /** Add Item **/
            $(document).on('click', '#item_add', function(){
                if($('.item_table tbody tr.warning').length == 1){
                    collapseFields();
                    $('.item_hidden').last().clone().appendTo('.item_table tbody');
                    $('.item_hidden:nth-last-child(2)').removeClass('item_hidden').find('.item_input_ofsubtype').select2();
                    initMaskMoney('amount');
                    itemRecount();
                    assignSubtypeOption(2);
                }
                else{
                    customAlert($('#item-add-error'));
                }
            });

            /** Store Item **/
            $(document).on('click', '.item_save', function(){
                /* Some validations */
                if($(this).parent().parent().find('.item_input_ofsubtype').val() == null ||
                        $(this).parent().parent().find('.input-payee').val() == '' ||
                        $(this).parent().parent().find('.input-amount').val() == '' ||
                        $(this).parent().parent().find('.select-currency').val() == '' ||
                        $(this).parent().parent().find('.input-fxrate').val() == '' ||
                        $(this).parent().parent().find('.input-fxrate').val() == '0.00' ||
                        $(this).parent().parent().find('.text-particulars').val() == '0.00'){
                    customAlert($('#item-save-error'));
                }
                else {
                    if($('#id_oftype option:selected').text().indexOf("Cellphone Subsidy") >= 0){
                        if($(this).parent().parent().find('.datepicker-periodfrom').val() == '' ||
                                        $(this).parent().parent().find('.datepicker-periodto').val() == ''){
                            customAlert($('#item-save-error'));
                        }
                        else {
                            saveItem(this);
                        }
                    }
                    else if($(this).parent().parent().find('.item_input_ofsubtype').val() == {{ mealexpense }}){
                        if($(this).parent().parent().find('.no_of_pax').val() == 0 || $(this).parent().parent().find('.no_of_pax').val() == ''){
                            customAlert($('#item-save-error'));
                        }
                        else {
                            saveItem(this);
                        }
                    }
                    else {
                        saveItem(this);
                    }
                }
            });

            /** Delete Item **/
            $(document).on('click', '.item_delete', function(){
                var item = $(this).parent().parent().parent();
                if(item.hasClass('warning')){
                    /* quick delete */
                    item.remove();
                }
                else{
                    /* table delete */
                    if(confirm('Are you sure you want to delete this item?')){
                        /* Ajax delete */
                        $.ajax({
                            url: "{% url 'operationalfund:deleteitemtemp' %}",
                            type: "post",
                            data: {
                                'id_itemtemp': $(this).siblings('.item_save').data('itemid')
                            },
                            success: function(response){
                                item.remove();
                                itemRecount();
                                customAlert($('#item-delete-success'));
                                computeTotalAmount();
                            }, error: function(response) {
                                console.debug(response);
                            }
                        });
                    }
                }
            });

            /** Store OF **/
            $(document).on('click', '#validateButton', function(){

                if($('.item_table tbody tr').length > $('.item_table tbody tr.warning').length){

                    if ($('#id_oftype').val() == 8) {
                        if (parseFloat($('#totalamount').text().replace(',','')) <= 4000) {
                            $("#form-b").submit();
                        } else {
                            customAlert($('#of-save-amount-error3'));
                            event.preventDefault();
                        }
                    }
                    else if(parseFloat($('#totalamount').text().replace(',','')) <= 1000 || $('#id_oftype').val() != 1){
                        if(parseFloat($('#totalamount').text().replace(',','')) <= parseFloat($('#id_requestor option:selected').data('amount')) || $('#id_oftype').val() != 3){
                            $("#form-b").submit();
                        }
                        else {
                            customAlert($('#of-save-amount-error2'));
                            event.preventDefault();
                        }
                    }
                    else{
                        customAlert($('#of-save-amount-error'));
                        event.preventDefault();
                    }
                }
                else{
                    customAlert($('#of-save-error'));
                    event.preventDefault();
                }
            });

            /** Onchange payee text **/
            $(document).on('input', '.input-payee', function(){
                if($(this).val() == $(this).parent().siblings('.input-hiddenpayee').val()){
                    $(this).parent().parent().parent().find('.select-currency').val($(this).data('currency'));
                    $(this).parent().parent().parent().find('.input-fxrate').val($(this).data('fxrate'));
                }
                else {
                    $(this).parent().parent().parent().find('.select-currency').val("1");
                    $(this).parent().parent().parent().find('.input-fxrate').val("1.00");
                }
            });

            $(document).on('change', '#id_requestor', function(){
                changeAmountLimit();
            });

            function itemRecount(){
                var item_count = 1;
                $('.item_counter').each(function(){
                    $(this).html(item_count);
                    item_count++;
                })
            }

            function assignSubtypeOption(command){
                initializeDateRange();
                $('.item_input_ofsubtype:not(:last)').find('option').prop( "disabled", true );
                $('.item_input_ofsubtype:not(:last)').find('option[data-oftype=' + $('#id_oftype').val() + ']').prop( "disabled", false );
                if(command == 1){
                    $('.item_input_ofsubtype:not(:last)').select2("destroy").select2().val('').trigger('change.select2');
                }
                else if(command == 2){
                    $('.item_input_ofsubtype:not(:last)').select2("destroy").select2().trigger('change.select2');
                }
                if ($('#id_oftype option:selected').text().toLowerCase().indexOf("cellphone subsidy") >= 0){
                    $('.datepicker-periodfrom').parent().show();
                    $('.datepicker-periodto').parent().show();
                }
                else {
                    $('.datepicker-periodfrom').parent().hide();
                    $('.datepicker-periodto').parent().hide();
                }
            }

            function collapseFields(){
                $('.rotate-icon:not(:last)').removeClass('rotate-up').addClass('rotate-down');

                var transTime = 400;
                $('.extra-fields:not(:last)').each(function(){
                    $(this).slideUp(transTime);
                    /* transTime = transTime + 200; */
                });


            }

            function showBudgetWarning(no_of_pax, budget_spent, budget_limit){
                return budget_spent/no_of_pax > budget_limit;
            }

            function saveItem(saveButton){
                $.ajax({
                    url: "{% url 'operationalfund:saveitemtemp' %}",
                    type: "post",
                    data: {
                        'id_itemtemp': $(saveButton).data('itemid'),
                        'itemno': $(saveButton).parent().siblings('.item_counter').text(),
                        'secretkey': $("#secretkey").val(),
                        'id_oftype': $("#id_oftype").val(),
                        'id_ofsubtype': $(saveButton).parent().parent().find('.item_input_ofsubtype').val(),
                        'id_payee': $(saveButton).parent().parent().find('.input-payee').val(),
                        'id_hiddenpayee': $(saveButton).parent().parent().find('.input-hiddenpayee').val(),
                        'id_hiddenpayeeid': $(saveButton).parent().parent().find('.input-hiddenpayeeid').val(),
                        'id_amount': $(saveButton).parent().parent().find('.input-amount').val(),
                        'id_particulars': $(saveButton).parent().parent().find('.text-particulars').val(),
                        'id_currency': $(saveButton).parent().parent().find('.select-currency').val(),
                        'id_fxrate': $(saveButton).parent().parent().find('.input-fxrate').val(),
                        'id_periodfrom': $(saveButton).parent().parent().find('.datepicker-periodfrom').val(),
                        'id_periodto': $(saveButton).parent().parent().find('.datepicker-periodto').val(),
                        'id_noofpax': $(saveButton).parent().parent().find('.no_of_pax').val()
                    },
                    success: function(response){
                        $(saveButton).parent().parent().parent().removeClass('warning');
                        customAlert($('#item-save-success'));
                        computeTotalAmount();
                        $(saveButton).data('itemid', response.itemtempid);
                    }, error: function(response) {
                        console.debug(response);
                    }
                });
            }

            function computeTotalAmount(){
                var totalAmount = 0;
                $('.item_save').each(function(){
                    if($(this).parent().parent().find('.input-amount').val()){
                        totalAmount += parseFloat($(this).parent().parent().find('.input-amount').val().replace( /,/g, ""));
                    }
                });
                $('#totalamount').text(totalAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }

            function changeAmountLimit(){
                if($('#id_oftype option:selected').text().indexOf('Petty Cash') > 0){
                    $('#amountlimit').text("1,000.00");
                }
                else if($('#id_oftype option:selected').text().indexOf('Eyeglass Subsidy') > 0){
                    $('#amountlimit').text("4,000.00");
                }
                else if($('#id_oftype option:selected').text().indexOf('Revolving Fund') > 0){
                    $('#amountlimit').text("N/A");
                }
                else if($('#id_oftype option:selected').text().indexOf('Cellphone Subsidy') > 0){
                    $('#id_requestor').val() == '' ? $('#amountlimit').text("N/A") : $('#amountlimit').text(parseFloat($('#id_requestor option:selected').data('amount')).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                } else {
                    $('#amountlimit').text("N/A");
                }

            }
        });
    </script>
{% endblock extra_js %}