<thead>
    <tr>
        <th style="width: 10px; text-align: center">No.</th>
        <th style="min-width: 100px; text-align: left">Code</th>
        <th style="min-width: 100px; text-align: left">Description</th>
        <th style="min-width: 100px; text-align: left">Remarks</th>
        <th style="min-width: 100px; text-align: right">RF&nbsp;No.</th>
        <th style="min-width: 100px; text-align: right; width: 90px">Quantity</th>
        <th style="min-width: 100px; text-align: left">Unit&nbsp;of&nbsp;Measure</th>
        <th style="min-width: 10px; text-align: left">Currency</th>
        <th style="min-width: 100px; text-align: right">FX Rate</th>
        <th style="min-width: 100px; text-align: right">Amount</th>
        <th></th>
    </tr>
</thead>