<form class="form-horizontal" id="detailform" method="get" action="">
{% csrf_token %}
    <div class="row">
        <div class="col-lg-12 form-group">
            <label class="col-sm-3 control-label" for="item_name">Item</label>
            <div class="col-sm-7">
                <select class="form-control input-sm select2" required style="width: 100%" id="id_item_name" name="item_name">
                    <option value="">-- Select Item --</option>
                    {% for invitem in invitem %}
                        <option value="{{ invitem.id }}" data-itemtype="{{ invitem.inventoryitemclass.inventoryitemtype.id }}">{{ invitem.description }} ({{ invitem.unitofmeasure.code }})</option>
                    {% endfor %}
                </select>
                <span class="help-block form-error">{{ form.item_name.errors.as_text }}</span>
            </div>
            <label class="col-sm-3 control-label" for="quantity">Quantity</label>
            <div class="col-sm-3">
                <input type="number" class="form-control input-sm" id="id_quantity" name="quantity">
                <span class="help-block form-error">{{ form.quantity.errors.as_text }}</span>
            </div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-sm-3 control-label">Remarks</label>
            <div class="col-sm-5">
                <textarea class="form-control input-sm" id="id_remarks" name="remarks"></textarea>
                <span class="help-block form-error">{{ form.remarks.errors.as_text }}</span>
            </div>
        </div>
        <div class="col-sm-12 pull-left margin-bottom-10">
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailsubmit">Add Item</button>
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailclose">Close</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        summary = $("#summary tbody");
        filterItems();

        $("#btn_detailclose").click(function(){
            $("#detailentry").hide();
        });

        $("#btn_detailsubmit").click(function(){
            summary.append("<tr><td></td>" +
                    "<td>" + $("option:selected", $("#id_item_name")).text() + "</td>" +
                    "<td> desc </td>" +
                    "<td> kg </td>" +
                    "<td> - </td>" +
                    "<td>" + $("#id_remarks").val() + "</td>" +
                    "<td>" + $("#id_quantity").val() + "</td>" +
                    "<td> 123.00 </td>" +
                    "<td>" + (parseInt($("#id_quantity").val()) * 123.00) + "</td>" +
                    "<td><button class='btn remove_item' data-itemno='" + $("#id_item_name").text() + "'><i class='icon fa-remove' aria-hidden='true'></i></button></td>" +
                    "</tr>");

            $("#id_item_name").val('').trigger('change.select2');
            $("#id_quantity").val('');
            $("#id_remarks").val('');
            reorderItems();
        });

        $(document).on('click', '.remove_item', function(){
            var elem = $(this);

            $.ajax({
                url: "{% url 'requisitionform:deletedetailtemp' %}",
                type: "post",
                data: {'itemno': $(this).data('itemno'),
                        'secretkey': $("#id_secretkey").val()},

                success: function(response) {
                    elem.parent().parent().remove();
                    reorderItems();
                }
                , error: function(response) {
                    console.debug(response);
                }
            });
        });

        function reorderItems(){
            len = summary.find('tr').find('td:eq(0)').length;
            for(i=0;i<len;i++){
                summary.find('tr:eq('+i+')').find('td:eq(0)').html(i+1);
            }
        }

        $('#id_inventoryitemtype').on('change', function(){
            filterItems();
        });

        function filterItems(){
            item_id = $('#id_inventoryitemtype').val();
            $('#id_item_name').find('option').prop( "disabled", false );
            $('#id_item_name').find('option').not('#id_item_name option[data-itemtype=' + item_id + ']').prop( "disabled", true );
            $('#id_item_name').select2("destroy");
            $('#id_item_name').select2();
            $('#id_item_name').val('').trigger('change');
        }

        function inventorytypeDisable(){
            if(summary.find('tr').length > 0){
                $('#id_inventoryitemtype').attr( "readonly", true );
            }
            else{
                $('#id_inventoryitemtype').attr( "readonly", false );
            }
        }
    });
</script>