<form class="form-horizontal" id="detailform" method="get" action="">
{% csrf_token %}
    <div class="row">
        <label style="display: none;" id="itemno">1</label>
        <div class="col-lg-12 form-group">
            <label class="col-sm-3 control-label" for="item_name">Item</label>
            <div class="col-sm-7">
                <select class="form-control input-sm select2" required style="width: 100%" id="id_item_name" name="item_name">
                    <option value="">-- Select Item --</option>
                    {% for invitem in invitem %}
                        <option value="{{ invitem.id }}" data-itemtype="{{ invitem.inventoryitemclass.inventoryitemtype.id }}">{{ invitem.description }} ({{ invitem.unitofmeasure.code }})</option>
                    {% endfor %}
                </select>
                <span class="help-block form-error">{{ form.item_name.errors.as_text }}</span>
            </div>
            <label class="col-sm-3 control-label" for="quantity">Quantity</label>
            <div class="col-sm-3">
                <input type="number" class="form-control input-sm" id="id_quantity" name="quantity">
                <span class="help-block form-error">{{ form.quantity.errors.as_text }}</span>
            </div>
        </div>
        <div class="col-sm-12 pull-left margin-bottom-10">
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailsubmit">Add Item</button>
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailclose">Close</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        summary = $("#summary tbody");
        filterItems();
        inventorytypeimportDisable();

        $("#btn_detailclose").click(function(){
            $("#detailentry").hide();
        });

        $(document).on('click', '#btn_detailsubmit', function(){
            $('.shade').fadeIn();
            $.ajax({
                url: "{% url 'purchaserequisitionform:savedetailtemp' %}",
                type: "post",
                data: {'itemno': $("#itemno").text(),
                        'inv_id': $("#id_item_name").val(),
                        'quantity': $("#id_quantity").val(),
                        'secretkey': $("#id_secretkey").val()
                },

                success: function(response) {
                    if(response.prfdata != "[]"){
                        summary.append("<tr><td></td>" +
                                    "<td>" + response.prfdata[0] + "</td>" +
                                    "<td>" + response.prfdata[1] + "</td>" +
                                    "<td>" + response.prfdata[2] + "</td>" +
                                    "<td> - </td>" +
                                    "<td> - </td>" +
                                    "<td><input type='number' name='temp_quantity' form='form-b' step='any' class='form-control input-sm temp_quantity' value='" + $("#id_quantity").val() + "'></td>" +
                                    "<td>" + response.prfdata[3] + "</td>" +
                                    "<td>" + (parseFloat($("#id_quantity").val()) * parseFloat(response.prfdata[3])) + "</td>" +
                                    "<td><button class='btn remove_item' data-itemno='" + $("#itemno").text() + "'><i class='icon fa-remove' aria-hidden='true'></i></button></td>" +
                                    "</tr>");

                        $("#itemno").text(parseInt($("#itemno").text()) + 1);
                    }

                    $("#id_item_name").val('').trigger('change.select2');
                    $("#id_quantity").val('');

                    reorderItems();
                    inventorytypeimportDisable();
                    $('.shade').fadeOut();
                }
                , error: function(response) {
                    console.debug(response);
                    $('.shade').fadeOut();
                }
            });
        });

        $(document).on('click', '#importconfirm', function(){
            $('.shade').fadeIn();
            $.ajax({
                url: "{% url 'purchaserequisitionform:importitems' %}",
                type: "post",
                data: {'itemno': $("#itemno").text(),
                        'rfnum': $("#importrfselect2").val(),
                        'secretkey': $("#id_secretkey").val()
                },

                success: function(response) {
                    if(response.prfdata != "[]"){
                        for (var i = 0; i < response.prfdata.length; i++) {
                            $("#itemno").text(parseInt($("#itemno").text()) + 1);

                            summary.append("<tr><td></td>" +
                                        "<td>" + response.prfdata[i][0] + "</td>" +
                                        "<td>" + response.prfdata[i][1] + "</td>" +
                                        "<td>" + response.prfdata[i][2] + "</td>" +
                                        "<td>" + response.prfdata[i][3] + "</td>" +
{#                                        "<td>" + response.prfdata[i][4] + "</td>" +#}
                                        "<td><input type='number' name='temp_quantity' form='form-b' step='any' class='form-control input-sm temp_quantity' data-itemno='" + response.prfdata[i][8] + "' value='" + response.prfdata[i][5] + "'></td>" +
                                        "<td>" + response.prfdata[i][6] + "</td>" +
                                        "<td>" + (parseFloat(response.prfdata[i][5]) * parseFloat(response.prfdata[i][6])) + "</td>" +
                                        "<td><button class='btn remove_item' data-itemno='" + response.prfdata[i][8] + "'><i class='icon fa-remove' aria-hidden='true'></i></button></td>" +
                                        "</tr>");
                        }
                    }

                    reorderItems();
                    inventorytypeimportDisable();
                    $('.shade').fadeOut();
                }
                , error: function(response) {
                    console.debug(response);
                    $('.shade').fadeOut();
                }
            });
        });

        $(document).on('click', '.remove_item', function(){
            $('.shade').fadeIn();
            var elem = $(this);

            $.ajax({
                url: "{% url 'purchaserequisitionform:deletedetailtemp' %}",
                type: "post",
                data: {'itemno': $(this).data('itemno'),
                        'secretkey': $("#id_secretkey").val(),
                        'prfnum': $("#id_prfnum").val()
                },

                success: function(response) {
                    elem.parent().parent().remove();
                    reorderItems();
                    inventorytypeimportDisable();
                    $('.shade').fadeOut();
                }
                , error: function(response) {
                    console.debug(response);
                    $('.shade').fadeOut();
                }
            });
        });

        $('#id_inventoryitemtype').on('change', function(){
            filterItems();
            inventorytypeimportDisable();
        });

        $("#detailsbutton").click(function (){
            $("#detailentry").show();
        });

        $(document).ready(function() {
            $("#importrfselect2").select2({
                dropdownParent: $("#myModal")
            });
        });

        // change total amount
{#        $(document).bind('keyup input', '.temp_quantity', function(e){#}
{#        $(document).bind('keyup input', '.temp_quantity', function(){#}
{#            tmp_quantity = parseFloat($(this).val())#}
{#            tmp_cost = parseFloat($(this).parent().next().html())#}
{#            console.log($('.temp_quantity').parent().next().length)#}
{#            $(this).parent().next().next().html(tmp_quantity*tmp_cost);#}
{#        });#}

        $("#importrfselect2").change(function(){
            if($(this).val() != ''){
                importrfpreview = $("#importrfpreview tbody tr td");
                importrfpreview.eq(0).text($(this).children('option:selected').data('refnum'));
                importrfpreview.eq(1).text($(this).children('option:selected').data('urgency'));
                importrfpreview.eq(2).text($(this).children('option:selected').data('approver'));
                importrfpreview.eq(3).text($(this).children('option:selected').data('dateneeded'));

                $("#importconfirm").prop('disabled', false);
            }
            else{
                $("#importconfirm").prop('disabled', true);
            }
        });

        function reorderItems(){
            len = summary.find('tr').find('td:eq(0)').length;
            for(i=0;i<len;i++){
                summary.find('tr:eq('+i+')').find('td:eq(0)').html(i+1);
            }
        }

        function filterItems(){
            item_id = $('#id_inventoryitemtype').val();
            $('#id_item_name').find('option').prop( "disabled", false );
            $('#id_item_name').find('option').not('#id_item_name option[data-itemtype=' + item_id + ']').prop( "disabled", true );
            $('#id_item_name').select2("destroy");
            $('#id_item_name').select2();
            $('#id_item_name').val('').trigger('change');
        }

        function inventorytypeimportDisable(){
            if(summary.find('tr').length > 0){
                $('#id_inventoryitemtype option:not(:selected)').prop('disabled', true);
            }
            else{
                $('#id_inventoryitemtype option:not(:selected)').prop('disabled', false);
            }

            if($('#id_inventoryitemtype').val() != 2){
                $('#importbutton').prop('disabled', true);
            }
            else{
                $('#importbutton').prop('disabled', false);
            }
        }
    });
</script>