<thead>
    <tr>
        <th style="width: 10px; text-align: center">No.</th>
        <th style="min-width: 100px; text-align: center">Name</th>
        <th style="min-width: 100px; text-align: center">Description</th>
        <th style="min-width: 100px; text-align: center">Remarks</th>
        <th style="min-width: 100px; text-align: center">RF&nbsp;No.</th>
        <th style="min-width: 100px; text-align: center; width: 90px">Quantity</th>
        <th style="min-width: 100px; text-align: center">Unit&nbsp;of&nbsp;Measure</th>
        <th style="min-width: 10px; text-align: center">Currency</th>
        <th style="min-width: 100px; text-align: center">FX Rate</th>
        <th style="min-width: 100px; text-align: center">Amount</th>
        <th></th>
    </tr>
</thead>