{% extends 'base-form.html' %}
{% block page-title %} Report - Chart of Account {% endblock page-title %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.min.css' %}" />
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-wrap">
                    <!-- Start Basic Table Section -->
                    <h4><p>Report List</p></h4>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Table headers</span>
                            <select class="form-control input-sm select2 list_header" multiple="multiple" name="list_header">
                                {% for data in list_header %}
                                    <option value="{{ data }}">{{ data | title }}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="col-md-2">
                            <span>Date</span>
                            <input type="text" class="form-control date-yyyymmdd datepickerfrom" name="date_from" placeholder="From">
                        </div>
                        <div class="col-md-2">
                            <br>
                            <input type="text" class="form-control date-yyyymmdd datepickerto" name="date_to" placeholder="To">
                        </div>
                        <div class="col-md-6">
                            <span>Order by</span>
                            <select class="form-control select2 ordeyby" multiple="multiple" name="ordeyby">
                                {% for data in list_header %}
                                    <option value="{{ data }}">{{ data | title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <br>
                            <select name="orderasc" class="form-control orderasc">
                                <option value="a">Ascending</option>
                                <option value="d">Descending</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="generate" class="btn btn-info btn-sm">Preview</button>
                            <a href="{% url 'rep_chartofaccount:pdf' %}?from=none&to=none" target="_blank" id="generate_pdf"><button type="button" class="btn btn-info btn-sm waves-effect waves-light">
                                <i class="icon fa-file-pdf-o" aria-hidden="true"></i>&nbsp; PDF
                            </button></a>
                            <a href="{% url 'rep_chartofaccount:xls' %}?from=none&to=none" target="_blank" id="generate_xls"><button type="button" class="btn btn-info btn-sm waves-effect waves-light">
                                <i class="icon fa-file-excel-o" aria-hidden="true"></i>&nbsp; XLS
                            </button></a>
                        </div>
                    </div>

                    <div class="row"><br></div>
                    <div class="row">
                        <div class="table-responsive col-md-12" style="position: relative">
                            <div id="shade"><div class="loader two-color"></div></div>
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        {% for data in list_header %}
                                            <th><span>{{ data | title }}</span></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
<script type="text/javascript">
$(function(){
    var from, to, regEx, newurl;
    var pdf_link, xls_link;
    var tableList = $('table tbody');
    var thead = $('table thead tr');
    thead.css({'textTransform': 'capitalize', 'font-weight': 'bold'});

    $('select').select2();

    $('select').on('select2:select', function (evt) {
        var element = evt.params.data.element;
        var $element = $(element);

        $element.detach();
        $(this).append($element);
        $(this).trigger('change');
    });

    $(document).on('click', '#generate', function() {
        generateReport();
    });

    function generateReport(){
        list_header = $('.list_header').val();
        from = $('.datepickerfrom').val();
        to = $('.datepickerto').val();
        orderby = $('.ordeyby').val();
        orderasc = $('.orderasc').val();

        tableList.html('');
        $('#shade').fadeIn();
        $.ajax({
            url: "{% url 'rep_chartofaccount:report' %}",
            type: "post",
            data: {'list_header': list_header, 'from': from, 'to': to, 'orderby': orderby, 'orderasc': orderasc},
            success: function(response) {

                if(response.list_table != "[]"){
                    var list_table = jQuery.parseJSON(response.list_table);
                    var list_header = response.list_header;

                    thead.html("<td>" + list_header[0] + "</td>");
                    for (var i = 1; i < list_header.length; i++) {
                        thead.last('td').append("<td>" + list_header[i] + "</td>");
                    }

                    for (var i = 0; i < list_table.length; i++) {
                        tableList.append("<tr><td>" + list_table[i].fields[list_header[0]] + "</td></tr>");

                        for (var j = 1; j < list_header.length; j++) {
                            tableList.find('tr').eq(i).last('td').append("<td>" + list_table[i].fields[list_header[j]] + "</td>");
                        }

                        $('#shade').fadeOut();
                    }
                }
                else{
                    tableList.append("<tr><td colspan='3'> No result found </td></tr>");
                    $('#shade').fadeOut();
                }
            }
            ,error: function(response) {
                console.debug(response);
                tableList.html('');
                tableList.append("<tr><td colspan='3> No result found </td></tr>");
                $('#shade').fadeOut();
            }
        });

        changeLink(from, to)
    }

    function changeLink(from, to){
        pdf_link = $('#generate_pdf').attr('href');
        regEx = /([?&]from)=([^#&]*)/g;
        newurl = pdf_link.replace(regEx, '$1='+from);
        $('#generate_pdf').attr('href', newurl);

        pdf_link = $('#generate_pdf').attr('href');
        regEx = /([?&]to)=([^#&]*)/g;
        newurl = pdf_link.replace(regEx, '$1='+to);
        $('#generate_pdf').attr('href', newurl);

        xls_link = $('#generate_xls').attr('href');
        regEx = /([?&]from)=([^#&]*)/g;
        newurl = xls_link.replace(regEx, '$1='+from);
        $('#generate_xls').attr('href', newurl);

        xls_link = $('#generate_xls').attr('href');
        regEx = /([?&]to)=([^#&]*)/g;
        newurl = xls_link.replace(regEx, '$1='+to);
        $('#generate_xls').attr('href', newurl);
    }
});
</script>
{% endblock extra_js %}
