{% extends 'base-form.html' %}
{% block page-title %} Inventory Item {% endblock page-title %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="panel margin-bottom-20">
                <!-- Start Simple Form Validation -->
                <div class="panel-heading">
                    <h3 class="panel-title">Create</h3>
                </div>
                <div class="panel-body">
                    <form autocomplete="off" id="form-b" method="post">
                        {% csrf_token %}
                        <div class="page-wrap">
                            <div class="form-group form-material {{ form.inventoryitemclass.errors|yesno:'has-error,' }}">
                                <label for="id_inventoryitemclass" class="control-label">Inventory Item Class</label>
                                <select id="id_inventoryitemclass" name="inventoryitemclass" class="form-control" data-validation="required">
                                    <option value="">-- Select --</option>
                                    {% for inventoryitemclass in inventoryitemclass %}
                                        <option value="{{ inventoryitemclass.id }}" {% if form.inventoryitemclass.value|add:0 == inventoryitemclass.id %} selected="selected" {% endif %}>{{ inventoryitemclass.code }} - {{ inventoryitemclass.description }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.inventoryitemclass.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-md-2 {{ form.code.errors|yesno:'has-error,' }}">
                                <label for="id_prefixcode" class="control-label">Prefix</label>
                                <input type="text" class="form-control col-sm-4" id="id_prefixcode" maxlength="10" placeholder="XXXX" name="prefixcode" readonly="readonly">
                                <span class="help-block form-error">{{ form.code.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-md-2 {{ form.code.errors|yesno:'has-error,' }}">
                                <label for="id_code" class="control-label">Code</label>
                                <input type="text" class="form-control col-sm-4" id="id_code" maxlength="10" placeholder="Code" name="code" data-validation="required" value="{{ form.code.value|default:'' }}">
                                <span class="help-block form-error">{{ form.code.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-md-8 {{ form.description.errors|yesno:'has-error,' }}">
                                <label for="id_description" class="control-label">Description</label>
                                <input type="text" class="form-control" id="id_description" maxlength="250" placeholder="Description" name="description"
                                       data-validation="required" value="{{ form.description.value|default:'' }}">
                                <span class="help-block form-error">{{ form.description.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-md-12"></div>
                            <div class="form-group col-md-6">
                                <label for="id_stocklevel" class="col-sm-4 control-label">Stock Level</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" id="id_stocklevel" maxlength="10" placeholder="XX" data-validation="required"  name="stocklevel" value="{{ form.stocklevel.value|default:1 }}">
                                    <span class="help-block form-error">{{ form.stocklevel.errors.as_text }}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_quantity" class="col-sm-4 control-label">Quantity</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" id="id_quantity" maxlength="10" placeholder="XX" data-validation="required"  name="quantity" value="{{ form.quantity.value|default:1 }}">
                                    <span class="help-block form-error">{{ form.quantity.errors.as_text }}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 form-material {{ form.unitofmeasure.errors|yesno:'has-error,' }}">
                                <label for="id_unitofmeasure" class="col-sm-4 control-label">Unit of Measure</label>
                                <div class="col-sm-4">
                                    <select id="id_unitofmeasure" name="unitofmeasure" class="form-control" data-validation="required">
                                        <option value="">-- Select --</option>
                                        {% for unitofmeasure in unitofmeasure %}
                                            <option value="{{ unitofmeasure.id }}" {% if form.unitofmeasure.value|add:0 == unitofmeasure.id %} selected="selected" {% endif %}>{{ unitofmeasure.code }} - {{ unitofmeasure.description }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            <span class="help-block form-error">{{ form.unitofmeasure.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_unitcost" class="col-sm-4 control-label">Unit Cost</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right amount" id="id_unitcost" maxlength="10" placeholder="XX" data-validation="required"  name="unitcost" value="{{ form.unitcost.value|default:1.00 }}">
                                    <span class="help-block form-error">{{ form.unitcost.errors.as_text }}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 form-material">
                                <label for="id_expensestatus" class="col-sm-4 control-label">Expense Status</label>
                                <div class="col-sm-4">
                                    <div class="radio-custom radio-default radio-inline padding-top-0">
                                        <div class="col-sm-6">
                                        <input type="radio" id="id_expensestatus" name="expensestatus" value="Y" {% if form.expensestatus.value == 'Y' %} checked="checked" {% endif %}>
                                        <label for="id_branch_enable" class="col-sm-4">Yes</label>
                                        </div>
                                        <div class="col-sm-6">
                                        <input type="radio" id="id_expensestatus" name="expensestatus" value="N" {% if form.expensestatus.value == 'N' %} checked="checked" {% endif %}>
                                        <label for="id_branch_enable" class="col-sm-4">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_specialstatus" class="col-sm-4 control-label">Special Status</label>
                                <div class="col-sm-4">
                                    <div class="radio-custom radio-default radio-inline padding-top-0">
                                        <div class="col-sm-6">
                                        <input type="radio" id="id_specialstatus" name="specialstatus" value="Y" {% if form.specialstatus.value == 'Y' %} checked="checked" {% endif %}>
                                        <label for="id_branch_enable" class="col-sm-4">Yes</label>
                                        </div>
                                        <div class="col-sm-6">
                                        <input type="radio" id="id_specialstatus" name="specialstatus" value="N" {% if form.specialstatus.value == 'N' %} checked="checked" {% endif %}>
                                        <label for="id_branch_enable" class="col-sm-4">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12 margin-bottom-0">
                                <button type="submit" class="btn btn-info" id="validateButton">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Simple Form Validation -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
    {% load static %}
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/cust om-maskMoney.js' %}" type="text/javascript"></script>
    <script>
        $(function(){
            {% if form.errors %}
                var codevalue = $('#id_code').val();
                var value = codevalue.split('-',3);

                $('#id_prefixcode').val(value[0]+'-'+value[1]+'-');
                $('#id_code').val(value[2]);
            {% endif %}

            {% if not form.errors %}
                $('#id_unitofmeasure option:first').attr('selected', 'selected');
            {% endif %}

            $('#id_inventoryitemclass').change(function(){
                $.ajax({
                    url: "{% url 'inventoryitem:getclasstypecode' %}",
                    type: "get",
                    dataType: "json",
                    data: {'csrfmiddlewaretoken': "{{csrf_token}}",
                           inventoryclassid: $('#id_inventoryitemclass').val()},
                    success: function(response) {
                        $inventoryclassdata = response['inventoryclassdata'];
                        //$inventoryclassdata = $.parseJSON(response['inventoryclassdata'])
                        $("#id_prefixcode").val($inventoryclassdata[0].inventoryitemtype.code+'-'+$inventoryclassdata[0].code+'-');
                        //console.log($inventoryclassdata[0].code);
                        //console.log($inventoryclassdata[0].inventoryitemtype.code);
                        //console.log($inventoryclassdata[0].fields['testlang']);

                    },
                    error: function(response) {
                        console.debug(response);
                    }
                });
            });
        });
    </script>
{% endblock extra_js %}