{% extends 'base-form.html' %}
{% load endless %}
{% load humanize %}
{% load staticfiles %}
{% block page-title %}<div style="margin-top: 15px; line-height: 25px;">Books of Accounts</div>{% endblock page-title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout//assets/css/global/panel-transition.min.css' %}" />
    <style>
        .panel-title{
            padding: 12px;
        }
        .panel-actions{
            margin-right: -29px;
        }
        .panel-actions a{
            margin-right: -1px;
        }
        #iframe, #iframe_cash_in_bank{
            width: 100%;
            height: 900px;
            position: relative;
            z-index: 100;
        }
        #iframe2, #iframe3{
            width: 100%;
            height: 450px;
            position: relative;
            z-index: 100;
        }
        .iframe_preview{
            padding: 10px;
            margin: auto;
        }
        .shade{
            margin-left: -40px;
            margin-top: -40px;
        }
        .form-group {
            margin-bottom: 10px;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="panel-body container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-body" style="padding: 20px;">
                    <div class="row">
                        <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                            <div class="form-group col-sm-4">
                                <label class="control-label small">Report Type</label>
                                <select class="form-control input-sm" id="report_type">
                                    <option value="1" data-cashinbank="0">GENERAL JOURNAL BOOK - DETAILED ENTRIES</option>
                                    <option value="2" data-cashinbank="1">GENERAL JOURNAL BOOK - SUMMARY ENTRIES</option>
                                    <option value="3" data-cashinbank="0">GENERAL JOURNAL BOOK - SUBSIDIARY ENTRIES</option>
                                    <option value="4" data-cashinbank="0">CASH DISBURSEMENT BOOK - DETAILED ENTRIES</option>
                                    <option value="5" data-cashinbank="1">CASH DISBURSEMENT BOOK - SUMMARY ENTRIES</option>
                                    <option value="6" data-cashinbank="0">CASH DISBURSEMENT BOOK - SUBSIDIARY ENTRIES</option>
                                    <option value="7" data-cashinbank="0">CASH RECEIPTS BOOK - DETAILED ENTRIES</option>
                                    <option value="8" data-cashinbank="1">CASH RECEIPTS BOOK - SUMMARY ENTRIES</option>
                                    <option value="9" data-cashinbank="0">CASH RECEIPTS BOOK - SUBSIDIARY ENTRIES</option>
                                    <option value="10" data-cashinbank="0">ACCOUNTS PAYABLE VOUCHER - DETAILED ENTRIES</option>
                                    <option value="11" data-cashinbank="1">ACCOUNTS PAYABLE VOUCHER - SUMMARY ENTRIES</option>
                                    <option value="12" data-cashinbank="0">ACCOUNTS PAYABLE VOUCHER - SUBSIDIARY ENTRIES</option>
                                    <option value="13" data-cashinbank="0">ACCOUNTS PAYABLE VOUCHER (with Branch) - SUMMARY ENTRIES</option>
                                    <option value="14" data-cashinbank="0">GENERAL LEDGER BOOK - BIR FORMAT</option>
                                    <option value="15" data-cashinbank="0">CASH RECEIPTS BOOK - BIR FORMAT</option>
                                    <option value="16" data-cashinbank="0">PURCHASE BOOK - BIR FORMAT</option>
                                    <option value="17" data-cashinbank="0">GENERAL LEDGER BOOK - BIR FORMAT V2</option>
                                    <option value="18" data-cashinbank="0">GENERAL JOURNAL BOOK - BIR FORMAT V2</option>
                                    <option value="19" data-cashinbank="0">PURCHASE BOOK - BIR FORMAT V2</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label small">Date</label><br>
                                <div class="input-daterange datarange">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm"><i class="icon md-calendar" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control input-sm datepicker" id="dfrom">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">to</span>
                                        <input type="text" class="form-control input-sm datepicker" id="dto">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <a class="btn btn-info waves-effect waves-dark" id="search_results" style="margin-top: 22px; width: 100%;">
                                    <i class="icon fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search
                                </a>
                            </div>
                            <div class="form-group col-sm-2">
                                <a class="btn btn-info waves-effect waves-dark" id="excel" style="margin-top: 22px; width: 100%;">
                                    <i class="icon fa-file-excel-o" aria-hidden="true"></i>&nbsp;&nbsp;Excel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                <input type="hidden" value="{{ userrole }}" id="user_role">
            </div>
        </div>
        <div class="col-md-6" style="text-align: center" id="report_container">
            <div class="iframe_preview panel">
                <div class="shade" style="display: block; z-index: 99; background-color: transparent">
                    <div class="loader two-color" style="margin-top: 200px;"></div>
                </div>
                <iframe id="iframe" src="{% url 'rep_booksofaccounts:pdf' %}?report=0&from=&to=" width="100%" height="100%" frameborder="0" scrolling="yes"></iframe>
            </div>
        </div>
        <div class="col-md-6" id="report_container2">
            <div class="row">
                <div class="col-md-12">
                    <div class="iframe_preview panel">
                        <div class="shade" style="display: block; z-index: 99; background-color: transparent">
                            <div class="loader two-color" style="margin-top: 200px;"></div>
                        </div>
                        <iframe id="iframe2" src="{% url 'rep_booksofaccounts:pdfcashinbank' %}?report=0&from=&to=" width="100%" height="100%" border="0" frameborder="0" scrolling="yes"></iframe>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="iframe_preview panel">
                        <div class="shade" style="display: block; z-index: 99; background-color: transparent">
                            <div class="loader two-color" style="margin-top: 200px;"></div>
                        </div>
                        <iframe id="iframe3" src="{% url 'rep_booksofaccounts:pdfdepartment' %}?report=0&from=&to=" width="100%" height="100%" border="0" frameborder="0" scrolling="yes"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<div id="report-type-error" class="custom-alert danger">Select a Report Type first.</div>
<div id="date-from-error" class="custom-alert danger">Select Date From first.</div>
<div id="date-to-error" class="custom-alert danger">Select Date To first.</div>
{% endblock page-content %}
{% block extra_js %}
    {% load staticfiles %}
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
    <script src="{% static 'financial-layout/assets/js/panel/panel.min.js' %}"></script>
    <script>
    $(function () {

        $("#report_type").on('change', function() {
            var report = $('#report_type').val();

            if (report == 1 || report == 4 || report == 7 || report == 10 || report == 14 || report == 15 || report == 16 || report == 17 || report == 18 || report == 19) {
                $('#excel').show();
                <!--$('#search_results').hide();-->
            } else {
                $('#excel').hide();
                $('#search_results').show();
            }

        });

        $('#excel').on('click', function() {
            var report = $('#report_type').val();
            var dfrom = $('#dfrom').val();
            var dto = $('#dto').val();

            if (dfrom == null || dto == '') {
                alert('dates must not be empty');
                return false;
            }
            url = "{% url 'rep_booksofaccounts:excel' %}"+"?report="+report+"&dfrom="+dfrom+"&dto="+dto;
            window.open(url);
        });

	    $('#search_results').on('click', function(){
            if($('#report_type').val() == '' || $('#report_type').val() == null){
                customAlert($('#report-type-error'));
            }
            else if($('#dfrom').val() == '' || $('#dfrom').val() == null){
                customAlert($('#date-from-error'));
            }
            else if($('#dto').val() == '' || $('#dto').val() == null){
                customAlert($('#date-to-error'));
            }
            else {

                if($('#report_type option:selected').data('cashinbank') == '0'){
                    $('#report_container2').hide();
                    $('#report_container').removeClass('col-md-6');
                    $('#report_container').addClass('col-md-12');
                }
                else if($('#report_type option:selected').data('cashinbank') == '1'){
                    $('#report_container2').show();
                    $('#report_container').removeClass('col-md-12');
                    $('#report_container').addClass('col-md-6');
                }

                var report = $('#report_type').val();
                var date_from = $('#dfrom').val();
                var date_to = $('#dto').val();

                if($('#report_type option:selected').data('cashinbank') == '0'){
                    url = "{% url 'rep_booksofaccounts:pdf' %}"+"?report="+report+"&from="+date_from+"&to="+date_to;
                    $('#iframe').prop('src', url);
                }
                else if($('#report_type option:selected').data('cashinbank') == '1'){

                    url = "{% url 'rep_booksofaccounts:pdf' %}"+"?report="+report+"&from="+date_from+"&to="+date_to;
                    $('#iframe').prop('src', url);

                    url2 = "{% url 'rep_booksofaccounts:pdfcashinbank' %}"+"?report="+report+"&from="+date_from+"&to="+date_to;
                    $('#iframe2').prop('src', url2);

                    url3 = "{% url 'rep_booksofaccounts:pdfdepartment' %}"+"?report="+report+"&from="+date_from+"&to="+date_to;
                    $('#iframe3').prop('src', url3);
                }
            }
	    });

        if($('#report_type option:selected').data('cashinbank') == '0'){
            $('#report_container2').hide();
            $('#report_container').removeClass('col-md-6');
            $('#report_container').addClass('col-md-12');
        }
        else if($('#report_type option:selected').data('cashinbank') == '1'){
            $('#report_container2').show();
            $('#report_container').removeClass('col-md-12');
            $('#report_container').addClass('col-md-6');
        }
	});
    </script>
{% endblock extra_js %}