{% extends 'reports/base.html' %}
{% load humanize %}
{% block extra_css %}
    <style>
        td{
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block main_content %}
    <br>
    <h2>{{ report_type }}</h2>

    {% if report == 's' %}
        <table id="table_summary">
        <thead>
            <tr>
                <th class="left" style="width: 20%;"><span>Rep PCV Num</span></th>
                <th class="left" style="width: 20%;"><span>Date</span></th>
                <th class="left" style="width: 20%;"><span>CV Num</span></th>
                <th class="left" style="width: 20%;"><span>Entered By</span></th>
                <th class="right" style="width: 20%;"><span>Amount</span></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>{{ data.reppcvnum }}</td>
                    <td>{{ data.reppcvdate|date:'Y-m-d' }}</td>
                    <td>{{ data.cvmain.cvnum|default:'-' }}</td>
                    <td>{{ data.enterby.first_name }}&nbsp;{{ data.enterby.last_name }}</td>
                    <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="5"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="4"><b>Total</b></td>
                <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>


    {% elif report == 'd' %}
        <br>
        <table id="table_detailed">
        <thead>
            <tr>
                <th class="left" style="width: 7%;"><span>R.PCV Num</span></th>
                <th class="left" style="width: 7%;"><span>R.PCV Date</span></th>
                <th class="left" style="width: 7%;"><span>CV Num</span></th>
                <th class="left" style="width: 7%;"><span>CV Date</span></th>
                <th class="left" style="width: 13%;"><span>OF Num</span></th>
                <th class="left" style="width: 7%;"><span>OF Date</span></th>
                <th class="left" style="width: 15%;"><span>OF Subtype</span></th>
                <th class="left" style="width: 28%;"><span>Payee</span></th>
                <th class="right" style="width: 9%;"><span>Amount</span></th>
            </tr>
        </thead>
        <tbody class="small">
            {% for data in data_list %}
                <tr {% ifchanged data.ofmain.reppcvmain.reppcvnum %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td>
                        {% ifchanged data.ofmain.reppcvmain.reppcvnum %}
                            {{ data.ofmain.reppcvmain.reppcvnum }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {% ifchanged data.ofmain.reppcvmain.reppcvnum %}
                            {{ data.ofmain.reppcvmain.reppcvdate|date:'Y-m-d' }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {% ifchanged data.ofmain.reppcvmain.reppcvnum %}
                            {{ data.ofmain.reppcvmain.cvmain.cvnum|default:'-' }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {% ifchanged data.ofmain.reppcvmain.reppcvnum %}
                            {{ data.ofmain.reppcvmain.cvmain.cvdate|date:'Y-m-d'|default:'-' }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {% ifchanged data.ofmain.ofnum %}
                            OF-{{ data.ofmain.oftype.code }}-{{ data.ofmain.ofnum }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {% ifchanged data.ofmain.ofnum %}
                            {{ data.ofmain.ofdate|date:'Y-m-d' }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {% ifchanged data.ofsubtype.description and data.ofmain.ofnum %}
                            {{ data.ofsubtype.description }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {% if data.supplier_name != None %}
                            {{ data.supplier_name|upper }}
                        {% else %}
                            {{ data.payee_name|upper }}
                        {% endif %}
                    </td>
                    <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="9"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="8"><b>Total</b></td>
                <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>
    {% elif report == 'a_s' %}
        <table id="table_ae_summary">
            <thead>
                <tr>
                    <th class="left">Chart of Account</th>
                    <th class="left">Details</th>
                    <th class="right">Debit</th>
                    <th class="right">Credit</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr {% ifchanged data.chartofaccount__title %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td style="width: 35%">
                        {% ifchanged data.chartofaccount__title %}
                            {{ data.chartofaccount__accountcode }}&nbsp;&nbsp;&nbsp;{{ data.chartofaccount__description }}
                        {% endifchanged %}
                    </td>
                    <td style="width: 45%">
                        <table>
                            <tr>
                                {% if data.bankaccount__accountnumber %}
                                    <td>
                                        {% ifchanged data.bankaccount__accountnumber %}
                                            Bank Acct. No. {{ data.bankaccount__accountnumber }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.department__departmentname %}
                                    <td>
                                        {% ifchanged data.department__departmentname %}
                                            {{ data.department__departmentname }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.employee__firstname %}
                                    <td>
                                        {% ifchanged data.employee__firstname %}
                                            {{ data.employee__firstname }} {{ data.employee__lastname }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.supplier__name %}
                                    <td>
                                        {% ifchanged data.supplier__name %}
                                            {{ data.supplier__name }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.customer__name %}
                                    <td>
                                        {% ifchanged data.customer__name %}
                                            {{ data.customer__name }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.unit__description %}
                                    <td>
                                        {% ifchanged data.unit__description %}
                                            {{ data.unit__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.branch__description %}
                                    <td>
                                        {% ifchanged data.branch__description %}
                                            {{ data.branch__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.product__description %}
                                    <td>
                                        {% ifchanged data.product__description %}
                                            {{ data.product__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.inputvat__description %}
                                    <td>
                                        {% ifchanged data.inputvat__description %}
                                            {{ data.inputvat__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.outputvat__description %}
                                    <td>
                                        {% ifchanged data.outputvat__description %}
                                            {{ data.outputvat__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.vat__description or data.inputvat.description %}
                                    <td>
                                        {% ifchanged data.vat__description %}
                                            {{ data.vat__description|default:'---' }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.wtax__description %}
                                    <td>
                                        {% ifchanged data.wtax__description %}
                                            {{ data.wtax__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.ataxcode__code %}
                                    <td>
                                        {% ifchanged data.ataxcode__code %}
                                            {{ data.ataxcode__code }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td class="right" style="width: 10%;">
                        {% if data.balancecode == 'D' %}
                            {{ data.debitamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                    <td class="right" style="width: 10%;">
                        {% if data.balancecode == 'C' %}
                            {{ data.creditamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="4"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="2"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>


    {% elif report == 'a_d' %}
        <table id="table_ae_detailed">
            <thead>
                <tr>
                    <th class="left">Chart of Account</th>
                    <th class="left">Details</th>
                    <th class="left">Payee</th>
                    <th class="left">Date</th>
                    <th class="right">Debit</th>
                    <th class="right">Credit</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr {% ifchanged data.chartofaccount.description %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td style="width: 20%">
                        {% ifchanged data.chartofaccount.description %}
                            {{ data.chartofaccount.accountcode }}&nbsp;&nbsp;&nbsp;{{ data.chartofaccount.description }}
                        {% endifchanged %}
                    </td>
                    <td style="width: 34%">
                        <table>
                            <tr>
                                {% if data.bankaccount.accountnumber %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.bankaccount.accountnumber %}{% else %}{% endifchanged %}>Bank Acct. No. {{ data.bankaccount.accountnumber }}</td>
                                {% endif %}
                                {% if data.department.departmentname %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.department.departmentname %}{% else %}{% endifchanged %}>{{ data.department.departmentname }}</td>
                                {% endif %}
                                {% if data.employee.firstname %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.employee.firstname %}{% else %}{% endifchanged %}>{{ data.employee.firstname }} {{ data.employee.lastname }}</td>
                                {% endif %}
{#                                {% if data.supplier.name %}#}
{#                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.supplier.name %}{% else %}{% endifchanged %}>{{ data.supplier.name }}</td>#}
{#                                {% endif %}#}
                                {% if data.customer.name %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.customer.name %}{% else %}{% endifchanged %}>{{ data.customer.name }}</td>
                                {% endif %}
                                {% if data.unit.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.unit.description %}{% else %}{% endifchanged %}>{{ data.unit.description }}</td>
                                {% endif %}
                                {% if data.branch.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.branch.description %}{% else %}{% endifchanged %}>{{ data.branch.description }}</td>
                                {% endif %}
                                {% if data.product.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.product.description %}{% else %}{% endifchanged %}>{{ data.product.description }}</td>
                                {% endif %}
                                {% if data.inputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.inputvat.description %}{% else %}{% endifchanged %}>{{ data.inputvat.description }}</td>
                                {% endif %}
                                {% if data.outputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.outputvat.description %}{% else %}{% endifchanged %}>{{ data.outputvat.description }}</td>
                                {% endif %}
                                {% if data.vat.description or data.inputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.vat.description %}{% else %}{% endifchanged %}>{{ data.vat.description|default:'---' }}</td>
                                {% endif %}
                                {% if data.wtax.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.wtax.description %}{% else %}{% endifchanged %}>{{ data.wtax.description }}</td>
                                {% endif %}
                                {% if data.ataxcode.code %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.ataxcode.code %}{% else %}{% endifchanged %}>{{ data.ataxcode.code }}</td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td style="width: 26%">
                        {% if data.supplier %}
                            {{ data.supplier.name }}
                        {% elif data.ofitem.payee %}
                            {{ data.ofitem.payee_name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td style="width: 6%;">{{ data.of_date|date:'Y-m-d' }}</td>
                    <td class="right" style="width: 7%;">
                        {% if data.balancecode == 'D' %}
                            {{ data.debitamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                    <td class="right" style="width: 7%;">
                        {% if data.balancecode == 'C' %}
                            {{ data.creditamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="4"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="4"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock main_content %}