<form class="form-horizontal" id="detailform" method="get" action="">
{% csrf_token %}
    <div class="row">
        <label style="display: none;" id="itemno">1</label>
        <div class="col-lg-12 form-group row">
            <div class="col-md-12 row">
                <label class="col-sm-offset-2 col-sm-1 control-label" for="item_name">Item</label>
                <div class="col-sm-7">
                    <select class="form-control input-sm select2" required style="width: 100%" id="id_item_name" name="item_name">
                        <option value="">-- Select Item --</option>
                        {% for invitem in invitem %}
                            <option value="{{ invitem.id }}" data-um="{{ invitem.unitofmeasure.id }}"
                                    data-code="{{ invitem.code }}">{{ invitem.description }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block form-error"></span>
                </div><br><br><br>
                <label class="col-sm-offset-2 col-sm-1 control-label" for="id_qty">Quantity</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control input-sm text-right" id="id_qty" name="qty">
                    <span class="help-block form-error">{{ form.quantity.errors.as_text }}</span>
                </div>
                <label class="col-sm-1 control-label" for="id_unitcost">Cost</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control input-sm amount text-right" id="id_unitcost" name="unitcost"
                           maxlength="26">
                    <span class="help-block form-error">{{ form.unitcost.errors.as_text }}</span>
                </div>
                <label class="col-sm-offset-2 col-sm-1 control-label" for="id_currency">Currency</label>
                <div class="col-sm-3">
                    <select class="form-control input-sm select2" data-validation="required" id="id_currency" name="currency" style="width: 100%">
                        <option value="">-- Select --</option>
                        {% for currency in currency %}
                            {% if currency.id == 1 %}
                            <option value="{{ currency.id }}" {% if form.currency.value|add:0 == currency.id %} selected="selected" {% endif %}>{{ currency.description }} ({{ currency.symbol }})</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <span class="help-block form-error">{{ form.currency.errors.as_text }}</span>
                </div>
                <label class="col-sm-1 control-label" for="id_department">Dept.</label>
                <div class="col-sm-3">
                    <select class="form-control input-sm select2" data-validation="required" id="id_department" name="department" style="width: 100%">
                        <option value="">-- Select --</option>
                        {% for department in department %}
                            <option value="{{ department.id }}" {% if form.department.value|add:0 == department.id %} selected="selected" {% endif %}>{{ department.departmentname }} ({{ department.code }})</option>
                        {% endfor %}
                    </select>
                    <span class="help-block form-error">{{ form.department.errors.as_text }}</span>
                </div>
                <label class="col-sm-offset-2 col-sm-1 control-label" for="id_remarks">Remarks</label>
                <div class="col-sm-3">
                    <textarea class="form-control input-sm" id="id_remarks" name="remarks"></textarea>
                    <span class="help-block form-error">{{ form.remarks.errors.as_text }}</span>
                </div>
                <label class="col-sm-1 control-label" for="id_discountrate">Disc.</label>
                <div class="col-sm-2" style="padding-right: 5px">
                    <input type="text" class="form-control rate input-sm text-right" id="id_discountrate" name="discountrate"
                            maxlength="2">
                    <input type="text" class="form-control amount input-sm text-right" id="id_discountamount" name="discountamount"
                           maxlength="26" style="display: none">
                    <span class="help-block form-error">{{ form.discountrate.errors.as_text }}</span>
                </div>
                <div class="col-sm-1" style="padding-left: 0px">
                    <select class="form-control input-sm" data-validation="required" id="id_discounttype" name="discounttype" style="width: 100%">
                        <option value="rate">%</option>
                        <option value="amount">(amt)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 pull-left margin-bottom-10">
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailsubmit">Add Item</button>
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailclose">Close</button>
        </div>
    </div>
</form>
{% load static %}
<script src="{% static 'financial-layout/assets/js/form-mask/jquery.formatter.min.js' %}"></script>
<script src="{% static 'financial-layout/assets/js/form-mask/custom-masks.js' %}"></script>
<script src="{% static 'financial-layout/assets/js/form-mask/validate-masks.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        summary = $("#summary tbody");

        $("#btn_detailclose").click(function(){
            $("#detailentry").hide();
        });

        $("#btn_detailsubmit").click(function(){
            $('.shade').fadeIn();

            // parse values to be used for computation
            var unitCost = $("#id_unitcost").val().replace( /,/g, "") == "" ? 0 :
                    parseFloat($("#id_unitcost").val().replace( /,/g, ""));
            var vat = $("#id_vat").val().replace(/%/g, "") == "" ? 0 :
                    parseFloat($("#id_vat").val().replace(/%/g, ""));
            var vatCode = $('#id_vat').data('code');
            var qty = $("#id_qty").val() == "" ? 0 :
                    parseFloat($("#id_qty").val());
            var discountType = $("#id_discounttype").val();
            var discountRate = $.trim($("#id_discountrate").val()) == "" ? 0 :
                    parseFloat($.trim($("#id_discountrate").val()));
            var discountAmount = $("#id_discountamount").val().replace( /,/g, "") == "" ? 0 :
                    parseFloat($("#id_discountamount").val().replace( /,/g, ""));

            var computedValues = computeValues(unitCost, vat, vatCode, qty, discountType, discountRate, discountAmount);

            $.ajax({
                url: "{% url 'purchaseorder:savedetailtemp' %}",
                type: "post",
                data: {'itemno': $('#itemno').text(),
                        'id_itemid': $('#id_item_name').val(),
                        'id_remarks': $("#id_remarks").val(),
                        'id_um': $("option:selected", $("#id_item_name")).data('um'),
                        'id_prfno': '',
                        'id_department': $("#id_department").val(),
                        'id_currency': $("#id_currency").val(),
                        'id_unitcost': unitCost,
                        'id_grossunitcost': computedValues.grossUnitCost,
                        'id_quantity': qty,
                        'id_grossamount': computedValues.grossAmount,
                        'id_discountrate': (discountType == "rate") ? discountRate : 0,
                        'id_discountamount': (discountType == "amount") ? discountAmount : computedValues.discountAmt,
                        'id_vat': $("#id_vat").data('id'),
                        'id_vatrate': vat,
                        'id_vatable': computedValues.vatable,
                        'id_vatexempt': computedValues.vatExempt,
                        'id_vatzerorated': computedValues.vatZeroRated,
                        'id_totalpurchase': computedValues.totalPurchase,
                        'id_addvat': computedValues.addedVat,
                        'id_totalamount': computedValues.totalAmount,
                        'secretkey': $("#secretkey").val()},

                success: function(response) {
                    $("#itemno").text(parseInt($("#itemno").text()) + 1);
                    var um_selected = $("#id_item_name option:selected").data('um');

                    summary.append("<tr class='small'><td class='text-center'></td>" +
                        "<td>" + $("option:selected", $("#id_item_name")).data('code') + "</td>" +
                        "<td>" + $("option:selected", $("#id_item_name")).text() + "</td>" +
                        "<td><input type='text' name='temp_remarks' form='form-b' step='any' class='form-control " +
                            "input-sm' value='" + response.remarks + "'></td>" +
                        "<td><select class='form-control input-sm' required style='width: 100%' id='id_temp_item_um' " +
                            "name='temp_item_um' form='form-b'>" +
                            "{% for unitofmeasure in unitofmeasure %} <option value='{{ unitofmeasure.id }}' " +
                            "data-code='{{ unitofmeasure.code }}'>" +
                            "{{ unitofmeasure.description }}</option>{% endfor %}</select></td>" +
                        "<td class='text-center'> - </td>" +
                        "<td class='text-center'>" + response.department + "</td>" +
                        "<td class='text-center'>" + response.currency + "</td>" +
                        "<td><input type='text' name='temp_unitcost' form='form-b' step='any' class='form-control " +
                            "tblUnitCost input-sm amount text-right po_dynamic' maxlength='26' value='" +
                            unitCost.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "'></td>" +
                        "<td class='text-right'>" + computedValues.grossUnitCost.replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                            "</td>" +
                        "<td><input type='number' name='temp_quantity' form='form-b' step='any' class='form-control " +
                            "text-right tblQuantity input-sm' value='" + qty + "'></td>" +
                        "<td class='text-right'>" + computedValues.grossAmount.replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                            "</td>" +
                        "<td class='col_discount'>" +
                            "<input class='temp_discount_rate form-control input-sm rate text-right' maxlength='2'>" +
                            "<input class='temp_discount_amount form-control input-sm amount text-right po_dynamic' " +
                            "maxlength='26'></td>" +
                        "<td class='col_discount_type'><select class='temp_discount_type form-control input-sm'>" +
                            "<option value='rate'>%</option>" +
                            "<option value='amount'>(amt)</option>" +
                        "</select></td>" +
                        "<td class='text-right'>" + computedValues.discountAmt.replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                            "</td>" +
                        "<td class='text-right'>" + computedValues.vatable.replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                            "</td>" +
                        "<td class='text-right'>" + computedValues.vatExempt.replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                            "</td>" +
                        "<td class='text-right'>" + computedValues.vatZeroRated.replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                            "</td>" +
                        "<td class='text-right'>" + computedValues.totalPurchase.replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                            "</td>" +
                        "<td class='text-right'>" + computedValues.addedVat.replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                            "</td>" +
                        "<td class='text-right'><strong>" +
                            computedValues.totalAmount.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</strong></td>" +
                        "<td><button class='btn remove_item' style='margin: 0px;' data-itemno='" + response.itemno +
                            "'><i class='icon fa-remove' aria-hidden='true'></i></button></td>" +
                        "</tr>");

                    initMaskMoney('po_dynamic');
                    summary.find("tr").last().find("#id_temp_item_um option[value=" + um_selected + "]")
                            .attr('selected','selected');
                    summary.find("tr").last().find(".temp_discount_type option[value=" + discountType + "]")
                            .attr('selected','selected');
                    if(discountType == "rate"){
                        summary.find("tr").last().find(".temp_discount_rate").val(discountRate);
                    }
                    else{
                        summary.find("tr").last().find(".temp_discount_amount").val(discountAmount.toFixed(2).
                                replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    }

                    filterDiscount();

                    $("#id_item_name").val('').trigger('change.select2');
                    $("#id_qty").val('');
                    $("#id_unitcost").val('');
                    $("#id_department").val('').trigger('change.select2');
                    $("#id_currency").val('').trigger('change.select2');
                    $("#id_remarks").val('');
                    $("#id_discountrate").val('');
                    $("#id_discountamount").val('');
                    $("#id_discounttype").val('rate');

                    reorderItems();
                    computeTotalAmounts();

                    $('.shade').fadeOut();
                }
                , error: function(response) {
                    console.debug(response);
                    $('.shade').fadeOut();
                }
            });
        });

        $(document).on('change', '.temp_discount_type', function(){
            filterDiscount();
        });

        function filterDiscount(){
            $('.temp_discount_type').each(function(index) {
                $(this).parent().siblings('.col_discount').find('input').hide();

                if($(this).val() == "rate"){
                    $(this).parent().siblings('.col_discount').find('.temp_discount_rate').show();
                    $(this).parent().siblings('.col_discount').find('.temp_discount_amount').val('').hide();
                }
                else{
                    $(this).parent().siblings('.col_discount').find('.temp_discount_amount').show();
                    $(this).parent().siblings('.col_discount').find('.temp_discount_rate').val('').hide();
                }
            });
        }

        $(document).on('click', '.remove_item', function(){
            $('.shade').fadeIn();
            var elem = $(this);

            $.ajax({
                url: "{% url 'purchaseorder:deletedetailtemp' %}",
                type: "post",
                data: {'itemno': $(this).data('itemno'),
                        'secretkey': $("#secretkey").val(),
                        'ponum': $("#id_ponum").val()
                },

                success: function(response) {
                    elem.parent().parent().remove();
                    reorderItems();
                    $('.shade').fadeOut();
                }
                , error: function(response) {
                    console.debug(response);
                    $('.shade').fadeOut();
                }
            });
        });

        $('#id_discounttype').on('change', changeMask);

        function changeMask(){
            if($('#id_discounttype').val() == "amount"){
                $('#id_discountrate').hide();
                $('#id_discountrate').val("");
                $('#id_discountamount').show();
            }
            else if($('#id_discounttype').val() == "rate"){
                $('#id_discountamount').hide();
                $('#id_discountamount').val("");
                $('#id_discountrate').show();
            }
        }

        function reorderItems(){
            len = summary.find('tr').find('td:eq(0)').length;
            for(var i=0; i<len; i++){
                summary.find('tr:eq(' + i + ')').find('td:eq(0)').html(i+1);
                console.log(summary.find('tr:eq('+i+')').find('td:eq(0)').length)
            }
        }

        function computeValues(unitCost, vat, vatCode, qty, discountType, discountRate, discountAmount){
            var grossUnitCost = unitCost / ( 1 + ( vat / 100 ));
            var grossAmount = grossUnitCost * qty;
            var discountAmt = discountType == "rate" ? grossAmount * discountRate / 100 : discountAmount;
            var vatable = 0, vatExempt = 0, vatZeroRated = 0;
            var discountedAmount = grossAmount - discountAmt;

            (vat > 0) ? vatable = discountedAmount : (vatCode == 'VE') ? vatExempt = discountedAmount :
                    (vatCode == 'ZE') ? vatZeroRated = discountedAmount : discountedAmount;

            var totalPurchase = discountedAmount;
            var addedVat = totalPurchase * ( vat / 100 );
            var totalAmount = totalPurchase + addedVat;

            return {grossUnitCost: grossUnitCost.toFixed(2), grossAmount: grossAmount.toFixed(2),
                discountAmt: discountAmt.toFixed(2), vatable: vatable.toFixed(2),
                vatExempt: vatExempt.toFixed(2), vatZeroRated: vatZeroRated.toFixed(2),
                totalPurchase: totalPurchase.toFixed(2), addedVat: addedVat.toFixed(2),
                totalAmount: totalAmount.toFixed(2)};
        }

        function computeTotalAmounts(){
            var totalQuantity = 0;
            var totalGrossAmount = 0;
            var totalDiscountAmount = 0;
            var totalVATable = 0;
            var totalVATExempt = 0;
            var totalVATZeroRated = 0;
            var totalTotalPurchase = 0;
            var totalAddVAT = 0;
            var totalTotalAmount = 0;

            $('.tblQuantity').each(function(index) {
                totalQuantity += parseFloat($(this).val());
                totalGrossAmount += parseFloat($(this).parent().next().text().replace( /,/g, ""));
                totalDiscountAmount += parseFloat($(this).parent().next().next().next().next().text().replace( /,/g, ""));
                totalVATable += parseFloat($(this).parent().next().next().next().next().next().text().replace( /,/g, ""));
                totalVATExempt += parseFloat($(this).parent().next().next().next().next().next().next().text().replace( /,/g, ""));
                totalVATZeroRated += parseFloat($(this).parent().next().next().next().next().next().next().next().text().replace( /,/g, ""));
                totalTotalPurchase += parseFloat($(this).parent().next().next().next().next().next().next().next().next().text().replace( /,/g, ""));
                totalAddVAT += parseFloat($(this).parent().next().next().next().next().next().next().next().next().next().text().replace( /,/g, ""));
                totalTotalAmount += parseFloat($(this).parent().next().next().next().next().next().next().next().next().next().next().text().replace( /,/g, ""));

                $('#lblQuantity').val(totalQuantity);
                $('#lblGrossAmount').val(totalGrossAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#lblDiscountAmount').val(totalDiscountAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#lblVATable').val(totalVATable.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#lblVATExempt').val(totalVATExempt.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#lblVATZeroRated').val(totalVATZeroRated.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#lblTotalPurchase').val(totalTotalPurchase.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#lblAddVAT').val(totalAddVAT.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#lblTotalAmount').val(totalTotalAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });
        }
    });
</script>