{% extends 'reports/base.html' %}
{% load humanize %}
{% block extra_css %}
    <style>
        td{
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block main_content %}
    <br>
    <h2>{{ report_type }}</h2>

    {% if report == 's' %}
        <table id="table_summary">
        <thead>
            <tr>
                {# @change theads #}
                <th class="left" style="width: 10%;"><span>PO Number</span></th>
                <th class="left" style="width: 10%;"><span>Date</span></th>
                <th class="left" style="width: 10%;"><span>Ref No.</span></th>
                <th class="left" style="width: 10%;"><span>PO Status</span></th>
                <th class="left" style="width: 30%;"><span>Supplier</span></th>
                <th class="right" style="width: 10%;"><span>Quantity</span></th>
                <th class="right" style="width: 10%;"><span>Gross Amount</span></th>
                <th class="right" style="width: 10%;"><span>Net Amount</span></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    {# @change data #}
                    <td>{{ data.ponum }}</td>
                    <td>{{ data.podate|date:'Y-m-d' }}</td>
                    <td>{{ data.refnum }}</td>
                    <td>{{ data.get_postatus_display }}</td>
                    <td>{{ data.supplier_code }} - {{ data.supplier_name }}</td>
                    <td class="right">{{ data.totalquantity }}</td>
                    <td class="right">
                        {% if data.grossamount != 0.00 %}
                            {{ data.grossamount|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                    <td class="right">
                        {% if data.netamount != 0.00 %}
                            {{ data.netamount|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="8"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                {# @change totals #}
                <td colspan="6"><b>Total</b></td>
                <td class="right"><b>
                    {{ report_totalgross.grossamount__sum|floatformat:2|intcomma }}
                </b></td>
                <td class="right"><b>
                    {{ report_totalnet.netamount__sum|floatformat:2|intcomma }}
                </b></td>
            </tr>
        </tbody>
        </table>


    {% elif report == 'd' %}
        <table id="table_detailed">
        <thead>
            <tr>
                {# @change theads #}
                <th class="left" style="width: 6%;"><span>PO Number</span></th>
                <th class="left" style="width: 6%;"><span>Date</span></th>
                <th class="left" style="width: 4%;"><span>Status</span></th>
                <th class="left" style="width: 18%;"><span>Supplier</span></th>

                <th class="left" style="width: 20%;"><span>Item</span></th>
                <th class="left" style="width: 4%;"><span>Branch</span></th>
                <th class="left" style="width: 4%;"><span>Dept.</span></th>
                <th class="right" style="width: 7%;"><span>Item Cost</span></th>
                <th class="right" style="width: 3%;"><span>Qty.</span></th>
                <th class="right" style="width: 8%;"><span>Gross Amount</span></th>
                <th class="right" style="width: 8%;"><span>Net Amount</span></th>

                <th class="right" style="width: 6%;"><span>Total Qty.</span></th>
                <th class="right" style="width: 8%;"><span>Total Gross</span></th>
                <th class="right" style="width: 8%;"><span>Total Net</span></th>
            </tr>
        </thead>
        <tbody class="small">
            {% for data in data_list %}
                <tr>
                    {# @change data #}
                    {% ifchanged data.pomain.ponum %}
                        <td>{{ data.pomain.ponum }}</td>
                        <td>{{ data.pomain.podate|date:'Y-m-d' }}</td>
                        <td>{{ data.pomain.postatus }}</td>
                        <td>{{ data.pomain.supplier_code }} - {{ data.pomain.supplier_name }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endifchanged %}
                    <td>{{ data.invitem_code }} - {{ data.invitem_name }}</td>
                    <td>{{ data.branch.code }}</td>
                    <td>{{ data.department.code }}</td>
                    <td class="right">{{ data.unitcost }}</td>
                    <td class="right">{{ data.quantity }}</td>
                    <td class="right">
                        {% if data.grossamount != 0.00 %}
                            {{ data.grossamount }}
                        {% endif %}
                    </td>
                    <td class="right">
                        {% if data.netamount != 0.00 %}
                            {{ data.netamount }}
                        {% endif %}
                    </td>
                    {% ifchanged data.pomain.ponum %}
                        <td class="right">{{ data.pomain.totalquantity }}</td>
                        <td class="right">
                            {% if data.pomain.grossamount != 0.00 %}
                                {{ data.pomain.grossamount|floatformat:2|intcomma }}
                            {% endif %}
                        </td>
                        <td class="right">
                            {% if data.pomain.netamount != 0.00 %}
                                {{ data.pomain.netamount|floatformat:2|intcomma }}
                            {% endif %}
                        </td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endifchanged %}
                </tr>
            {% endfor %}
            <tr><td colspan="14"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                {# @change totals #}
                <td colspan="12"><b>Total</b></td>
                <td class="right"><b>
                    {{ report_totalgross.grossamount__sum|floatformat:2|intcomma }}
                </b></td>
                <td class="right"><b>
                    {{ report_totalnet.netamount__sum|floatformat:2|intcomma }}
                </b></td>
            </tr>
        </tbody>
        </table>
    {% endif %}
{% endblock main_content %}