{% extends 'base-form.html' %}
{% block page-title %} Employee {% endblock page-title %}
{% load humanize %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="panel margin-bottom-20">
                <!-- Start Simple Form Validation -->
                <div class="panel-heading">
                    <h3 class="panel-title">EDIT</h3>
                </div>
                <div class="panel-body">
                    <form autocomplete="off" id="form-b" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="row col-md-5">
                                <div class="form-group col-md-12 form-group-0 form-group-sm
                                 {{ form.code.errors|yesno:'has-error,' }}">
                                    <label for="id_code" class="col-sm-4 control-label">Employee No.</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="id_code" maxlength="10" readonly="readonly" placeholder="Emp. No." name="code" data-validation="required" value="{{ form.code.value|default:'' }}">
                                        <span class="help-block form-error help-block-sm">{{ form.code.errors.as_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm
                                 {{ form.firstname.errors|yesno:'has-error,' }}">
                                    <br><label for="id_firstname" class="col-sm-4 control-label">First Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="id_firstname" maxlength="75" placeholder="First Name"
                                               name="firstname" data-validation="required" value="{{ form.firstname.value|default:'' }}">
                                        <span class="help-block form-error help-block-sm">{{ form.firstname.errors.as_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm
                                 {{ form.middlename.errors|yesno:'has-error,' }}">
                                    <label for="id_middlename" class="col-sm-4 control-label">Middle Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="id_middlename" maxlength="75" placeholder="Middle Name"
                                               name="middlename" value="{{ form.middlename.value|default:'' }}">
                                        <span class="help-block form-error help-block-sm">{{ form.middlename.errors.as_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm
                                 {{ form.lastname.errors|yesno:'has-error,' }}">
                                    <label for="id_lastname" class="col-sm-4 control-label">Last Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="id_lastname" maxlength="75" placeholder="Last Name"
                                               name="lastname" data-validation="required" value="{{ form.lastname.value|default:'' }}">
                                        <span class="help-block form-error help-block-sm">{{ form.lastname.errors.as_text }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-7">
                                <div class="form-group form-group-0 col-md-12
                                 {{ form.managementlevel.errors|yesno:'has-error,' }}">
                                    <label for="id_managementlevel" class="col-sm-4 control-label">Management Level</label>
                                    <div class="col-sm-7">
                                        <select id="id_managementlevel" class="form-control input-sm" name="managementlevel">
                                            <option value="">-- Select --</option>
                                            {% for managementlevel in managementlevel %}
                                                <option value="{{ managementlevel.id }}" {% if form.managementlevel.value|add:0 == managementlevel.id %} selected="selected" {% endif %}>{{ managementlevel.level }} - {{ managementlevel.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="help-block form-error">{{ form.managementlevel.errors.as_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group form-material form-group-0 form-group-sm col-md-12
                                 {{ form.department.errors|yesno:'has-error,' }}">
                                    <br><label for="id_department" class="col-sm-4 control-label">Department</label>
                                    <div class="col-sm-7">
                                        <select id="id_department" class="form-control ajaxselect2" name="department" data-validation="required">
                                            {% if department.id != None %}
                                                <option value="{{ department.id }}">{{ department.departmentname }}</option>
                                            {% endif %}
                                        </select>
                                        <span class="help-block form-error help-block-sm">{{ form.department.errors.as_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm
                                 {{ form.email.errors|yesno:'has-error,' }}">
                                    <label for="id_email" class="col-sm-4 control-label">Email Address</label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" id="id_email" maxlength="100" placeholder="Email Address"
                                               name="email" value="{{ form.email.value|default:'' }}">
                                        <span class="help-block form-error help-block-sm">{{ form.email.errors.as_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group form-material form-group-0 form-group-sm col-md-12">
                                    <br><label for="id_supplier" class="col-sm-4 control-label">Tag Supplier for (AP/CV)</label>
                                    <div class="col-sm-7">
                                        <select id="id_supplier" class="form-control ajaxselect2" name="supplier">
                                            {% if supplier.id != None %}
                                                <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                            {% endif %}
                                        </select>
                                        <span class="help-block form-error help-block-sm">{{ form.supplier.errors.as_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm
                                 {{ form.cellphone_subsidize_amount.errors|yesno:'has-error,' }}">
                                    <label for="id_cellphone_subsidize_amount" class="col-sm-4 control-label">Cellphone Subsidize Amt.</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control amount text-right" id="id_cellphone_subsidize_amount" maxlength="26" name="cellphone_subsidize_amount"
                                               value="{{ form.cellphone_subsidize_amount.value|floatformat:2|intcomma|default:'' }}" placeholder="0.00">
                                        <span class="help-block form-error help-block-sm">{{ form.cellphone_subsidize_amount.errors.as_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">Enable Revolving Fund</label>
                                        <div class="col-sm-5">
                                            <div class="radio-custom radio-default radio-inline padding-top-0">
                                                <input type="radio" id="id_revolving" name="revolving" value="1" {% if form.revolving.value == 1 %} checked="checked" {% endif %}>
                                                <label for="id_revolving">Yes</label>
                                            </div>
                                            <div class="radio-custom radio-default radio-inline padding-top-10">
                                                <input type="radio" id="id_revolving" name="revolving" value="0" {% if form.revolving.value == 0 %} checked="checked" {% endif %}>
                                                <label for="id_revolving">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">Enable AP Approver</label>
                                        <div class="col-sm-5">
                                            <div class="radio-custom radio-default radio-inline padding-top-0">
                                                <input type="radio" id="id_ap_approver" name="ap_approver" value="1" {% if form.ap_approver.value == 1 %} checked="checked" {% endif %}>
                                                <label for="id_ap_approver">Yes</label>
                                            </div>
                                            <div class="radio-custom radio-default radio-inline padding-top-10">
                                                <input type="radio" id="id_ap_approver" name="ap_approver" value="0" {% if form.ap_approver.value == 0 %} checked="checked" {% endif %}>
                                                <label for="id_ap_approver">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">Enable CV Approver</label>
                                        <div class="col-sm-5">
                                            <div class="radio-custom radio-default radio-inline padding-top-0">
                                                <input type="radio" id="id_cv_approver" name="cv_approver" value="1" {% if form.cv_approver.value == 1 %} checked="checked" {% endif %}>
                                                <label for="id_cv_approver">Yes</label>
                                            </div>
                                            <div class="radio-custom radio-default radio-inline padding-top-10">
                                                <input type="radio" id="id_cv_approver" name="cv_approver" value="0" {% if form.cv_approver.value == 0 %} checked="checked" {% endif %}>
                                                <label for="id_cv_approver">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">Enable JV Approver</label>
                                        <div class="col-sm-5">
                                            <div class="radio-custom radio-default radio-inline padding-top-0">
                                                <input type="radio" id="id_jv_approver" name="jv_approver" value="1" {% if form.jv_approver.value == 1 %} checked="checked" {% endif %}>
                                                <label for="id_jv_approver">Yes</label>
                                            </div>
                                            <div class="radio-custom radio-default radio-inline padding-top-10">
                                                <input type="radio" id="id_jv_approver" name="jv_approver" value="0" {% if form.jv_approver.value == 0 %} checked="checked" {% endif %}>
                                                <label for="id_jv_approver">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">Enable OR Approver</label>
                                        <div class="col-sm-5">
                                            <div class="radio-custom radio-default radio-inline padding-top-0">
                                                <input type="radio" id="id_or_approver" name="or_approver" value="1" {% if form.or_approver.value == 1 %} checked="checked" {% endif %}>
                                                <label for="id_revolving">Yes</label>
                                            </div>
                                            <div class="radio-custom radio-default radio-inline padding-top-10">
                                                <input type="radio" id="id_or_approver" name="or_approver" value="0" {% if form.or_approver.value == 0 %} checked="checked" {% endif %}>
                                                <label for="id_revolving">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">Enable CS Approver</label>
                                        <div class="col-sm-5">
                                            <div class="radio-custom radio-default radio-inline padding-top-0">
                                                <input type="radio" id="id_cs_approver" name="cs_approver" value="1" {% if form.cs_approver.value == 1 %} checked="checked" {% endif %}>
                                                <label for="id_cs_approver">Yes</label>
                                            </div>
                                            <div class="radio-custom radio-default radio-inline padding-top-10">
                                                <input type="radio" id="id_cs_approver" name="cs_approver" value="0" {% if form.cs_approver.value == 0 %} checked="checked" {% endif %}>
                                                <label for="id_cs_approver">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">Enable HR Approver</label>
                                        <div class="col-sm-5">
                                            <div class="radio-custom radio-default radio-inline padding-top-0">
                                                <input type="radio" id="id_hr_approver" name="hr_approver" value="1" {% if form.hr_approver.value == 1 %} checked="checked" {% endif %}>
                                                <label for="id_hr_approver">Yes</label>
                                            </div>
                                            <div class="radio-custom radio-default radio-inline padding-top-10">
                                                <input type="radio" id="id_hr_approver" name="hr_approver" value="0" {% if form.hr_approver.value == 0 %} checked="checked" {% endif %}>
                                                <label for="id_hr_approver">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">OF Approver Type</label>
                                        <div class="col-sm-5">
                                            <select id="id_of_approver" name="of_approver" class="form-control">
                                            <option value="0">--Select--</option>
                                            <option value="1" {% if form.of_approver.value == 1 %} selected{% endif %}>OIC</option>
                                            <option value="2" {% if form.of_approver.value == 2 %} selected{% endif %}>AVP/VP</option>
                                            <option value="3" {% if form.of_approver.value == 3 %} selected{% endif %}>COO</option>
                                            <option value="4" {% if form.of_approver.value == 4 %} selected{% endif %}>HR (Eyeglass/Antibiotic) L1</option>
                                            <option value="5" {% if form.of_approver.value == 5 %} selected{% endif %}>HR (Eyeglass/Antibiotic) L2</option>
                                            <option value="6" {% if form.of_approver.value == 6 %} selected{% endif %}>HR (Eyeglass/Antibiotic) L3</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-group-0 form-group-sm">
                                    <div class="form-group form-group-5 form-group-sm form-material">
                                        <label for="id_ctax" class="col-sm-4 col-shrink control-label">Group</label>
                                        <div class="col-sm-5">
                                            <select id="id_group" name="group" class="form-control">
                                            <option value="0">--Select--</option>
                                            <option value="B" {% if form.group.value == 'B' %} selected{% endif %}>Business - RSA</option>
                                            <option value="C" {% if form.group.value == 'C' %} selected{% endif %}>Business - ATG</option>
                                            <option value="E" {% if form.group.value == 'E' %} selected{% endif %}>Editorial</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
{#                                <div class="form-group col-md-12 form-group-0 form-group-sm form-material {{ form.multiplestatus.errors|yesno:'has-error,' }}">#}
{#                                    <label for="id_multiplestatus" class="col-sm-4 control-label">Multiple Status</label>#}
{#                                    <div class="col-sm-7">#}
{#                                        <select id="id_multiplestatus" name="multiplestatus" class="form-control">#}
{#                                            {% for id,name in form.fields.multiplestatus.choices %}#}
{#                                                <option value="{{ id }}"{% if form.multiplestatus.value == id %} selected{% endif %}>{% ifequal id ""%}-- Select --{% else %}{{ name }}{% endifequal %}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                        <span class="help-block form-error help-block-sm">{{ form.multiplestatus.errors.as_text }}</span>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info margin-top-25" id="validateButton">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End Simple Form Validation -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
<script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/custom-maskMoney.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    /* Hack tools for selecting first option default foreign data value */
    $(document).ready(function() {
        <!--$('.select2').select2({});-->
        <!--ajaxselect2("supplier", "detail_supplier");-->
        <!--ajaxselect2("department", "detail_customer");-->

        ajaxselect2("department", "id_department");
        ajaxselect2("supplier", "id_supplier");

    });
</script>
{% endblock extra_js %}