{% extends 'base-form.html' %}
{% block page-title %} Report - Contribution Margin {% endblock page-title %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.min.css' %}" />
    <style>
        .list_header_modified{
            border: none;
            border-bottom: 1px solid #e0e0e0;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                        <div class="form-group col-sm-4">
                            <label class="control-label small">Report Type</label>
                            <select class="form-control input-sm" id="report_type">
                                <option value="4">Contribution Margin - Expense Summary</option>
                                <option value="1">Contribution Margin - Type of Expense</option>
                                <option value="2">Contribution Margin - Kind of Expense</option>
                                <option value="3">Contribution Margin - Group</option>
                                <!--<option value="2">Advertising Discounts / Circulation Returns</option>-->
                                <!--<option value="3">Other Income - INS</option>-->
<!--{#                                <option value="4">Contribution Margin Transaction List</option>#}-->
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label small">Date</label><br>
                            <div class="input-daterange datarange">
                                <div class="input-group">
                                    <span class="input-group-addon input-sm"><i class="icon md-calendar" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control input-sm datepicker" id="dfrom">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon input-sm">to</span>
                                    <input type="text" class="form-control input-sm datepicker" id="dto">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <a class="btn btn-info waves-effect waves-dark" id="generate" style="margin-top: 22px; width: 40%;">
                                <i class="icon fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;Generate
                            </a>
                            <a class="btn btn-info waves-effect waves-dark" id="excel" style="margin-top: 22px; width: 40%;">
                                <i class="icon fa-file-excel-o" aria-hidden="true"></i>&nbsp;&nbsp;Excel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="min-height: 800px;overflow: scroll;">
                <iframe src="{% url 'rep_contributionmargin:pdf' %}?report=0&from=&to=" id="result" height="800px" width="100%"></iframe>
                <div id="iframe" frameborder="0" scrolling="yes"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
<script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
<script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(function(){

    $('#generate').click(function() {

        var report = $('#report_type').val();
        var date_from = $('#dfrom').val();
        var date_to = $('#dto').val();

        if (date_from == '' || date_to == '' || report == '' ) {
            alert('Report Type and Transaction Date must not be empty');
            return false;
        }

        $.ajax({
            url: "{% url 'rep_contributionmargin:generate' %}",
            type: "get",
            dataType: "json",
            data: {
                'csrfmiddlewaretoken': "{{csrf_token}}",
                'report':  report,
                'from':  date_from,
                'to':  date_to,
            },
            success: function(response) {
            $('#iframe').show();
            $('#result').hide();
            $("#iframe").html(response['viewhtml']);
            }
        });


    });

    $('#excel').click(function() {

        var report = $('#report_type').val();
        var date_from = $('#dfrom').val();
        var date_to = $('#dto').val();

        if (date_from == '' || date_to == '' || report == '' ) {
            alert('Report Type and Transaction Date must not be empty');
            return false;
        }

        url = "{% url 'rep_contributionmargin:excel' %}"+"?report="+report+"&from="+date_from+"&to="+date_to;
        $('#result').prop('src', url);


    });

});
</script>
{% endblock extra_js %}
