{% extends 'base-form.html' %}
{% block page-title %} Company Parameter {% endblock page-title %}
{% load humanize %}
{% block extra_css %}
    <style>
    h4.list-title{
        padding-bottom: 10px;
    }
    div.panel-body{
        padding: 20px 30px;
    }
    .detail-profile.contact-person{
        float: left;
        margin-left: 30px;
    }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="page-content container-fluid page">
    <div class="row">
        <div class="col-md-8">
            <!-- Start Profile Tab Section -->
            <div class="nav-tabs nav-tabs-animate border-profile">
                <ul class="nav nav-tabs nav-profile">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Information</a></li>
                </ul>
                <div class="tab-content padding-top-0">
                    <div class="tab-pane active" id="profiles" role="tabpanel">
                        <div class="panel top-profile skill-profile margin-bottom-30">
                            <div class="panel-body">
                                <h4 class="list-title">Main Details<div style="float: right">
                                    {% if object.status == 'A' %}<i class="icon fa-check" aria-hidden="true"></i>
                                    {% elif object.status == 'I' %}<i class="icon fa-close" aria-hidden="true"></i>
                                    {% endif %}
                                    <span class="text-info">{{ object.status_verbose }}</span></div></h4>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Code&nbsp;: </span>
                                            <span class="detail-profile">{{ object.code }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Name&nbsp;: </span>
                                            <span class="detail-profile">{{ object.description }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Address 1&nbsp;: </span>
                                            <span class="detail-profile">{{ object.address1 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Address 2&nbsp;: </span>
                                            <span class="detail-profile">{{ object.address2 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Zip Code&nbsp;: </span>
                                            <span class="detail-profile">{{ object.zipcode }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Tel. No. 1&nbsp;: </span>
                                            <span class="detail-profile">{{ object.telno1 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Tel. No. 2&nbsp;: </span>
                                            <span class="detail-profile">{{ object.telno2 }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel top-profile skill-profile margin-bottom-30">
                            <div class="panel-body">
                                <h4 class="list-title">Contact Persons</h4>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
{#                                            <span class="text-name-profile text-info">Contact Persons:</span>#}
                                            {% if object.contactperson_acctg1 %}<span class="detail-profile contact-person">
                                                {{ object.contactperson_acctg1 }} (Accounting)</span>{% endif %}
                                            {% if object.contactperson_acctg2 %}<span class="detail-profile contact-person">
                                                {{ object.contactperson_acctg2 }} (Accounting)</span>{% endif %}
                                            {% if object.contactperson_it1 %}<span class="detail-profile contact-person">
                                                {{ object.contactperson_it1 }} (IT)</span>{% endif %}
                                            {% if object.contactperson_it2 %}<span class="detail-profile contact-person">
                                                {{ object.contactperson_it2 }} (IT)</span>{% endif %}
                                            {% if object.contactperson_other1 %}<span class="detail-profile contact-person">
                                                {{ object.contactperson_other1 }}</span>{% endif %}
                                            {% if object.contactperson_other2 %}<span class="detail-profile contact-person">
                                                {{ object.contactperson_other2 }}</span>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel top-profile skill-profile margin-bottom-30">
                            <div class="panel-body">
                                <h4 class="list-title">Reference Numbers</h4>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">SSS No.&nbsp;: </span>
                                            <span class="detail-profile">{{ object.sssnum }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Res. Cert. No.&nbsp;: </span>
                                            <span class="detail-profile">{{ object.rescertnum }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">TIN&nbsp;: </span>
                                            <span class="detail-profile">{{ object.tinnum }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Issued at&nbsp;: </span>
                                            <span class="detail-profile">{{ object.issued_at }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Issued on&nbsp;: </span>
                                            <span class="detail-profile">{{ object.issued_date }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box-profile">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="list-title">Withholding Tax Signatory</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Name&nbsp;: </span>
                                    <span class="detail-profile">{{ object.wtaxsign_name }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">TIN&nbsp;: </span>
                                    <span class="detail-profile">{{ object.wtaxsign_tin }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Position&nbsp;: </span>
                                    <span class="detail-profile">{{ object.wtaxsign_position }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box-profile">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="list-title">BIR</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 1&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer1 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 2&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer2 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 3&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer3 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 4&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer4 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 5&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer5 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 6&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer6 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 7&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer7 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 8&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer8 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 9&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer9 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 10&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer10 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 11&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer11 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 12&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer12 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 13&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer13 }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Notes 14&nbsp;: </span>
                                    <span class="detail-profile">{{ object.report_footer14 }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End Profile Tab Section -->
        </div>
        <div class="col-md-4">
            <div class="right-box-profile">
                <h4 class="skill-title">Activity Logs</h4>
                <div class="panel">
                    <div class="panel-body">
                        <div class="master-degree">
                            <span class="degree-name text-info">Created By:</span>
                            <div class="univer-profile">{{ object.enterby }}</div>
                            <div class="univer-profile">{{ object.enterdate }}</div>
                        </div>
                        <div class="master-degree">
                            <span class="degree-name text-info">Modify By:</span>
                            <div class="univer-profile">{{ object.modifyby }}</div>
                            <div class="univer-profile">{{ object.modifydate }}</div>
                        </div>
                        <div class="master-degree">
                            <div class="iconlist">
                            {% if perms.companyparameter.change_companyparameter %}
                            <a href="{% url 'companyparameter:update' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                                    <i class="icon_pencil" aria-hidden="true"></i>
                                </button>
                            </a>
                            {% endif %}
                            {% if perms.companyparameter.delete_companyparameter %}
                            <a href="{% url 'companyparameter:delete' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Delete" title="" aria-describedby="tooltip850155">
                                <button type="button" class="btn btn-floating btn-danger btn-sm waves-effect waves-float waves-light">
                                    <i class="icon_trash" aria-hidden="true"></i>
                                </button>
                            </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box-profile">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="list-title">Accounts</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Retained Earnings&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_retainedearnings.accountcode }}] - {{ object.coa_retainedearnings.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Current Earnings&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_currentearnings.accountcode }}] - {{ object.coa_currentearnings.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Income Tax Payable&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_incometaxespayable.accountcode }}] - {{ object.coa_incometaxespayable.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Provision for Income Tax&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_provisionincometax.accountcode }}] - {{ object.coa_provisionincometax.description }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box-profile">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="list-title">Pro-forma Entries</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Cash in Bank&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_cashinbank.accountcode }}] - {{ object.coa_cashinbank.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Accounts Payable&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_aptrade.accountcode }}] - {{ object.coa_aptrade.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Input VAT&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_inputvat.accountcode }}] - {{ object.coa_inputvat.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Deferred Input VAT&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_deferredinputvat.accountcode }}] - {{ object.coa_deferredinputvat.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Output VAT&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_outputvat.accountcode }}] - {{ object.coa_outputvat.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Expanded WTax&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_ewtax.accountcode }}] - {{ object.coa_ewtax.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Unearned Subscription&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_unsubscribe.accountcode }}] - {{ object.coa_unsubscribe.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Subscription Revenue&nbsp;: </span>
                                    <span class="detail-profile">[{{ object.coa_subsrev.accountcode }}] - {{ object.coa_subsrev.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Bank Account&nbsp;: </span>
                                    <span class="detail-profile">{% if object.def_bankaccount %}{{ object.def_bankaccount.code }} [{{ object.def_bankaccount.bank.description }} - {{ object.def_bankaccount.bankaccounttype.description }}, {{ object.def_bankaccount.bankbranch.description }}]{% else %}N/A{% endif %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box-profile">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="list-title">Defaults</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">PCV Meal Expense Budget Limit&nbsp;: </span>
                                    <span class="detail-profile"><strong>P <code>{{ object.pcv_meal_budget_limit|intcomma }}</code></strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box-profile">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="list-title">Last Numbers Used</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Last Monthly Closing&nbsp;: </span>
                                    <span class="detail-profile">{{ object.last_closed_date }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Provision for Income Tax Rate&nbsp;: </span>
                                    <span class="detail-profile">{{ object.income_tax_rate }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box-profile">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="list-title">Approvers</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Budget&nbsp;: </span>
                                    <span class="detail-profile">{{ object.budgetapprover.first_name }}&nbsp;{{ object.budgetapprover.last_name }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Petty Cash (Initial)&nbsp;: </span>
                                    <span class="detail-profile">{{ object.pcv_initial_approver.first_name }}&nbsp;{{ object.pcv_initial_approver.last_name }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Petty Cash (Final)&nbsp;: </span>
                                    <span class="detail-profile">{{ object.pcv_final_approver.first_name }}&nbsp;{{ object.pcv_final_approver.last_name }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Revolving Fund (Initial)&nbsp;: </span>
                                    <span class="detail-profile">{{ object.rfv_initial_approver.first_name }}&nbsp;{{ object.rfv_initial_approver.last_name }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="first-name-profile">
                                    <span class="text-name-profile text-info">Revolving Fund (Final)&nbsp;: </span>
                                    <span class="detail-profile">{{ object.rfv_final_approver.first_name }}&nbsp;{{ object.rfv_final_approver.last_name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page-content %}