{% extends 'base-form.html' %}
{% load endless %}
{% load humanize %}
{% load staticfiles %}
{% block page-title %}<div style="line-height: 25px;">Cash Receipt Book<br><small><small>Report</small></small></div>{% endblock page-title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout//assets/css/global/panel-transition.min.css' %}" />
    <style>
        .panel-title{
            padding: 12px;
        }
        .panel-actions{
            margin-right: -29px;
        }
        .panel-actions a{
            margin-right: -1px;
        }
        .btn-panel{
            font-size: 15px;
            padding: 15px;
        }
        #rep_f_keyword{
            border: none;
            font-size: 15px;
            font-weight: normal;
            color: #616161;
            padding-left: 65px;
            padding-right: 180px;
            padding-top: 2px;
            margin-left: 110px;
            height: 21px;
        }
        #rep_b_print, #rep_b_xls{
            position: absolute;
            padding: 15px;
            margin: -12px;
            color: white;
            font-size: 15px;
            padding-left: 20px;
            padding-right: 12px;
        }
        #rep_b_xls{
            padding-left: 20px;
            padding-right: 12px;
            margin-left: 41px;
        }
        #iframe{
            width: 100%;
            height: 900px;
            position: relative;
            z-index: 100;
        }
        #iframe_preview{
            padding: 10px;
            margin: auto;
        }
        .shade{
            margin-left: -40px;
            margin-top: -40px;
        }
        #rep_f_order_holder, #rep_f_asc_holder, .rep_f_ae_holder, #rep_f_amount_holder{
            display: none;
        }
        .form-group {
            margin-bottom: 10px;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="panel-body container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered is-collapse">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#_" class="btn btn-panel btn-danger waves-effect waves-dark" id="rep_b_print">
                            <i class="icon fa-print" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'officialreceipt:reportresultxlsx' %}" target="_blank" class="btn btn-panel btn-success waves-effect waves-dark" id="rep_b_xls">
                            <i class="icon fa-file-excel-o" aria-hidden="true"></i>
                        </a>
                        <div id="rep_f_keyword"></div>
                    </h3>
                    <div class="panel-actions">
                        <a class="btn btn-panel btn-info waves-effect waves-dark" id="rep_b_search" style="padding-left: 23px;padding-right: 23px;margin-right: -3px;">
                            <i class="icon fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search
                        </a>
                        <a class="btn btn-panel btn-info icon_minus-06 waves-effect waves-dark" data-toggle="panel-collapse" aria-hidden="true" style="padding: 16.5px"></a>
                    </div>
                </div>
                <div class="panel-body" style="padding: 20px;">
                    <div class="row">
                        <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                            <div class="form-group col-sm-2">
                                <label class="control-label small">Report Type</label>
                                <select class="form-control input-sm" id="rep_f_report">
                                    <option value="s">Summary</option>
                                    <option value="d">Detailed</option>
                                    <option value="a_s">Accounting Entry - Summary</option>
                                    <option value="a_d">Accounting Entry - Detailed</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">Print Orientation</label>
                                <select class="form-control input-sm" id="rep_f_orientation">
                                    <option value="p">Portrait</option>
                                    <option value="l">Landscape</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6" id="rep_f_order_holder">
                                <label class="control-label small">Order By</label>
                                <select class="form-control select2 input-sm" multiple="multiple" style="width: 100%" id="rep_f_order">
                                    <option value="amount">Amount</option>
                                    <option value="ordate">Date</option>
                                    <option value="ornum">OR Number</option>
                                    <option value="orstatus">Status</option>
                                    <option value="ortype">Type</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2" id="rep_f_asc_holder">
                                <label class="control-label small">&nbsp;</label>
                                <select class="form-control input-sm" id="rep_f_asc">
                                    <option value=""> -- </option>
                                    <option value="a">Ascending</option>
                                    <option value="d">Descending</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2 rep_f_ae_holder" style="border-left: 1px solid #e0e0e0">
                                <label class="control-label small">Balance Code</label><br>
                                <select class="form-control input-sm" id="rep_f_balancecode">
                                    <option value="a">All</option>
                                    <option value="d">Debit</option>
                                    <option value="c">Credit</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3 rep_f_ae_holder">
                                <label class="control-label small">Debit Amount</label><br>
                                <div class="input-daterange">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">min</span>
                                        <input type="text" class="form-control input-sm amount text-right" id="rep_f_debit_amountfrom">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">max</span>
                                        <input type="text" class="form-control input-sm amount text-right" id="rep_f_debit_amountto">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-3 rep_f_ae_holder">
                                <label class="control-label small">Credit Amount</label><br>
                                <div class="input-daterange">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">min</span>
                                        <input type="text" class="form-control input-sm amount text-right" id="rep_f_credit_amountfrom">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">max</span>
                                        <input type="text" class="form-control input-sm amount text-right" id="rep_f_credit_amountto">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="padding-top:10px; padding-left: 0px; padding-right: 0px; border-top: 1px solid #e0e0e0" id="fil_summary">
                            <div class="form-group col-sm-4">
                                <label class="control-label small">OR Num</label>
                                <div class="input-daterange">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">from</span>
                                        <input type="number" class="form-control input-sm" id="rep_f_numfrom" min="2017000000" max="2020000000">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">to</span>
                                        <input type="number" class="form-control input-sm" id="rep_f_numto" min="2017000000" max="2020000000">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">OR Type</label>
                                <select class="form-control input-sm" id="rep_f_ortype">
                                    <option value="">-- Select --</option>
                                    {% for data in ortype %}
                                        <option value="{{ data.id }}">{{ data.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">OR Status</label>
                                <select class="form-control input-sm" id="rep_f_orstatus">
                                    <option value="">-- Select --</option>
                                    <option value="F">For Approval</option>
                                    <option value="A">Approved</option>
                                    <option value="D">Disapproved</option>
                                    <option value="R">Released</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label small">Product</label>
                                <select class="form-control input-sm" id="rep_f_product">
                                    <option value="">-- Select --</option>
                                    {% for data in product %}
                                        <option value="{{ data.id }}">[{{ data.code }}] {{ data.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label small">OR Date</label><br>
                                <div class="input-daterange datarange">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm"><i class="icon md-calendar" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control input-sm datepickerfrom" id="rep_f_datefrom">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">to</span>
                                        <input type="text" class="form-control input-sm datepickerto" id="rep_f_dateto">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">Branch</label>
                                <select class="form-control input-sm" id="rep_f_branch">
                                    <option value="">-- Select --</option>
                                    {% for data in branch %}
                                        <option value="{{ data.id }}">{{ data.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">Bank Account</label>
                                <select class="form-control input-sm" id="rep_f_bankaccount">
                                    <option value="">-- Select --</option>
                                    {% for data in bankaccount %}
                                        <option value="{{ data.id }}">{{ data.code }} [{{ data.bank.description }} - {{ data.bankaccounttype.description }}, {{ data.bankbranch.description }}]</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">Government</label>
                                <select class="form-control input-sm" id="rep_f_government">
                                    <option value="">-- Select --</option>
                                    <option value="G">Government</option>
                                    <option value="NG">Non-Government</option>
                                    <option value="M">Mixed</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">Collector</label>
                                <select class="form-control input-sm" id="rep_f_collector">
                                    <option value="">-- Select --</option>
                                    {% for data in collector %}
                                        <option value="{{ data.id }}">[{{ data.code }}] {{ data.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-4" id="rep_f_amount_holder">
                                <label class="control-label small">Amount</label><br>
                                <div class="input-daterange">
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">min</span>
                                        <input type="text" class="form-control input-sm amount text-right" id="rep_f_amountfrom">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon input-sm">max</span>
                                        <input type="text" class="form-control input-sm amount text-right" id="rep_f_amountto">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">VAT</label>
                                <select class="form-control input-sm" id="rep_f_vat">
                                    <option value="">-- Select --</option>
                                    {% for data in vat %}
                                        <option value="{{ data.id }}">{{ data.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">Output VAT Type</label>
                                <select class="form-control input-sm" id="rep_f_outputvattype">
                                    <option value="">-- Select --</option>
                                    {% for data in outputvattype %}
                                        <option value="{{ data.id }}">{{ data.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">WTAX</label>
                                <select class="form-control input-sm" id="rep_f_wtax">
                                    <option value="">-- Select --</option>
                                    {% for data in wtax %}
                                        <option value="{{ data.id }}">{{ data.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label small">Deferred VAT</label>
                                <select class="form-control input-sm" id="rep_f_deferredvat">
                                    <option value="">-- Select --</option>
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12"></div>
                            <div class="form-group col-sm-3">
                                <label class="control-label small">AR Type</label>
                                <select class="form-control input-sm" id="rep_f_artype">
                                    <option value="">-- Select --</option>
                                    <option value="A">Advertising</option>
                                    <option value="C">Circulation</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3 payee_type_holder">
                                <label class="control-label small">Payee Type</label>
                                <select class="form-control input-sm class-adv payee_type" id="rep_f_payee_adv">
                                    <option value="">-- Select --</option>
                                    <option value="AG">Agency</option>
                                    <option value="C">Client</option>
                                </select>
                                <select class="form-control input-sm class-cir payee_type" id="rep_f_payee_cir">
                                    <option value="">-- Select --</option>
                                    <option value="A">Agent</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 payee_options class-adv" id="payee_options_agency">
                                <label class="control-label" for="id_agency">Agency</label><br>
                                <select class="form-control input-sm" id="rep_f_payee_agency" style="width: 90%"></select>
                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#a" class="clear_payee_options"><i class="icon fa-remove" aria-hidden="true"></i></a>
                                <span class="help-block form-error">{{ form.agency.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-6 payee_options class-adv" id="payee_options_client">
                                <label class="control-label" for="id_client">Client</label><br>
                                <select class="form-control input-sm" id="rep_f_payee_client" style="width: 90%"></select>
                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#a" class="clear_payee_options"><i class="icon fa-remove" aria-hidden="true"></i></a>
                                <span class="help-block form-error">{{ form.client.errors.as_text }}</span>
                            </div>
                            <div class="form-group col-sm-6 payee_options class-cir" id="payee_options_agent">
                                <label class="control-label" for="id_agent">Agent</label><br>
                                <select class="form-control input-sm" id="rep_f_payee_agent" style="width: 90%"></select>
                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#a" class="clear_payee_options"><i class="icon fa-remove" aria-hidden="true"></i></a>
                                <span class="help-block form-error">{{ form.agent.errors.as_text }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <input type="hidden" value="{{ userrole }}" id="user_role">
            </div>
        </div>
        <div class="col-md-12" style="text-align: center">
            <div id="iframe_preview" class="panel">
                <div class="shade" style="display: block; z-index: 99; background-color: transparent"><div class="loader two-color" style="margin-top: 200px;"></div></div>
                <iframe id="iframe" src="{% url 'officialreceipt:reportresult' %}" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="report-search-error" class="custom-alert danger">Select Report Type first.</div>
{% endblock page-content %}
{% block extra_js %}
    {% load staticfiles %}
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/custom-maskMoney.js' %}" type="text/javascript"></script>
    <script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/js/panel/panel.min.js' %}"></script>
    <script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
    <script>
    $(function () {
        $('.select2').select2({});
        ajaxselect2("agency", "rep_f_payee_agency");
        ajaxselect2("client", "rep_f_payee_client");
        ajaxselect2("agent", "rep_f_payee_agent");

        $(window).on('load', function(){
            $('.payee_type').hide();
            $('.payee_options').hide();
            $('.payee_type_holder').hide();
            if($('#rep_f_artype').val() == 'A'){
                $('.payee_type_holder').show();
                $('#rep_f_payee_adv').show();
                if($('#rep_f_payee_adv').val() == 'AG'){
                    $('#payee_options_agency').show();
                }
                else if($('#rep_f_payee_adv').val() == 'C'){
                    $('#payee_options_client').show();
                }
            }
            else if($('#rep_f_artype').val() == 'C'){
                $('.payee_type_holder').show();
                $('#rep_f_payee_cir').show();
                if($('#rep_f_payee_cir').val() == 'A'){
                    $('#payee_options_agent').show();
                }
            }
        });
        $('#rep_f_artype').on('change', function(){
            $('.payee_type').hide();
            $('.payee_type_holder').hide();
            $('.payee_options').hide();
            if($('#rep_f_artype').val() == 'A'){
                $('.payee_type_holder').show();
                $('#rep_f_payee_adv').show();
                if($('#rep_f_payee_adv').val() == 'AG'){
                    $('#payee_options_agency').show();
                }
                else if($('#rep_f_payee_adv').val() == 'C'){
                    $('#payee_options_client').show();
                }
            }
            else if($('#rep_f_artype').val() == 'C'){
                $('.payee_type_holder').show();
                $('#rep_f_payee_cir').show();
                if($('#rep_f_payee_cir').val() == 'A'){
                    $('#payee_options_agent').show();
                }
            }
        });
        $('.payee_type').on('change', function(){
            $('.payee_options').hide();
            if($(this).val() == 'AG'){
                $('#payee_options_agency').show();
            }
            else if($(this).val() == 'C'){
                $('#payee_options_client').show();
            }
            else if($(this).val() == 'A'){
                $('#payee_options_agent').show();
            }
        });
        $('.clear_payee_options').on('click', function(){
            $(this).prev().prev().html("").select2({});
            ajaxselect2("agency", "rep_f_payee_agency");
            ajaxselect2("client", "rep_f_payee_client");
            ajaxselect2("agent", "rep_f_payee_agent");
        })

	    $('#rep_b_search').on('click', function(){

            if($('#rep_f_report').val() != ''){
                setCookie('rep_f_numfrom_{{ request.resolver_match.app_name }}', $('#rep_f_numfrom').val());
                setCookie('rep_f_numto_{{ request.resolver_match.app_name }}', $('#rep_f_numto').val());
                setCookie('rep_f_datefrom_{{ request.resolver_match.app_name }}', $('#rep_f_datefrom').val());
                setCookie('rep_f_dateto_{{ request.resolver_match.app_name }}', $('#rep_f_dateto').val());
                setCookie('rep_f_amountfrom_{{ request.resolver_match.app_name }}', $('#rep_f_amountfrom').val());
                setCookie('rep_f_amountto_{{ request.resolver_match.app_name }}', $('#rep_f_amountto').val());
                setCookie('rep_f_ortype_{{ request.resolver_match.app_name }}', $('#rep_f_ortype').val());
                setCookie('rep_f_collector_{{ request.resolver_match.app_name }}', $('#rep_f_collector').val());
                setCookie('rep_f_branch_{{ request.resolver_match.app_name }}', $('#rep_f_branch').val());
                setCookie('rep_f_vat_{{ request.resolver_match.app_name }}', $('#rep_f_vat').val());
                setCookie('rep_f_outputvattype_{{ request.resolver_match.app_name }}', $('#rep_f_outputvattype').val());
                setCookie('rep_f_wtax_{{ request.resolver_match.app_name }}', $('#rep_f_wtax').val());
                setCookie('rep_f_deferredvat_{{ request.resolver_match.app_name }}', $('#rep_f_deferredvat').val());
                setCookie('rep_f_product_{{ request.resolver_match.app_name }}', $('#rep_f_product').val());
                setCookie('rep_f_bankaccount_{{ request.resolver_match.app_name }}', $('#rep_f_bankaccount').val());
                setCookie('rep_f_government_{{ request.resolver_match.app_name }}', $('#rep_f_government').val());
                setCookie('rep_f_orstatus_{{ request.resolver_match.app_name }}', $('#rep_f_orstatus').val());
                setCookie('rep_f_artype_{{ request.resolver_match.app_name }}', $('#rep_f_artype').val());
                setCookie('rep_f_payee_adv_{{ request.resolver_match.app_name }}', $('#rep_f_payee_adv').val());
                setCookie('rep_f_payee_cir_{{ request.resolver_match.app_name }}', $('#rep_f_payee_cir').val());
                setCookie('rep_f_payee_agency_{{ request.resolver_match.app_name }}', $('#rep_f_payee_agency').val());
                setCookie('rep_f_payee_client_{{ request.resolver_match.app_name }}', $('#rep_f_payee_client').val());
                setCookie('rep_f_payee_agent_{{ request.resolver_match.app_name }}', $('#rep_f_payee_agent').val());

                setCookie('rep_f_order_{{ request.resolver_match.app_name }}', $('#rep_f_order').val());
                setCookie('rep_f_asc_{{ request.resolver_match.app_name }}', $('#rep_f_asc').val());
                setCookie('rep_f_report_{{ request.resolver_match.app_name }}', $('#rep_f_report').val());
                setCookie('rep_f_orientation_{{ request.resolver_match.app_name }}', $('#rep_f_orientation').val());

                setCookie('rep_f_balancecode_{{ request.resolver_match.app_name }}', $('#rep_f_balancecode').val());
                setCookie('rep_f_debit_amountfrom_{{ request.resolver_match.app_name }}', $('#rep_f_debit_amountfrom').val());
                setCookie('rep_f_debit_amountto_{{ request.resolver_match.app_name }}', $('#rep_f_debit_amountto').val());
                setCookie('rep_f_credit_amountfrom_{{ request.resolver_match.app_name }}', $('#rep_f_credit_amountfrom').val());
                setCookie('rep_f_credit_amountto_{{ request.resolver_match.app_name }}', $('#rep_f_credit_amountto').val());

                $('#iframe').replaceWith("<iframe id='iframe' src='{% url 'officialreceipt:reportresult' %}' frameborder='0' scrolling='no'></iframe>");
            }
            else{
                customAlert($('#report-search-error'));
            }
	    });

        $('#rep_b_print').on('click', function(){
           document.getElementById("iframe").contentWindow.print();
        });

        $('#rep_f_report').on('change', function(){
            checkReportType();
        });

        $("#rep_f_order").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);

            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });

        $(document).ready(function(){
            checkReportType();
        });

        // assign values
        $('#rep_f_numfrom').val(getCookie('rep_f_numfrom_{{ request.resolver_match.app_name }}'));
        $('#rep_f_numto').val(getCookie('rep_f_numto_{{ request.resolver_match.app_name }}'));
        $('#rep_f_datefrom').val(getCookie('rep_f_datefrom_{{ request.resolver_match.app_name }}'));
        $('#rep_f_dateto').val(getCookie('rep_f_dateto_{{ request.resolver_match.app_name }}'));
        $('#rep_f_amountfrom').val(getCookie('rep_f_amountfrom_{{ request.resolver_match.app_name }}'));
        $('#rep_f_amountto').val(getCookie('rep_f_amountto_{{ request.resolver_match.app_name }}'));
        $('#rep_f_ortype').val(getCookie('rep_f_ortype_{{ request.resolver_match.app_name }}'));
        $('#rep_f_collector').val(getCookie('rep_f_collector_{{ request.resolver_match.app_name }}'));
        $('#rep_f_branch').val(getCookie('rep_f_branch_{{ request.resolver_match.app_name }}'));
        $('#rep_f_vat').val(getCookie('rep_f_vat_{{ request.resolver_match.app_name }}'));
        $('#rep_f_outputvattype').val(getCookie('rep_f_outputvattype_{{ request.resolver_match.app_name }}'));
        $('#rep_f_wtax').val(getCookie('rep_f_wtax_{{ request.resolver_match.app_name }}'));
        $('#rep_f_deferredvat').val(getCookie('rep_f_deferredvat_{{ request.resolver_match.app_name }}'));
        $('#rep_f_product').val(getCookie('rep_f_product_{{ request.resolver_match.app_name }}'));
        $('#rep_f_bankaccount').val(getCookie('rep_f_bankaccount_{{ request.resolver_match.app_name }}'));
        $('#rep_f_government').val(getCookie('rep_f_government_{{ request.resolver_match.app_name }}'));
        $('#rep_f_orstatus').val(getCookie('rep_f_orstatus_{{ request.resolver_match.app_name }}'));
        $('#rep_f_artype').val(getCookie('rep_f_artype_{{ request.resolver_match.app_name }}'));
        $('#rep_f_payee_adv').val(getCookie('rep_f_payee_adv_{{ request.resolver_match.app_name }}'));
        $('#rep_f_payee_cir').val(getCookie('rep_f_payee_cir_{{ request.resolver_match.app_name }}'));

        $('#rep_f_order').val(getCookie('rep_f_order_{{ request.resolver_match.app_name }}').split(',')).select2();
        $('#rep_f_asc').val(getCookie('rep_f_asc_{{ request.resolver_match.app_name }}'));
        $('#rep_f_report').val(getCookie('rep_f_report_{{ request.resolver_match.app_name }}'));

        $('#rep_f_balancecode').val(getCookie('rep_f_balancecode_{{ request.resolver_match.app_name }}'));
        $('#rep_f_debit_amountfrom').val(getCookie('rep_f_debit_amountfrom_{{ request.resolver_match.app_name }}'));
        $('#rep_f_debit_amountto').val(getCookie('rep_f_debit_amountto_{{ request.resolver_match.app_name }}'));
        $('#rep_f_credit_amountfrom').val(getCookie('rep_f_credit_amountfrom_{{ request.resolver_match.app_name }}'));
        $('#rep_f_credit_amountto').val(getCookie('rep_f_credit_amountto_{{ request.resolver_match.app_name }}'));

        function checkReportType(){
            if($('#rep_f_report').val() == 'a_s' || $('#rep_f_report').val() == 'a_d'){

                $('.rep_f_ae_holder').hide();

                if($('#rep_f_report').val() == 'a_s') $('#rep_f_balancecode').parent().show();
                else $('.rep_f_ae_holder').show();

                $('#rep_f_order_holder').hide();

                $('#rep_f_amount_holder').hide();
                $('#rep_f_asc_holder').hide();

                $('#rep_f_orientation').val('l');
            }
            else if($('#rep_f_report').val() == 'd'){
                $('.rep_f_ae_holder').hide();

                $('#rep_f_order_holder').show();

                $('#rep_f_amount_holder').show();
                $('#rep_f_asc_holder').show();

                $('#rep_f_orientation').val('l');
            }
            else{
                $('.rep_f_ae_holder').hide();

                $('#rep_f_order_holder').show();

                $('#rep_f_amount_holder').show();
                $('#rep_f_asc_holder').show();

                $('#rep_f_orientation').val('p');
            }
        }
	});
    </script>
{% endblock extra_js %}
