{% extends 'base-form.html' %}
{% load staticfiles %}
{% block page-title %} Sales Invoice {% endblock page-title %}
{% block page-content %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/css/dashboard/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" /><style>
        .widgett {
            margin-bottom: 10px;
        }
        .vattable td:first-child {
            width: 170px;
            padding-right: 20px;
        }
        .vattable td input {
            width: 100px;
            text-align: right;
        }
        .heading-top-index-2 {
            padding-right: 15px;
            padding-left: 45px;
        }
        .form-control.input-sm.date-yyyymmdd.datepicker.week {
            background-color: transparent;
        }
        .payee_options{
            display: none;
        }
        hr{
            margin-top: 10px;
            margin-bottom: 15px;
        }
        .select2-results__option {
            font-size: 12px;
        }
        .class-adv {
            display: none;
        }
        .class-cir {
            display: none;
        }
        .amount_display{
            height: 25px;
            margin-left: 40px;
        }
    </style>
{% endblock extra_css %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="margin-bottom-20">
                <!-- Start Simple Form Validation -->
                <h3 class="panel-title" style="padding:5px 10px 20px 25px;">Create
                    <div class="btn-group pull-right">
                        <button class="btn btn-info small" data-toggle='modal' data-target='#searchModal'>
                            <i class="icon fa-search" aria-hidden="true"></i> Search
                        </button>
                    </div>
                </h3>
                <form autocomplete="off" id="form-b" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="secretkey" id="secretkey" value="{{ secretkey }}"/>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-2 {{ form.sinum.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_sinum">Number</label>
                            <input type="text" class="form-control input-sm" id="id_sinum" name="sinum" placeholder="SIxxxxxxx" maxlength="10" readonly="readonly">
                            <span class="help-block form-error">{{ form.sinum.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-2 {{ form.sidate.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_sidate">SI Date</label>
                            <input type="text" class="form-control input-sm date-yyyymmdd datepicker closemonth" readonly="readonly" style="padding: 5px 10px" id="id_sidate" name="sidate" min="2024-06-01" placeholder="YYYY-MM-DD" data-validation="required" value='{% if form.sidate.value %}{{ form.sidate.value|date:"Y-m-d" }}{% else %}{% now "Y-m-d" %}{% endif %}'>
                            <span class="help-block form-error">{{ form.sidate.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-2 {{ form.sitype.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_sitype">SI Type</label>
                            <select class="form-control input-sm" data-validation="required" id="id_sitype" name="sitype">
                                {% for data in sitype %}
                                    <option value="{{ data.id }}" {% if form.sitype.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.description }}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.sitype.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-2 {{ form.sisubtype.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_sisubtype">SI Subtype</label>
                            <select class="form-control input-sm" data-validation="required" id="id_sisubtype" name="sisubtype">
                                <option  value="">-- Select --</option>
                                {% for data in sisubtype %}
                                    <option value="{{ data.id }}" {% if form.sisubtype.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.code }} - {{ data.description }}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.sisubtype.errors.as_text }}</span>
                        </div>
                        <!-- <div class="form-group col-sm-2 padding-top-30">
                            <span class="label label-primary" style="font-size: 13px;">MANUAL</span>
                        </div> -->
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-12"><hr></div>
                        <div class="form-group col-sm-2 {{ form.branch.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_branch">Branch</label>
                            <select class="form-control input-sm" data-validation="required" id="id_branch" name="branch">
                                <option value="" disabled>-- Select --</option>
                                    <option value="5" selected="selected" >HEAD OFFICE</option>
                            </select>
                            <span class="help-block form-error">{{ form.branch.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-3 {{ form.customer.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_customer">Customer</label>
                            <select class="form-control input-sm select2" id="id_customer" name="customer" data-validation="required">
                                <option value="">-- Select --</option>
                                {% for data in customer %}
                                    <option value="{{ data.id }}">[{{ data.code }}] {{ data.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.customer.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-1 {{ form.creditterm.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_creditterm">Credit Terms</label>
                            <input type="text" class="form-control input-sm" id="id_creditterm" name="creditterm" data-validation="required" value="{{ form.customer.creditterm.description|default:'' }}" placeholder="Days" >
                            <span class="help-block form-error">{{ form.creditterm.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-2 {{ form.duedate.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_duedate">Due Date</label>
                            <input type="text" class="form-control input-sm date-yyyymmdd datepicker closemonth" style="padding: 5px 10px; background: white;" id="id_duedate" name="duedate" data-validation="required" value="{{ form.duedate.value|default:'' }}" placeholder="YYYY-MM-DD" >
                            <span class="help-block form-error">{{ form.duedate.errors.as_text }}</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-12"><hr></div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group col-sm-3 {{ form.amount.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_amount">Amount</label>
                            <input type="text" class="form-control input-sm amount" id="id_amount" style="text-align: right;" data-validation="required" value="{{ form.amount.value|default:'' }}" name="amount">
                            <span class="help-block form-error">{{ form.amount.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-9">
                            <label class="control-label">&nbsp;</label>
                            <input type="text" class="form-control input-sm" id="id_amountinwords" readonly="readonly" style="background-color: transparent;" value="{{ form.amountinwords.value|default:'' }}" name="amountinwords">
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-sm-4 {{ form.vat.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_vat">VAT</label>
                            <select class="form-control input-sm" data-validation="required" id="id_vat" name="vat">
                                <option value="" data-rate="0">-- Select --</option>
                                {% for data in vat %}
                                    <option value="{{ data.id }}" data-code="{{ data.code }}" data-rate="{{ data.rate|floatformat:2 }}" {% if form.vat.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.description }}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.vat.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-2 padding-top-30"><span id="vatrate" class="text-success small"><strong>RATE: 00.00%</strong></span></div>
                        <div class="form-group col-sm-6 {{ form.outputvattype.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_outputvattype">Output VAT Type</label>
                            <select class="form-control input-sm" data-validation="required" id="id_outputvattype" name="outputvattype">
                                {% for data in outputvattype %}
                                    <option value="{{ data.id }}" {% if form.outputvattype.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.description }}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.outputvattype.errors.as_text }}</span>
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-sm-4 {{ form.wtax.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_wtax">WTAX</label>
                            <select class="form-control input-sm" id="id_wtax" name="wtax">
                                <option value="" data-rate="0">-- Select --</option>
                                {% for data in wtax %}
                                    <option value="{{ data.id }}" data-code="{{ data.code }}" data-rate="{{ data.rate|floatformat:2 }}" {% if form.wtax.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.description }}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.wtax.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-2 padding-top-30"><span id="wtaxrate" class="text-success small small"><strong>RATE: 00.00%</strong></span></div>
                        <!-- <div class="form-group col-sm-3 {{ form.deferredvat.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_deferredvat">Deferred VAT</label>
                            <select class="form-control input-sm" data-validation="required" id="id_deferredvat" name="deferredvat">
                                {% for id,name in form.fields.deferredvat.choices %}
                                    <option value="{{ id }}"{% if form.deferredvat.value == id %} selected{% endif %}>{% ifequal id ""%}-- Select --{% else %}{{ name }}{% endifequal %}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.deferredvat.errors.as_text }}</span>
                        </div> -->
                    </div>
                    <div class="col-md-4">
                        <div class="widgett widgett-article widgett-shadow">
                            <div class="heading-top-index-2">
                                <table class="vattable">
                                    <tr>
                                        <td><small>VATable&nbsp;Sale:</small></td>
                                        <td class="form-group form-material"><input type="text" id="disp_vatable" class="form-control input-sm amount amount_display" disabled="disabled" value="0"></td>
                                    </tr>
                                    <tr>
                                        <td><small>Plus:&nbsp;<span id="disp_addvat_percent"></span>VAT:</small></td>
                                        <td class="form-group form-material"><input type="text" id="disp_addvat" class="form-control input-sm amount amount_display" disabled="disabled" value="0"></td>
                                    </tr>
                                    <tr>
                                        <td><small>VAT-Exempt&nbsp;Sale:</small></td>
                                        <td class="form-group form-material"><input type="text" id="disp_vatexempt" class="form-control input-sm amount amount_display" disabled="disabled" value="0"></td>
                                    </tr>
                                    <tr>
                                        <td><small>VAT&nbsp;Zero&nbsp;-&nbsp;Rated&nbsp;Sale:</small></td>
                                        <td class="form-group form-material"><input type="text" id="disp_vatzero" class="form-control input-sm amount amount_display" disabled="disabled" value="0"></td>
                                    </tr>
                                    <tr>
                                        <td><small><b>Total&nbsp;Amount&nbsp;Due:</b></small></td>
                                        <td class="form-group form-material"><input type="text" id="disp_totalamountdue" class="form-control input-sm amount amount_display" disabled="disabled" value="0"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: right; padding-right: 0px; padding-top: 10px;"><code id="disp_note"></code></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-12"><hr></div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group col-sm-3 {{ form.discountpercent.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_discuountpercent">Discount %</label>
                            <input type="number" class="form-control input-sm" id="id_discuountpercent" style="text-align: right;" value="{{ form.discountpercent.value|default:'' }}" name="discountpercent">
                            <span class="help-block form-error">{{ form.discountpercent.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-3 {{ form.discountamount.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_discountamount">Discount Amount</label>
                            <input type="number" class="form-control input-sm" id="id_discountamount" style="text-align: right;" value="{{ form.discountamount.value|default:'' }}" name="discountamount">
                            <span class="help-block form-error">{{ form.discountamount.errors.as_text }}</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-12"><hr></div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-sm-3 {{ form.refno.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_refno">Ref No.</label>
                            <input type="text" class="form-control input-sm" id="id_refno" data-validation="required" value="{{ form.refno.value|default:'' }}" name="refno">
                            <span class="help-block form-error">{{ form.refno.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-5">
                            <label class="control-label" for="id_designatedapprover">Approver</label>
                            <select id="id_approver" class="form-control input-sm select2" data-validation="required" name="designatedapprover">
                                <option value="">-- Select --</option>
                                {% for designatedapprover in designatedapprover %}
                                        <option value="{{ designatedapprover.user_id }}" {% if form.designatedapprover.value|add:0 == designatedapprover.user_id %} selected="selected" {% endif %}>{{ designatedapprover.firstname }} {{ designatedapprover.lastname }}</option>
                                    {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.designatedapprover.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-3 {{ form.government.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_sistatus">SI Status</label>
                            <input type="text" disabled="disabled" value="For Approval" class="form-control input-sm disabled-white" id="id_sistatus">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6 {{ form.particulars.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_particulars">Particulars</label>
                            <textarea id="id_particulars" class="form-control input-sm" data-validation="required" name="particulars" rows="2">{{ form.particulars.value|default:'' }}</textarea>
                            <span class="help-block form-error">{{ form.particulars.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-6 {{ form.remarks.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_remarks">Remarks</label>
                            <textarea id="id_remarks" class="form-control input-sm" name="remarks" rows="2">{{ form.remarks.value|default:'' }}</textarea>
                            <span class="help-block form-error">{{ form.remarks.errors.as_text }}</span>
                        </div>
                        <!-- <div class="form-group col-sm-3 {{ form.designatedapprover.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_designatedapprover">Approver</label>
                            <select id="id_designatedapprover" class="form-control input-sm select2" name="designatedapprover">
                                <option value="">-- Select --</option>
                                {% for data in designatedapprover %}
                                    <option value="{{ data.id }}" {% if form.designatedapprover.value|add:0 == data.id %} selected="selected" {% endif %}>{{ data.first_name }} {{ data.last_name }}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block form-error">{{ form.designatedapprover.errors.as_text }}</span>
                        </div>
                        <div class="form-group col-sm-2 {{ form.orstatus.errors|yesno:'has-error,' }}">
                            <label class="control-label" for="id_orstatus">OR Status</label>
                            <input type="text" disabled="disabled" value="For Approval" class="form-control input-sm disabled-white">
                            <span class="help-block form-error">{{ form.orstatus.errors.as_text }}</span>
                        </div> -->
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-12"></div>
                        <div class="form-group col-sm-6 padding-top-15 padding-bottom-15">
                            <button type="submit" class="btn btn-round btn-success" id="validateButton">Submit</button>
                        </div>
                        <div class="col-sm-6 padding-top-15 padding-bottom-15">
                            <button type="button" class="btn btn-round btn-info btn-sm waves-effect waves-light floatright" id="manualbutton"><i class="icon fa-plus-square" aria-hidden="true"></i> Manual Entry</button>
                            <button type="button" class="btn btn-round btn-info btn-sm waves-effect waves-light floatright" id="autobutton"><i class="icon fa-refresh" aria-hidden="true"></i> Auto Entry</button>
                        </div>

                        <!-- Accounting entry start -->
                        <div class="col-sm-12" id="entryview" style="display: none">
                            <div class="panel panel-bordered">
                                <div class="panel-body">
                                    <h4>Manual Accounting Entry</h4>
                                    <div id="waitingbar" class="animatebar-bar progress-bar-success" style="width: 95%;">
                                        <div class="animatebar-bar-percent">95%</div>
                                    </div>
                                    <div id="manualentryview">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="shade"><div class="loader two-color"></div></div>
                                <div class="panel-body">
                                    <h4>Accounting Entries</h4><br>
                                    <table class="table table-striped margin-bottom-0">
                                        <thead>
                                            <tr>
                                                <th width="5%"></th>
                                                <th width="15%">Chart of Account</th>
                                                <th width="55%">Title</th>
                                                <th width="10%" style="text-align: right;">Debit&nbsp;</th>
                                                <th width="10%" style="text-align: right;">Credit&nbsp;</th>
                                                <th width="15%" class="actionrowhead"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="datatable">
                                        {{ datatable|safe }}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    <strong>Total</strong>
                                                </th>
                                                <th></th>
                                                <th></th>
                                                <th id="total_debitamount" class="text-align-right"><strong>0.00</strong></th>
                                                <th id="total_creditamount" class="text-align-right"><strong>0.00</strong></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Accounting entry end -->

                    </div>
                </form>
                <!-- End Simple Form Validation -->
            </div>
            {{ form.errors }}
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Accounting Entry Start -->
<div class="modal fade modal-message" id="modal-row">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnclosebreakdown" aria-label="Close">
                <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Breakdown Entry</h4>
            </div>
            <div class="modal-body" id="breakdowndata">
            </div>
        </div>
    </div>
</div>
<div id="not-equal-debit-credit-error" class="custom-alert danger">Debit and Credit amounts must be equal.</div>
<div id="not-equal-accounting-entries-total-amount-error" class="custom-alert danger">Total amounts of items and accounting entries must be equal.</div>
<div id="unbalanced-entries-error" class="custom-alert danger">You have unbalanced entry(ies). Please review your entry(ies).</div>

<div id="autoentry-success" class="custom-alert success">Auto-entry is successful.</div>
<div id="autoentry-exception" class="custom-alert danger">An auto-entry exception occurred.</div>
<div id="autoentry-error" class="custom-alert danger">Auto-entry is invalid.</div>
<div id="sisubtype-needed" class="custom-alert danger">Please supply SI Subtype first.</div>
<div id="base-amount-needed" class="custom-alert danger">Please enter amount first.</div>
<div id="customer-needed" class="custom-alert danger">Please supply the customer first.</div>
<div id="vat-needed" class="custom-alert danger">Please supply VAT first.</div>
<div id="zero-debit-credit-error" class="custom-alert danger">Debit and Credit amounts must not be zero.</div>
{% include "salesinvoice/search.html" %}
{% endblock page-content %}
{% block extra_js %}
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/plugin/bootstrap-datepicker/js/custom-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/custom-maskMoney.js' %}" type="text/javascript"></script>
    <script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
    <script>
    $(function(){
        adjustMinSiDate();
        $('#id_sidate').datepicker('setDate', new Date());
        
        $('input#id_creditterm').on("input", function(event) { 
            event.preventDefault();
            const terms = $(this).val();
            computeDueDate(terms);
        });
        
        $('.select2').select2({});
        // ajaxselect2("customer", "id_customer");
        
        generateTotals();

        $('select#id_customer').on("change", function(event){
            const customer_id = $(this).val();
            $.ajax({
                url: "{% url 'salesinvoice:getcustomercreditterm' %}",
                type: "GET",
                data: {
                    'csrfmiddlewaretoken': "{{csrf_token}}",
                    'id': customer_id
                },
                success: function(response){
                    const terms = response.daysdue;
                    $('#id_creditterm').val(terms);
                    computeDueDate(terms);
                }, error: function(response) {
                    console.debug(response);
                }
            });
        });

        $("#id_amount").on('keyup', function(){
            var words = toWords($(this).val());
            $("#id_amountinwords").val(words);
        });

        $('#id_sitype').on('change', function(){
            var sitype = $(this).val();
            $('#id_outputvattype').val(sitype).change();
        });

        $('#id_vat').on('change', function(){
            showRate("#id_vat", "vatrate", "RATE");
        });
        $('#id_wtax').on('change', function(){
            showRate("#id_wtax", "wtaxrate", "RATE");
        });

        $('#id_amount').on('keyup', function(){
            generateTotals();
        });

        $('#id_vat, #id_wtax').on('change', function(){
            generateTotals();
        });

        $("#manualbutton").unbind().click(function (){
            $("#entryview").show();
            $.ajax({
                url: "{% url 'acctentry:maccountingentry' %}",
                type: "post",
                data: {'csrfmiddlewaretoken': "{{csrf_token}}",
                    'table': "sidetailtemp"},
                success: function(response){
                    $("#manualentryview").html(response['viewhtml']);
                    $("#waitingbar").hide();
                }, error: function(response) {
                    console.debug(response);
                }
            });
        });

        $("#autobutton").on('click', function(){
            let base_amount = $("#id_amount").val();
            if($('#id_sisubtype').val() == ''){
                customAlert($('#sisubtype-needed'));
            }
            else if(base_amount < 0.01){
                customAlert($('#base-amount-needed'));
            }
            else if($('#id_customer').val() == null){
                customAlert($('#customer-needed'));
            }
            else if($('#id_vat').val() == ''){
                customAlert($('#vat-needed'));
            }
            else {
                if(confirm("Are you sure you want to use auto-entry?")){
                    autoEntry('manual');
                }
            }
        });

        $("#validateButton").on('click', function(event) {

            var total_creditamount = $("#total_creditamount").text().replace(/,/g, '');
            var total_debitamount = $("#total_debitamount").text().replace(/,/g, '');
            var total_itemamount = $("#id_amount").val().replace(/,/g, '');
            if (parseFloat(total_creditamount) != '0.00' || parseFloat(total_debitamount) != '0.00') {
                if (parseFloat(total_creditamount) != parseFloat(total_debitamount)) {
                    customAlert($('#not-equal-debit-credit-error'));
                    event.preventDefault();
                    return false;
                }
                if (parseFloat(total_creditamount) != parseFloat(total_itemamount)) {
                    customAlert($('#not-equal-accounting-entries-total-amount-error'));
                    event.preventDefault();
                    return false;
                }
            }
            var checkbreakdownstatus = $('#breaktabledata').find('td').hasClass('unbalancebreakdown');
            if (checkbreakdownstatus) {
                customAlert($('#unbalanced-entries-error'));
                event.preventDefault();
                return false;
            }
        });

        function computeDueDate(terms){
            var sidate = new Date($('#id_sidate').val());
            if($.isNumeric(terms)){
                sidate.setDate(sidate.getDate() + parseInt(terms));
                $('#id_duedate').datepicker('setDate', sidate);
                $('#id_creditterm').val(terms);
            } else {
                if(terms.length > 0){
                    alert('Please enter valid number of days');
                } 
                $('#id_creditterm').val('');
                $('#id_duedate').datepicker('setDate', null);
            } 
        }

        function generateTotals(){

            givenAmount = parseFloat($('#id_amount').val().replace(/,/g,''));
            vatRate = parseFloat($('#id_vat option:selected').data('rate'));
            wtaxRate = parseFloat($('#id_wtax option:selected').data('rate'));
            grossAmount = givenAmount/(1+(vatRate/100));
            addVat = grossAmount * (vatRate/100);
            wtaxAmount = grossAmount * (wtaxRate/100);
            totalPayment = grossAmount + addVat;
            
            $('.amount_display').val(0);
            $('#disp_note').text('');

            if($('#id_vat').val() != ''){
                if($('#id_vat option:selected').data('code') == 'VE') $('#disp_vatexempt').val(grossAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                else if ($('#id_vat option:selected').data('code') == 'ZE') $('#disp_vatzero').val(grossAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                else $('#disp_vatable').val(grossAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                if (vatRate > 0) 
                    $('#disp_addvat_percent').text(vatRate.toString() + "% ");
                else
                    $('#disp_addvat_percent').text("");
                    
                $('#disp_addvat').val(addVat.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#disp_totalamountdue').val(totalPayment.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                if($('#id_wtax').val() != ''){
                    $('#disp_note').text('Noted: ' + wtaxRate + '% w/tax -------> ' + wtaxAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                }
            }
        }

        function showRate(field, rateSpan, defaultText){
            var rateValue = rateSpan == "fxrate" ? parseFloat($(field + " option:selected").data('rate')).toFixed(2) :
                    parseFloat($(field + " option:selected").data('rate')).toFixed(2) + '%';
            $('#' + rateSpan).html("<strong>" + defaultText + ": " + rateValue + "</strong>");
            if($(field + " option:selected").text() == "-- Select --"){
                $('#' + rateSpan).html("<strong>" + defaultText + "</strong>");
            }
        }

        function autoEntry(create_method){
            if(create_method == 'manual'){
                $.ajax({
                    url: "{% url 'salesinvoice:generatedefaultentries' %}",
                    type: "post",
                    data: {'csrfmiddlewaretoken': "{{csrf_token}}",
                            'secretkey': $('#secretkey').val(),
                            'sisubtype': $('#id_sisubtype').val(),
                            'amount': $('#id_amount').val().replace(/,/g,''),
                            'vat': $('#id_vat').val(),
                            'vatable': $('#disp_vatable').val().replace(/,/g,''),
                            'vatexempt': $('#disp_vatexempt').val().replace(/,/g,''),
                            'vatzero': $('#disp_vatzero').val().replace(/,/g,''),
                            'addvat': $('#disp_addvat').val().replace(/,/g,''),
                            'totalamountdue': $('#disp_totalamountdue').val().replace(/,/g,''),
                            'customer': $('#id_customer').val(),
                            'table': "sidetailtemp"},
                    success: function(response){
                        if(response.status == 'success'){
                            $("#datatable").html(response['datatable']);
                            customAlert($('#autoentry-success'));

                            {% comment %} if(parseFloat(response['wtaxamount']) > 0){
                                $('#disp_note').text('Noted: ' + $('#id_atax option:selected').data('rate') + '% wtax -------> ' + response['wtaxamount'].replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            }
                            else {
                                $('#disp_note').text('');
                            } {% endcomment %}

                            $('.shade').fadeOut();
                        } else if(response.status == 'exception'){
                            customAlert($('#autoentry-exception'));
                        } else {
                            customAlert($('#autoentry-error'));
                        }
                    }, error: function(response) {
                        console.debug(response);
                        $('.shade').fadeOut();
                    }
                });
            }
        }

        function adjustMinSiDate(){
            var dtToday = new Date();
    
            var month = dtToday.getMonth() + 1;
            var year = dtToday.getFullYear();
            if(month < 10)
                month = '0' + month.toString();
            
            var firstDayOfMonth = year + '-' + month + '-' + '01';
            // $('#id_sidate').datepicker('destroy');
            
            $("input#id_sidate").attr('min', firstDayOfMonth);
        }

    });
    </script>
{% endblock extra_js %}