{% extends 'base-form.html' %}
{% block page-title %} OR Uploading {% endblock page-title %}
{% block extra_css %}
    {% load static %}
    <style>
        #formloading, #or_step_upload, #or_step_final{
            display: none;
        }
        .table_result{
            height: 300px;
            overflow: scroll;
            padding: 0px;
        }
        .table_detail{
            border-top: none !important;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="panel" id="or_step_verify">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-wrap">
                    <form method="post" id="data" enctype="multipart/form-data" style="height:10px">
                        <div id="formupload">
                                <div class="form-group col-sm-2">
                                    <label class="control-label small">AR Type</label>
                                    <select class="form-control input-sm" id="or_artype" name="or_artype">
                                        <option value="a">Advertising</option>
                                        <option value="c">Circulation</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label small">OR Master</label>
                                    <input type="file" id="or_file" class="form-control input-sm upload" name="or_file">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label small">OR Detail</label>
                                    <input type="file" id="or_d_file" class="form-control input-sm upload" name="or_d_file">
                                </div>
                                <div class="form-group col-sm-2">
                                    <br>
                                    <button type="button" class="btn btn-sm btn-info pull-right" style="width:100px" id="or_upload">VERIFY</button>
                                    <button type="button" disabled="disabled" class="btn btn-sm btn-info pull-right" style="width:100px; display: none;" id="or_upload_loading">VERIFYING ...</button>
                                </div>
                        </div>
                        <div id="formloading">
                            <br>
                            <div class="animatebar clearfix" data-percent="65%">
                                <div class="animatebar-title progress-bar-success"><span>Processing...</span></div>
                                <div class="animatebar-bar progress-bar-success" style="width: 65%;"></div>
                                <div class="animatebar-bar-percent">65%</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="panel" id="or_step_upload">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-wrap">
                    <div class="form-group col-sm-12">
                        <label class="control-label small">Verification Results</label><br><br>
                        <div class="col-md-12 table_result">
                            <table class="table table-condensed small" id="ordata_table"><tbody></tbody></table>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <i class="small">** Total of <b id="upload_total"></b> items passed (<b id="upload_rate"></b>). **</i>
                        </div>   
                        <input type="hidden" id="or_batchkey">
                        <input type="hidden" id="or_export_artype">
                        <button type="button" class="pull-right btn btn-sm btn-info" style="width:100px" id="or_export">UPLOAD</button>
                        <button type="button" disabled="disabled" class="pull-right btn btn-sm btn-info" style="width:100px; display: none" id="or_export_loading">UPLOADING ...</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="panel" id="or_step_final">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-wrap">
                    <div class="form-group col-sm-12">
                        <label class="control-label small">Final Results</label><br><br>
                        <div class="col-md-12 table_result">
                            <table class="table table-condensed small" id="ordata_table2">
                                <thead>
                                    <tr>
                                        <th style="width:5%">OR No.</th>
                                        <th style="width:10%">OR Date</th>
                                        <th style="width:20%">Product</th>
                                        <th style="width:25%">Payee</th>
                                        <th style="width:10%; text-align: right">Debit</th>
                                        <th style="width:10%; text-align: right">Credit</th>
                                        <th style="width:10%; text-align: right">Total</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <i class="small">** Total of <b id="upload_total2"></b> items passed (<b id="upload_rate2"></b>). **</i>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div id="upload-success" class="custom-alert success">Upload successful!</div>
<div id="upload-error" class="custom-alert danger">File upload failed!</div>
<div id="upload-file-error" class="custom-alert danger">File/Invalid error!</div>
<div id="upload-file-large" class="custom-alert danger">File too large! (>3mb)</div>
<div id="upload-error-artype" class="custom-alert danger">Invalid AR Type</div>
{% endblock page-content %}
{% block extra_js %}
<script>
    $(function(){
        $(document).on('click', '#or_upload', function(e){
            $('#or_upload').fadeOut(300);
            $('#or_step_upload').fadeOut(300);
            $('#or_step_final').fadeOut(300);
            $('#or_upload_loading').delay(300).fadeIn(300, function() {
                $("form#data").submit();
            });
        });

        $("form#data").submit(function(){
            if ($('#or_file').get(0).files.length === 0 || $('#or_d_file').get(0).files.length === 0) {
                customAlert($('#upload-file-error'));
                showUploadForm();
            }
            else{
                var formData = new FormData(this);

                $.ajax({
                    url: "{% url 'processing_or:fileupload' %}",
                    type: 'POST',
                    data: formData,
                    async: false,
                    success: function (data) {
                        switch(data['result']){
                            case 1:
                                customAlert($('#upload-success'));
                                $('#or_step_upload').fadeIn();
                                $('#or_export').delay(300).fadeIn(300);
                                $('#or_export_loading').fadeOut(300);
                                $('#upload_total').text(data['successcount'] + " out of " + data['orcount']);
                                $('#upload_rate').text(parseFloat(data['rate']).toFixed(2).toString() + "%");

                                $('#ordata_table tbody').html('');
                                for(var i = 0; i < data['ordata_list'].length; i++) {
                                    dataremarks = '';
                                    datahighlight = '';
                                    if(data['ordata_list'][i][4] == 'F'){
                                        datahighlight = 'danger';
                                        dataremarks = "<tr class='"+datahighlight+"'><td colspan='5' align='center'><small><b>"+data['ordata_list'][i][5]+"</b></small></td></tr>";
                                    }

                                    $('#ordata_table tbody')
                                            .append(dataremarks +
                                                    "<tr class='"+datahighlight+"' data-main='"+data['ordata_list'][i][0]+"'>" +
                                                        "<td><small>"+data['ordata_list'][i][0]+"</small></td>" +
                                                        "<td><small>"+data['ordata_list'][i][1]+"</small></td>" +
                                                        "<td><small>"+data['ordata_list'][i][2]+"</small></td>" +
                                                        "<td></td>" +
                                                        "<td align='right'><small>"+data['ordata_list'][i][3].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"</small></td>" +
                                                    "</tr>");
                                }

                                for(var i = 0; i < data['ordata_d_list'].length; i++) {
                                    if(data['ordata_d_list'][i][2] == 'F'){
                                        datahighlight = 'danger';
                                    }
                                    $("[data-main='"+data['ordata_d_list'][i][0]+"']")
                                            .after("<tr class='"+datahighlight+"'>" +
                                                    "<td class='table_detail' colspan='2'></td>" +
                                                    "<td class='table_detail'><small>"+data['ordata_d_list'][i][3]+"</small></td>" +
                                                    "<td class='table_detail' align='right'><small>"+parseFloat(data['ordata_d_list'][i][1]).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"</small></td>" +
                                                    "<td class='table_detail'></td>" +
                                                   "</tr>")
                                }

                                $('#or_batchkey').val(data['batchkey']);
                                $('#or_export_artype').val(data['artype']);

                                break;
                            case 2:
                                customAlert($('#upload-error'));
                                break;
                            case 3:
                                customAlert($('#upload-file-error'));
                                break;
                            case 4:
                                customAlert($('#upload-file-large'));
                                break;    
                            case 5:
                                customAlert($('#upload-file-error'));
                                break;
                            case 6:
                                customAlert($('#upload-error-artype'));
                                break;
                            default:            
                        }
                        showUploadForm();
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });                
            }

            return false;
        });

        $('#or_export').on('click', function(){
            $('#or_step_final').fadeOut(300);
            $('#or_export').fadeOut(300);
            $('#or_export_loading').delay(300).fadeIn(300);
            $.ajax({
                url: "{% url 'processing_or:exportsave' %}",
                type: "post",
                data: {'batchkey': $('#or_batchkey').val(),
                       'artype': $('#or_export_artype').val()},
                success: function(data){
                    switch(data['result']) {
                        case 1:
                            $('#or_step_final').fadeIn(300);
                            $('#or_export_loading').fadeOut(300);
                            $('#or_export').delay(300).fadeIn(300);
                            $('#upload_total2').text(data['successcount'] + " out of " + data['totalcount']);
                            $('#upload_rate2').text(parseFloat(data['rate']).toFixed(2).toString() + "%");

                            $('#ordata_table2 tbody').html('');
                            for (var i = 0; i < data['ordata_list'].length; i++) {
                                datahighlight = '';
                                if (data['ordata_list'][i][6] == 'F') {
                                    datahighlight = 'danger';
                                }

                                $('#ordata_table2 tbody')
                                        .append("<tr class='" + datahighlight + "' data-mainlive='" + data['ordata_list'][i][0] + "'>" +
                                        "<td><small><b>" + data['ordata_list'][i][0] + "</b></small></td>" +
                                        "<td><small>" + data['ordata_list'][i][1] + "</small></td>" +
                                        "<td><small>" + data['ordata_list'][i][4] + "</small></td>" +
                                        "<td><small>(" + data['ordata_list'][i][3] + ") " + data['ordata_list'][i][2] + "</small></td>" +
                                        "<td colspan='2'></td>" +
                                        "<td align='right'><small>" + data['ordata_list'][i][5].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "</small></td>" +
                                        "</tr>");
                            }

                            for (var i = 0; i < data['ordata_d_list'].length; i++) {
                                extra_data = '';
                                extra_debit = '';
                                extra_credit = '';
                                if(data['ordata_d_list'][i][3] != null){
                                    extra_data = data['ordata_d_list'][i][3];
                                }
                                else if(data['ordata_d_list'][i][4] != null){
                                    extra_data = data['ordata_d_list'][i][4];
                                }
                                if(data['ordata_d_list'][i][5] != 0.00){
                                    extra_debit = data['ordata_d_list'][i][5].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                }
                                if(data['ordata_d_list'][i][6] != 0.00){
                                    extra_credit = data['ordata_d_list'][i][6].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                }

                                if (data['ordata_d_list'][i][7] == 'F') {
                                    datahighlight = 'danger';
                                }
                                $("[data-mainlive='" + data['ordata_d_list'][i][0] + "']")
                                        .after("<tr style='background-color: #ececec;'>" +
                                        "<td class='table_detail'></td>" +
                                        "<td class='table_detail'><b><small>" + data['ordata_d_list'][i][1] + "</small></b></td>" +
                                        "<td class='table_detail'><small>" + data['ordata_d_list'][i][2] + "</small></td>" +
                                        "<td class='table_detail'><small>" + extra_data + "</small></td>" +
                                        "<td class='table_detail' align='right'><small>" + extra_debit + "</small></td>" +
                                        "<td class='table_detail' align='right'><small>" + extra_credit + "</small></td>" +
                                        "<td class='table_detail'></td>" +
                                        "</tr>")
                            }
                            break;
                        case 2:
                            customAlert($('#upload-error'));
                            break;
                        default:
                    }

                }, error: function(response) {
                    console.debug(response);
                }
            });
        });

        function showUploadForm(){
            $('#or_upload_loading').fadeOut(300);
            $('#or_upload').delay(300).fadeIn(300);
        }
    });
</script>
{% endblock extra_js %}