{% extends 'base-form.html' %}
{% block page-title %} OR Processing {% endblock page-title %}
{% block extra_css %}
    {% load static %}
    <style>
        #formloading{
            display: none;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-wrap">
                    <div id="formupload">
                        <form method="post" id="data" enctype="multipart/form-data">
                            <div class="form-group col-sm-3">
                                <label class="control-label small">AR Type</label>
                                <select class="form-control input-sm" id="or_artype" name="or_artype">
                                </select>
                            </div>
                            <div class="form-group col-sm-7">
                                <label class="control-label small">File</label>
                                <input type="file" id="or_file" class="form-control input-sm upload" name="or_file">
                            </div>
                            <br>
                            <button type="button" class="btn btn-sm btn-success col-md-2" id="or_upload">Process</button>
                        </form>
                    </div>
                    <div id="formloading">
                       <br>
                        <div class="animatebar clearfix" data-percent="65%">
                            <div class="animatebar-title progress-bar-success"><span>Uploading</span></div>
                            <div class="animatebar-bar progress-bar-success" style="width: 65%;"></div>
                            <div class="animatebar-bar-percent">65%</div>
                        </div>
                    </div>
                </div><br>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
<script>
    $(function(){
        $(document).on('click', '#or_upload', function(){
            $('#formupload').slideUp();
            $('#formloading').slideDown();
            $("form#data").submit();
        });
        $("form#data").submit(function(){
            var formData = new FormData(this);

            $.ajax({
                url: "{% url 'processing_or:fileupload' %}",
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    if(data['result'] == "success"){
                        $('#formupload').slideDown();
                        $('#formloading').slideUp();
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });
    });
</script>
{% endblock extra_js %}