{% extends 'base-form.html' %}
{% block page-title %} Advertising Type {% endblock page-title %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="panel margin-bottom-20">
                <!-- Start Simple Form Validation -->
                <div class="panel-heading">
                    <h3 class="panel-title">Create</h3>
                </div>
                <div class="panel-body">
                    <form autocomplete="off" id="form-b" method="post">
                        {% csrf_token %}
                        <div class="form-group {{ form.code.errors|yesno:'has-error,' }}">
                            <label for="id_code" class="control-label">Code</label>
                            <input type="text" class="form-control" id="id_code" maxlength="10" placeholder="Code" name="code" data-validation="required" value="{{ form.code.value|default:'' }}">
                            <span class="help-block form-error">{{ form.code.errors.as_text }}</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_description">Description (<span id="max-len">250</span> characters left)</label>
                            <div>
                                <textarea id="id_description" class="form-control text-area" name="description" rows="5" data-validation="required">{{ form.description.value|default:"" }}</textarea>
                            </div>
                        </div>
                        <div class="form-group {{ form.chartofaccount_arcode.errors|yesno:'has-error,' }} form-material">
                            <label class="control-label" for="id_chartofaccount_arcode">Chart of Account AR Code</label>
                            <div>
                                <select id="id_chartofaccount_arcode" class="form-control ajaxselect2" name="chartofaccount_arcode"
                                        data-validation="required">
                                    {% if chartofaccount_arcode.id != None %}
                                        <option value="{{ chartofaccount_arcode.id }}">[{{ chartofaccount_arcode.accountcode }}] - {{ chartofaccount_arcode.title }}</option>
                                    {% endif %}
                                </select>
                                <span class="help-block form-error">{{ form.chartofaccount_arcode.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group {{ form.chartofaccount_revcode.errors|yesno:'has-error,' }} form-material">
                            <label class="control-label" for="id_chartofaccount_revcode">Chart of Account Revenue Code</label>
                            <div>
                                <select id="id_chartofaccount_revcode" class="form-control ajaxselect2" name="chartofaccount_revcode"
                                        data-validation="required">
                                    {% if chartofaccount_revcode.id != None %}
                                        <option value="{{ chartofaccount_revcode.id }}">[{{ chartofaccount_revcode.accountcode }}] - {{ chartofaccount_revcode.description }}</option>
                                    {% endif %}
                                </select>
                                <span class="help-block form-error">{{ form.chartofaccount_revcode.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-0">
                            <button type="submit" class="btn btn-info" id="validateButton">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End Simple Form Validation -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
<script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    /* Hack tools for selecting first option default foreign data value */
    $(document).ready(function() {
        $("#id_chartofaccount_arcode option:first").attr('selected', 'selected');
        ajaxselect2("chartofaccount_arcode", "id_chartofaccount_arcode");
        ajaxselect2("chartofaccount_revcode", "id_chartofaccount_revcode");
    });
</script>
{% endblock extra_js %}