<style>
    .select2-container{
        width: 100% !important;
    }
</style>
<div id="acpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="shade"><div class="loader two-color"></div></div>
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row">
                    <div class="form-group col-sm-7 margin-bottom-0">
                        <label class="control-label small">Check Voucher Date</label><br>
                        <div class="input-daterange datarange">
                            <div class="input-group">
                                <span class="input-group-addon input-sm"><i class="icon md-calendar" aria-hidden="true"></i></span>
                                <input type="text" class="form-control input-sm datepickerfrom" id="acp_cvdate_from">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-sm">to</span>
                                <input type="text" class="form-control input-sm datepickerto" id="acp_cvdate_to">
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-sm-7 margin-bottom-0">
                        <label class="control-label small">Created By</label><br>
                        <select class="form-control input-sm" id="creator">
                            <option value="">-- All --</option>
                            {% for creator in creator %}
                                <option value="{{ creator.id }}">{{ creator.username }} - {{ creator.first_name }} {{ creator.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-4 margin-bottom-0">
                        <label class="control-label small"></label><br>
                        <button type="button" class="btn btn-info btn-sm" id="acp_search"><i class="icon fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search</button>
                    </div>
                </div>
                <br><strong class="text-success">CV TYPE: ACP | STATUS: READY FOR POSTING</strong>
                <br><strong></strong>

                <label class="control-label small">Funding Account</label><br>
                <select class="form-control input-sm col-6" id="funding" style="width:100px;">
                    <option value="">-- Select --</option>
                    {% for bankaccount in bankaccount %}
                        <option value="{{ bankaccount.accountnumber }}">{{ bankaccount.code }}</option>
                    {% endfor %}
                </select>
                <br>
                <br><input type="text" id="batchnumber" style="width:150px;" placeholder="BATCHNUMBER" maxlength="9" maxlength="9"> MMDDYYYYC
                <br><input type="text" id="postingdate" style="width:150px;" placeholder="POSTING DATE" maxlength="8" maxlength="8"> YYYYMMDD
                <button type="submit" class="btn btn-round btn-success btn-sm" id="goextract">Extract Data</button>
                <br><br>
                <div class="well well-sm pre-scrollable" style="margin-bottom: 0px;min-height:400px;">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="row">#</th>
                          <th scope="row"><input type="checkbox" id="checkAllacp"></th>
                            <td scope="row">Bank</td>
                          <td scope="row">CV Num</td>
                          <td scope="row">CV Date</td>
                          <td scope="row">Payee</td>
                          <td scope="row">Account</td>
                          <td scope="row">Amount</td>
                        </tr>
                      </thead>
                        <tbody id="acpresult">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="payee-danger" class="custom-alert danger">No results found.</div>
{% load staticfiles %}
<script src="{% static 'js/ajaxselect2.js' %}" type="text/javascript"></script>
<script>
    $(function() {
        $('#acp_search').on('click', function() {
            loadData();
        });

        function loadData()
        {
            $.ajax({
                url: "{% url 'checkvoucher:searchforacp' %}",
                type: "post",
                data: {'csrfmiddlewaretoken': "{{csrf_token}}",
                       'dfrom': $('#acp_cvdate_from').val(),
                       'dto': $('#acp_cvdate_to').val(),
                       'creator': $('#creator').val(),
                       },
                success: function(response){
                    $("#acpresult").html(response['viewhtml']);
                }, error: function(response) {
                    console.debug(response);
                }
            });
        }

        $("#checkAllacp").click(function () {
            $(".check").prop('checked', $(this).prop('checked'));
        });

        $('#goextract').on('click', function() {

            var selected_value = [];
            var batchnumber = $('#batchnumber').val();
            var postingdate = $('#postingdate').val();
            var funding = $('#funding').val();
            $(".check:checked").each(function(){
                selected_value.push($(this).val());
            });

            if (!Array.isArray(selected_value) || !selected_value.length) {
                alert('No selected item!');
            } else {
            if (batchnumber == '' || postingdate == '' || funding == '') {
                    alert('Please fill Posting Date, Batch Number and Funding Account');
                } else {

                    $.ajax({
                        url: "{% url 'checkvoucher:acp' %}",
                        type: "post",
                        data: {'csrfmiddlewaretoken': "{{csrf_token}}",
                               'ids': selected_value,
                               'batchnumber': batchnumber,
                               'postingdate': postingdate,
                               'funding': funding,
                               },
                        success: function(response){
                            alert('Data Extracted Success');
                            setTimeout(function(){
                                window.open(response['fileurl']);
                            },10000);
                        }, error: function(response) {
                            console.debug(response);
                        }
                    });
                }
            }

        });

    });
</script>