{% extends 'base-form.html' %}
{% load staticfiles %}
{% load humanize %}
{% block page-title %} Check Voucher {% endblock page-title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/css/dashboard/dashboard.css' %}" />
    <style>
        .text-name-profile.text-info {
            width: 30%;
        }
        .detail-profile {
            width: 50%;
        }
        .heading-top-index-2 {
            padding-right: 20px;
            padding-left: 20px;
        }
        .vattable td {
            text-align: right;

        }
        .vattable td:first-child {
            width: 170px;
            padding-right: 20px;
        }
        .vattable td input {
            width: 100px;
            text-align: right;
        }
        .widgett {
            margin-bottom: 10px;
        }
        li.active
        {
            font-size: 12px;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="page-content container-fluid page">
    <div class="row">
        <div class="col-md-9">
            <!-- Start Profile Tab Section -->
            <div class="nav-tabs nav-tabs-animate border-profile">
                <div class="pull-right">
                    <div class="btn-group floatright">
                        {% if object.actualapprover_id == user.id or object.designatedapprover.id == user.id or user.is_superuser %}
                            {% if object.cvstatus != 'R' %}

                                {% if object.cvstatus == 'A' or object.cvstatus == 'F' %}
                                <a href="#" class="floatright">
                                    <button type="button" id="trandisapproved" class="btn btn-round btn-danger btn-sm waves-effect
                                    waves-light get_report">
                                        <i class="icon fa-check" aria-hidden="true"></i>&nbsp; Disapproved
                                    </button>
                                </a>
                                {% endif %}
                                {% if object.cvstatus == 'A' %}
                                <a href="#" class="floatright">
                                    <button type="button" id="tranposting" class="btn btn-round btn-warning btn-sm waves-effect
                                    waves-light get_report">
                                        <i class="icon fa-unlock-alt" aria-hidden="true"></i>&nbsp; Ready for Posting
                                    </button>
                                </a>
                                {% endif %}

                                {% if object.cvstatus == 'D' or object.cvstatus == 'F' %}
                                <a href="#" class="floatright">
                                    <button type="button" id="tranapproved" class="btn btn-round btn-success btn-sm waves-effect
                                    waves-light get_report">
                                        <i class="icon fa-check" aria-hidden="true"></i>&nbsp; Approved
                                    </button>
                                </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <button type="button" class="btn btn-sm btn-info waves-effect waves-light"><i class="icon fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Print</button>
                        <button type="button" class="btn btn-sm btn-info dropdown-toggle waves-effect waves-light" id="ColorDropdown3" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Info</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-info" style="font-size: 12px;" aria-labelledby="ColorDropdown3" role="menu">
                            <li><a href="{% url 'checkvoucher:pdf' object.id %}" target="_blank" class=" waves-effect waves-light">Transaction</a></li>
                            <li><a href="{% url 'checkvoucher:voucher' object.id %}" target="_blank" class=" waves-effect waves-light">Voucher</a></li>
                            <li><a href="{% url 'checkvoucher:preprintedvoucher' object.id %}" target="_blank" class=" waves-effect waves-light">Pre-printed Voucher</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav nav-tabs nav-profile">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Main Details</a></li>
                </ul>
                <div class="tab-content padding-top-0">
                    <div class="tab-pane active" id="profiles" role="tabpanel">
                        <div class="panel top-profile skill-profile margin-bottom-25">
                            <div class="panel-body small">
                                <!-- <h4 class="list-title">Personal Information</h4> -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-2 margin-right-90"><b>Number</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6"><b>{{ object.cvnum }}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1 margin-right-60"><b>CV&nbsp;Date</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-8">{{ object.cvdate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-2 margin-right-90"><b>Type</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6">{{ object.cvtype.description|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1 margin-right-60"><b>Branch</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-8">{{ object.branch.description|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <br>
                                            <span class="text-info row col-md-1" style="margin-right: 87px;"><b>Payee</b></span>
                                            <span class="text-info row col-md-1" style="margin-right: 13px;"><b>: </b></span>
                                            <span class="row col-md-9"><b>{{ object.payee_name|upper }}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1" style="margin-right: 87px;"><b>Check&nbsp;Number</b></span>
                                            <span class="text-info row col-md-1" style="margin-right: 13px;"><b>: </b></span>
                                            <span class="row col-md-9"><b>{{ object.checknum|default:'N/A' }}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1" style="margin-right: 87px;"><b>Check&nbsp;Date</b></span>
                                            <span class="text-info row col-md-1" style="margin-right: 13px;"><b>: </b></span>
                                            <span class="row col-md-9"><b>{{ object.checkdate|date:'F j, Y'|default:'N/A' }}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1" style="margin-right: 87px;"><b>Amount</b></span>
                                            <span class="text-info row col-md-1" style="margin-right: 13px;"><b>: </b></span>
                                            <span class="row col-md-9"><b>{{ object.amount|floatformat:2|intcomma }}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1" style="margin-right: 87px;"><b>Bank&nbsp;Account</b></span>
                                            <span class="text-info row col-md-1" style="margin-right: 13px;"><b>: </b></span>
                                            <span class="row col-md-9"><b>{% if object.bankaccount %}{{ object.bankaccount.code }} [{{ object.bankaccount.bank.description }} - {{ object.bankaccount.bankaccounttype.description }}, {{ object.bankaccount.bankbranch.description }}]{% else %}N/A{% endif %}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1" style="margin-right: 87px;"><b>Disbursing&nbsp;Branch</b></span>
                                            <span class="text-info row col-md-1" style="margin-right: 13px;"><b>: </b></span>
                                            <span class="row col-md-9"><b>{% if object.disbursingbranch %}[{{ object.disbursingbranch.branch }}] {{ object.disbursingbranch.bank.code }}, {{ object.disbursingbranch.address1 }}{% else %}N/A{% endif %}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1" style="margin-right: 87px;"><b>Particulars</b></span>
                                            <span class="text-info row col-md-1" style="margin-right: 13px;"><b>: </b></span>
                                            <span class="row col-md-9"><b>{{ object.particulars|default:'N/A' }}</b></span>
                                        </div>
                                    </div>
{#                                    <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                        <div class="first-name-profile">#}
{#                                            <br>#}
{#                                            <span class="text-info row col-md-2 margin-right-90"><b>Ref.&nbsp;AP</b></span>#}
{#                                            <span class="text-info row col-md-3"><b>: </b></span>#}
{#                                            <span class="row col-md-6">{{ object.ref_ap|default:'N/A' }}</span>#}
{#                                        </div>#}
{#                                    </div>#}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <br>
                                            <span class="text-info row col-md-2 margin-right-90"><b>Input&nbsp;VAT&nbsp;Type</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6">{{ object.inputvattype.description|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <br>
                                            <span class="text-info row col-md-1 margin-right-60"><b>Ref.&nbsp;No.</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-8">{{ object.refnum|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-2 margin-right-90"><b>VAT</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6">{% if object.vat %}{{ object.vat.description }}&nbsp;({{ object.vatrate }}%){% else %}N/A{% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1 margin-right-60"><b>ATC</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-8">{% if object.atc %}{{ object.atc.code }}&nbsp;({{ object.atcrate }}%){% else %}N/A{% endif %}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-2 margin-right-90"><b>Currency</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6">{% if object.currency %}{{ object.currency.description }}&nbsp;({{ object.currency.symbol }}){% else %}N/A{% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1 margin-right-60"><b>FX&nbsp;Rate</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-8">{{ object.fxrate|floatformat:2|intcomma|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-2 margin-right-90"><b>Deferred?</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6">{{ object.get_deferredvat_display|upper|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">&nbsp;</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <br>
                                            <span class="text-info row col-md-2 margin-right-90"><b>CV&nbsp;Status</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="{% if object.cvstatus == 'F' %} text-primary
                                                         {% elif object.cvstatus == 'A' or object.cvstatus == 'R' %} text-success
                                                         {% elif object.cvstatus == 'D' %} text-danger
                                                         {% endif %} row col-md-6"><b>{{ object.get_cvstatus_display }}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <br>
                                            <span class="text-info row col-md-1 margin-right-60"><b>Approver</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-8">
                                                {% if object.actualapprover %}
                                                    {{ object.actualapprover.first_name }}&nbsp;{{ object.actualapprover.last_name }}
                                                {% else %}
                                                    {{ object.designatedapprover.first_name }}&nbsp;{{ object.designatedapprover.last_name }}
                                                {% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-2 margin-right-90"><b>Response&nbsp;Date</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6">{{ object.responsedate|date:'F j, Y'|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1 margin-right-60"><b>Remarks</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-8">{{ object.approverremarks|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-2 margin-right-90"><b>Release&nbsp;Date</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6">{{ object.releasedate|date:'F j, Y'|default:'N/A' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1 margin-right-60"><b>Status</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="{% if object.status == 'A' %} text-success
                                                         {% else %} text-danger
                                                         {% endif %} row col-md-8"><b>{{ object.get_status_display }}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-2 margin-right-90"><b>Released&nbsp;By</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-6">{% if object.releaseby %}{{ object.releaseby.first_name }}&nbsp;{{ object.releaseby.last_name }}{% else %}N/A{% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-info row col-md-1 margin-right-60"><b>Released&nbsp;To</b></span>
                                            <span class="text-info row col-md-3"><b>: </b></span>
                                            <span class="row col-md-8">{{ object.releaseto|default:'' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-3">
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Reference Transaction</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="ref" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body">
                                    Accounts Payable Voucher
                                    <div class="master-degree small">
                                        {% for data in aptrans %}
                                            <a href="{% url 'accountspayable:detail' data.apmain.id %}" target="_blank">AP#{{ data.apmain.apnum }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Petty Cash Replenishment</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                        <div class="panel-body">
                                    <div class="master-degree small">
                                        {% if reppcvmain %}
                                            {% for data in reppcvmain %}
                                                <table>
                                                    <tr>
                                                        <td width="30%" class="text-info"><b>Number:</b></td>
                                                        <td width="70%" align="right">{{ data.reppcvnum }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="30%" class="text-info"><b>Date:</b></td>
                                                        <td width="70%" align="right">{{ data.reppcvdate|date:'Y-m-d' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="30%" class="text-info"><b>Amount:</b></td>
                                                        <td width="70%" align="right">{{ data.amount|floatformat:2|intcomma }}</td>
                                                    </tr>
                                                </table><br>
                                            {% endfor %}
                                            <table width="100%">
                                                <tr>
                                                    <td width="30%" class="text-info"><b>TOTAL:</b></td>
                                                    <td width="70%" align="right" style="padding-right: 5px;"><b>{{ reppcv_total_amount|floatformat:2|intcomma }}</b></td>
                                                </tr>
                                            </table>
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "acctentry/datatabledetail.html" %}
        <div class="row col-md-3">
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Activity Log</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body small">
                                    <div class="master-degree">
                                        <span class="degree-name text-info">Created&nbsp;By:</span>
                                        <div class="univer-profile">{{ object.enterby }}</div>
                                        <div class="univer-profile">{{ object.enterdate }}</div>
                                    </div>
                                    <div class="master-degree">
                                        <span class="degree-name text-info">Modified&nbsp;By:</span>
                                        <div class="univer-profile">{{ object.modifyby }}</div>
                                        <div class="univer-profile">{{ object.modifydate }}</div>
                                    </div>
                                    <div class="master-degree">
                                        <div class="iconlist">
                                            {% if perms.checkvoucher.change_cvmain and object.isdeleted == 0 %}
                                                <a href="{% url 'checkvoucher:update' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                                    <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                                                        <i class="icon_pencil" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                            {% if perms.checkvoucher.delete_cvmain and object.cvstatus == 'F' and object.isdeleted == 0 and object.status == 'A' %}
                                                <a href="{% url 'checkvoucher:delete' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Cancel" title="" aria-describedby="tooltip850155">
                                                    <button type="button" class="btn btn-floating btn-danger btn-sm waves-effect waves-float waves-light">
                                                        <i class="icon_trash" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="right-box-profile">
                <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Uploaded List</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body small">
                                    <table class="table table-sm">
                                      <thead>
                                        <tr>
                                          <th scope="col">Filename</th>
                                          <th scope="col">Uploaded By</th>
                                          <th scope="col">Uploaded Date</th>
                                          <th scope="col">View</th>
                                             <th scope="col">Delete</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for data in uploadlist %}
                                        <tr>
                                          <th scope="row">{{ data.filename }}</th>
                                          <td>{{ data.enterby.username }}</td>
                                          <td>{{ data.enterdate }}</td>
                                          <td><a href="/media/cvupload/{{ data.filename }}" target="_blank">View</a></td>
                                            <td><button type="button" class="deletefile" data-id="{{ data.id }}" style="color:red">Delete</button></td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="right-box-profile">
                <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Upload Here</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body small">
                                    <form action="{% url 'checkvoucher:upload' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file" name="myfile">
                                    <input type="hidden" name="dataid" value="{{ object.pk }}">
                                    <button type="submit">Upload</button>
                                    </form>

                                    {% if uploaded_file_url %}
                                    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
<script type="text/javascript">

$(".deletefile").on('click', function() {
        var con = confirm('Are you sure you want to delete this file?');

        if (con) {
            var fileid = $(this).data('id');
            var id = {{ object.pk }};
             $.ajax({
                url: "{% url 'checkvoucher:filedelete' %}",
                type: "post",
                data: {'id': id, 'fileid': fileid},
                success: function(response) {
                    location.reload();
                },
                error: function(response) {
                    console.debug(response);
                }
            });

        }

    });

        $("#trandisapproved").on('click', function() {

            var con = confirm('Are you sure you want to disapproved this transaction?');

            if (con) {
                var id = {{ object.pk }};
                 $.ajax({
                    url: "{% url 'checkvoucher:disapprove' %}",
                    type: "post",
                    data: {'id': id, 'reason': 'Transaction disapproved'},
                    success: function(response) {
                        location.reload();
                    },
                    error: function(response) {
                        console.debug(response);
                    }
                });
            }
        });

        $("#tranapproved").on('click', function() {

            var con = confirm('Are you sure you want to approved this transaction?');

            if (con) {
                var id = {{ object.pk }};
                 $.ajax({
                    url: "{% url 'checkvoucher:approve' %}",
                    type: "post",
                    data: {'id': id, 'reason': 'Transaction approved'},
                    success: function(response) {
                        location.reload();
                    },
                    error: function(response) {
                        console.debug(response);
                    }
                });
            }
        });

        $("#tranposting").on('click', function() {

            var con = confirm('Are you sure you want to set this transaction ready for posting?');

            if (con) {
                var id = {{ object.pk }};
                 $.ajax({
                    url: "{% url 'checkvoucher:posting' %}",
                    type: "post",
                    data: {'id': id, 'reason': 'Transaction approved'},
                    success: function(response) {
                        location.reload();
                    },
                    error: function(response) {
                        console.debug(response);
                    }
                });
            }
        });
    </script>
{% endblock extra_js %}