<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load humanize %}
    {% load pdf_filters %}
    <meta charset="UTF-8">
    <title>Check Voucher</title>
    <style>
        @page {
            size: {{ pagesize }} {{ orientation }};
            @frame header_frame {
                -pdf-frame-content: header_content;
                left: 1cm;
                width: 19.5cm;
                top: 1cm;
                height: 5cm;
            }
            @frame content_frame {
                left: 1cm;
                width: 19.5cm;
                top: 2.5cm;
                height: 23.5cm;
            }
            @frame footer_frame {
                -pdf-frame-content: footer_content;
                left: 1cm;
                width: 19.5cm;
                top: 24cm;
                height: 6cm;
            }
        }
        body{
            font-size: 12px;
            font-family: 'Times New Roman';
        }
        .title{
            font-size: 16px;
            font-weight: bold;
        }
        .center{
            text-align: center;
        }
        .right{
            text-align: right;
        }
        .arial{
            font-family: 'Arial';
        }
{#        .courier{#}
{#            font-family: 'Courier New';#}
{#            letter-spacing: -1;#}
{#        }#}
        td{
            vertical-align: top;
        }
        .sign_here{
            width: 165px;
            border-bottom: 1px solid black;
            padding-bottom: -3px;
            margin-bottom: -3px;
        }
    </style>
</head>
<body>

<div id="header_content">
    <p class="title center">{{ parameter.description|upper }}<br>CHECK VOUCHER</p>
</div>

<div id="footer_content">
    <table>
        <tr style="border-top: 2px solid black;border-left: 2px solid black;padding: 5px; padding-bottom: 0px;">
            <td colspan="6" style="border-right: 2px solid black;"></td>
        </tr>
        <tr style="padding-left: 5px; padding-bottom: 0px;">
            <td width="20%" style="border-left: 2px solid black;"><b>Prepared by</b></td>
            <td width="5%"><b>:</b></td>
            <td align="center" style="margin-right: 20px;">
                <div class="sign_here">
                    {% if cvmain.actualapprover %}
                        SGD
                    {% endif %}
                    {{ cvmain.enterby.first_name }}&nbsp;{{ cvmain.enterby.last_name }}
                </div>
            </td>
            <td width="20%"><b>Noted by</b></td>
            <td width="5%"><b>:</b></td>
            <td align="center" style="margin-right: 20px;border-right: 2px solid black;">
                <div class="sign_here">&nbsp;</div>
            </td>
        </tr>
        <tr style="border-bottom: 2px solid black; padding: 5px; padding-top: 3px; padding-bottom: 2px;">
            <td width="20%" style="border-left: 2px solid black;"><b>Checked by</b></td>
            <td width="5%"><b>:</b></td>
            <td align="center" style="margin-right: 20px;">
                <div class="sign_here">&nbsp;</div>
            </td>
            <td width="20%"><b>Received by</b></td>
            <td width="5%"><b>:</b></td>
            <td align="center" style="margin-right: 20px;border-right: 2px solid black;">
                <div class="sign_here">&nbsp;</div>
            </td>
        </tr>
    </table>
    <div style="text-align: right; padding-top: 20px;"><b>CV number:</b> {{ cvmain.cvnum }}</div>
</div>
<table style="margin-top: 10px;">
    <tr>
        <td colspan="3">
            <br>
            <table>
                <tr>
                    <td width="25%"><b>Payee</b></td>
                    <td width="10%"><b>:</b></td>
                    <td>{{ cvmain.payee_name }}</td>
                    <td width="25%"><b>CV Date</b></td>
                    <td width="10%"><b>:</b></td>
                    <td>{{ cvmain.cvdate|date:'Y-m-d' }}</td>
                </tr>
                <tr>
                    <td width="25%"><b>Bank&nbsp;Account</b></td>
                    <td width="10%"><b>:</b></td>
                    <td>
                        {{ cvmain.bankaccount.code }}&nbsp;
                        {{ cvmain.bankaccount.bank.code }}&nbsp;
                        {{ cvmain.bankaccount.bankaccounttype.code }}A&nbsp;
                        {{ cvmain.bankaccount.accountnumber }}
                    </td>
                    <td width="25%"><b>Ref.&nbsp;No.</b></td>
                    <td width="10%"><b>:</b></td>
                    <td>{{ cvmain.refnum }}</td>
                </tr>
                <tr>
                    <td width="25%"><b>Check&nbsp;Info</b></td>
                    <td width="10%"><b>:</b></td>
                    <td>Number&nbsp;{{ cvmain.checknum }}&nbsp;&nbsp;&nbsp;Date&nbsp;{{ cvmain.checkdate|date:'Y-m-d' }}</td>
                    <td width="25%"><b>Amount</b></td>
                    <td width="10%"><b>:</b></td>
                    <td>PHP&nbsp;{{ convertedamount|floatformat:2|intcomma }}
                        {% if cvmain.currency.symbol != 'PHP' %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cvmain.currency.symbol }}&nbsp;{{ cvmain.amount|intcomma }}
                            <br>Fx Rate:&nbsp;{{ cvmain.fxrate|floatformat:2 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td width="25%"><b>Particulars</b></td>
                    <td width="10%"><b>:</b></td>
                    <td colspan="4">{{ cvmain.particulars }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td></td></tr>
</table>
<br>
<table style="padding-left: 5px;">
    <tr class="left" style="border-top: 2px solid black;padding-top: 5px;">
        <td style="border-left: 2px solid black;width: 40%;text-align: center;"><b><i>------------------------General Ledger--------------------------</i></b></td>
        <td style="width: 40%;text-align: center;" align="center"><b><i>------------------------Subsidiary Ledger------------------------</i></b></td>
        <td style="border-right: 2px solid black; text-align: center; padding-right: 5px;width: 20%;"><b><i>---------A m o u n t---------</i></b></td>
    </tr>
    <tr class="left" style="border-bottom: 2px solid black;">
        <td style="border-left: 2px solid black;">
            <table>
                <tr>
                    <td style="width: 30%"><b><i>Acct Code</i></b></td>
                    <td style="width: 70%; text-align: center"><b><i>A c c o u n t&nbsp;&nbsp;&nbsp;T i t l e</i></b></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td style="width: 30%"><b><i>Code</i></b></td>
                    <td style="width: 70%; text-align: center"><b><i>P a r t i c u l a r s</i></b></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td style="width: 50%; text-align: center;"><b><i>D e b i t</i></b></td>
                    <td style="width: 50%; text-align: center; border-right: 2px solid black; padding-right: 5px;"><b><i>C r e d i t</i></b></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="3"></td></tr>
    {% for detail in detail %}
        <tr class="courier">
            <td>
                <table style="padding-bottom: -5px;">
                    <tr>
                        <td style="width: 30%">{{ detail.chartofaccount.accountcode|slice:':6' }}</td>
                        <td style="width: 70%;{% if detail.balancecode == 'C' %}padding-left: 20px;{% endif %}">{{ detail.chartofaccount.description }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table style="padding-bottom: -2px;">
                    {% if detail.bankaccount %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.bankaccount.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>
                                {{ detail.bankaccount.bank.code }} {{ detail.bankaccount.bankaccounttype.code }}A
                            </td>
                        </tr>
                    {% endif %}
                    {% if detail.department %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.department.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.department.departmentname }}</td>
                        </tr>
                    {% endif %}
                    {% if detail.employee %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.employee.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.employee.firstname }} {{ detail.employee.lastname }}</td>
                        </tr>{% endif %}
                    {% if detail.supplier %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.supplier.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.supplier.name }}</td>
                        </tr>{% endif %}
                    {% if detail.customer %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.customer.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.customer.name }}</td>
                        </tr>{% endif %}
                    {% if detail.unit %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.unit.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.unit.description }}</td>
                        </tr>{% endif %}
                    {% if detail.branch %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.branch.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.branch.description }}</td>
                        </tr>{% endif %}
                    {% if detail.product %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.product.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.product.description }}</td>
                        </tr>{% endif %}
                    {% if detail.inputvat %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.inputvat.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.inputvat.description }}</td>
                        </tr>{% endif %}
                    {% if detail.outputvat %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.outputvat.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.outputvat.description }}</td>
                        </tr>{% endif %}
                    {% if detail.vat %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.vat.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.vat.description }}</td>
                        </tr>{% endif %}
                    {% if detail.wtax %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.wtax.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.wtax.description }}</td>
                        </tr>{% endif %}
                    {% if detail.ataxcode %}
                        <tr>
                            <td width="30%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.ataxcode.code }}</td>
                            <td width="70%" {% if detail.balancecode == 'C' %}style="padding-left: 15px;"{% endif %}>{{ detail.ataxcode.description }}</td>
                        </tr>{% endif %}
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td style="width: 50%; text-align: right;">{% if detail.balancecode == 'D' %}{{ detail.debitamount|floatformat:2|intcomma }}{% endif %}</td>
                        <td style="width: 50%; text-align: right;">{% if detail.balancecode == 'C' %}{{ detail.creditamount|floatformat:2|intcomma }}{% endif %}</td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endfor %}
    <tr><td colspan="3"><br></td></tr>
    <tr>
        <td align="center" style="padding-top: 7.5px; border: 2px solid black; border-right: none;"><b>Total</b></td>
        <td style="border: 2px solid black; border-right: none; border-left: none;">&nbsp;</td>
        <td style="padding-top: 5px; border: 2px solid black; border-left: none;">
            <table>
                <tr>
                    <td style="width: 50%; text-align: right;"><b>{{ totaldebitamount.debitamount__sum|intcomma }}</b></td>
                    <td style="width: 50%; text-align: right; padding-right: 5px;"><b>{{ totalcreditamount.creditamount__sum|intcomma }}</b></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>