<thead>
    <tr class="small">
        <th style="min-width: 50px">#</th>
        <th>Code</th>
        <th>Name</th>
        <th>PRF Number</th>
        <th>Branch</th>
        <th>Department</th>
        <th class="text-center" style="width:70px">Quantity</th>
        <th>Unit of Measure</th>
        <th>Estimated delivery</th>
        <th style="min-width:300px">CS Remarks</th>
        <th>PRF Remarks</th>
        <th colspan="2" style="text-align: center; min-width: 250px;">Supplier</th>
        <th class="text-right warning" style="padding-right: 30px">Unit&nbsp;Cost</th>
        <th class="text-right info" style="width: 130px;">Nego&nbsp;Cost</th>
        <th class="text-right info">Gross&nbsp;Amount</th>
        <th class="text-right info">VAT&nbsp;Rate</th>
        <th class="text-right info">VATable</th>
        <th class="text-right info">VAT&nbsp;-&nbsp;Exempt</th>
        <th class="text-right info">VAT&nbsp;Zero&nbsp;-&nbsp;Rated</th>
        <th class="text-right info">Total&nbsp;Purchase</th>
        <th class="text-right info">Add&nbsp;VAT</th>
        <th class="text-right info">Total&nbsp;Amount</th>
    </tr>
</thead>