{% extends 'base-form.html' %}
{% load staticfiles %}
{% block page-title %} Canvass Sheet {% endblock page-title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/css/dashboard/dashboard.css' %}" />
    <style>
        .text-name-profile.text-info {
            width: 30%;
        }
        .detail-profile {
            width: 50%;
        }
        .heading-top-index-2 {
            padding-right: 20px;
            padding-left: 20px;
        }
        .vattable td {
            text-align: right;

        }
        .vattable td:first-child {
            width: 170px;
            padding-right: 20px;
        }
        .vattable td input {
            width: 100px;
            text-align: right;
        }
        .widgett {
            margin-bottom: 10px;
        }
        td {
            min-width: 150px;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="page-content container-fluid page">
    <div class="row">
        <div class="row col-md-8">
            <div class="col-md-12">
                <!-- Start Profile Tab Section -->
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <div class="pull-right">
    {#                    <a href="{% url 'canvasssheet:pdf' object.id %}" target="_blank"><button type="button" id="get_pdf" class="btn btn-info btn-sm waves-effect waves-light get_report">#}
    {#                        <i class="icon fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Print#}
    {#                    </button></a>#}
                    </div>
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Main Details</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body small">
                                    <!-- <h4 class="list-title">Personal Information</h4> -->
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Number&nbsp;: </span>
                                                <span class="detail-profile">{{ object.csnum }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Date&nbsp;Requested&nbsp;: </span>
                                                <span class="detail-profile">{{ object.csdate }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">CS&nbsp;Type&nbsp;: </span>
                                                <span class="detail-profile">{{ object.cstype }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Particulars&nbsp;: </span>
                                                <span class="detail-profile">{{ object.particulars }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Remarks&nbsp;: </span>
                                                <span class="detail-profile">{{ object.remarks|default:' - ' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <br><span class="text-name-profile text-info">Designated&nbsp;Approver&nbsp;: </span>
                                                <span class="detail-profile">{{ object.designatedapprover.first_name }} {{ object.designatedapprover.last_name }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <br><span class="text-name-profile text-info">Actual&nbsp;Approver&nbsp;: </span>
                                                <span class="detail-profile">{% if object.actualapprover == None %} - {% else %}{{ object.actualapprover.first_name }} {{ object.actualapprover.last_name }} {% endif %}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Response&nbsp;Date&nbsp;: </span>
                                                <span class="detail-profile">{{ object.responsedate|default:' - ' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">CS Status&nbsp;: </span>
                                                <span class="detail-profile
                                                    {% if object.csstatus == 'F' %}
                                                        text-primary
                                                    {% elif object.csstatus == 'A' %}
                                                        text-success
                                                    {% elif object.csstatus == 'D' %}
                                                        text-danger
                                                    {% endif %}"><b>
                                                        {{ object.get_csstatus_display }}
                                                </b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Status&nbsp;: </span>
                                                <span class="detail-profile"><b>{{ object.get_status_display }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12"><br>
                                        {% if perms.canvasssheet.change_csmain %}
                                            {% if (object.csstatus == 'F' or object.csstatus == 'A') and object.status != 'O' %}
                                                <a href="../updatestatus/disapprove/{{ object.id }}" class="updatestatus">
                                                    <button class="btn btn-round btn-danger btn-sm waves-effect waves-light floatright">Disapprove</button>
                                                </a>
                                            {% endif %}
                                            {% if object.csstatus == 'F' or object.csstatus == 'D' %}
                                                <a href="../updatestatus/approve/{{ object.id }}" class="updatestatus">
                                                    <button class="btn btn-round btn-success btn-sm waves-effect waves-light floatright">Approve</button>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Item Supplier</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body" style="overflow: auto; width: 100%">
                                    <!-- <h4 class="list-title">Personal Information</h4> -->
                                    <table class="table table-striped margin-bottom-0 small" id="summary">
                                        <thead>
                                            <tr class="small">
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th class="text-right" style="width:70px; padding-right:50px;">Quantity</th>
                                                <th style="min-width: 250px;">Supplier</th>
                                                <th class="text-right">CS&nbsp;Cost</th>
                                                <th class="text-right" style="width: 130px;">Nego&nbsp;Cost</th>
                                                <th class="text-right">Gross&nbsp;Amount</th>
                                                <th class="text-right">VAT&nbsp;Rate</th>
                                                <th class="text-right">VATable</th>
                                                <th class="text-right">VAT&nbsp;-&nbsp;Exempt</th>
                                                <th class="text-right">VAT&nbsp;Zero&nbsp;-&nbsp;Rated</th>
                                                <th class="text-right">Total&nbsp;Purchase</th>
                                                <th class="text-right">Add&nbsp;VAT</th>
                                                <th class="text-right">Total&nbsp;Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in csdetail %}
                                                <tr>
                                                    <td>{{ data.invitem_code }}</td>
                                                    <td>{{ data.invitem_name }}</td>
                                                    <td class="text-right" style="padding-right:50px;">{{ data.quantity }}</td>
                                                    <td>{{ data.supplier.name }}</td>
                                                    <td class="text-right">{{ data.unitcost }}</td>
                                                    <td class="text-right">{{ data.negocost }}</td>
                                                    <td class="text-right">{{ data.grossamount }}</td>
                                                    <td class="text-right">{{ data.vatrate }}</td>
                                                    <td class="text-right">{{ data.vatable }}</td>
                                                    <td class="text-right">{{ data.vatexempt }}</td>
                                                    <td class="text-right">{{ data.vatzerorated }}</td>
                                                    <td class="text-right">{{ data.grossamount }}</td>
                                                    <td class="text-right">{{ data.vatamount }}</td>
                                                    <td class="text-right">{{ data.netamount }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End Profile Tab Section -->
            </div>
        </div>
        <div class="row col-md-4">
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Canvass Summary</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body" style="padding:10px">
                                    <div class="widgett widgett-article widgett-shadow">
                                        <div class="heading-top-index-2">
                                            <table class="vattable">
                                                <tr>
                                                    <td><small><b>Quantity:</b></small></td>
                                                    <td class="form-group form-material"><input type="text" class="form-control input-sm" id="totalQty" disabled="disabled" value="{{ object.quantity }}"></td>
                                                </tr>
                                                <tr>
                                                    <td><small><b>Amount:</b></small></td>
                                                    <td class="form-group form-material"><input type="text" class="form-control input-sm amount" disabled="disabled" value="{{ object.grossamount }}"></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="heading-top-index-2">
                                            <table class="vattable">
                                                <tr>
                                                    <td><small>VATable&nbsp;Purchase:</small></td>
                                                    <td class="form-group form-material"><input type="text" class="form-control input-sm amount" disabled="disabled" value="{{ object.vatable }}"></td>
                                                </tr>
                                                <tr>
                                                    <td><small>VAT-Exempt&nbsp;Purchase:</small></td>
                                                    <td class="form-group form-material"><input type="text" class="form-control input-sm amount" disabled="disabled" value="{{ object.vatexempt }}"></td>
                                                </tr>
                                                <tr>
                                                    <td><small>VAT&nbsp;Zero&nbsp;-&nbsp;Rated&nbsp;Purchase:</small></td>
                                                    <td class="form-group form-material"><input type="text" class="form-control input-sm amount" disabled="disabled" value="{{ object.vatzerorated }}"></td>
                                                </tr>
                                                <tr><td colspan="0"><br></td></tr>
                                                <tr>
                                                    <td><small><b>Total&nbsp;Purchase:</b></small></td>
                                                    <td class="form-group form-material"><input type="text" class="form-control input-sm amount" disabled="disabled" value="{{ object.grossamount }}"></td>
                                                </tr>
                                                <tr>
                                                    <td><small><b>Add&nbsp;VAT:</b></small></td>
                                                    <td class="form-group form-material"><input type="text" class="form-control input-sm amount" disabled="disabled" value="{{ object.vatamount }}"></td>
                                                </tr>
                                                <tr>
                                                    <td><small><b>Total&nbsp;Amount:</b></small></td>
                                                    <td class="form-group form-material"><input type="text" class="form-control input-sm amount" disabled="disabled" value="{{ object.netamount }}"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Imported PRF(s)</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body" style="padding:5px;padding-top:30px;padding-bottom:30px;">
                                    <div id="prfcontainer" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 prf-container">
                                        <div class="shade"><div class="loader two-color"></div></div>
                                        {% for data in csdata %}
                                            <div class="widgett widgett-article widgett-shadow">
                                                <div class="widgett-header cover padding-0 bg-grey-600">
                                                    <div class="background-cover padding-10" style="color:white">
                                                        PRF - {{ data.prfmain.prfnum }}
                                                        <a href="{% url 'purchaserequisitionform:detail' data.prfmain.pk %}" target="_blank"><button type="button" class="close"><i class="icon fa-search" aria-hidden="true"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="right-box-profile">
                    <h4 class="skill-title">Activity Logs</h4>
                    <div class="panel">
                        <div class="panel-body small">
                            <div class="master-degree">
                                <span class="degree-name text-info">Created&nbsp;By:</span>
                                <div class="univer-profile">{{ object.enterby }}</div>
                                <div class="univer-profile">{{ object.enterdate }}</div>
                            </div>
                            <div class="master-degree">
                                <span class="degree-name text-info">Modified&nbsp;By:</span>
                                <div class="univer-profile">{{ object.modifyby }}</div>
                                <div class="univer-profile">{{ object.modifydate }}</div>
                            </div>
                            <div class="master-degree">
                                <div class="iconlist">
    {#                            {% if perms.purchaserequisitionform.change_prfmain %}#}
    {#                            <a href="{% url 'purchaserequisitionform:update' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">#}
    {#                                <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">#}
    {#                                    <i class="icon_pencil" aria-hidden="true"></i>#}
    {#                                </button>#}
    {#                            </a>#}
    {#                            {% endif %}#}
                                {% if perms.canvasssheet.delete_csmain and object.status != 'O' %}
                                    <a href="{% url 'canvasssheet:delete' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Delete" title="" aria-describedby="tooltip850155">
                                        <button type="button" class="btn btn-floating btn-danger btn-sm waves-effect waves-float waves-light">
                                            <i class="icon_trash" aria-hidden="true"></i>
                                        </button>
                                    </a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
    <script type="text/javascript">
        $(function(){
            $(document).on('click', '.updatestatus', function() {
                if (!confirm('Are you sure?')) return false;
            });
        });
    </script>
{% endblock extra_js %}