<form class="form-horizontal" id="detailform" method="get" action="">
{% csrf_token %}
    <div class="row">
        <label style="display: none;" id="itemno">1</label>
        <div class="col-lg-12 form-group">
            <label class="col-sm-3 control-label" for="item_name">Item</label>
            <div class="col-sm-7">
                <select class="form-control input-sm select2" required style="width: 100%" id="id_item_name" name="item_name">
                    <option value="">-- Select Item --</option>
                    {% for invitem in invitem %}
                        <option value="{{ invitem.id }}" data-code="{{ invitem.code }}" data-um="{{ invitem.unitofmeasure }}">{{ invitem.code }} | {{ invitem.description }}</option>
                    {% endfor %}
                </select>
                <span class="help-block form-error"></span>
            </div>
            <label class="col-sm-3 control-label" for="quantity">Requested Quantity</label>
            <div class="col-sm-3">
                <input type="number" max="100" class="form-control input-sm text-right" id="id_quantity" name="quantity">
                <span class="help-block form-error">{{ form.quantity.errors.as_text }}</span>
            </div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-sm-3 control-label">Remarks</label>
            <div class="col-sm-5">
                <textarea class="form-control input-sm remarks-editor" id="id_remarks" name="remarks" rows="5"></textarea>
                <span class="help-block form-error">{{ form.remarks.errors.as_text }}</span>
            </div>
        </div>
        <div class="col-sm-12 pull-left margin-bottom-10">
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailsubmit">Add Item</button>
            <button type="button" class="btn btn-round btn-dark waves-effect waves-light" id="btn_detailclose">Close</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        summary = $("#summary tbody");
        computeTotalRequestedQty();
        resetItems();
        $('.remarks-editor').wysihtml5({
            "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
            "emphasis": false, //Italics, bold, etc. Default true
            "lists": false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
            "html": false, //Button which allows you to edit the generated HTML. Default false
            "link": false, //Button to insert a link. Default true
            "image": false, //Button to insert an image. Default true,
            "color": false //Button to change color of font
        });

        $("#btn_detailclose").click(function(){
            $("#detailentry").hide();
        });

        $("#btn_detailsubmit").click(function(){
            if(($('#id_item_name').val() == "") || ($('#id_quantity').val() == "")){
                if(($('#id_item_name').val() == "") && ($('#id_quantity').val() != ""))
                    customAlert($('#item-select'));
                else if(($('#id_item_name').val() != "") && ($('#id_quantity').val() == ""))
                    customAlert($('#item-quantity'));
                else if(($('#id_item_name').val() == "") && ($('#id_quantity').val() == ""))
                    customAlert($('#item-select-quantity'));
            }
            else {
                $('.shade').fadeIn();
                $.ajax({
                    url: "{% url 'requisitionform:savedetailtemp' %}",
                    type: "post",
                    data: {'itemno': $("#itemno").text(),
                            'id_item': $("#id_item_name").val(),
                            'id_quantity': $("#id_quantity").val(),
                            'id_remarks': $("#id_remarks").val(),
                            'secretkey': $("#id_secretkey").val()},

                    success: function(response) {
                        $("#itemno").text(parseInt($("#itemno").text()) + 1);

                        um_selected = $("#id_item_name option:selected").data('um');

                        var invname = $("#id_item_name option:selected").text().split('|');
                        var itemid = $("#id_item_name").val();

                        summary.append("<tr><td></td>" +
                                "<td>" + $("option:selected", $("#id_item_name")).data('code') + "</td>" +
                                "<td>" +  invname[1] + "</td>" +
                                "<td><div><div class='col-sm-11 row'><textarea class='form-control input-sm input-remarks' id='id_temp_remarks[" + response.itemno + "]' name='temp_remarks' form='form-b'>" + response.remarks + "</textarea></div>" +
                                "<div class='col-sm-1'><button class='btn showRemarks' data-toggle='modal' data-target='#remarksModal' data-itemno='" + response.itemno + "'>...</button></div></div></td>" +
                                "<td><select class='form-control input-sm' required style='width: 100%' id='id_temp_item_um' name='temp_item_um' form='form-b'>" +
                                "{% for unitofmeasure in unitofmeasure %} <option value='{{ unitofmeasure.code }}'>{{ unitofmeasure.description }} ({{ unitofmeasure.code }})</option>{% endfor %}</select></td>" +
                                "<td><input type='number' name='temp_quantity' form='form-b' step='any' class='form-control input-sm tblInputQuantity text-right' value='" + response.quantity + "'></td>" +
                                "<td><button class='btn remove_item' data-itemno='" + response.itemno + "' data-itemid='" + itemid + "'><i class='icon fa-remove' aria-hidden='true'></i></button></td>" +
                                "</tr>");

                        summary.find("tr").last().find("#id_temp_item_um option[value="+um_selected+"]").attr('selected','selected');

                        $("#id_item_name").val('').trigger('change.select2');
                        $("#id_quantity").val('');
                        $('#id_remarks').data("wysihtml5").editor.setValue('');

                        reorderItems();
                        computeTotalRequestedQty();
                        resetItems();
                        callEventHandler(summary.find("tr").last().find('.remove_item').data('itemno'));

                        customAlert($('#item-added'));
                        $('.shade').fadeOut();
                    }
                    , error: function(response) {
                        console.debug(response);
                        $('.shade').fadeOut();
                    }
                });
            }
        });

        function callEventHandler(i){
            var editor = new wysihtml5.Editor("id_temp_remarks["+i+"]");
        }

        $(document).on("click", ".showRemarks", function(e){
            $('#remarks_itemno').val($(this).data('itemno'));
            $('#id_modal_remarks').data("wysihtml5").editor.setValue($(this).parent().siblings().find('.input-remarks').val());
        });

        $(document).on("click", "#save_remarks", function(e){
            $(".remove_item[data-itemno='" + $('#remarks_itemno').val() +"']").parent().parent().find('.input-remarks').next().next().remove();
            $(".remove_item[data-itemno='" + $('#remarks_itemno').val() +"']").parent().parent().find('.input-remarks').prev().remove();
            $(".remove_item[data-itemno='" + $('#remarks_itemno').val() +"']").parent().parent().find('.input-remarks').css('display', 'block');
            $(".remove_item[data-itemno='" + $('#remarks_itemno').val() +"']").parent().parent().find('.input-remarks').val($('#id_modal_remarks').val());
            callEventHandler($('#remarks_itemno').val());
            $('#remarksModal').modal('hide');
        });

        $(document).on('click', '.remove_item', function(){
            $('.shade').fadeIn();
            var elem = $(this);

            $.ajax({
                url: "{% url 'requisitionform:deletedetailtemp' %}",
                type: "post",
                data: {'itemno': $(this).data('itemno'),
                        'secretkey': $("#id_secretkey").val(),
                        'rfnum': $("#id_rfnum").val()
                },

                success: function(response) {
                    elem.parent().parent().remove();
                    reorderItems();
                    computeTotalRequestedQty();
                    resetItems();
                    $('.shade').fadeOut();
                }
                , error: function(response) {
                    console.debug(response);
                    $('.shade').fadeOut();
                }
            });
        });

        $(document).on('change', '.tblInputQuantity', function(){
            computeTotalRequestedQty();
        });

        function reorderItems(){
            len = summary.find('tr').find('td:eq(0)').length;
            for(i=0;i<len;i++){
                //change displayed item counter
                summary.find('tr:eq(' + i + ')').find('td:eq(0)').html(i + 1);

                //change data-itemno in .remove-item
                $('.remove_item:eq(' + i + ')').attr('data-itemno', i + 1);
                $('.remove_item:eq(' + i + ')').removeData('itemno');

                //change data-itemno in .showRemarks
                $('.showRemarks:eq(' + i + ')').attr('data-itemno', i + 1);
                $('.showRemarks:eq(' + i + ')').removeData('itemno');

                //change id index of id_temp_remarks[]
                jQuery($('.input-remarks:eq(' + i + ')')).attr('id', 'id_temp_remarks[' + (i + 1) + ']');
            }
        }

        function computeTotalRequestedQty(){
            var totalRequestedQty = 0;
            $('.tblInputQuantity').each(function() {
                totalRequestedQty += parseFloat($(this).val());
            });

            var totalRemainingQuantity = 0;
            totalRemainingQuantity = {{ totalremainingquantity }};
            var totalPrfQuantity = totalRequestedQty - totalRemainingQuantity;

            $("#totalrequestedquantity").text(totalRequestedQty);
            $("#id_totalquantity").val(totalRequestedQty);
            $("#totalremainingquantity").text(totalRemainingQuantity);
            $("#totalprfquantity").text(totalPrfQuantity);
        }

        function resetItems(){
            $('#id_item_name').find('option').prop("disabled",false);
            $('.remove_item').each(function(){
                $('#id_item_name').find('option[value=' + $(this).data('itemid') + ']').prop("disabled", true);
                $('#id_item_name').select2("destroy");
                $('#id_item_name').select2();
            });
        }
    });
</script>