{% extends 'base-form.html' %}
{% block page-title %} Data Uploading {% endblock page-title %}
{% block extra_css %}
	{% load static %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
	<style>
		#table_container > div{
            height: 150px;
            overflow: scroll;
            padding: 0px;
        }
        .select2-results__options{
            font-size: 12px;
        }
	</style>
{% endblock extra_css %}
{% block page-content %}
<div class="panel">
    <div class="shade"><div class="loader two-color"></div></div>
	<div class="panel-body container-fluid">
		<div class="row">					
			<div class="col-md-12">
				<div class="page-wrap">
					<form method="post" id="data" enctype="multipart/form-data" style="height:10px">
                        <div id="formupload">
                            <div class="form-group col-sm-3 padding-left-0">
                                <label class="control-label small">Data Type</label>
                                <select name="upload_type" id="upload_type" class="form-control input-sm select2">
                                    <option value="">-- Select --</option>
                                    <optgroup label="Advertising">
                                        <option value="agency">Agency</option>
                                        <option value="client">Client</option>
{#                                    <option value="adtype">Ad Type</option>#}
                                    </optgroup>
                                    <optgroup label="Circulation">
                                        <option value="agent">Agent</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group col-sm-7 padding-left-0">
                                <label class="control-label small">Data File</label>
                                <input type="file" id="upload_file" class="form-control input-sm" name="upload_file">
                            </div>
                            <div class="form-group col-sm-2 padding-right-0">
                                <br>
                                <button type="button" class="btn btn-sm btn-info pull-right upload_button" style="width:100px">UPLOAD</button>
                            </div>
                        </div>
                    </form>
				</div>   
			</div>
			<div class="col-md-12" id="table_container">
				<div class="col-md-4">
                    <table class="table table-condensed" id="success_table">
                        <thead>
                            <tr class="bg-light-green-500">
                                <th style="color:white"><small><b>Passed</b><div class="pull-right" id="upload_success"></div></small></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <table class="table table-condensed" id="failed_table">
                        <thead>
                            <tr class="bg-red-400">
                                <th colspan="2" style="color:white"><small><b>Failed</b><div class="pull-right" id="upload_failed"></div></small></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
			</div>
            <div class="col-md-12">
                <br>
                <i class="small">** Total of <b id="upload_total"></b> items processed. **</i>
            </div>
            <div class="clearfix"></div>
		</div>
	</div>
</div>
<div id="upload-success" class="custom-alert success">Upload successful!</div>
<div id="upload-error" class="custom-alert danger">File upload failed!</div>
<div id="upload-file-error" class="custom-alert danger">File/Invalid error!</div>
<div id="upload-file-large" class="custom-alert danger">File too large! (>3mb)</div>
{% endblock page-content %}
{% block extra_js %}
<script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
<script>
	$(function(){
        $('.select2').select2({});
		$(document).on('click', '.upload_button', function(e){
            e.preventDefault();
            $('.shade').fadeIn();
            $("form#data").submit();
        });

		$("form#data").submit(function(){
	        if ($('#upload_file').get(0).files.length === 0) {
	            customAlert($('#upload-file-error'));
                $('.shade').fadeOut();
	        }
	        else{
	            var formData = new FormData(this);

	            $.ajax({
	                url: "{% url 'processing_data:upload' %}",
	                type: 'POST',
	                data: formData,
	                async: false,
	                success: function (data) {
                        switch(data['result']) {
                            case 1:
                                $('#success_table tbody').html('');
                                for (var i = 0; i < data['successcount']; i++) {
                                    $('#success_table tbody').append("<tr><td><small>" + data['successdata'][i] + "</small></td></tr>");
                                }
                                $('#failed_table tbody').html('');
                                for (var i = 0; i < data['failedcount']; i++) {
                                    $('#failed_table tbody').append("<tr><td><small>" + data['faileddata'][i][0] + "</small></td><td><small>" + data['faileddata'][i][1] + "</small></td></tr>");
                                }

                                $('#upload_total').text(data['datacount']);
                                $('#upload_success').html(data['successcount'] + "&nbsp;&nbsp;");
                                $('#upload_failed').html(data['failedcount'] + "&nbsp;&nbsp;");
                                break;
                            case 2:
                                customAlert($('#upload-error'));
                                break;
                            case 3:
                                customAlert($('#upload-file-error'));
                                break;
                            case 4:
                                customAlert($('#upload-file-large'));
                                break;
                            case 5:
                                customAlert($('#upload-file-error'));
                                break;
                            case 6:
                                customAlert($('#upload-error-artype'));
                                break;
                            default:
                        }
                        $('.shade').fadeOut();
	                }, error: function(response) {
                        console.debug(response);
                        $('.shade').fadeOut();
                    },
	                cache: false,
	                contentType: false,
	                processData: false
	            });
	        }
			return false;
	    });
	});
</script>
{% endblock extra_js %}