{% extends 'base-form.html' %}
{% load staticfiles %}
{% load humanize %}
{% block page-title %} Acknowledgement Receipt {% endblock page-title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/css/dashboard/dashboard.css' %}" />
    <style>
        .text-name-profile.text-info {
            width: 30%;
        }
        .detail-profile {
            width: 50%;
        }
        .heading-top-index-2 {
            padding-right: 20px;
            padding-left: 20px;
        }
        .vattable td {
            text-align: right;

        }
        .vattable td:first-child {
            width: 170px;
            padding-right: 20px;
        }
        .vattable td input {
            width: 100px;
            text-align: right;
        }
        li.active
        {
            font-size: 12px;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="page-content container-fluid page">
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-12">
                <!-- Start Profile Tab Section -->
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <div class="pull-right">
    {#                    <a href="{% url 'canvasssheet:pdf' object.id %}" target="_blank"><button type="button" id="get_pdf" class="btn btn-info btn-sm waves-effect waves-light get_report">#}
    {#                        <i class="icon fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Print#}
    {#                    </button></a>#}
                    </div>
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Main Details</a></li>
                        <a href="{% url 'acknowledgementreceipt:pdf' object.id %}" target="_blank" class="floatright">
                        <button class="btn btn-info btn-sm" data-toggle='modal' data-target='#searchModal'>
                            <i class="icon fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Print
                        </button>
                    </a>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body small">
                                    <!-- <h4 class="list-title">Personal Information</h4> -->
                                    <div class="row">
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-40"><b>Number</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span><b>{{ object.arnum }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-60"><b>AR&nbsp;Date</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.ardate|date:'Y-m-d' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-40"><b>AR&nbsp;Type</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.artype.description }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-60"><b>AR&nbsp;Subtype</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.arsubtype.description|default:'N/A' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-40"><b>Payor</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.payor_name }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-60"><b>Collector</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.collector_name }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-40"><b>Amount</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.amount|floatformat:2|intcomma }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-60"><b>Amount&nbsp;in&nbsp;Words</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.amountinwords }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-40"><b>Branch</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.branch.description }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-60"><b>Depository&nbsp;Bank</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.depositorybank.code }}&nbsp;[{{ object.depositorybank.bank.description }}&nbsp;-&nbsp;{{ object.depositorybank.bankaccounttype.description }},&nbsp;{{ object.depositorybank.bankbranch.description }}]&nbsp;{{ object.depositorybank.accountnumber }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-40"><b>Status</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span class="{% if object.status == 'A' %} text-success
                                                             {% else %} text-danger
                                                             {% endif %}"><b>{{ object.get_status_display }}</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <div class="first-name-profile">
                                                <span class="text-info row col-md-2 margin-right-60"><b>Particulars</b></span>
                                                <span class="text-info row col-md-2"><b>: </b></span>
                                                <span>{{ object.particulars }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Payment Details</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table small" id="detailstable">
                                            <thead>
                                                <tr>
                                                    <th><span>#</span></th>
                                                    <th><span>TYPE</span></th>
                                                    <th><span>BANK</span></th>
                                                    <th><span>NUMBER</span></th>
                                                    <th><span>DATE</span></th>
                                                    <th><span>AUTH. #</span></th>
                                                    <th><span>REMARKS</span></th>
                                                    <th style="text-align: right;"><span>AMOUNT</span></th>
                                                    <th style="text-align: center;"><span>&nbsp;</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for itemtemp in itemtemp %}
                                                    <tr class='tblItemContainer'>
                                                        <td class='tblItemCounter text-center' data-id='{{ itemtemp.id }}'>{{ itemtemp.item_counter }}</td>
                                                        <td class='tblPaytype'><b>{{ itemtemp.paytype.description }}</b></td>
                                                        <td class='tblBank'>{% if itemtemp.bank and itemtemp.bankbranch %} {{ itemtemp.bank.code }}&nbsp;{{ itemtemp.bankbranch.description }} {% else %} - {% endif %}</td>
                                                        <td class='tblNumber'>{{ itemtemp.num|default:' - ' }}</td>
                                                        <td class='tblDate'>{{ itemtemp.date|date:'Y-m-d'|default:' - ' }}</td>
                                                        <td class='tblAuthnum'>{{ itemtemp.authnum|default:' - ' }}</td>
                                                        <td class='tblRemarks'>{{ itemtemp.remarks|default:' - ' }}</td>
                                                        <td class='tblAmount text-right'><b>{{ itemtemp.amount|floatformat:2|intcomma }}</b></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="6">&nbsp;</td>
                                                    <td><b>TOTAL</b></td>
                                                    <td id="totaldetailsamount" class="text-right"><b>{{ totalpaymentamount.amount__sum|floatformat:2|intcomma }}</b></td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "acctentry/datatabledetail.html" %}
        <div class="row col-md-3">
            <div class="col-md-12">
                <div class="nav-tabs nav-tabs-animate border-profile">
                    <ul class="nav nav-tabs nav-profile">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Activity Log</a></li>
                    </ul>
                    <div class="tab-content padding-top-0">
                        <div class="tab-pane active" id="profiles" role="tabpanel">
                            <div class="panel top-profile skill-profile margin-bottom-25">
                                <div class="panel-body small">
                                    <div class="master-degree">
                                        <span class="degree-name text-info">Created&nbsp;By:</span>
                                        <div class="univer-profile">{{ object.enterby }}</div>
                                        <div class="univer-profile">{{ object.enterdate }}</div>
                                    </div>
                                    <div class="master-degree">
                                        <span class="degree-name text-info">Modified&nbsp;By:</span>
                                        <div class="univer-profile">{{ object.modifyby }}</div>
                                        <div class="univer-profile">{{ object.modifydate }}</div>
                                    </div>
                                    <div class="master-degree">
                                        <div class="iconlist">
                                            {% if perms.acknowledgementreceipt.change_armain and object.isdeleted == 0 %}
                                                <a href="{% url 'acknowledgementreceipt:update' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                                    <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                                                        <i class="icon_pencil" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                            {% if perms.acknowledgementreceipt.delete_armain and object.arstatus == 'F' and object.isdeleted == 0 and object.status == 'A' %}
                                                <a href="{% url 'acknowledgementreceipt:delete' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Cancel" title="" aria-describedby="tooltip850155">
                                                    <button type="button" class="btn btn-floating btn-danger btn-sm waves-effect waves-float waves-light">
                                                        <i class="icon_trash" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page-content %}