{% extends 'base-form.html' %}
{% load staticfiles %}
{% block page-title %} Supplier {% endblock page-title %}
{% block page-content %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'financial-layout/assets/plugin/select2/css/select2.css' %}" />
    <style>
        .select2-results__option {
            font-size: 12px;
        }
    </style>
{% endblock extra_css %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="panel margin-bottom-20">
                <!-- Start Simple Form Validation -->
                <div class="panel-heading">
                    <h3 class="panel-title">CREATE</h3>
                </div>
                <div class="panel-body">
                    <form autocomplete="off" id="form-b" method="post">
                        {% csrf_token %}
                        <div class="form-group form-group-sm form-group-0 col-md-6
                         {{ form.code.errors|yesno:'has-error,' }}">
                            <label for="id_code" class="col-sm-3 control-label">Code</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="id_code" maxlength="10" placeholder="Code" name="code" data-validation="required" value="{{ form.code.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.code.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6
                         {{ form.name.errors|yesno:'has-error,' }}">
                            <label for="id_name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="id_name" maxlength="250" placeholder="Name" name="name" data-validation="required" value="{{ form.name.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.name.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 col-md-offset-6
                         {{ form.tin.errors|yesno:'has-error,' }}">
                            <label for="id_tin" class="col-sm-3 control-label">TIN</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control validateIntFormMask tinNumber" id="id_tin" maxlength="18" placeholder="TIN" name="tin" data-validation="required" value={{ form.tin.value|default:"" }}>
                                <span class="help-block form-error help-block-sm">{{ form.tin.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 form-material col-md-6
                         {{ form.industry.errors|yesno:'has-error,' }}">
                            <br><label for="id_inputvattype" class="col-sm-3 control-label">Industry</label>
                            <div class="col-sm-7">
                                <select id="id_industry" class="form-control" name="industry" data-validation="required">
                                    <option value="">-- Select --</option>
                                    {% for industry in industry %}
                                        <option value="{{ industry.id }}" {% if form.industry.value|add:0 == industry.id %} selected="selected" {% endif %}>{{ industry.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error help-block-sm">{{ form.industry.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 form-material {{ form.suppliertype.errors|yesno:'has-error,' }}">
                            <br><label for="id_suppliertype" class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-7">
                                <select id="id_suppliertype" name="suppliertype" class="form-control" data-validation="required">
                                    <option value="">-- Select --</option>
                                    {% for suppliertype in suppliertype %}
                                        <option value="{{ suppliertype.id }}" {% if form.suppliertype.value|add:0 == suppliertype.id %} selected="selected" {% endif %}>{{ suppliertype.description }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error help-block-sm">{{ form.suppliertype.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 {{ form.address1.errors|yesno:'has-error,' }}">
                            <label for="id_address1" class="col-sm-3 control-label">Address&nbsp;1</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="id_address1" maxlength="250" placeholder="Address" name="address1" data-validation="required" value="{{ form.address1.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.address1.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 {{ form.zipcode.errors|yesno:'has-error,' }}">
                            <label for="id_zipcode" class="col-sm-3 control-label">Zip&nbsp;Code</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control validateIntFormMask zipCode" id="id_zipcode" maxlength="4" placeholder="Zip Code" name="zipcode" value="{{ form.zipcode.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.zipcode.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 {{ form.address2.errors|yesno:'has-error,' }}">
                            <label for="id_address2" class="col-sm-3 control-label">Address&nbsp;2</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="id_address2" maxlength="250" placeholder="Address" name="address2" value="{{ form.address2.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.address2.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 {{ form.telno.errors|yesno:'has-error,' }}">
                            <label for="id_telno" class="col-sm-3 control-label">Tel.&nbsp;No.</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="id_telno" maxlength="20" placeholder="Tel. No." name="telno" value="{{ form.telno.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.telno.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 {{ form.address3.errors|yesno:'has-error,' }}">
                            <label for="id_address3" class="col-sm-3 control-label">Address&nbsp;3</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="id_address3" maxlength="250" placeholder="Address" name="address3" value="{{ form.address3.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.address3.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 {{ form.faxno.errors|yesno:'has-error,' }}">
                            <label for="id_faxno" class="col-sm-3 control-label">Fax.&nbsp;No.</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="id_faxno" maxlength="20" placeholder="Fax. No." name="faxno" value="{{ form.faxno.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.faxno.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 {{ form.contactperson.errors|yesno:'has-error,' }}">
                            <label for="id_contactperson" class="col-sm-3 control-label">Contact&nbsp;Person</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="id_contactperson" maxlength="250" placeholder="Contact Person" name="contactperson" value="{{ form.contactperson.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.contactperson.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="col-md-12"><br></div>
                        <div class="form-group form-group-sm form-group-0 form-material col-md-6
                         {{ form.creditterm.errors|yesno:'has-error,' }}">
                            <br><label for="id_creditterm" class="col-sm-3 control-label">Credit&nbsp;Terms</label>
                            <div class="col-sm-7">
                                <select id="id_creditterm" class="form-control" name="creditterm" data-validation="required">
                                    <option value="">-- Select --</option>
                                    {% for creditterm in creditterm %}
                                        <option value="{{ creditterm.id }}" {% if form.creditterm.value|add:0 == creditterm.id %} selected="selected" {% endif %}>{{ creditterm.description }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.creditterm.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 form-material col-md-6
                         {{ form.currency.errors|yesno:'has-error,' }}">
                            <br><label for="id_currency" class="col-sm-3 control-label">Currency</label>
                            <div class="col-sm-7">
                                <select id="id_currency" class="form-control" name="currency" data-validation="required">
                                    <option value="">-- Select --</option>
                                    {% for currency in currency %}
                                        <option value="{{ currency.id }}" {% if form.currency.value|add:0 == currency.id %} selected="selected" {% endif %} data-fxrate="{{ currency.fxrate }}">{{ currency.description }} ({{ currency.symbol }})</option>
                                    {% endfor %}
                                </select>
                                <span id="fxrate" class="text-success" style="margin-left: 150px;"></span>
                                <span class="help-block form-error">{{ form.currency.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 form-material col-md-6
                         {{ form.inputvattype.errors|yesno:'has-error,' }}">
                            <label for="id_inputvattype" class="col-sm-3 control-label">Input&nbsp;VAT&nbsp;Type</label>
                            <div class="col-sm-7">
                                <select id="id_inputvattype" class="form-control" name="inputvattype" data-validation="required">
                                    <option value="">-- Select --</option>
                                    {% for inputvattype in inputvattype %}
                                        <option value="{{ inputvattype.id }}" {% if form.inputvattype.value|add:0 == inputvattype.id %} selected="selected" {% endif %}>{{ inputvattype.description }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error help-block-sm">{{ form.inputvattype.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 col-md-6 form-material {{ form.deferredvat.errors|yesno:'has-error,' }}">
                            <label for="id_deferredvat" class="col-sm-3 control-label">Deferred&nbsp;(Y/N)</label>
                            <div class="col-sm-7">
                                <select id="id_deferredvat" name="deferredvat" class="form-control" data-validation="required">
                                    {% for id,name in form.fields.deferredvat.choices %}
                                        <option value="{{ id }}"{% if form.deferredvat.value == id %} selected{% endif %}>{% ifequal id ""%}-- Select --{% else %}{{ name }}{% endifequal %}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error help-block-sm">{{ form.deferredvat.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 form-material col-md-6
                         {{ form.vat.errors|yesno:'has-error,' }}">
                            <label for="id_vat" class="col-sm-3 control-label">VAT</label>
                            <div class="col-sm-7">
                                <select id="id_vat" class="form-control" name="vat" data-validation="required">
                                    <option value="">-- Select --</option>
                                    {% for vat in vat %}
                                        <option value="{{ vat.id }}" {% if form.vat.value|add:0 == vat.id %} selected="selected" {% endif %}>{{ vat.code }} | {{ vat.description }} | {{ vat.rate }}%</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error help-block-sm">{{ form.vat.errors.as_text }}</span>
                            </div>
                        </div>
                         <div class="form-group form-group-sm form-group-0 form-material col-md-6
                         {{ form.atc.errors|yesno:'has-error,' }}">
                            <label for="id_atc" class="col-sm-3 control-label">ATC Code</label>
                            <div class="col-sm-7">
                                <select id="id_atc" class="form-control" name="atc" data-validation="required">
                                    <option value="">-- Select --</option>
                                    {% for atc in atc %}
                                        <option value="{{ atc.id }}" {% if form.atc.value|add:0 == atc.id %} selected="selected" {% endif %}>{{ atc.code }} | {{ atc.description }} | {{ atc.rate }}%</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error help-block-sm">{{ form.atc.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 form-material col-md-12
                         {{ form.bankaccount.errors|yesno:'has-error,' }}">
                            <br><br><label for="id_bankaccount" class="col-sm-1 control-label" style="margin-right: 77px;">Bank&nbsp;Account</label>
                            <div class="col-sm-4">
                                <select id="id_bankaccount" class="form-control input-sm select2" name="bankaccount">
                                    <option value="">-- Select --</option>
                                    {% for bankaccount in bankaccount %}
                                        <option value="{{ bankaccount.id }}" {% if form.bankaccount.value|add:0 == bankaccount.id %} selected="selected" {% endif %}>{{ bankaccount.code }} [{{ bankaccount.bank.description }} - {{ bankaccount.bankaccounttype.description }}, {{ bankaccount.bankbranch.description }}]</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.bankaccount.errors.as_text }}</span>
                            </div>
                            <label for="id_account_number" class="col-sm-3 control-label">Account Number</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="id_account_number" maxlength="250" placeholder="Account Number" name="account_number" value="{{ form.account_number.value|default:'' }}">
                                <span class="help-block form-error help-block-sm">{{ form.account_number.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 form-material col-md-12
                         {{ form.bankbranchdisburse.errors|yesno:'has-error,' }}">
                            <label for="id_bankbranchdisburse" class="col-sm-1 control-label" style="margin-right: 77px;">Branch&nbsp;Disburse</label>
                            <div class="col-sm-4">
                                <select id="id_bankbranchdisburse" class="form-control input-sm select2" name="bankbranchdisburse">
                                    <option value="">-- Select --</option>
                                    {% for bankbranchdisburse in bankbranchdisburse %}
                                        <option value="{{ bankbranchdisburse.id }}" {% if form.bankbranchdisburse.value|add:0 == bankbranchdisburse.id %} selected="selected" {% endif %}>[{{ bankbranchdisburse.branch }}] {{ bankbranchdisburse.bank.code }}, {{ bankbranchdisburse.address1 }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.bankaccount.errors.as_text }}</span>
                            </div>
                            <div class="form-group form-group-sm form-group-0 form-material col-md-6
                             {{ form.id_triplec.errors|yesno:'has-error,' }}">
                                <label for="id_triplec" class="col-sm-3 control-label">Triple C</label>
                                <div class="col-sm-7">
                                    <select id="id_triplec" class="form-control" name="triplec" data-validation="required">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                    <span class="help-block form-error help-block-sm">{{ form.triplec.errors.as_text }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm form-group-0 form-material col-md-12
                         {{ form.paytype.errors|yesno:'has-error,' }}">
                            <label for="id_paytype" class="col-sm-1 control-label" style="margin-right: 77px;">Payment&nbsp;Type</label>
                            <div class="col-sm-4">
                                <select id="id_paytype" class="form-control input-sm select2" name="paytype">
                                    <option value="">-- Select --</option>
                                    {% for paytype in paytype %}
                                        <option value="{{ paytype.id }}" {% if form.paytype.value|add:0 == paytype.id %} selected="selected" {% endif %}>[{{ paytype.code }}] {{ paytype.description }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block form-error">{{ form.bankaccount.errors.as_text }}</span>
                            </div>
                            <div class="form-group form-group-sm form-group-0 form-material col-md-6
                             {{ form.id_ccc.errors|yesno:'has-error,' }}">
                                <label for="id_ccc" class="col-sm-3 control-label">COL/COR/CON</label>
                                <div class="col-sm-7">
                                    <select id="id_ccc" class="form-control" name="ccc" >
                                        <option value="">-- Select --</option>
                                        <option value="COL">COLUMNISTS</option>
                                        <option value="COR">CORRESPONDENTS</option>
                                        <option value="CON">CONTRIBUTORS</option>
                                    </select>
                                    <span class="help-block form-error help-block-sm">{{ form.ccc.errors.as_text }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-info margin-top-25 margin-left-20" id="validateButton">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End Simple Form Validation -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
    {% load static %}
    <script src="{% static 'financial-layout/assets/plugin/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/js/form-mask/jquery.formatter.min.js' %}"></script>
    <script src="{% static 'financial-layout/assets/js/form-mask/custom-masks.js' %}"></script>
    <script src="{% static 'financial-layout/assets/js/form-mask/validate-masks.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#fxrate').html('<small><strong>FX Rate:&nbsp;&nbsp;&nbsp;'
                    + $('#id_currency').find(':selected').data('fxrate')
                    + '</strong></small>');

            $('#id_currency').change(function(){
                $('#fxrate').html('<small><strong>FX Rate:&nbsp;&nbsp;&nbsp;'
                    + $('#id_currency').find(':selected').data('fxrate')
                    + '</strong></small>');
            });
        });

        $('.select2').select2({});
    </script>
{% endblock extra_js %}