{% load humanize %}
{% block extra_css %}
    <style>
        .pointer {
            cursor: pointer;
        }
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
        input[type=number], 
        .amount-right{
            text-align: right;
        }
    </style>
{% endblock extra_css %}
<a style="display: none;" href="" id="trigger_print" target="_blank">Print all</a>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
        {% if ap_data %}
            <table class="table table-striped table-bordered" id="ap_table">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="pointer" name="chb_all" id="chb_all" title="Tick to include all." checked="Tick" /></th>
                        <th><span>ID</span></th>
                        <th><span>APV Number</span></th>
                        <th><span>APV Date</span></th>
                        <th><span>Type</span></th>
                        <th><span>Payee</span></th>
                        <th><span>Particulars</span></th>
                        <th><span>Amount</span></th>
                        <th><span>Approver</span></th>
                        <th><span>Created by</span></th>
                        <th><span>Status</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in ap_data %}
                        {% if not user.is_superuser and data.confi == 1 and data.enterby_id != user.id %}
                            <!-- <tr>
                                <td></td>
                                <td> data.id </td>
                                <td> data.apnum </td>
                                <td> data.apdate|date:'Y-m-d' </td>
                                <td colspan="10" class="text-center"> Reserved Transaction </td>
                            </tr> -->
                        {% else %}
                            <tr id="{{ data.id }}">
                                <!-- checkbox -->
                                <td><input type="checkbox" class="ap-checkbox pointer" name="chb_{{ data.id }}" id="chb_{{ data.id }}" title="Tick to include AP {{ data.apnum }}" checked /></td>
                                 <!-- ID -->
                                 <td>{{ data.id }}</td>
                                <!-- AP Number -->
                                <td><span>{{ data.apnum }}</span></td>
                                <!-- AP Date -->
                                <td>{{ data.apdate|date:'Y-m-d' }}</td>
                                <!-- Type -->
                                <td>{{ data.aptype.description }}</td>
                                <!-- Payee -->
                                <td>{{ data.payeename }}</td>
                                <!-- Particulars -->
                                <td>{{ data.particulars }}</td>
                                <!-- Amount -->
                                <td>{{ data.amount|floatformat:2|intcomma }}</td>
                                <!-- Approver -->
                                <td>{% if data.actualapprover %}{{ data.actualapprover.first_name }}&nbsp;{{ data.actualapprover.last_name }}{% elif data.designatedapprover %}{{ data.designatedapprover.first_name }}&nbsp;{{ data.designatedapprover.last_name }}{% else %}-- no approver assigned yet --{% endif %}</td>
                                <!-- Created by -->
                                <td>{{ data.enterby }}</td>
                                <!-- Status -->
                                <td class="tdApStatus
                                    {% if data.apstatus == 'A' %} text-success
                                    {% elif data.apstatus == 'D' %} text-danger
                                    {% elif data.apstatus == 'F' %} text-info
                                    {% elif data.apstatus == 'R' %} text-success
                                    {% endif %}"
                                    id="status{{ data.id }}">
                                    <b> {% if data.status != 'C' %}
                                            {% if data.status == 'O' %}
                                            POSTED
                                            {% else %}
                                            {{ data.get_apstatus_display }}
                                            {% endif %}
                                        {% else %}
                                            <span class="text-danger">CANCELLED</span>
                                        {% endif %}
                                    </b>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}

            <div class="text-center">
                <span><b>No results found.</b></span>
            </div>
        {% endif %}
    </div>
</div>
<script>
    $(function () {
        $(document).on('change', 'input[name="chb_all"]', function() {
            $('.ap-checkbox').prop("checked", this.checked);
        });

        $('#copy-apnum').click(function(){
            $(this).val()
        });

        $('#print').click(function(){
            
            var count = 0;
            var ap_ids = [];
            $('#ap_table').find('tbody tr').each(function () {
                if ($(this).find('input[type="checkbox"]').is(':checked')) {
                    count++;
                    ap_ids.push($(this).attr('id'));
                }
            });
            
            $("#trigger_print").attr("href", "{% url 'batchprinting_accountspayable:start' %}" + "?s=" + encodeURIComponent(JSON.stringify(ap_ids)));
            $('#trigger_print')[0].click();
        });
    });

    
</script>
