{% extends 'base-form.html' %}
{% block page-title %} Journal Voucher {% endblock page-title %}
{% block extra_css %}
    <style>
        .text-name-profile.text-info
        {
            width: 30%;
        }
        .detail-profile
        {
            width: 70%;
        }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="page-content container-fluid page">
    <div class="row">
        <div class="col-md-12">
            <!-- Start Profile Tab Section -->
            <div class="nav-tabs nav-tabs-animate border-profile">
                <div class="pull-right">
                    <a href="{% url 'purchaserequisitionform:pdf' object.id %}" target="_blank"><button type="button" id="get_pdf" class="btn btn-info btn-sm waves-effect waves-light get_report">
                        <i class="icon fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Print
                    </button></a>
                </div>
                <ul class="nav nav-tabs nav-profile">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Main Details</a></li>
                </ul>
                <div class="tab-content padding-top-0">
                    <div class="tab-pane active" id="profiles" role="tabpanel">
                        <div class="panel top-profile skill-profile margin-bottom-25">
                            <div class="panel-body small">
                                <!-- <h4 class="list-title">Personal Information</h4> -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Number&nbsp;: </span>
                                            <span class="detail-profile">{{ object.jvnum }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Date&nbsp;: </span>
                                            <span class="detail-profile">{{ object.jvdate|date:'Y-m-d' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Type&nbsp;: </span>
                                            <span class="detail-profile">{{ object.jvtype.code }} - {{ object.jvtype.description }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Currency&nbsp;: </span>
                                            <span class="detail-profile">{{ object.currency.symbol }} - {{ object.currency.description }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Reference Number&nbsp;: </span>
                                            <span class="detail-profile">{{ object.refnum }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Branch&nbsp;: </span>
                                            <span class="detail-profile">{{ object.branch.code }} - {{ object.branch.description }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Department&nbsp;: </span>
                                            <span class="detail-profile">{{ object.department.code }} - {{ object.department.description }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Status&nbsp;: </span>
                                            <span class="detail-profile text-success"><b>{{ object.get_status_display }}</b></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Particular&nbsp;: </span>
                                            <span class="detail-profile text-left">{{ object.particular }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs nav-tabs-animate border-profile">
                <ul class="nav nav-tabs nav-profile">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Accounting Entry</a></li>
                </ul>
                <div class="tab-content padding-top-0">
                    <div class="tab-pane active" id="profiles" role="tabpanel">
                        <div class="panel top-profile skill-profile margin-bottom-25">
                            <div class="panel-body">
                                <!-- <h4 class="list-title">Personal Information</h4> -->
                                <table class="table table-striped margin-bottom-0 small" id="summary">
                                        <thead>
                                            <tr>
                                                <th>Item No.</th>
                                                <th>Chart of Account</th>
                                                <th>Description</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for prfdetail in prfdetail %}
                                                <tr>
                                                    <td>{{ prfdetail.item_counter }}</td>
                                                    <td>{{ prfdetail.invitem_code }}</td>
                                                    <td>{{ prfdetail.invitem_name }}</td>
                                                    <td>{{ prfdetail.remarks }}</td>
                                                    <td>{{ prfdetail.rfdetail.rfmain.rfnum }}</td>
                                                    <td>{{ prfdetail.invitem_unitofmeasure_code }}</td>
                                                    <td>{{ prfdetail.currency.symbol }}</td>
                                                    <td>{{ prfdetail.quantity }}</td>
                                                    <td>{{ prfdetail.invitem.unitcost }}</td>
                                                    <td>{{ prfdetail.amount }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End Profile Tab Section -->
        </div>
        <div class="col-md-3">
            <div class="right-box-profile">
                <h4 class="skill-title">Activity Logs</h4>
                <div class="panel">
                    <div class="panel-body small">
                        <div class="master-degree">
                            <span class="degree-name text-info">Created&nbsp;By:</span>
                            <div class="univer-profile">{{ object.enterby }}</div>
                            <div class="univer-profile">{{ object.enterdate }}</div>
                        </div>
                        <div class="master-degree">
                            <span class="degree-name text-info">Modified&nbsp;By:</span>
                            <div class="univer-profile">{{ object.modifyby }}</div>
                            <div class="univer-profile">{{ object.modifydate }}</div>
                        </div>
                        <div class="master-degree">
                            <div class="iconlist">
                            {% if perms.journalvoucher.change_jvmain %}
                            <a href="{% url 'journalvoucher:update' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                                    <i class="icon_pencil" aria-hidden="true"></i>
                                </button>
                            </a>
                            {% endif %}
                            {% if perms.journalvoucher.delete_jvmain %}
                            <a href="{% url 'journalvoucher:update' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Delete" title="" aria-describedby="tooltip850155">
                                <button type="button" class="btn btn-floating btn-danger btn-sm waves-effect waves-float waves-light">
                                    <i class="icon_trash" aria-hidden="true"></i>
                                </button>
                            </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page-content %}