{% load endless %}
{% paginate data_list %}
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><span>IDx</span></th>
                <th><span>No.</span></th>
                <th><span>Date</span></th>
                <th><span>JV Subtype</span></th>
                <th><span>Particulars</span></th>
                <th><span>Approver</span></th>
                <th><span>Created by</span></th>
                <th><span>Status</span></th>
                <th class="text-center"><span>Action</span></th>
            </tr>
        </thead>
        <tbody>

            {% for data in data_list %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.jvnum }}</td>
                <td>{{ data.jvdate|date:'Y-m-d' }}</td>
                <td>{{ data.jvsubtype.description }}</td>
                <td>{{ data.particular|slice:":80" }}</td>
                <td>{% if data.actualapprover %}{{ data.actualapprover.first_name }}&nbsp;{{ data.actualapprover.last_name }}{% elif data.designatedapprover %}{{ data.designatedapprover.first_name }}&nbsp;{{ data.designatedapprover.last_name }}{% else %}-- Not assigned yet --{% endif %}</td>
                <td>{{ data.enterby }}</td>
                <td class="tdJvStatus
                        {% if data.jvstatus == 'A' %} text-success
                        {% elif data.jvstatus == 'D' %} text-danger
                        {% elif data.jvstatus == 'F' %} text-info
                        {% elif data.jvstatus == 'R' %} text-success
                        {% endif %}">
                    <b>{{ data.get_jvstatus_display }}</b>
                </td>
                <td style="width: 150px; padding-left: 30px">
                    <div class="iconlist-wrap auto-0">
                        <div class="iconlist" style="text-align: left">
                            <a href="{% url 'journalvoucher:detail' data.pk %}" class="btnDetail" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to View" title="" aria-describedby="tooltip850155">
                                <i class="icon md-view-list" aria-hidden="true">&nbsp;&nbsp;</i>
                            </a>
                            {% if data.enterby_id == user.id or data.designatedapprover.id == user.id or user.is_superuser %}

                                {% if perms.journalvoucher.change_jvmain and data.isdeleted == 0 %}
                                <a href="{% url 'journalvoucher:update' data.pk %}" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
                                {% endif %}
                                {% if perms.journalvoucher.delete_jvmain and data.isdeleted == 0 and data.status == 'A' and data.jvstatus != 'A' and data.jvstatus != 'I' and data.jvstatus != 'R' %}
                                <a href="{% url 'journalvoucher:delete' data.pk %}" class="btnDelete" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-original-title="Click to Cancel" title="" aria-describedby="tooltip850155">
                                    <i class="icon md-delete" aria-hidden="true">&nbsp;&nbsp;</i>
                                </a>
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination pull-right">{% show_pages %}</div>
</div>
<!-- required -->
<a href="/{{ request.resolver_match.app_name }}/?page=1" rel="page" class="endless_page_link" id="dummy" style="display: none;">1</a>
<script>
    $(function () {
        $('.shade').remove();
        $('.panel').prepend('<div class="shade"><div class="loader two-color"></div></div>');
        $('#searchFilter').val(getCookie('keysearch_{{ request.resolver_match.app_name }}'));
        $('.endless_page_link').on('click', function () {
            $('.shade').fadeIn();
        });
    });
</script>
