{% extends 'reports/base.html' %}
{% load humanize %}
{% block extra_css %}
    <style>
        td{
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block main_content %}
    <br>
    <h2>{{ report_type }}</h2>

    {% if report == 's' %}
        <table id="table_summary">
        <thead>
            <tr>
                <th class="left" style="width: 20%;"><span>JV Number</span></th>
                <th class="left" style="width: 10%;"><span>Date</span></th>
                <th class="left" style="width: 20%;"><span>Type</span></th>
                <th class="left" style="width: 25%;"><span>Subtype</span></th>
                <th class="left" style="width: 10%;"><span>Status</span></th>
                <th class="right" style="width: 15%;"><span>Amount</span></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>JV-{{ data.jvtype.code }}-{{ data.jvnum }}</td>
                    <td>{{ data.jvdate|date:'Y-m-d' }}</td>
                    <td>{{ data.jvtype.description }}</td>
                    <td>{{ data.jvsubtype.description }}</td>
                    <td>{{ data.get_jvstatus_display }}</td>
                    <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="6"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="5"><b>Total</b></td>
                <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>

    {% elif report == 'd' %}
        <table>
            <tr>
                <td style="width: 30%;border: 1px solid grey;padding: 3px; padding-bottom: 0px">
                    <b>Type</b>&nbsp;(N) Non JV Type, &nbsp;(A) Adjustment, &nbsp;(P) Payment, &nbsp;(C) Accruals
                </td>
                <td style="width: 33%;border: 1px solid grey;padding: 3px; padding-bottom: 0px">
                    <b>Subtype</b>&nbsp;(CSV) Cellphone Subsidy Voucher, &nbsp;(MJV) Manual Journal Voucher
                </td>
                <td style="width: 37%;border: 1px solid grey;padding: 3px; padding-bottom: 0px">
                    <b>Status</b>&nbsp;(F) For Approval, &nbsp;(A) Approved, &nbsp;(I) In Process, &nbsp;(R) Released, &nbsp;(D) Disapproved
                </td>
            </tr>
        </table>
        <br><br><br>
        <table id="table_detailed">
        <thead>
            <tr>
                <th class="left" style="width: 12%;"><span>JV Number</span></th>
                <th class="left" style="width: 7%;"><span>Date</span></th>
                <th class="left" style="width: 7%;"><span>Type</span></th>
                <th class="left" style="width: 7%;"><span>Subtype</span></th>

                <th class="left" style="width: 9%;"><span>Branch</span></th>
                <th class="left" style="width: 25%;"><span>Department</span></th>

                <th class="center" style="width: 10%;"><span>Status</span></th>
                <th style="width: 15%"></th>
                <th class="right" style="width: 8%;"><span>Amount</span></th>
            </tr>
        </thead>
        {% if csv == 'hide' %}
            <tbody class="small">
                {% for data in data_list %}
                    <tr>
                        <td>{{ data.jvnum }}</td>
                        <td>{{ data.jvdate|date:'Y-m-d' }}</td>
                        <td>{{ data.jvtype.code }}</td>
                        <td>{{ data.jvsubtype.code }}</td>
                        <td>{{ data.branch.description }}</td>
                        <td>{{ data.department.departmentname }}</td>
                        <td style="text-align: center">{{ data.jvstatus }}</td>
                        <td></td>
                        <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                    </tr>
                {% endfor %}
                <tr><td colspan="9"></td></tr>
                <tr style="border-top: 1px solid grey; padding-top: 5px;">
                    <td colspan="8"><b>Total</b></td>
                    <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
                </tr>
            </tbody>
        {% elif csv == 'show' %}
            <tbody class="small">
                {% for data in data_list %}
                    {% ifchanged data.jvmain.jvnum %}
                        <tr style="border-top: 1px solid grey; padding-top: 5px;">
                            <td>{{ data.jvmain.jvnum }}</td>
                            <td>{{ data.jvmain.jvdate|date:'Y-m-d' }}</td>
                            <td>{{ data.jvmain.jvtype.code }}</td>
                            <td>{{ data.jvmain.jvsubtype.code }}</td>
                            <td>{{ data.jvmain.branch.description }}</td>
                            <td>{{ data.jvmain.department.departmentname }}</td>
                            <td style="text-align: center">{{ data.jvmain.jvstatus }}</td>
                            <td></td>
                            <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td colspan="5" style="padding: 7px; padding-bottom: 2px; background-color: #efefef"></td>
                        <td colspan="1" style="padding: 7px; padding-bottom: 2px; background-color: #efefef; text-align: right">OF-{{ data.ofnum }}</td>
                        <td colspan="1" style="padding: 7px; padding-bottom: 2px; background-color: #efefef">{{ data.ofdate|date:'Y-m-d' }}</td>
                        <td colspan="1" style="padding: 7px; padding-bottom: 2px; background-color: #efefef; text-align: right;">{{ data.amount|floatformat:2|intcomma }}</td>
                        <td style="padding: 7px; padding-bottom: 2px; background-color: #efefef"></td>
                    </tr>
                {% endfor %}
                <tr><td colspan="9"></td></tr>
                <tr style="border-top: 1px solid grey; padding-top: 5px;">
                    <td colspan="8"><b>Total</b></td>
                    <td class="right"><b>{{ report_total.jvmain__amount__sum|floatformat:2|intcomma }}</b></td>
                </tr>
            </tbody>
        {% endif %}
        </table>

    {% elif report == 'a_s' %}
        <table id="table_ae_summary">
            <thead>
                <tr>
                    <th class="left">Chart of Account</th>
                    <th class="left">Details</th>
                    <th class="right">Debit</th>
                    <th class="right">Credit</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr {% ifchanged data.chartofaccount__title %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td style="width: 35%">
                        {% ifchanged data.chartofaccount__title %}
                            {{ data.chartofaccount__accountcode }}&nbsp;&nbsp;&nbsp;{{ data.chartofaccount__description }}
                        {% endifchanged %}
                    </td>
                    <td style="width: 45%">
                        <table>
                            <tr>
                                {% if data.bankaccount__accountnumber %}
                                    <td>
                                        {% ifchanged data.bankaccount__accountnumber %}
                                            Bank Acct. No. {{ data.bankaccount__accountnumber }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.department__departmentname %}
                                    <td>
                                        {% ifchanged data.department__departmentname %}
                                            {{ data.department__departmentname }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.employee__firstname %}
                                    <td>
                                        {% ifchanged data.employee__firstname %}
                                            {% ifchanged data.employee__lastname %}
                                                {{ data.employee__firstname }} {{ data.employee__lastname }}
                                            {% endifchanged %}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.supplier__name %}
                                    <td>
                                        {% ifchanged data.supplier__name %}
                                            {{ data.supplier__name }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.customer__name %}
                                    <td>
                                        {% ifchanged data.customer__name %}
                                            {{ data.customer__name }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.unit__description %}
                                    <td>
                                        {% ifchanged data.unit__description %}
                                            {{ data.unit__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.branch__description %}
                                    <td>
                                        {% ifchanged data.branch__description %}
                                            {{ data.branch__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.product__description %}
                                    <td>
                                        {% ifchanged data.product__description %}
                                            {{ data.product__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.inputvat__description %}
                                    <td>
                                        {% ifchanged data.inputvat__description %}
                                            {{ data.inputvat__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.outputvat__description %}
                                    <td>
                                        {% ifchanged data.outputvat__description %}
                                            {{ data.outputvat__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.vat__description or data.inputvat.description %}
                                    <td>
                                        {% ifchanged data.vat__description %}
                                            {{ data.vat__description|default:'---' }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.wtax__description %}
                                    <td>
                                        {% ifchanged data.wtax__description %}
                                            {{ data.wtax__description }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                                {% if data.ataxcode__code %}
                                    <td>
                                        {% ifchanged data.ataxcode__code %}
                                            {{ data.ataxcode__code }}
                                        {% endifchanged %}
                                    </td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td class="right" style="width: 10%;">
                        {% if data.balancecode == 'D' %}
                            {{ data.debitamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                    <td class="right" style="width: 10%;">
                        {% if data.balancecode == 'C' %}
                            {{ data.creditamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="4"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="2"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>


    {% elif report == 'a_d' %}
        <table id="table_ae_detailed">
            <thead>
                <tr>
                    <th class="left">Chart of Account</th>
                    <th class="left">Details</th>
                    <th class="left">Date</th>
                    <th class="right">Debit</th>
                    <th class="right">Credit</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr {% ifchanged data.chartofaccount.description %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td style="width: 30%">
                        {% ifchanged data.chartofaccount.description %}
                            {{ data.chartofaccount.accountcode }}&nbsp;&nbsp;&nbsp;{{ data.chartofaccount.description }}
                        {% endifchanged %}
                    </td>
                    <td style="width: 50%">
                        <table>
                            <tr>
                                {% if data.bankaccount.accountnumber %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.bankaccount.accountnumber %}{% else %}{% endifchanged %}>Bank Acct. No. {{ data.bankaccount.accountnumber }}</td>
                                {% endif %}
                                {% if data.department.departmentname %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.department.departmentname %}{% else %}{% endifchanged %}>{{ data.department.departmentname }}</td>
                                {% endif %}
                                {% if data.employee.firstname %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.employee.firstname %}{% else %}{% endifchanged %}>{{ data.employee.firstname }} {{ data.employee.lastname }}</td>
                                {% endif %}
                                {% if data.supplier.name %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.supplier.name %}{% else %}{% endifchanged %}>{{ data.supplier.name }}</td>
                                {% endif %}
                                {% if data.customer.name %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.customer.name %}{% else %}{% endifchanged %}>{{ data.customer.name }}</td>
                                {% endif %}
                                {% if data.unit.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.unit.description %}{% else %}{% endifchanged %}>{{ data.unit.description }}</td>
                                {% endif %}
                                {% if data.branch.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.branch.description %}{% else %}{% endifchanged %}>{{ data.branch.description }}</td>
                                {% endif %}
                                {% if data.product.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.product.description %}{% else %}{% endifchanged %}>{{ data.product.description }}</td>
                                {% endif %}
                                {% if data.inputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.inputvat.description %}{% else %}{% endifchanged %}>{{ data.inputvat.description }}</td>
                                {% endif %}
                                {% if data.outputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.outputvat.description %}{% else %}{% endifchanged %}>{{ data.outputvat.description }}</td>
                                {% endif %}
                                {% if data.vat.description or data.inputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.vat.description %}{% else %}{% endifchanged %}>{{ data.vat.description|default:'---' }}</td>
                                {% endif %}
                                {% if data.wtax.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.wtax.description %}{% else %}{% endifchanged %}>{{ data.wtax.description }}</td>
                                {% endif %}
                                {% if data.ataxcode.code %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.ataxcode.code %}{% else %}{% endifchanged %}>{{ data.ataxcode.code }}</td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td style="width: 6%;">{{ data.jv_date|date:'Y-m-d' }}</td>
                    <td class="right" style="width: 7%;">
                        {% if data.balancecode == 'D' %}
                            {{ data.debitamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                    <td class="right" style="width: 7%;">
                        {% if data.balancecode == 'C' %}
                            {{ data.creditamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="5"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="3"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock main_content %}