{% extends 'reports/base-html.html' %}
{% load humanize %}
{% block extra_css %}
    <style>
        td{
            vertical-align: top;
        }
        .right{
            text-align: right;
        }
        .left{
            text-align: left;
        }
        .center{
            text-align: center;
        }
        .border{
            border: 1px solid black;
            padding-top: 4px;
            padding-left: 4px;
            padding-right: 4px;
        }
        #table_ae_detailed td{
            border: none !important;
        }
        body{
            font-size: 11px;
        }
    </style>
{% endblock %}

{% block page-content %}
    <h4>{{ report_type }}</h4><br>

    {% if report == 's' %}
        <table id="table_summary" class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th class="left" style="width: 20%;"><span>JV Number</span></th>
                <th class="left" style="width: 10%;"><span>Date</span></th>
                <th class="left" style="width: 20%;"><span>Type</span></th>
                <th class="left" style="width: 25%;"><span>Subtype</span></th>
                <th class="left" style="width: 10%;"><span>Status</span></th>
                <th class="right" style="width: 15%;"><span>Amount</span></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td><a href="{% url 'journalvoucher:update' data.pk %}" target="_parent">JV-{{ data.jvtype.code }}-{{ data.jvnum }}</a></td>
                    <td>{{ data.jvdate|date:'Y-m-d' }}</td>
                    <td>{{ data.jvtype.description }}</td>
                    <td>{{ data.jvsubtype.description }}</td>
                    <td>{{ data.get_jvstatus_display }}</td>
                    <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="6"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="5"><b>Total</b></td>
                <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>
    {% elif report == 'd' %}
        <table>
            <tr>
                <td style="width: 30%;border: 1px solid grey;padding: 3px; padding-bottom: 0px">
                    <b>Type</b>&nbsp;(N) Non JV Type, &nbsp;(A) Adjustment, &nbsp;(P) Payment, &nbsp;(C) Accruals
                </td>
                <td style="width: 33%;border: 1px solid grey;padding: 3px; padding-bottom: 0px">
                    <b>Subtype</b>&nbsp;(CSV) Cellphone Subsidy Voucher, &nbsp;(MJV) Manual Journal Voucher
                </td>
                <td style="width: 37%;border: 1px solid grey;padding: 3px; padding-bottom: 0px">
                    <b>Status</b>&nbsp;(F) For Approval, &nbsp;(A) Approved, &nbsp;(I) In Process, &nbsp;(R) Released, &nbsp;(D) Disapproved
                </td>
            </tr>
        </table>
        <br>
        <table id="table_detailed" class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th class="left" style="width: 12%;"><span>JV Number</span></th>
                <th class="left" style="width: 7%;"><span>Date</span></th>
                <th class="left" style="width: 7%;"><span>Type</span></th>
                <th class="left" style="width: 7%;"><span>Subtype</span></th>

                <th class="left" style="width: 9%;"><span>Branch</span></th>
                <th class="left" style="width: 25%;"><span>Department</span></th>

                <th class="center" style="width: 10%;"><span>Status</span></th>
                <th style="width: 15%"></th>
                <th class="right" style="width: 8%;"><span>Amount</span></th>
            </tr>
        </thead>
        {% if csv == 'hide' %}
            <tbody class="small">
                {% for data in data_list %}
                    <tr>
                        <td><a href="{% url 'journalvoucher:update' data.pk %}" target="_parent">{{ data.jvnum }}</a></td>
                        <td>{{ data.jvdate|date:'Y-m-d' }}</td>
                        <td>{{ data.jvtype.code }}</td>
                        <td>{{ data.jvsubtype.code }}</td>
                        <td>{{ data.branch.description }}</td>
                        <td>{{ data.department.departmentname }}</td>
                        <td style="text-align: center">{{ data.jvstatus }}</td>
                        <td></td>
                        <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                    </tr>
                {% endfor %}
                <tr><td colspan="9"></td></tr>
                <tr style="border-top: 1px solid grey; padding-top: 5px;">
                    <td colspan="8"><b>Total</b></td>
                    <td class="right"><b>{{ report_total.amount__sum|floatformat:2|intcomma }}</b></td>
                </tr>
            </tbody>
        {% elif csv == 'show' %}
            <tbody class="small">
                {% for data in data_list %}
                    {% ifchanged data.jvmain.jvnum %}
                        <tr style="border-top: 1px solid grey; padding-top: 5px;">
                            <td><a href="{% url 'journalvoucher:update' data.jvmain.pk %}" target="_parent">{{ data.jvmain.jvnum }}</a></td>
                            <td>{{ data.jvmain.jvdate|date:'Y-m-d' }}</td>
                            <td>{{ data.jvmain.jvtype.code }}</td>
                            <td>{{ data.jvmain.jvsubtype.code }}</td>
                            <td>{{ data.jvmain.branch.description }}</td>
                            <td>{{ data.jvmain.department.departmentname }}</td>
                            <td style="text-align: center">{{ data.jvmain.jvstatus }}</td>
                            <td></td>
                            <td class="right">{{ data.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td colspan="5" style="padding: 7px; padding-bottom: 2px; background-color: #efefef"></td>
                        <td colspan="1" style="padding: 7px; padding-bottom: 2px; background-color: #efefef; text-align: right">OF-{{ data.ofnum }}</td>
                        <td colspan="1" style="padding: 7px; padding-bottom: 2px; background-color: #efefef">{{ data.ofdate|date:'Y-m-d' }}</td>
                        <td colspan="1" style="padding: 7px; padding-bottom: 2px; background-color: #efefef; text-align: right;">{{ data.amount|floatformat:2|intcomma }}</td>
                        <td style="padding: 7px; padding-bottom: 2px; background-color: #efefef"></td>
                    </tr>
                {% endfor %}
                <tr><td colspan="9"></td></tr>
                <tr style="border-top: 1px solid grey; padding-top: 5px;">
                    <td colspan="8"><b>Total</b></td>
                    <td class="right"><b>{{ report_total.jvmain__amount__sum|floatformat:2|intcomma }}</b></td>
                </tr>
            </tbody>
        {% endif %}
        </table>
    {% elif report == 'ub' or report == 'ae' %}
        <table id="table_unbalanced" class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th class="left"><span>JV Number</span></th>
                <th class="left"><span>Date</span></th>
                <th class="right"><span>Debit</span></th>
                <th class="right"><span>Credit</span></th>
                <th class="right"><span>Margin</span></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>{{ data.jvmain__jvnum }}</td>
                    <td>{{ data.jvmain__jvdate|date:'Y-m-d' }}</td>
                    <td class="right">{{ data.debitsum|floatformat:2|intcomma }}</td>
                    <td class="right">{{ data.creditsum|floatformat:2|intcomma }}</td>
                    <td class="right">{{ data.margin|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="5"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="2"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitsum__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditsum__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.margin__sum|floatformat:2|intcomma }}</b></td>
            </tr>
        </tbody>
        </table>
    {% elif report == 'a_s' %}
        <table id="table_ae_summary" class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="border center" colspan="2">General Ledger</th>
                    <th class="border center" colspan="2">Subsidiary Ledger</th>
                    <th class="border center" colspan="2">Amount</th>
                </tr>
                <tr>
                    <th class="border left">Acct Code</th>
                    <th class="border left">Account Title</th>
                    <th class="border left">Code</th>
                    <th class="border left">Particulars</th>
                    <th class="border right">Debit</th>
                    <th class="border right">Credit</th>
                </tr>
                <tr></tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr>
                    <td style="width: 10%">{{ data.chartofaccount__accountcode }}</td>
                    <td style="width: 35%">{{ data.chartofaccount__description }}</td>
                    <td style="width: 10%">
                        <table>
                            <tr>
                                {% if data.bankaccount__code %}
                                    <td width="30px">{{ data.bankaccount__code }}</td>
                                {% endif %}
                                {% if data.department__code %}
                                    <td width="30px">{{ data.department__code }}</td>
                                {% endif %}
                                {% if data.branch__code %}
                                    <td width="30px">{{ data.branch__code }}</td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td style="width: 30%">
                        <table>
                            <tr>
                                {% if data.bankaccount__accountnumber %}
                                    <td>{{ data.bankaccount__accountnumber }}</td>
                                {% endif %}
                                {% if data.department__departmentname %}
                                    <td>{{ data.department__departmentname }}</td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td class="right" style="width: 10%;">
                        {% if data.balancecode == 'D' %}
                            {{ data.debitamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                    <td class="right" style="width: 10%;">
                        {% if data.balancecode == 'C' %}
                            {{ data.creditamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="6"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="4"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>


    {% elif report == 'a_d' %}
        <table id="table_ae_detailed" class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="left">Chart of Account</th>
                    <th class="left">Details</th>
                    <th class="left">Date</th>
                    <th class="right">Debit</th>
                    <th class="right">Credit</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr {% ifchanged data.chartofaccount.accountcode %}style="border-top: 1px solid grey; padding-top: 5px;"{% endifchanged %}>
                    <td style="width: 30%">
                        {% ifchanged data.chartofaccount.accountcode %}
                            {{ data.chartofaccount.accountcode }}&nbsp;&nbsp;&nbsp;{{ data.chartofaccount.description }}
                        {% endifchanged %}
                    </td>
                    <td style="width: 50%">
                        <table>
                            <tr>
                                {% if data.bankaccount.accountnumber %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.bankaccount.accountnumber %}{% else %}{% endifchanged %}>Bank Acct. No. {{ data.bankaccount.bank.code }} - {{ data.bankaccount.code }} - {{ data.bankaccount.accountnumber }}</td>
                                {% endif %}
                                {% if data.department.departmentname %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.department.departmentname %}{% else %}{% endifchanged %}>{{ data.department.departmentname }}</td>
                                {% endif %}
                                {% if data.employee.firstname %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.employee.firstname %}{% else %}{% endifchanged %}>{{ data.employee.firstname }} {{ data.employee.lastname }}</td>
                                {% endif %}
                                {% if data.supplier.name %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.supplier.name %}{% else %}{% endifchanged %}>{{ data.supplier.name }}</td>
                                {% endif %}
                                {% if data.customer.name %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.customer.name %}{% else %}{% endifchanged %}>{{ data.customer.name }}</td>
                                {% endif %}
                                {% if data.unit.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.unit.description %}{% else %}{% endifchanged %}>{{ data.unit.description }}</td>
                                {% endif %}
                                {% if data.branch.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.branch.description %}{% else %}{% endifchanged %}>{{ data.branch.description }}</td>
                                {% endif %}
                                {% if data.product.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.product.description %}{% else %}{% endifchanged %}>{{ data.product.description }}</td>
                                {% endif %}
                                {% if data.inputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.inputvat.description %}{% else %}{% endifchanged %}>{{ data.inputvat.description }}</td>
                                {% endif %}
                                {% if data.outputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.outputvat.description %}{% else %}{% endifchanged %}>{{ data.outputvat.description }}</td>
                                {% endif %}
                                {% if data.vat.description or data.inputvat.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.vat.description %}{% else %}{% endifchanged %}>{{ data.vat.description|default:'---' }}</td>
                                {% endif %}
                                {% if data.wtax.description %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.wtax.description %}{% else %}{% endifchanged %}>{{ data.wtax.description }}</td>
                                {% endif %}
                                {% if data.ataxcode.code %}
                                    <td style="vertical-align: top; padding-right: 1px;" {% ifchanged data.ataxcode.code %}{% else %}{% endifchanged %}>{{ data.ataxcode.code }}</td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                    <td style="width: 6%;">{{ data.jv_date|date:'Y-m-d' }}</td>
                    <td class="right" style="width: 7%;">
                        {% if data.balancecode == 'D' %}
                            {{ data.debitamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                    <td class="right" style="width: 7%;">
                        {% if data.balancecode == 'C' %}
                            {{ data.creditamount__sum|floatformat:2|intcomma }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="5"></td></tr>
            <tr style="border-top: 1px solid grey; padding-top: 5px;">
                <td colspan="3"><b>Total</b></td>
                <td class="right"><b>{{ report_total.debitamount__sum|floatformat:2|intcomma }}</b></td>
                <td class="right"><b>{{ report_total.creditamount__sum|floatformat:2|intcomma }}</b></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock page-content %}